[2020-11-18 10:26] ksatchit commented on #2335
@ipsita2192 could you please share your slack userid?

[2020-11-18 10:39] ipsita2192 commented on #2335
Thanks @ksatchit , I am able to join the slack channel :)

[2020-11-19 11:34] ajeshbaby commented on #2323
Closing this issue. It's addressed with 1.10 feature PR #2325

[2020-11-19 11:34] #2323 closed

[2020-11-19 12:50] ispeakc0de commented on #2301
Hi @niebomin,

I am wondering about this failure. It is not able to reach kube-apiserver to get the chaosengine details. Are you facing this issue every time? You can try once again if you still face this issue then you can verify by exec inside `pod-delete-xxxx` pod and manually run the `kubectl get chaosengines bookinfo-chaos -n default` command.

[2020-11-19 15:43] niebomin opened #2357 "/var/run/secrets/kubernetes.io/serviceaccount/token: no such file or directory"
The chaos runner pod can't get up and running.  Here's the log I see

[code]

I checked the code a little.  Looks like it's using the kubeconfig to get the service account.  My local kubeconfig does not have the access to list service account.  Is this the reason?

[2020-11-20 03:35] niebomin commented on #2301
`kubectl get chaosengines bookinfo-chaos -n default` works good.  I guess it's because that istio is not totally ready (make sense?).  Do I need to do anything specifically for istio?

[2020-11-20 08:07] niebomin commented on #2301
And, the thing is, as long as I disable the istio auto inject, it works.

[2020-11-20 09:20] asibece opened #2358 "my hub feature in litmus portal 1.10.0 should allow to use tokens to use the private github repositores."
Hello, my hub feature in litmus portal 1.10.0 should allow to use tokens to use the private github repositories. Please implement this to proceed further.

[2020-11-20 09:33] ksatchit commented on #2357
Hey @niebomin , in cases where kubeconfig is not provided explicitly, it uses the inClusterConfig. So shouldn't be an issue ideally. We will get back on this.

[2020-11-20 09:34] hochuenw-dd opened #2359 "Network chaos could be orphaned if the helper pods are force evicted"
**What happened**:
Injected chaos could be orphaned in the cluster if the network helper pods are killed before graceful completion. This is because internally the network experiment uses tc twice to inject the latency at the beginning and revert it at the end. If the helper pod is forcedly killed unexpectedly for whatever reason, the impact of the second tc command would be there in the cluster f

[2020-11-20 09:34] ksatchit commented on #2301
Interesting, the seems to be reproduced locally too. Has something to do w/ istio. Need to check this further

[2020-11-20 09:37] rajdas98 commented on #2358
cc: @ajeshbaby

[2020-11-20 09:39] niebomin commented on #2357
Sorry, I should've updated it.  It's because k8s auto mount is disabled.  Now, it's fixed.

[2020-11-20 09:39] #2357 closed

[2020-11-20 09:39] niebomin commented on #2357
User error

[2020-11-20 09:39] niebomin commented on #2301
Thanks.  Please...

[2020-11-20 10:38] ksatchit commented on #2301
This seems to be the cause: https://github.com/istio/istio/issues/8696

[2020-11-20 11:33] ksatchit commented on #2301
Ok we need to add the annotation `sidecar.istio.io/inject: "false"` in the chaos-runner, experiment pod & helpers to prevent sidecar injection & in turn avoid this issue in accessing kube-apiserver. Litmus supports adding custom annotations to the chaos pods via an instrumentation in the chaosengine. Please refer the example below:

[code]

[2020-11-20 11:34] ksatchit commented on #2301
@niebomin can you please try this and let us know?

[2020-11-20 19:06] uditgaurav commented on #1550
The multi-arch images support is now added for all the core litmus repositories:
1. chaos-runner
2. chaos-operator
3. litmus-go
4. chaos exporter

[2020-11-20 20:38] xUnholy commented on #2191
Applications/Workloads or Infra that are being subjected to chaos by Litmus:
- Internal workload pods and storage resilience (OpenEBS)

Why was Litmus chosen & how it is helping you (a brief description on the usecase):
- I reviewed several chaos tools and felt that Litmus being associated with CNCF and being an open-source tool aligns with my own personal preference and values. It has a very acti

[2020-11-21 04:13] niebomin commented on #2301
This great.  It works around istio and works for me.  Thanks!

[2020-11-21 04:13] #2301 closed

[2020-11-22 21:40] ari-hacks commented on #2124
Hey @uditgaurav, can this ticket stay open? I'd like to run some more tests on platforms with HA clusters.

[2020-11-23 01:38] niebomin commented on #2301
By the way, let me reuse this thread.  What does `ChaosResult` mean?  Does `Pass` just mean the experiment has been successfully conducted?

[2020-12-02 10:50] kazukousen opened #2368 "add support for setting env defined in the secret/configmap/downward API"
currently, the env that can be put into the chaos experiment accepts only plain text.
it would be a development experience for a more flexible chaos experiments when they could handle more than just plain.
for instance, AWS secret key, like `AWS_ACCESS_KEY_ID`, is used de-facto in the AWS SDK.

Both litmus-go and litmus-operator repos seem to need to be modified

[2020-12-03 04:10] gouyang opened #2369 "Appkind limitations"
Try to run pod-delete experiment on an custom object get hit below error:
[code]

Why does it limit to these objects? Is it possible to remove the limitations?

[2020-12-03 05:17] ksatchit commented on #2369
@gouyang thanks for trying litmus. Can you please provide the ChaosEngine spec you are using ?

[2020-12-03 06:21] ksatchit commented on #2369
Litmus allows for blast radius control via filtering the parent resource (deploy/ds/sts/rollouts) for a chaos annotation (litmuschaos.io/chaos="true") before injecting chaos on pods owned by these.

But this is an optional feature. If you would directly like to inject chaos on pods w/o limiting to these resources - you can do so. You just need to set the `.spec.annotationCheck` to `false` in the c

[2020-12-03 07:05] gouyang commented on #2369
@ksatchit thanks for the tips, I'll try it now and will report back asap.

[2020-12-03 07:38] gouyang commented on #2369
Set `.spec.annotationCheck` to `false` and remove `appkind` works for me.

[2020-12-03 07:54] ksatchit commented on #2369
Great, thanks for the confirmation!!

[2020-12-03 08:05] ksatchit commented on #2301
@niebomin apologies on the late response. Somehow missed this Question.

The chaosresult is a resource carrying details of the state & verdict of the experiment. `Pass `typically means (a) the chaos was injected (b) the exit checks specified for the experiment (by default, we check if the AUT pods, i.e., pods of app under test (those mentioned via the `applabel`) are in running state/containers ar

[2020-12-03 08:08] ksatchit commented on #2301
@niebomin let me welcome you to the litmus slack channel - we live in the Kubernetes Slack workspace and will be happy to see you there. You might get faster responses from community folks & also participate in other interesting discussions around chaos engineering.

You can use this self-service link https://slack.kubernetes.io to register & join the workspace. Once done, you can search and join

[2020-12-03 08:23] #2369 closed

[2020-12-03 08:30] ksatchit commented on #2369
@gouyang  let me welcome you to the litmus slack channel - we live in the Kubernetes Slack workspace and will be happy to see you there. You might get faster responses from community folks & also participate in other interesting discussions around chaos engineering.

You can use this self-service link https://slack.kubernetes.io to register & join the workspace. Once done, you can search and join

[2020-12-03 20:40] hochuenw-dd opened #2370 "Support resources limits/requests for chaos-runner and helper pods"
Currently this is only possible for the operator and the chaos-job (go-runner). We should also allow user to set the resource requests/limits

[2020-12-03 20:43] hochuenw-dd opened #2371 "Bundle rbac components in the chaoshub"
Currently chaoshub only host the ChaosExperiment, it would be nice to just bundle all service account, rolebinding, role and the ChaosExperiment in the same chaoshub or the helm chart.

[2020-12-03 20:49] hochuenw-dd opened #2372 "Fix all rbac rules."
The rules defined in different roles are incorrect. This issue is to apply the fix of https://github.com/litmuschaos/litmus/pull/2364 to all experiments to fix leaked permissions and incorrect resource defined in the rules

[2020-12-04 06:23] ksatchit commented on #2372
Thanks for bringing this up & volunteering on it @hochuenw-dd 🙏

[2020-12-07 01:41] niebomin commented on #2301
Thanks!!  I'm in the channel now.

[2020-12-07 08:35] ksatchit commented on #2359
Hey @hochuenw-dd . Thanks for highlighting this requirement, It is definitely an important one and will be prioritized.

[2020-12-09 11:13] suhrud-kumar opened #2373 "Add support to simulate AWS single AZ outage"
Currently we are simulating aws AZ failure using network ACL rules (add deny all traffic rule in NACL for specific subnet in that AZ). Would be great if this could be supported in litmus.

reference - https://www.loggly.com/blog/recreating-and-preventing-last-weeks-aws-availability-zone-outage-using-kubernetes/

[2020-12-09 11:13] suhrud-kumar opened #2374 "Add support to trigger AWS RDS failover from litmus"
AWS RDS (with multi-AZ enabled) has support to trigger a db failover from UI as well as API. It would be great if this could be supported in litmus so that we can trigger RDS failover using litmus.

reference - https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_RebootInstance.html

[2020-12-15 05:07] #2368 closed

[2020-12-17 13:07] ksatchit commented on #2370
This is available in the 1.11 release: https://docs.litmuschaos.io/docs/chaosengine/#component-specification

The .spec.components.runner.resources section can be defined for chaos-runner

The experiment resource request/limits defined in .spec.experiments[index].spec.components.resources section will be propagated to the helper pods

[2020-12-17 13:07] #2370 closed

[2020-12-17 13:08] ksatchit commented on #2335
This is fixed via https://github.com/litmuschaos/litmus-go/pull/214

[2020-12-17 13:08] #2335 closed

[2020-12-17 13:20] ksatchit commented on #2189
Fixed by https://github.com/litmuschaos/litmus-demo/pull/11

[2020-12-17 13:20] #2189 closed

[2020-12-17 14:00] ksatchit commented on #2149
Experiments support node-selector from 1.10 release:

- https://docs.litmuschaos.io/docs/chaosengine/#component-specification
- https://docs.litmuschaos.io/docs/chaosengine/#experiment-specification

[2020-12-17 14:00] #2149 closed

[2020-12-22 03:43] gouyang opened #2386 "Experiment trigger"
Feature request: Add trigger conditions for experiment, hold on the experiment execution until the condition is satisfied.

User story in kubevirt: We have a test about restarting node while the VM is been migrating. If the experiment 'restart node' is running before/after the migration job, it's meaningless. And the migration job is done very soon, so it's better to have a condition check to trig

[2020-12-22 16:10] ksatchit commented on #2386
Thats a good req @gouyang !! We will definitely consider this one. FYI: Just happened to hear some interesting usecase of the on-chaos mode of the probe from @jordigilh which is enabled by this PR: https://github.com/litmuschaos/litmus-go/pull/245

[2020-12-23 04:27] gouyang commented on #2386
I'll try on-chaos mode and report back.

[2020-12-23 05:19] #2263 closed

[2020-12-23 08:29] #2251 closed

[2020-12-24 07:00] #2261 closed

[2020-12-24 07:03] ksatchit commented on #2260
Fixed by https://github.com/litmuschaos/litmus/pull/2281

[2020-12-24 07:03] #2260 closed

[2020-12-24 07:10] ksatchit commented on #2152
This feature is available in 1.11.0 release

[2020-12-24 07:10] #2152 closed

[2020-12-24 07:14] ksatchit commented on #2130
This has been moved to k8sAPI by default in order to work with different run times and avoid host mounts

[2020-12-24 07:14] #2130 closed

[2020-12-24 07:19] ksatchit commented on #2095
cc: @ishangupta-ds

[2020-12-24 07:21] ksatchit commented on #2009
Scheduled workflows are available in litmus-portal  since alpha-1 release

[2020-12-24 07:21] #2009 closed

[2020-12-24 07:22] #2007 closed

[2020-12-24 07:23] ksatchit commented on #2006
Connecting external targets / clusters to the portal is supported since alpha-1 release

[2020-12-24 07:23] #2006 closed

[2020-12-24 07:24] ksatchit commented on #1995
The content is available here: https://github.com/litmuschaos/litmus-docs/blob/master/docs/monitoring.md and will be altered based on the docs refactor targeted for 1.12.0

[2020-12-24 07:24] #1995 closed

[2020-12-24 07:28] ksatchit commented on #1988
Helm install details are available in the getstarted page of litmus-docs.

[2020-12-24 07:28] #1988 closed

[2020-12-24 07:32] uditgaurav commented on #2154
The litmus docs are now migrating to docusaurus-2 and the gif changes can be added to the newer version. Closing it now. Feel free to reopen it whenever you want to work on it @panos. Thanks!

[2020-12-24 07:32] #2154 closed

[2020-12-24 07:32] ksatchit commented on #1920
Fixed via https://github.com/litmuschaos/litmus-go/pull/155

[2020-12-24 07:32] #1920 closed

[2020-12-24 07:35] ishangupta-ds commented on #2095
Hi @Randhir123 we have added this feature to generate reports from chaos workflows scheduled via litmus portal. Cc: @ksatchit @ajeshbaby

[2020-12-24 07:41] ksatchit commented on #1902
The prometheusProbe is available since 1.11.0 release of litmus: https://docs.litmuschaos.io/docs/litmus-probe/#promprobe

[2020-12-24 07:41] #1902 closed

[2020-12-24 07:41] ksatchit commented on #1894
This is available in the litmus-helm helm repo: https://github.com/litmuschaos/litmus-helm/tree/master/charts/litmus-portal

[2020-12-24 07:41] #1894 closed

[2020-12-24 07:42] ksatchit commented on #1890
Fixed by https://github.com/litmuschaos/chaos-exporter/pull/72

[2020-12-24 07:42] #1890 closed

[2020-12-24 07:47] ksatchit commented on #1853
@Asgoret this is intentional. We are targeting the pause container associated with the app instead of the app itself - to cover for cases where there are liveness probes (which restart the app containers and modify the ID. The pause container OTOH is not restarted/affected. Consider the pause shares the network namespace with app pod, this is a better choice to help unhindered revert of chaos once

[2020-12-24 07:52] ksatchit commented on #1853
I suppose the original issue of not being able to inject latency was resolved for @iKarthik . The question seems to be an unexpected amount of latency. Can you confirm this: https://github.com/litmuschaos/litmus/issues/1853#issuecomment-673918504

Also,  recent versions of the experiment also support: (a) litmus lib for n/w latency (you don't have to pull pumba images) (b) restrict traffic to spec

[2020-12-24 07:54] #1823 closed

[2020-12-24 07:57] ksatchit commented on #1792
This is available in the getstarted page of the litmus-docs.

[2020-12-24 07:57] #1792 closed

[2021-01-08 11:14] Jonsy13 commented on #2048
Closing as Required PR is merged.

[2021-01-08 11:14] #2048 closed

[2021-01-11 03:39] gouyang commented on #2386
on-chaos is not the thing I look after, thanks.

[2021-01-15 17:06] chris-cmsoft opened #2410 "Support specifying hostPath type for experiments"
When running experiments which require the mounting of the underlying sockets for the container runtime, the socket path needs to be mounted as a type `Socket`.

At the moment the runner defaults to using `File`.

With the latest Openshift update (4.6), this has broken the experiments, and they fail with message
[code]

The manifest for the pod at the mountPaths looks like
[code]

When changing th

[2021-01-15 17:07] chris-cmsoft commented on #2410
I have already implemented a fix for this, and am currently creating PR's

[2021-01-15 18:03] chris-cmsoft commented on #2410
I have tested the change manually, by deploying the updated operator image, and applying the a ChoasExperiment file first without the type selector, and second with it specified as `Socket`.

The subsequent execution pod which gets created is then created correctly, first with type `File` and second with type `Socket` respectively.

[2021-01-25 21:19] olegch commented on #2191
Applications/Workloads or Infra that are being subjected to chaos by Litmus

- Kublr-provisioned Kubernetes clusters; we apply litmus chaos load to stress-test the clusters and identify the weak spots and components prone to failures under stress when customer applications stress the system

Why was Litmus chosen & how it is helping you (a brief description on the usecase)

- Litmus is well-docume

[2021-01-26 01:20] niebomin opened #2418 "Azure Chaos"
Our production mainly works with Azure, and the k8s cluster is setup in Azure.
According our experience, Azure service down gives more trouble, for example. postgress access, Azure AD, VM provision APIs.

It'll be great if Litmus can support those chaos.

[2021-01-26 15:44] uditgaurav commented on #2148
The litmus go-runner image has become a non-root image in this PR https://github.com/litmuschaos/litmus-go/pull/266

[2021-01-26 15:44] #2148 closed

[2021-01-26 15:58] #1532 closed

[2021-01-29 07:15] wayneni opened #2422 "Schedule missing probe"
**What happened**:

When I apply chaoschedule , probe settings are missing

**What you expected to happen**:

My schedule engine need probe to test

**How to reproduce it (as minimally and precisely as possible)**:

my ChaosSchedule.yaml
 ---
[code]
**Anything else we need to know?**:

When I use chaoengine, the probe is available, but in schedule not working

result:
missing probe
[code]

[2021-02-02 16:52] ajeshbaby opened #2428 "Display the workflow alerts to show in Litmus Portal"
Alerts should be an integral part of Litmus Portal
- Show the alerts based on the status of the workflow.
-  In case workflow/experiments fails those should be alerted
-  In case of failure events should be capture and notified to the user.

[2021-02-02 16:56] ajeshbaby opened #2429 "Events to be displayed in Litmus Alerts"
These events need to be listed from Litmus Portal. All operations in litmus are tracked using K8S events.

Events tracked in DB should have a rotation policy-based retention.
Events should be tracked with severity
Events should be tracked based on user roles.

[2021-02-17 07:40] #1816 closed

[2021-02-22 09:10] WangXiangUSTC opened #2457 "create chaos experiment with other ServiceAccount not belong to me"
## Question

I see the document, before creating a chaos experiment, I need to prepare `chaosServiceAccount`, and then create the ChaosEngine Resource with the ServiceAccount.

I understand this is used for security, but I have a question: the `ServiceAccount` maybe not belong to me, I can use any `ServiceAccount` I can see in the K8s cluster, how to make sure the security?

[2021-02-22 12:53] rajdas98 commented on #1610
Closing in favour of https://github.com/litmuschaos/litmus/pull/1601

[2021-02-22 12:53] #1610 closed

[2021-02-22 12:55] rajdas98 commented on #1679
Closing in favour of these PRs https://github.com/litmuschaos/litmus/pulls?page=1&q=is%3Apr+gql

[2021-02-22 12:55] #1679 closed

[2021-02-22 12:56] rajdas98 commented on #1713
closing in favour of this PR https://github.com/litmuschaos/litmus/pull/1653

[2021-02-22 12:56] #1713 closed

[2021-02-22 12:58] rajdas98 commented on #1774
closing due to the lack of context.

[2021-02-22 12:58] #1774 closed

[2021-02-22 13:03] rajdas98 commented on #1857
Enhancement rejected
Closed PR- https://github.com/litmuschaos/litmus/pull/1946

[2021-02-22 13:03] #1857 closed

[2021-02-22 13:06] rajdas98 commented on #1775
closing in favor of https://github.com/litmuschaos/litmus/pull/1856

[2021-02-22 13:06] #1775 closed

[2021-02-22 13:11] #1773 closed

[2021-02-22 13:12] #1821 closed

[2021-02-22 13:12] rajdas98 commented on #1830
closing in favor of https://github.com/litmuschaos/litmus/pull/1831 and https://github.com/litmuschaos/litmus/pull/1831

[2021-02-22 13:12] #1830 closed

[2021-02-22 13:14] rajdas98 commented on #1567
closing in favor of https://github.com/litmuschaos/litmus/pull/1592

[2021-02-22 13:14] #1567 closed

[2021-02-22 13:15] rajdas98 commented on #1568
closing in favor of https://github.com/litmuschaos/litmus/pull/1592

[2021-02-22 13:15] #1568 closed

[2021-02-22 13:16] rajdas98 commented on #1569
close by this PR- https://github.com/litmuschaos/litmus/pull/1595

[2021-02-22 13:16] #1569 closed

[2021-02-22 13:18] rajdas98 commented on #1573
close by this PR- https://github.com/litmuschaos/litmus/pull/2218

[2021-02-22 13:18] #1573 closed

[2021-02-22 13:19] rajdas98 commented on #1590
close by this PR- https://github.com/litmuschaos/litmus/pull/1592

[2021-02-22 13:19] #1590 closed

[2021-02-22 13:20] rajdas98 commented on #1591
close by this PR- https://github.com/litmuschaos/litmus/pull/1639

[2021-02-22 13:20] #1591 closed

[2021-02-22 13:21] rajdas98 commented on #1749
close by this PR- https://github.com/litmuschaos/litmus/pull/1832

[2021-02-22 13:21] #1749 closed

[2021-02-22 13:21] rajdas98 commented on #1642
close by this PR - https://github.com/litmuschaos/litmus/pull/1651

[2021-02-22 13:21] #1642 closed

[2021-02-22 13:25] rajdas98 commented on #1761
close by this PR- https://github.com/litmuschaos/litmus/pull/1839

[2021-02-22 13:25] #1761 closed

[2021-02-22 13:25] rajdas98 commented on #1762
close by this PR- https://github.com/litmuschaos/litmus/pull/1839

[2021-02-22 13:25] #1762 closed

[2021-02-22 13:27] rajdas98 commented on #1852
close by this PR- https://github.com/litmuschaos/litmus/pull/1859

[2021-02-22 13:27] #1852 closed

[2021-02-22 13:28] rajdas98 commented on #1938
close by this PR- https://github.com/litmuschaos/litmus/pull/1939

[2021-02-22 13:28] #1938 closed

[2021-02-22 13:30] rajdas98 commented on #2297
closing by this PR- https://github.com/litmuschaos/litmus/pull/2400

[2021-02-22 13:30] #2297 closed

[2021-02-22 13:31] rajdas98 commented on #2132
@Saranya-jena Is this feature added to litmus portal?

[2021-02-22 13:33] rajdas98 commented on #2358
Hi @asibece, we have added private myhub in the litmusportal. Closing this issue in favour of https://github.com/litmuschaos/litmus/pull/2402 and https://github.com/litmuschaos/litmus/pull/2393

[2021-02-22 13:33] #2358 closed

[2021-02-22 13:35] #1665 closed

[2021-02-22 13:38] #1574 closed

[2021-02-22 13:40] rajdas98 commented on #1684
closing by this PR- https://github.com/litmuschaos/litmus/pull/1601 and a few more

[2021-02-22 13:40] #1684 closed

[2021-02-22 13:41] rajdas98 commented on #1685
closing by this PR- https://github.com/litmuschaos/litmus/pull/1606

[2021-02-22 13:41] #1685 closed

[2021-02-22 13:42] rajdas98 commented on #1914
closing by this PR- https://github.com/litmuschaos/litmus/pull/1834

[2021-02-22 13:42] #1914 closed

[2021-02-22 13:43] #1811 closed

[2021-02-22 13:45] rajdas98 commented on #1664
closing by this PR- https://github.com/litmuschaos/litmus/pull/1697

[2021-02-22 13:45] #1664 closed

[2021-02-22 13:47] rajdas98 commented on #1906
closing because the `self deployer` is deprecated now.

[2021-02-22 13:47] #1906 closed

[2021-02-22 13:47] rajdas98 commented on #1908
closing by this PR https://github.com/litmuschaos/litmus/pull/1947 and a few more

[2021-02-22 13:47] #1908 closed

[2021-02-22 13:50] rajdas98 commented on #2201
closing by this PR-https://github.com/litmuschaos/litmus/pull/2187

[2021-02-22 13:50] #2201 closed

[2021-02-22 13:53] rajdas98 commented on #2200
closing by this PR- https://github.com/litmuschaos/litmus/pull/2187

[2021-02-22 13:53] #2200 closed

[2021-02-23 04:13] ksatchit commented on #2457
Hi @WangXiangUSTC ! Thats a great question. Will try to elaborate the philosophy behind this:

Litmus supports different modes of operations - the most used ones are the standard/regular modes & [admin ](https://docs.litmuschaos.io/docs/admin-mode/ ) mode. Latter is used when users have autonomy over the cluster and generally have cluster-wide permissions (say, either devtest purposes on small/tra

[2021-02-23 07:49] WangXiangUSTC commented on #2457
Thanks for your reply! @ksatchit

[2021-02-23 19:07] damalamp opened #2461 "Pod Network Latency: If specified TARGET_HOST is invalid (?) all traffic has injected latency"
**What happened**:
If I specify an invalid DESTINATION_HOSTS ~~TARGET_HOST~~ (ie a host which cannot be resolved to an IP) for a pod-network-latency scenario, it seems all egress traffic from the pod is impacted.

**What you expected to happen**:
I would expect if there is no traffic going to the target host specified (or if the target host cannot be resolved) then no traffic would be impacted wit

[2021-02-24 16:52] ajeshbaby opened #2467 "Provision to restart the workflow without creating a new one every time"
Question -  Is there a way to restart the workflow without creating a new one every time?

Answer -  For now, you could do the following
- Create a recurring schedule that repeats the workflow execution with a defined interval.
-  Import/uploading the YAML is another way to run workflows w/o constructing it every time - but still doesn’t meet the req fully.

A possible solution - Have a feature wh

[2021-02-24 16:56] gdsoumya commented on #2467
Currently a version of this is available with the event-tracker, whenever the event tracker sends a request for workflow run even a one-time workflow can be triggered again automatically. The same thing can be done for this feature but instead of event-trigger it shall be a user action.

[2021-02-24 17:04] rajdas98 commented on #2467
Technically it possible because we are storing workflow YAML in the DB. We
need a restart API that will pick the workflow manifest from the DB and
change the workflow name then schedule it to the target cluster

On Wed, 24 Feb 2021, 10:26 pm Soumya Ghosh Dastidar, <
notifications@github.com> wrote:

[2021-02-25 06:24] ajeshbaby opened #2469 "ChaosResults to be shown in the portal"
At present, there is a provision to view logs from the portal. It's good to display the Chaos results from the portal.

[2021-02-25 06:26] ajeshbaby opened #2470 "Editor in Portal - Page down not working"
On editing a workflow, if we press `page down` key it goes to the end of the file.
Expected behaviour - Scroll a page down.

[2021-02-25 11:33] #2467 closed

[2021-02-25 18:19] rajdas98 opened #2476 "Improve deployment of chaos interleaved grafana dashboards"
Currently, we have to import the grafana dashboard and connect the data source manually.
Instead, we can put in a ConfigMap and mount it in Grafana's deployment. It will automatically connect  to the data source and import the dashboards

ref- https://github.com/litmuschaos/litmus/tree/master/monitoring

[2021-02-25 18:19] rajdas98 commented on #2476
cc: @oumkale @ishangupta-ds

[2021-02-28 08:37] imrajdas opened #2481 "Remove vendor directory from chaos {operator, exporter}, upgrade {k8s deps, operator-sdk} and improve CI/CD"
1. Currently, we have a vendor directory in chaos operator and exporter, there is no need to have a vendor directory. we can build both modules from the docker file. Vendor directory creates the repo too bulky and overhead to manage this directory

2. Due to having a lower `operator-SDK` version, we are bound to use a lower k8s version(Almost 2 years old) in both the repo and if we import any pkg

[2021-02-28 08:37] rajdas98 commented on #2481
cc: @ksatchit

[2021-02-28 08:40] rajdas98 commented on #2481
Also, in chaos runner repo.

[2021-03-01 14:56] ajeshbaby opened #2483 "Authentication Module Refactor"
- Rewrite/Refactor the authentication server to make it lightweight and modular so that
  - It can be moved into a separate repository
  - Handle different authentication modules
      -  Local
      -  Gmail Auth (Mandatory)
      -  Github (Optional)
 - Need a feature to reset the existing password.

[2021-03-02 07:32] rajdas98 opened #2484 "GQL generation should be remove from the directory and move to the dockerfile."
- GQL generation should be removed from the directory and move to the docker file
- While using the multi-branch, it creates merge conflict in `generated.go` and it is not easy to solve.

[2021-03-02 07:33] rajdas98 commented on #2484
cc: @gdsoumya

[2021-03-03 10:12] #2469 closed

[2021-03-04 05:53] amityt opened #2496 "Workflow not starting when the manifest is uploaded from Litmus-Portal"
## Details

**What happened**: While uploading the manifest from Litmus Portal, the workflow is not getting started.

**What you expected to happen**: While uploading the manifest, the workflow name should be updated in the manifest.

**Anything else we need to know?**:  While uploading the manifest from Litmus Portal, there was no provision to update the workflow name.

![Screenshot from 2021-03-

[2021-03-04 05:58] amityt commented on #2496
This issue has been resolved and added to master branch with PR: https://github.com/litmuschaos/litmus/pull/2487

[2021-03-05 05:53] Jonsy13 opened #2500 "Workflow not starting when scheduled with multiple number of same experiments."
**What happened**: When we try to schedule a custom workflow with multiple numbers of the same experiments on Litmus-Portal, It doesn't run and gets in a failed state. It can also be the case with the upload YAML option. The workflow graph comes as blank.

`Warning  WorkflowFailed   22m   workflow-controller  invalid spec: spec.templates[3].name 'container-kill' is not unique`

![Screenshot from 2

[2021-03-05 06:43] ksatchit commented on #2461
Fixed via: https://github.com/litmuschaos/litmus-go/pull/302

The changes will be available on the 1.13.2 patch release expected before March 15th (current: 1.13.1)

[2021-03-05 06:43] #2461 closed

[2021-03-05 06:47] ksatchit commented on #2457
Closing this issue based on user response. We could update this issue as and when there are changes to the policies adopted.

[2021-03-05 06:47] #2457 closed

[2021-03-05 07:18] ksatchit commented on #2410
Fixed by https://github.com/litmuschaos/chaos-operator/pull/324 & https://github.com/litmuschaos/chaos-runner/pull/129

[2021-03-05 07:18] #2410 closed

[2021-03-05 07:29] ksatchit commented on #2422
The scheduler [CRDs](https://github.com/litmuschaos/chaos-scheduler/pull/10) & [vendor ](https://github.com/litmuschaos/chaos-scheduler/pull/11)directories have been updated with probe enhancements. The changes should be available for consumption in 1.13.2 scheduled to be released on or before 15th March.

You can use the `ci` tags before that if necessary.

[2021-03-05 07:29] #2422 closed

[2021-03-05 07:31] ksatchit commented on #2372
The generic chaos experiments and the litmus-admin rbac manifests have been improved to fix leaked permissions. Further improvements will be tracked via new issues.

[2021-03-05 07:31] #2372 closed

[2021-03-05 07:32] #2259 closed

[2021-03-05 07:35] ksatchit commented on #1986
Pre 1.0 documentation has been removed.

[2021-03-05 07:35] #1986 closed

[2021-03-05 07:39] ksatchit commented on #1956
Chained probes (cmdProbe) are available from 1.10 release: https://docs.litmuschaos.io/docs/litmus-probe/#probe-chaining

[2021-03-05 07:39] #1956 closed

[2021-03-05 07:41] ksatchit commented on #1929
The PSP recommendations are available here: https://docs.litmuschaos.io/docs/litmus-psp/

[2021-03-05 07:41] #1929 closed

[2021-03-05 07:43] ksatchit commented on #1935
The chaos experiments are being executed on KIND as part of per-commit e2e runs in the litmus-go experiment repository

[2021-03-05 07:43] #1935 closed

[2021-03-05 07:45] ksatchit commented on #1853
Closing this issue due to lack of recent updates. Please re-open if things continue to not work with latest litmus releases.

[2021-03-05 07:45] #1853 closed

[2021-03-05 07:46] ksatchit commented on #1814
Ref: https://docs.litmuschaos.io/docs/faq-troubleshooting/#nothing-happens-no-pods-created-when-the-chaosengine-resource-is-created

[2021-03-05 07:46] #1814 closed

[2021-03-05 07:48] ksatchit commented on #1801
This can be controlled via the spec.annotationCheck flag on the ChaosEngine.

[2021-03-05 07:48] #1801 closed

[2021-03-05 07:56] ksatchit commented on #1791
Available as part of the [litmus-portal. ](https://github.com/litmuschaos/litmus/tree/master/litmus-portal)

[2021-03-05 07:56] #1791 closed

[2021-03-05 07:59] ksatchit commented on #1686
Basic install/uninstall documentation is available here: https://github.com/litmuschaos/litmus/tree/master/litmus-portal

Usage guide is here: https://docs.google.com/document/d/1fiN25BrZpvqg0UkBCuqQBE7Mx8BwDGC8ss2j2oXkZNA/edit#

Efforts are on to place this in git source and render on the docs website. This will be tracked separately.

[2021-03-05 07:59] #1686 closed

[2021-03-05 08:01] ksatchit commented on #1622
The experiment (as well as helper pods, if applicable) can be injected with custom labels defined in the .spec.definition.labels of the ChaosExperiment CR.

![image](https://user-images.githubusercontent.com/21166217/110085430-1b926c00-7db7-11eb-9e18-99582856fc73.png)

[2021-03-05 08:01] #1622 closed

[2021-03-05 08:24] ksatchit commented on #1468
The native litmus chaoslib for network-chaos is available here: https://github.com/litmuschaos/litmus-go/tree/master/chaoslib/litmus/network-chaos

It is also the default LIB used within experiments today.

[2021-03-05 08:24] #1468 closed

[2021-03-05 19:53] uditgaurav commented on #2134
The test has been added in [litmus-e2e](https://github.com/litmuschaos/litmus-e2e/) and in GitHub Actions CI in Litmus GO repo using this PR https://github.com/litmuschaos/litmus-e2e/pull/235 and  https://github.com/litmuschaos/litmus-go/pull/282.Closing it.

[2021-03-05 19:53] #2134 closed

[2021-03-05 19:55] uditgaurav commented on #2124
Thanks, @ari-hacks for the PR. Feel free to open a new issue for testing and adding more platform support in litmus.

[2021-03-05 19:55] #2124 closed

[2021-03-05 19:58] uditgaurav commented on #1755
This seems to be done intentionally and will enhance in further enhancement. Closing it.

[2021-03-05 19:58] #1755 closed

[2021-03-05 20:26] uditgaurav commented on #1512
Have created some Jenkins template as POC feel free to put your thoughts. I use pod delete experiment for the POC.
refer [uditgaurav/jenkins-template](https://github.com/uditgaurav/jenkins-template) to checkout the templates.

[2021-03-06 05:14] #2118 closed

[2021-03-06 06:11] ksatchit commented on #2142
This PR has been accepted (albeit very late)! @prithvi1307 please consider for hacktoberfest !

[2021-03-06 06:11] #2142 closed

[2021-03-06 06:15] ksatchit commented on #2117
Yes, we have begun beta trials with Docusaurus v2 and might go ahead with it as part of Litmus 2.0 efforts.

Thanks for the contribution @raiedkhan , though we don't take this PR, we would love to work with you in the future.

[2021-03-06 06:15] #2117 closed

[2021-03-06 08:45] Othniel-dell commented on #2117
Thank you too

On Sat, Mar 6, 2021 at 06:15 Karthik Satchitanand <notifications@github.com>
wrote:

[2021-03-06 16:06] Jasstkn opened #2510 "litmus-portal doesn't work with latest helm chart"
**What happened**:
litmus-portal was deployed via helm-chart (1.13.2) with release name: litmus-portal. It doesn't work. I assume that it could be becaus of hardcoded name of services in `nginx.conf` (see links below)
<img width="1399" alt="Screenshot 2021-03-06 at 19 06 16" src="https://user-images.githubusercontent.com/20466436/110212974-08fb5e00-7eaf-11eb-93c8-24be03c790bb.png">

**What you exp

[2021-03-06 19:14] Jasstkn opened #2511 "litmus-portal subscriber crashloopbackoff"
**What happened**:
Deployed litmus-portal using 1.3.1 helm chart. And subscriber goes to `CrashLoopBackOff` state.
In logs:
[code]

**What you expected to happen**:
All pods are up and running. Subscriber always should use internal service name instead of external IP address of node.

**How to reproduce it (as minimally and precisely as possible)**:
`helm upgrade --install litmus-portal litmus/lit

[2021-03-06 19:24] ispeakc0de commented on #2144
Hi @sccalabr ,

If annotationCheck is true and appinfo is not provided inside chaosengine then the operator will error it out as appinfo is mandatory if the annotationCheck is provided as true.

But for the cases where annotationCheck field is not provided inside chaosengine then the operator is considering it as true by default(https://github.com/litmuschaos/chaos-operator/blob/master/pkg/control

[2021-03-07 09:24] jinjiaw opened #2512 "litmus-portal subscriber crashloopbackoff due to CLUSTER ID MISMATCH"
**What happened**:

Deployed litmus-portal 1.13.0 using helm chart in a very fresh installed Kubernetes cluster, basic workflow worked well.
But the following error occurred against subscriber when i removed and reinstalled the same portal chart on the same cluster again. it was CrashLoopBackOff and complained "CLUSTER ID MISMATCH", meanwhile the self-cluster is not available on the portal.

[code

[2021-03-07 09:59] gdsoumya commented on #2512
When you uninstalled the portal it was not properly cleaned maybe. Can you try redoing it, but make sure to delete the litmus namespace all together before reinstalling. There are some configmaps which if not removed properly can cause this error after a reinstall.

[2021-03-07 10:07] gdsoumya commented on #2512
This is the configmap that might be causing this issue `litmus-portal-config`

[2021-03-08 02:03] ksatchit opened #2513 "Litmus Portal Workflow Visualization Improvements"
- The logs available from clicking on the workflow node in the graph should correspond to argo pod log (that executes the workflow "step" alone) and should not be a mix of argo pod & experiment logs. It can be confusing for the user.

- Typically, in experiments, there might be one or more pods launched as part of exp run (runner, main exp pod, helpers, ext. probe pods)  which need to be shown via

[2021-03-08 02:08] ksatchit opened #2514 "Make ChaosEngine name dynamic in Chaos Workflow"
- Today, we are needed to perform a "chaos revert" step in the chaos workflow to prevent the error "ChaosEngine already Exists".

- Running this revert step deletes the existing chaosengine, which ends up removing/cleaning up the chaos pods from the cluster, which then results in empty/unavailable logs (when accessed from the workflow graph) on the litmus portal. They would not be available for de

[2021-03-08 05:23] jinjiaw commented on #2512
you are right. i forgot to clean the cm. the litmus-portal was successfully reinstalled after everything is cleaned up in litmus namespace.  thanks much.

[2021-03-08 05:24] jinjiaw commented on #2512
closed this issue. thanks

[2021-03-08 05:24] #2512 closed

[2021-03-08 15:39] rajdas98 opened #2516 "Regarding initial litmusctl features"
We are introducing `litmusctl` as command-line tools for the litmus portal and chaos workflow. Following are the features that need to be added in litmusctl:

1. Initial codebase setup -- @arkajyotiMukherjee
2. External agent installation for litmus portal -- @arkajyotiMukherjee
3. CI/CD setup and CLI publish script -- @rajdas98
4. Chaos workflow manifest generation -- @rajdas98
5. LitmusPortal pa

[2021-03-08 15:41] rajdas98 commented on #2516
cc: @ajeshbaby @ksatchit

[2021-03-08 15:53] rajdas98 commented on #2481
**Status:**
I have removed the vendor directory and refactored the CI/CD scripts for chaos exporter https://github.com/litmuschaos/litmus/issues/2481

[2021-03-09 06:03] asibece opened #2517 "Infra chaos experiments should not have any dependency on application pods"
Infra chaos experiments should not have any dependency on application pods.

For EBS Disk attach or AWS Terminate experiments no need to have spec definition w.r.t app kind like deployment label selection etc.

[2021-03-09 06:17] ispeakc0de commented on #2517
https://github.com/litmuschaos/litmus-go/pull/304

[2021-03-09 06:21] ispeakc0de commented on #2517
The requested changes are already available in the `ci` tag. Refer: https://github.com/litmuschaos/litmus-go/pull/304

[2021-03-09 06:58] #2517 closed

[2021-03-09 07:00] ajeshbaby commented on #2517
Addressed part of litmuschaos/litmus-go#304

[2021-03-09 14:25] prithvi1307 opened #2519 "Litmus compatible with Power Architecture"

[2021-03-09 14:27] rajdas98 commented on #2519
Hi @prithvi1307 , Can you put some description? Not able to find the context

[2021-03-09 14:36] rajdas98 commented on #1550
Following up on this issue. we need to add multi-arch support for litmus portal components also. Following are the components
1. https://github.com/litmuschaos/litmus/tree/master/litmus-portal/frontend
2. https://github.com/litmuschaos/litmus/tree/master/litmus-portal/graphql-server
3. https://github.com/litmuschaos/litmus/tree/master/litmus-portal/authentication
4. https://github.com/litmuschaos/

[2021-03-10 02:07] Debanitrkl commented on #2483
@rajdas98 @ajeshbaby I'm interested in this project. Could you help me with some resources to begin

[2021-03-10 04:40] specter25 commented on #2483
@rajdas98 hi  sir i am interested to contribute to this project in GSoC 2021 . Could you provide me with some resources . I did study the code of the authentication server ( https://github.com/litmuschaos/litmus/tree/master/litmus-portal/authentication ) . I believe the gmail auth and google auth is yet not implemented .

[2021-03-10 04:53] Debanitrkl commented on #2483
Yes sir I'm interested for contributing through GSoC, would start writing my proposal soon, just wanted to get started with the code base of authentication server

[2021-03-11 05:44] rajdas98 commented on #2476
Thanks, @DarthBenro008 for looking into this issue. We have to make the grafana dashboard and data source auto configurable. For this, we can put the data source and dashboard in a k8s configmap map and mount it with grafana deployment.

For reference, you can take a look at this repo- https://github.com/litmuschaos/chaos-observability

[2021-03-11 11:32] #1943 closed

[2021-03-12 08:04] imskr commented on #2429
I'm working on this issue as part of LFX mentorship :)

[2021-03-14 09:56] mthirukumaran opened #2540 "pod-io-stress experiment failed to initialize in Openshift (3.11 & 4.6.15)"
**What happened**:
I tried pod-io-stress Litmus Chaos experiment version 1.13.0 in the CRC environment (Code Ready Container - Openshift 4.6.15 version) in local desktop and noticed the Init Container failed to start.

**What you expected to happen**:
Helper POD (pod-io-stress-xxxxxx) should start and inject the IO stress to the POD.

**How to reproduce it (as minimally and precisely as possible)*

[2021-03-14 10:06] specter25 commented on #2483
@rajdas98 the current auth setup uses "mgo" go package which is not well maintained as compared to the official go.mongodb.org/mongo-driver/mongo driver , should we prefer using the official mongo-driver in the new api ?

[2021-03-14 10:48] gdsoumya commented on #2483
Yes you have to use the official mongo go driver

[2021-03-14 11:00] specter25 commented on #2483
@rajdas98 @gdsoumya , sir one more doubt , the current implementation uses mongodb for session management but i believe using redis is a better solution for session management . So should we go with mongodb or switch to redis for managing sessions ?

[2021-03-14 11:04] gdsoumya commented on #2483
There is no session management I believe, we use jwt tokens for authorization so session management in the true sense is not needed in our case.

[2021-03-14 11:05] specter25 commented on #2483
okay sir thanks .

[2021-03-14 11:05] rajdas98 commented on #2483
@specter25 , Currently, we are not planning to use other db. The goal of this project is to make the auth-server light-weight and add other thirty party integration.

[2021-03-14 11:06] specter25 commented on #2483
Okay sir got it .

[2021-03-15 05:41] ajeshbaby opened #2542 "Push the LitmusCTL to S3 bucket."
Pushing LitmusCTL to GitHub would be overkill, need to push the same to S3 and easy access.

[2021-03-15 16:35] amityt opened #2549 "Add a loader condition after finishing the workflow creation step"
**What happened**: After creating a workflow (GitOps enabled) , when the user clicks the Finish button, there is no loading screen or message. The workflow created modal suddenly pops up. Without the loader condition, it looks like the workflow creation did not work.

**What you expected to happen**: A loader to be shown once the user clicks the Finish button. As soon as the loading condition fini

[2021-03-15 18:28] DarthBenro008 commented on #2483
@rajdas98 by light-weight, in what aspects is it expected to be light? lesser third party dependencies? or more memory efficient paradigms of code? A quick gist would be insightful!

[2021-03-16 03:03] DarthBenro008 commented on #1959
Hey @rajdas98, I think we can upgrade all the `DockerFile` builder stages to go1.16, I would like to work on this, could you assign it to me?
Additionally, although I do not see any issues that will arise out of the box when upgrading to go1.16, but is there any method or tests that is required to be run to ensure nothing breaks? Or am I good to go by trusting the CI alone?

[2021-03-16 13:32] Jonsy13 opened #2560 "Code quality improvement needed in Analytics frontend code."
**Currently, the codebase for the Analytics frontend is having redundant code and repetitive calculations in many places.**

The Analytics codebase needs to be refactored -
- Remove the redundant code.
- Provide comments for code blocks.
- Repetitive calculations need to be removed.

One Example -
In this file https://github.com/litmuschaos/litmus/blob/9f2b475ae54a5cf2286cdc5643da65fb9aa08520/litm

[2021-03-16 13:32] ishangupta-ds opened #2561 "(litmus-portal): refactor - workflow analytics"
* Refactor analytics parsing functions.
* Generate a reusable utility routine.
* Optimise state management and algorithms used for workflow analytics.

[2021-03-16 13:38] ishangupta-ds commented on #2560
Thanks @Jonsy13 for creating the issue, we will be tracking it and fixing it with beta releases on a feature branch till GA as the files mentioned are to be deprecated and refactored / redesigned.

[2021-03-16 13:38] ishangupta-ds commented on #2561
Child issues: https://github.com/litmuschaos/litmus/issues/2560

[2021-03-16 18:52] rajdas98 commented on #2483
Currently, authentication-server has a lot of unnecessary code complexity and uses some outdated packages like mgo. Also, we have seen authentication-server taking more memory than graphql-server.

The first goal of this project would be to rewrite/refactor to make it simple, light-weight and modular, and the second goal is to add the google and GitHub auth integration.

@gdsoumya Do you want to a

[2021-03-16 18:56] rajdas98 commented on #1959
Hi @DarthBenro008, Yes, that would be good to upgrade it to the latest version. But we need to check the compatibility with other go pkgs?

[2021-03-16 19:00] rajdas98 commented on #2496
@AmitKumarDas Can we close this issue?

[2021-03-16 19:03] DarthBenro008 commented on #1959
@rajdas98 In my opinion that should not be an issue. Because go1.16 just adds more features like introduction of io/fs package and just deprecates ioutil package as mentioned [here](https://golang.org/doc/go1.16). GoLang promises backward compatibility. Hence any package with go1.14 should run smoothly on go1.16, however I'll ensure to check go.mod once.

[2021-03-17 04:52] amityt commented on #2496
Yes @rajdas98 . Closing this issue.

[2021-03-17 04:52] #2496 closed

[2021-03-17 04:53] #2549 closed

[2021-03-17 08:32] specter25 commented on #1880
@rajdas98 sir i would like to work on this , can you give a little more info regarding this issue ?

[2021-03-17 18:27] rajdas98 commented on #1880
Hi @specter25, sync-pool is used to reduce the pressure on the garbage-collector of golang and it can improve the performance of the application. Currently, our structs are normal structs with sync-pool, it would be good if you can give a POC of it.

[2021-03-18 06:04] #2476 closed

[2021-03-18 08:16] asibece opened #2568 "Get the analytics for target level name (Statistical information)"
Get the analytics for target /application level name (Statistical information).

[2021-03-18 08:16] asibece opened #2569 "Pass / Fail with reliability score along with Interleaved dasboard"
Pass / Fail result display with reliability score along with Interleaved dasboard.

[2021-03-18 08:18] asibece opened #2570 "A workflow should pick the images from the predefined registry"
A workflow should pick the images from the predefined registry. This is required to work with air gapped environments.

[2021-03-18 08:19] asibece opened #2571 "Able to clone a template and save it as a predefined template"
Able to clone a template and save it as a predefined template in litmus portal for quick accessing to save time.

[2021-03-18 09:29] rajdas98 opened #2572 "Improve logging mechanism of litmusportal components"
Currently, the litmus portal’s backend logs aren’t meaningful and formatted. Also, It’s difficult to find the root cause of any litmus portal component failure by going through the logs.

The requirements of this issue are:
 - Use a common go pkg like logrus/glog/klog across all litmus portal’s backend components
 - Add meaningful log on the edge case
 - Format the existing log.

List of component

[2021-03-18 13:35] GrzegorzWild opened #2575 "Add litmusctl binaries for MacOSX (darwin/amd64)"
New version of Litmus 2.0.0 requires usage of litmusctl to install agents on cluster. Users of MacOSX are unable to do it without binaries compiled for that architecture.

[2021-03-18 13:47] ajeshbaby commented on #2575
@arkajyotiMukherjee  @rajdas98 Is there an easy workaround till you support this?

[2021-03-18 13:59] arkajyotiMukherjee commented on #2575
Looking into the matter... @GrzegorzWild @ajeshbaby

[2021-03-18 16:00] rajdas98 commented on #2575
Hi @GrzegorzWild, we just built the binaries for mac. Please take a look here- https://github.com/litmuschaos/litmusctl

[2021-03-18 16:20] GrzegorzWild commented on #2575
@rajdas98 Thank you very much for quick resolution of this issue.

[2021-03-18 16:41] rajdas98 commented on #2575
Thanks @arkajyotiMukherjee

[2021-03-18 16:43] rajdas98 commented on #2575
closing this issue in favour of https://github.com/litmuschaos/litmusctl/pull/7

[2021-03-18 16:43] #2575 closed

[2021-03-19 19:38] johnqa opened #2578 "Private git repos with SSH does not seem to work"
Hi,

**What happened**:
Since my litmus-portal deployment is an air gapped environment, I created a git repository in Azure DevOps Server and downloaded the https://github.com/litmuschaos/chaos-charts repo and put it in that internal one.

I am trying to add this internal repo as a private chaos hub using SSH  authentication but I a, getting an error when submitting it:
[code]

If I look in the po

[2021-03-19 19:43] rajdas98 commented on #2578
Hi @johnqa, As per the logs, it is saying cloned repo is empty. Can you check your cloned repo?

[2021-03-19 19:45] johnqa commented on #2578
Hi,

If I clone my repo manually on a linux box, it is not empty.

[2021-03-19 19:55] rajdas98 commented on #2578
@johnqa If you create anything here /tmp/version/3db98aa5-7562-4d71-a2b3-8f3ff57a3a95/, it will not work because it has to be updated in the DB first.

I am tagging the other team members @gdsoumya and @AmitKumarDas for it. Meantime, if you can try it again from the portal and send me the logs.

[2021-03-19 19:56] johnqa commented on #2578
which logs, the ones from litmus-portal-server?

[2021-03-19 19:57] rajdas98 commented on #2578
Yes @johnqa

[2021-03-19 20:03] johnqa commented on #2578
There is no difference:
[code]

When you say from the portal you mean from the UI. Is there maybe a cli way of doing things?

[2021-03-19 20:06] rajdas98 commented on #2578
Yes, I meant from the UI. Currently, we don't support private hub setup from CLI.

[2021-03-19 20:08] johnqa commented on #2578
I have the same error if I want to use the same repository for GitOPS.

By the way, now I am using 2.00-Beta1, but I had the same issue with the stable version.

[2021-03-19 20:11] amityt commented on #2578
Hi @johnqa , are you providing the SSH link of the repo. It should be something like this `git@github.com:litmuschaos/chaos-charts.git`

[2021-03-19 20:11] rajdas98 commented on #2578
Also, For debugging purpose. Can you exec into the litmus-portal-server(graphl-server) container and try to do a git clone of your repo? I am suspecting some new network/proxy issue.

[2021-03-19 20:12] johnqa commented on #2578
Yes I tried that but I am getting git: not found

[2021-03-19 20:13] rajdas98 commented on #2578
It's a alpine image, so you have to do `apk add git`

[2021-03-19 20:14] johnqa commented on #2578
no luck
[code]

[2021-03-19 20:22] rajdas98 commented on #2578
Can you check with wget and curl?

[2021-03-19 20:34] rajdas98 commented on #2578
@johnqa Currently, litmusportal-server(graphql-server) container is a non-root container, that's why it is showing permission error. I just built a root image. Can you replace the graphql-server container image with `imrajdas/litmusportal-graphql-server:ci`?

After that, Can you exec into the new container and do wget of your git repo?

[2021-03-19 21:20] johnqa commented on #2578
Hi,

I have done that, but wget from alpine doesn't allow --username and --password flags so I get 401 Unauthorized

[2021-03-19 21:22] johnqa commented on #2578
My git repo is not in github but in Azure DevOps Server and it looks like ssh://<fqdn>:22/<org>/<repo>

[2021-03-19 21:24] rajdas98 commented on #2578
Then, Can you do the following steps ?
[code]

Before that, make sure you follow this thread https://github.com/litmuschaos/litmus/issues/2578#issuecomment-803110555

[2021-03-19 21:33] johnqa commented on #2578
hi @rajdas98 I cannot follow the steps as I am in airg apped environment and  apk add git tries to connect to some repos that are outside this

[2021-03-20 02:23] ishangupta-ds commented on #2578
@johnqa if the container does not have sufficient permissions, then it may not able to read / write from / to azure repositories, since you have already added chaos charts, you may try creating a custom scope map giving read / write permissions to the chaos charts internal repo and a private ACR then upload litmus portal images to it and update their scope with the custom scope map from configurat

[2021-03-22 08:42] johnqa commented on #2578
hi, could it be realted to this? https://github.com/argoproj/argo-workflows/issues/5235

[2021-03-22 12:30] rajdas98 commented on #2578
Hi @johnqa, Looks like the same issue. But we are using the `go-git` library to do the git operations. I found this issue https://github.com/src-d/go-git/issues/1058 in their repo.

[2021-03-22 13:25] carolili opened #2586 "Experiment: Network policies"
**Feature request**
It would be nice to have Litmus experiments to verify [Kubernetes Network Policies](https://kubernetes.io/docs/concepts/services-networking/network-policies/). Since there are network drivers, it could also be useful to support specific drivers as their policies may bring extra features or work in a different way.

Examples of network drivers are e.g.:
- [Cilium](https://docs.c

[2021-03-22 14:51] johnqa opened #2587 "litmus-portal failing workflow if not able to connect to google analytics"
Hi,

I have manually created a workflow using a yaml file and executed it.

The workflow fails, but when looking at the logs the only error I see is that it cannot connect to google analytics. My installation is air-gapped so this is expected.

I would expect that not being able to connect to google analytics would be in worse case scenario a warning and not an error.

Thanks,
John

[2021-03-22 16:05] rajdas98 commented on #2587
Hi @johnqa, We are using google analytics to count the operator and experiment installation. You can disable it by an env called `ANALYTICS` in the chaos engine manifest.
https://docs.litmuschaos.io/docs/faq-general/#does-litmus-track-any-usage-metrics-on-the-test-clusters

Can you try again after disabling it?

[2021-03-22 18:08] johnqa commented on #2587
By disabling it, the workflow is passing, but the point is that connectivity to google analytics should not mark a workflow as failed.

[2021-03-22 20:31] ispeakc0de commented on #2587
Hi @johnqa ,

Yes, you are right. The chaos-operator is working in the same way. It will just log the error if analytics fails and continue the execution. The experiment should not fail even if the google anaytics are unreachable. There might be another reason for failure in the earlier run.

Would you like to retry it and share the operator logs if it will fail again?.

[2021-03-23 06:36] ajeshbaby opened #2589 "Support for External Agent connection using Ingress."
Version - 2.0.0-Beta1
LitmusCTL connection we can provide the ingress IP, During the registration, it would still use NodePort for subscriber communication.

[2021-03-23 06:47] ajeshbaby opened #2590 "Ability to disable self cluster connect while install of litmus using helm."
Provide an option to disable/enable the self cluster to connect while installing litmus.

In `values.yaml`, we can have an option to true or false. By default, let's keep it true so that no change in current behaviour.

[2021-03-23 07:36] ksatchit commented on #592
cc: @gdsoumya @gdsoumya @ajeshbaby adding for context. There may be tools available for doing this already since the time of raising this issue.

[2021-03-24 08:40] specter25 commented on #2483
@rajdas98 @gdsoumya as we have to create a light weight server , so should  I implement the functionality of refresh token in the custom (jwt auth) so that the token automatically refreshes after it expires and the user doesn't has to login again ?

[2021-03-24 10:42] rajdas98 commented on #2590
close in favor of https://github.com/litmuschaos/litmus/issues/2590

[2021-03-24 10:42] #2590 closed

[2021-03-24 12:14] gdsoumya commented on #2483
I don't think we need refresh tokens, this will change the auth flow which we don't want to do right now. Adding refresh tokens will also need to be complemented with blacklisting or revoke feature or else it will be vulnerable to attacks. Currently I think asking the user to log back in is a better approach and more secure, because if by chance the refresh token is exposed(and goes undetected) th

[2021-03-24 12:46] specter25 commented on #2483
Yeah i agree . Got it . Thanks for helping :)

[2021-03-24 13:43] uditgaurav opened #2599 "Unable to connet the target cluster for Namesapced scope installation of litmus portal"
**What happened**:
- When trying to connect an external agent from a cluster the installation failed.

- When the target cluster installation mode is `namespace`
[code]

- When the target cluster installation mode is `cluster`.
[code]

**What you expected to happen**:

- Installation for both the mode should work.

**How to reproduce it (as minimally and precisely as possible)**:

- Deploy namespa

[2021-03-26 14:47] rajdas98 opened #2604 "Github workflow should run on particular file change"
We are using GH workflows to build the litmus portal's components. But, the workflows got triggered on any file change, the requirement is the job should run on a particular file change in the respective directory.

| GH workflow jobs  | Code Directory |
| ------------- | ------------- |
| docker-build-frontend, docker-build-and-push-frontend  | https://github.com/litmuschaos/litmus/tree/master/li

[2021-03-26 15:26] Jasstkn commented on #2604
@rajdas98 Hi! Just to clarify: github actions doesn't support templating or define specific paths on the jobs level.
So the only one solution is to divide build / push workflows to be specific for each part of litmus. Is it ok?

[2021-03-26 15:35] rajdas98 commented on #2604
@Jasstkn Currently, our workflows are divided into multiple jobs and each job is mapped to particular components. so, I am thinking, if we can write a script to check the file change for the current and previous commit and based on the that we will trigger or cancel the job

@Jonsy13 has implemented a similar thing for the e2e workflow. Here is the script- https://github.com/litmuschaos/litmus/blo

[2021-03-27 06:04] ksatchit opened #2607 "Support definition of spec attributes for the probe pods"
The command probe today supports  `inline` execution where the common bash/kubectl commands can be executed from within the experiment pod (with the desired modes: SoT/EoT/Edge/Continuous/OnChaos). For commands that use custom CLI OR involve complex scripts, it is recommended to define a `source` image in the probe spec - which results in the probe commands being executed from within a separate/de

[2021-03-27 06:04] ksatchit commented on #2607
cc: @SamarSidharth

[2021-03-27 06:41] #2604 closed

[2021-03-28 08:54] rajdas98 commented on #2542
closing in favour of https://github.com/litmuschaos/litmusctl/pull/8 and https://github.com/litmuschaos/litmusctl/pull/9

[2021-03-28 08:54] #2542 closed

[2021-03-29 19:16] rajdas98 commented on #2483
Hi folks,
[Google Summer of Code](https://summerofcode.withgoogle.com/dashboard/timeline/) just opened the portal for student's applications. Feel free to submit your proposal before the deadline. Following are the things we need in the proposal.

- Description of the problem (Mandatory)
- Solution according to your opinion (Mandatory)
- Relevant work experience and skills (Mandatory)
- Deliverabl

[2021-03-30 05:09] specter25 commented on #2483
sure sir . Thanks for the heads up :)

[2021-03-30 07:50] DelphineJoyneer opened #2613 "Unable to read the secrets from ENV"
What happened:
Its unable to read the secrets from ENV

What you expected to happen:
It should show <set to the key 'KEYNAME' of secret 'secret'>  Optional: false. Instead its showing empty against the ENV variable

How to reproduce it (as minimally and precisely as possible):
You can run any experiment which uses secrets as ENV in pod.

Workaround:
Its working fine with older crds

[2021-03-30 08:31] uditgaurav commented on #2613
Thanks, @DelphineJoyneer for bringing this up. Can I know the Kubernetes version you're using?

[2021-03-30 09:24] DelphineJoyneer commented on #2613
Its v1.20.4 @uditgaurav

[2021-03-30 14:58] uditgaurav commented on #2613
The updated CRDs are here - https://github.com/litmuschaos/litmus-helm/tree/master/charts/litmus/crds. The one which is used by you is an older one.

[2021-03-30 23:53] #2613 closed

[2021-04-01 11:03] rajdas98 opened #2628 "Add go-imports format CI check and format all the existing go-imports"
- We need a precheck in GitHub workflows to validate the go-imports format.
- Format the existing go-imports

[2021-04-04 17:36] specter25 commented on #2628
@rajdas98 sir i have tried to fix this issue in #2632 .

[2021-04-04 18:21] specter25 commented on #2572
@rajdas98 sir as the authentication portal is going to be refactored in  GSOC 2021, do we need to format the logs of the auth server as well, in this particular issue ?

[2021-04-05 11:35] #2628 closed

[2021-04-05 23:21] ozgunakalin opened #2642 "Kubelet Service Kill / Node Drain - Wrong Node-Selector"
**What happened**: Creating kubelet-service-kill or node-drain workflow assigns nodeselector as node02 or node03

**What you expected to happen**: Nodename for pod to be deployed should be input or valid

**How to reproduce it (as minimally and precisely as possible)**: Create workflow -> kubelet-service-kill -> Enter NodeName -> Add Experiment -> Finish adding experiment -> Construct workflow ->

[2021-04-06 15:18] specter25 opened #2649 "Add golang-ci lint check in build pipeline and remove backend and frontend checks from push pipeline"

[2021-04-07 05:20] mohapsub opened #2650 "Chaos experiment in docker containers"
At present litmus is supporting chaos experiments in k8s. Can we enhance to support running chaos in docker hosts as well. Example I have a kafka cluster hosted in docker(no k8s). I want to try kafka chaos experiments on this kafka running on docker.

[2021-04-07 15:02] rajdas98 opened #2659 "Use kelseyhightower/envconfig pkg to validate the environment variables."
Currently, we have a lot of env vars in the litmusportal, so we need to use `envconfig` pkg to validate and process the env vars.
PKG- https://github.com/kelseyhightower/envconfig

Need to add in:
- graphql-server
- event-tracker
- subscriber
- authentication-server

[2021-04-08 03:19] ajeshbaby opened #2662 "Workflow can end up in Running state if subscriber communication breaks"
Run a workflow it can end up in running state forever in Litmus UI even though in the backend is closed. A few scenarios to replicate.
- Run a workflow, Go to backend and cleanup the jobs
- If error happens

[2021-04-08 15:23] niebomin commented on #2191
Please add `VMware` as adopter.  Will add more description later.

[2021-04-09 09:27] rnachire opened #2673 "Provide a way to utilise the Node Labels to inject Node level chaos"
Provide a way to utilize the Node Labels to inject Node level chaos

eg: In case of any cloud provider, each instance will come up with default tags and also on onprem instances it is expected that users can add node labels for workload distribution or regional/datacenter spread.

If we could make use of default or custom labels to inject any fault it helps user to simulate random, specific group

[2021-04-09 09:30] rnachire opened #2674 "Secure the Cloud credentials or use Host level Environment variables for Chaos tests"
Secure the Cloud credentials or use Host level Environment variables for Chaos tests.

We have been creating the secrets with plain text of cloud credentials such as access key and secret key in a plain text. As we need to store them in SCM (Git or Bitbucket) which enables users to see these directly.

Securing these credentials will help

[2021-04-09 09:33] rnachire opened #2675 "Add tag-based provisioning for EBS volume Detach or loss experiments"
Add tag-based provisioning for EBS volume Detach or loss experiments

eg: we can use kubernetes.io/created-for/pv/name tag for chaos injection instead of the actual EBS volume or Instance ID.

In runtime, it is very hard to find and parametrize these experiments in multi-cluster environment.

[2021-04-09 20:55] rajdas98 commented on #2483
Hi folks,
The application deadline is coming close. Please make sure to submit the proposal from the GSoC dashboard before `April 13 2021 18:00 UTC`

[2021-04-10 16:27] specter25 commented on #2483
sure sir .

[2021-04-13 11:00] rajdas98 commented on #2589
Closing in favor of https://github.com/litmuschaos/litmus/pull/2598

[2021-04-13 11:00] #2589 closed

[2021-04-13 17:06] srisatya1197 commented on #2659
I want to work on this issue.

[2021-04-13 18:24] rajdas98 commented on #2659
Thanks, @srisatya1197. Assigning to you

[2021-04-13 20:19] mallick370 opened #2699 "Content changes"
May be we need to think to show some other info or we can remove it if we are not showing or fetching any description of the workflow.

![image](https://user-images.githubusercontent.com/43519140/114615694-9b1f2f00-9cc3-11eb-9e5c-9d3ae4c75eca.png)

[2021-04-14 03:37] srisatya1197 commented on #2659
Ok Sir. Thank you.

[2021-04-14 03:56] srisatya1197 commented on #2659
I'm trying to login in slack channel but it's not working like :
![Sign up for a new account _ Slack - Google Chrome 14-04-2021 09_25_14](https://user-images.githubusercontent.com/78905067/114652380-63d07280-9d03-11eb-9584-726c28b91d90.png)

[2021-04-14 07:09] oumkale opened #2696 "Move test-tools Travis CI to Github workflow"
REPORT:
  - Currently test-tool repository is using travis ci to build.
  - Due to limitations for image pulling user/hr based can be be move to Github Workflow.

Describe.
      Github Workflow  will be easy to keep proper deployments.

[2021-04-16 12:07] SamarSidharth opened #2713 "Litmus for Openstack"
In order to extend Litmus to non Kubernetes environment I would request to explore the possibility of using Litmus for Openstack testing.
A simple usecase can be:
1. Testing HA of different services in openstack
2. Testing compute host failure

We can start with openstack on kubernetes and than progress to openstack on bare-metal

[2021-04-20 16:18] Jonsy13 commented on #2699
The is fixed, as the description phrase is removed now. Addressed here - https://github.com/litmuschaos/litmus/pull/2698
Images are attached in the given PR, also can be validated in the ci tag as well.

[2021-04-20 16:18] #2699 closed

[2021-04-20 16:42] Ckathiravan opened #2727 "Experiment based on iteration"
If possible can we do the experiment based on the iteration inside of duration

[2021-04-22 09:32] devfaz opened #2735 "Tests are started twice if there is another argo-server"
**What happened**:
**How to reproduce it (as minimally and precisely as possible)**:

* I installed 2.0.0-Beta4
* I created a scheduled job with generic/delete-pod against a nginx-deployment as mentioned in the docs.
* Every schedule-time I got 2 workflows created. One will fail, the second one will succeed.

after some help from nice guys in slack => https://kubernetes.slack.com/archives/CNXNB0ZT

[2021-04-23 11:22] saradocasar opened #2739 "Not able to connect to Litmus Chaos Control Plane"
Hi! I'm starting to using this tool and I'm having an issue accessing the Litmus Chaos Control Plane.
I'm working with Google GKE and I've followed the instructions to access the Litmus Chaos Control Plane.
When I enter kubectl get svc -n litmus I got this:
chaos-operator-metrics          ClusterIP   10.88.1.90    <none>        8383/TCP                        46h
litmusportal-frontend-service   No

[2021-04-23 11:28] ishangupta-ds commented on #2739
Hi @saradocasar have you setup a firewall rule to allow TCP traffic on the node port? If not you may use this command:

gcloud compute firewall-rules create test-node-port --allow tcp:32651

[2021-04-23 11:53] saradocasar commented on #2739
Hi!
Its seems it was that!! Thank you so much for your help.

[2021-04-26 03:31] ajeshbaby commented on #2735
More details on this [thread](https://kubernetes.slack.com/archives/CNXNB0ZTN/p1619017820349400)
As a workaround for now
Adding an instance id to your custom argo setup and see if that prevents the duplicate workflow runs?
ref: https://argoproj.github.io/argo-workflows/scaling/#instance-id
You have to restart the controller after edits

[2021-04-26 06:41] #2735 closed

[2021-04-26 06:46] gdsoumya commented on #2735
The fix has been merged, this should solve this issue without having to manually add the instance-id.

[2021-04-28 14:32] jnsrikanth opened #2750 "LitmusChaos pod not showing up at all in 'litmus' namepsace in a MicroK8S ubuntu cluster"
**What happened**:

I am able to find the CRDs and the deployment for the namespace "litmus" while installing the litmuschaos operator as with the below command.

kubectl apply -f https://litmuschaos.github.io/litmus/litmus-operator-v1.13.3.yaml

**What you expected to happen**:
However I am unable to see any pods in the namespace "litmus" in this cluster. What could be going wrong?

**How to repr

[2021-05-03 22:38] mikhailknyazev opened #2763 "Unrestricted flexibility of Litmus Chaos Workflows with Litmus 2.0 / Litmus Portal 2.0"
# Intro

If you ask any developer if they like visual builders in IDE, nearly everyone answers "yes": either for full UI / logic implementation or for prototyping and following polishing right in the source code.
If you ask them, if they agree to NEVER touch the generated by the visual builders source code, they will highly likely say "I do not".

There are many reasons for that. While the initial

[2021-05-04 15:24] RenePinnow opened #2765 "ChaosSchedule is creating infinite ChaosEngines and Results in repeat mode"
**What happened**:
Using Chaos Scheduler in repeat mode is creating infinite ChaosEngine and ChaosResult ressources.

**What you expected to happen**:
Why is the Chaos Scheduler not adding the Result of a run everytime in the same result?
Else there should be a automatic cleanup of the ressources by the operator.

**How to reproduce it (as minimally and precisely as possible)**:
Deploy a ChaosSche

[2021-05-05 12:34] rajdas98 commented on #2516
New Issues
- Currently, the kubeconfig path is hardcoded in litmusctl. It should be user-defined and this can be a default path `/home/user/.kube/config`
- Agent cleanup using litmusctl.

cc: @ajeshbaby

[2021-05-05 18:58] immanetize opened #2766 "propagate labels and annotations to child resources"
In our environment, labels and annotations are leveraged to identify components in metric and log streams, conform to platform metadata requirements, and enable additional cloud-native functionality.  It would be helpful if any custom labels or annotations applied to ChaosExperiments, ChaosEngines, ChaosSchedules, etc reproduce these when creating specs for any derivative resources, such as the ru

[2021-05-05 19:27] lalitkr90 opened #2767 "Litmus portal giving error: Failed to unmarshal ChaosEngine"
I am trying to schedule a workflow using Litmus Portal and I am importing the workflow.yaml from my desktop.
Below is the my workflow.yaml file.
While I am selecting the file, its showing the YAML is good to go but as soon as I am at the last step, its giving me the below error.
![image](https://user-images.githubusercontent.com/47416276/117197227-3019d180-ae05-11eb-9431-7a089d24bc9e.png)
[workflo

[2021-05-05 20:01] lalitkr90 commented on #2767
I have attached the workflo.txt which I am using for the experiment.
The same is working fine when I am using the argo-server.
![image](https://user-images.githubusercontent.com/47416276/117201722-98b77d00-ae0a-11eb-9474-d3a8428903ba.png)

Below is the litmus portal final step after which I am getting the error.
![image](https://user-images.githubusercontent.com/47416276/117201861-c69cc180-ae0a-11

[2021-05-09 18:55] rajdas98 opened #2769 "Required to install MongoDB operator to achieve High Availability of MongoDB"
Currently, the MongoDB instance is not HA, we can install the MongoDB operator along with mongo to achieve HA. This MongoDB CRD allows for specifying the desired size and version as well as several other advanced options.

[2021-05-12 03:33] ajeshbaby commented on #2739
Please do add this in documentation / FAQ and close the same. The next step would be to do a connection check and give this error in litmusctl as part of the pre-check.

[2021-05-12 03:37] ajeshbaby commented on #2599
@uditgaurav This has been fixed in master can you check and close it.

[2021-05-12 13:19] DarthBenro008 opened #2793 "readme: Litmus Workflow not visible in GitHub Dark Mode"
**What happened**:

A very menial issue, The Litmus Workflow illustrated in the [main readme of litmus](https://github.com/litmuschaos/litmus#overview) vanishes in `GitHub Dark Mode` or `GitHub Dimmed Dark Mode`

This makes it difficult for people using DarkMode to check what the Litmus Workflow is and people who are checking the project for the first time might get confused.

`GitHub Dark Mode:`

[2021-05-14 06:58] jinjiaw opened #2798 "agent registration successful when chaos-operator is not actually running/ready on agent"
**What happened**:
Hi, I am trying out the litmus portal with litmus-2-0-0-beta-2.0.18-Beta6. I happened to find that the agent registration showed successful both on portal->Agent (Active) view and in litmusctl output (Agent Registration Successful) even if chaos-exporter, chaos-operator-ce, event-tracker on the agent side somehow failed to pull their images. i am guessing it is by design that th

[2021-05-14 07:00] ksatchit commented on #2798
Thanks @jinjiaw for this issue. This indeed makes sense and is a good requirement. We need to validate the success of the infra components before marking an agent active. cc: @rajdas98 @gdsoumya

[2021-05-14 12:30] jnsrikanth commented on #2769
How do we add persistence to the MongoDB?

[2021-05-14 12:45] jnsrikanth opened #2804 "Unable to connect to ChaosHub using LitmusPortal"
**What happened**:
Unable to connect to the ChaosHub URI from the Litmus Portal after having forked the github chaos-charts repository to my private github user account and have provided my Github Access Token in the LitmusPortal.

**What you expected to happen**:
Expected to connect to the ChaosHub to explore and launch ChaosExperiments from the Workflow Engine in the LitmusPortal.

**How to repr

[2021-05-14 12:49] jnsrikanth commented on #2804
![litmus-portal-error-2](https://user-images.githubusercontent.com/17452662/118272929-f1f56f80-b4e0-11eb-98f4-af1cbd28f9a3.PNG)

[2021-05-14 12:50] rajdas98 commented on #2769
Hi @jnsrikanth, We need MongoDB's k8s operator to achieve high availability. Along with the Mongodb operator, we will use the MongoDB sts with PV to add the persistency.

[2021-05-14 12:55] rajdas98 commented on #2804
Hi @jnsrikanth , Can you send that git URL that you trying to add?

[2021-05-14 13:27] amityt commented on #2804
Hi @jnsrikanth , thanks for trying out the Litmus Portal. Can you share the portal version and the git url as mentioned by @rajdas98 .

[2021-05-14 14:18] jnsrikanth commented on #2804
Hi, Thanks for the quick response. The Git URL I am using to connect is https://github.com/jnsrikanth/chaos-charts

[2021-05-14 14:54] #2798 closed

[2021-05-15 07:42] #2793 closed

[2021-05-15 08:47] jnsrikanth commented on #2804
Hi, Any updates on this issue? Please let me know. Thanks.

[2021-05-15 11:23] amityt commented on #2804
Hi @jnsrikanth , I was able to connect a hub with the above git url. Can you check if there is some network issue while connecting the hub. @rajdas98 Can it be related to pod permissions?

[2021-05-17 08:16] mohapsub commented on #2650
@ksatchit Any update on this?

[2021-05-17 09:50] jinjiaw opened #2813 "log gone on portal when runner and experiments pod are still there"
**What happened**:
i am using litmus 2.0.0-beta-2.0.20-Beta6. The logs for experiment node in workflow can be perfectly shown if i don't have revert step and have jobCleanUpPolicy set to retain. But if i further manually delete the argo pods left for the workflow later, while keeping the runner and exp pods,  the exp logs are not coming up.

**What you expected to happen**:
the experiment log shou

[2021-05-18 01:32] sharpyy opened #2818 "Support disk fill experiment in Namespaced Mode"
It seems the disk fill experiment is not supported in Namespaced Mode.

https://docs.litmuschaos.io/docs/namespaced-mode/

Is there plan to support it or is there any work around available?

Thank you.

EG

[2021-05-18 03:59] uditgaurav commented on #2818
Hi @sharpyy the disk fill experiment is supported in Namespace Mode from litmus 1.13.3 and later(1.13.4 and 1.13.5). You can use it in namespace mode.

[2021-05-18 05:52] #2813 closed

[2021-05-18 11:24] lalitkr90 commented on #2767
Any update on the mentioned error ?

[2021-05-18 13:06] amityt commented on #2767
Hi @lalitkr90 , we have identified the issue. It is due to some parsing issue in the workflow manifest. Will notify you once the fix is available.

[2021-05-18 20:48] sharpyy commented on #2818
Thanks, I did not know. Any other experiment name that should be added to the supported list in https://docs.litmuschaos.io/docs/namespaced-mode/ ?

[2021-05-18 21:02] uditgaurav commented on #2818
@sharpyy you can check the updated list of [Supported Experiments in Namespaced Mode](https://litmusdocs-beta.netlify.app/docs/namespaced-mode#supported-experiments-in-namespaced-mode).
Apart from this, there are some new experiments that have been added in the last releases also support in namespace mode like `pod-dnd-error` and `pod-dns-spoof`.

[2021-05-18 22:12] sharpyy commented on #2818
Hi @uditgaurav , unfortunately, despite trying the latest version, I am still getting this same error message when running the experiment:

`time="2021-05-18T22:04:08Z" level=error msg="Chaos injection failed, err: Unable to create the helper pod, err: admission webhook \"pod-mutating-webhook.openpolicyagent.org\" denied the request: pod rejected due to unauthorized usage of spec.volumes[_].hostPa

[2021-05-19 09:30] vincentpetit opened #2823 "pod-cpu-hog experiment returns "Fail" verdict"
Hi all,

I tried to use pod-cpu-hog experiment; experiment was correctly launched but when I checked the result, I can see that the Verdict is fail.

How can I debug it ?

kubectl describe chaosengine ntp-cpu-hog-chaos -n region1

Thanks by advance

Status:
  Engine Status:  completed
  Experiments:
    Experiment Pod:    pod-cpu-hog-01fcjl-nj25q
    Last Update Time:  2021-05-19T09:06:23Z
    Nam

[2021-05-19 11:11] vincentpetit commented on #2823
Thanks for your quick reply.

Here is the log
root@gawaomn-master3 ~]# kubectl logs -f pod-cpu-hog-tpbj4p-p6qlr -n region1
W0519 11:19:02.025662       1 client_config.go:541] Neither --kubeconfig nor --master was specified.  Using the inClusterConfig.  This might not work.
time="2021-05-19T11:19:02Z" level=info msg="Experiment Name: pod-cpu-hog"
time="2021-05-19T11:19:02Z" level=info msg="[PreReq]

[2021-05-19 13:35] ispeakc0de commented on #2823
Hi @vincentpetit,

It looks like the base image used inside the `ntp-675c97869-d4hxm` pod doesn't support  `find` command.  Can you please provide `kill -9 $(ps afx | grep \"[md5sum] /dev/zero\" | awk '{print$1}' | tr '\n' ' ')` command inside `CHAOS_KILL_COMMAND` env in chaos-engine.
 refer: https://docs.litmuschaos.io/docs/pod-cpu-hog/#supported-experiment-tunables

[2021-05-19 16:11] vincentpetit commented on #2823
Thanks; finally I found the good command for my case (kill $(ps afx | grep md5sum | awk '{print$1}' | tr '\n' ' ')); now the chaos experiment returns "pass"

You can close this defect

[2021-05-19 21:51] uditgaurav commented on #2750
Hi @jnsrikanth `https://litmuschaos.github.io/litmus/litmus-operator-v1.13.3.yaml` spec have litmus operator deployment. What happens when you apply the deployment? Do you get the output telling that the deployment is created or not? You can check the pods in litmus ns `kubectl get pods -n litmus`

[2021-05-19 22:04] sharpyy commented on #2818
We run in EKS but it seems we have security policies prohibiting the disk fill experiment to run properly. I had first the Open Policy Agent to block the hostpath mount. Once disabled via annotation, the new issue I m facing in my case is that I cannot specify a nodeName. We have hooks to prevent this but it seems the authorized method in my case is to use the nodeSelector feature:

`
time="2021-0

[2021-05-20 12:55] uditgaurav commented on #2818
You can use `.spec.components.runner.nodeSelector` in ChaosEngine to schedule the runner pod on a specific node. Kindly checkout this https://docs.litmuschaos.io/docs/chaosengine/#component-specification all the experiments should have this support.

[2021-05-26 09:15] nithya-ganesan opened #2836 "Persistent volume not created while setting up litmus chaos using CRDs"
**What happened**:
To setup litmus I was trying out https://litmuschaos.github.io/litmus/2.0.0-Beta/litmus-2.0.0-Beta.yaml and found that the CRDs dont create persistent volume required for mongo db. I was using KinD cluster
**What you expected to happen**:
I expected the necessary PV also to be created by the CRDs
**How to reproduce it (as minimally and precisely as possible)**:
On KinD cluster r

[2021-05-26 12:47] strus38 opened #2838 "How to get 'time elapsed' between a pod 'killed' and the pod 'started' events?"
Hi
As we are investigating implementing Litmus on our cluster, we are wondering if there is a way to get some 'elapsed time' from the experiments we run in a generic way.
Our goal would be to be able to measure the 'user time' between the 'pod kill' action and 'pod started' event. Is there a way to do that in an experiment?

[2021-05-26 12:47] strus38 opened #2839 "Litmus Junit report"
Hi
Is there a way to produce a JUnit report based on Litmus experiment reports?

[2021-05-28 15:05] lonnix opened #2844 "Experiment for high request per second"
I would like a "Load Test" experiment to run along with my other stress experiments. I know that there are currently ones to stress cpu, memory, disk and IO but there doesn't seem to be anything to just put a heavy load on an application to see how it performs.

Some of what I'd like to be able to do (all of this is over http):
* choose a pod or service to target
* provide an endpoint and payload

[2021-05-29 22:13] TidalPoo opened #2846 "toomanyrequests: You have reached your pull rate limit"
## Question
I try to install litmus operator on minikube three days...
apply yuml done ok, but images can't pulled from docker hub

`Failed to pull image "litmuschaos/chaos-operator:1.13.5": rpc error: code = Unknown desc = toomanyrequests: You have reached your pull rate limit. You may increase the limit by authenticating and upgrading: https://www.docker.com/increase-rate-limit`

`docker login`

[2021-05-29 22:29] TidalPoo commented on #2846
docker hub curent limits for my account
ratelimit-limit: 200;w=21600
ratelimit-remaining: 200;w=21600

[2021-05-31 04:05] manee2k6 opened #2847 "Litmus portal not working in arm64 graviton2 instance"
**What happened**:
I am trying to setup litmus portal beta7 stable version on graviton2(arm64) instance, but not supported.

**What you expected to happen**:
Litmus portal setup on arm64 will help to target all the services running graviton2(arm64) at different namespace scoped.
Docker images for pod-delete and any experiments being used are not supported in graviton2(arm64). Is there any other wa

[2021-05-31 05:03] oumkale commented on #2846
Hi @TidalPoo,
Thank you, but this issue still there? This is because mainly due to limit reached, you may delete cluster and try again this issue should be resolve.
For more about user : please refer [](https://www.docker.com/increase-rate-limits)

[2021-05-31 07:55] TidalPoo commented on #2846
I known about rate limits, in my account i have 198 pulls
ratelimit-limit: 200;w=21600
ratelimit-remaining: 198;w=21600

i'am add addon registry-creds to my minikube

[code]

add line to yaml

[code]

but steel have error

[code]

[2021-05-31 08:24] rajdas98 commented on #2847
Thanks, @manee2k6, We'll add the ARM support for Litmus Portal components soon.

[2021-05-31 08:29] rajdas98 commented on #2846
Hi @TidalPoo, If you're trying it on minikube. It would suggest to ssh minikube node and do a docker login before applying the manifest.
[code]

[2021-05-31 09:00] TidalPoo commented on #2846
i don't need portal, it's work ok, pulled and started. I need operator

it's not working

[minikubik@chaostest ~]$ minikube ssh
Last login: Mon May 31 08:32:56 2021 from 192.168.49.1
docker@minikube:~$ docker login
Authenticating with existing credentials...
WARNING! Your password will be stored unencrypted in /home/docker/.docker/config.json.
Configure a credential helper to remove this warning.

[2021-05-31 09:03] TidalPoo commented on #2846
now it's worked
changed
`imagePullPolicy: Always`
to
`imagePullPolicy: IfNotPresent`

[2021-05-31 09:21] #2846 closed

[2021-05-31 13:24] jnsrikanth commented on #2804
Hi @amityt I am still unable to connect to the URL above from my Litmus Portal 2.0.0-Beta5 - I am still getting the same error. I am not facing any network issue when I tried doing a "git clone" of the above URL in my AKS cluster. Can you provide any further insights?
Also earlier, when we installed a Litmus Portal, a default ChaosHub used to be pre-packaged with the Litmus Portal. Now we do not h

[2021-05-31 13:44] amityt commented on #2804
Hi @jnsrikanth, the default ChaosHub is still available with litmus-portal. If possible, can you share the pod logs of litmus-portal server?
You can do `kubectl logs <litmus-portal-server-pod-name> -n litmus -c graphql-server`

[2021-05-31 15:15] rajdas98 commented on #2804
Hi @jnsrikanth, If you're using the `azure` repository then it might not work because we're using the `go-git` utility to do the git operations and it doesn't support the azure repository.
Issue- go-git/go-git#64

[2021-06-01 03:35] jnsrikanth commented on #2804
Hi @rajdas98 , please find below the logs from the litmus-portal-server on the AKS cluster.

2021/05/31 12:55:48 Connected To MONGODB
2021/05/31 12:55:49 Go Version: go1.14.15
2021/05/31 12:55:49 Go OS/Arch: linux/amd64
time="2021-05-31T12:55:49Z" level=info msg="Running GitOps DB Sync..."
time="2021-05-31T12:55:49Z" level=info msg="Updating : []"
time="2021-05-31T12:55:49Z" level=info msg="GitOps

[2021-06-01 03:37] jnsrikanth commented on #2804
Here is the follow-up set of logs from the same log file. I did not want to dump all the logs in one message, hence.

time="2021-05-31T13:07:49Z" level=info msg="Updating : []"
time="2021-05-31T13:07:49Z" level=info msg="GitOps DB Sync Complete"
time="2021-05-31T13:09:49Z" level=info msg="Running GitOps DB Sync..."
time="2021-05-31T13:09:49Z" level=info msg="Updating : []"
time="2021-05-31T13:09:4

[2021-06-01 05:16] amityt commented on #2804
Thanks @jnsrikanth  for sharing the logs.
Can you try the following methods:
1. Connect a hub with `http` instead of `https` in the url?
2. Try to connect a private chaos-charts repository using ssh-key and ssh url.

[2021-06-01 06:20] kyonasa opened #2848 "Can't terminal a workflow in Litmus dashboard while the workflow was pending"
When I try workflow 'sock-shop-chaos', I got stuck in 'install-chaos-experiments' and 'load-test' and didn't find any place to terminal that workflow.

[2021-06-01 09:14] TidalPoo opened #2850 "ImagePullPolicy change to IfNotPresent"
After I was able to solve the problem:
https://github.com/litmuschaos/litmus/issues/2846

There is a new problem
I tried to deploy an litmus agent, and again got into the problem of download limits from docker hub

[code]

But i can't edit litmusctl yaml files to change ImagePullPolicy: Always to IfNotPresent

[2021-06-01 10:44] jnsrikanth commented on #2804
Hi @amityt - No luck so far. Tried with all the options below:
1. Public Repository with http and https based URL - Did Not Work
2. Private Github Repo with http and https - and with both SSH key and Personal Access Token  - Did Not Work.
3. Went for a Public Repo from our Enterprise Github Account that is accessible from our AKS cluster - Did Not Work.
I am attaching a screenshot for the Option 3

[2021-06-01 10:45] jnsrikanth commented on #2804
Updating the Image here.
![chaoshub](https://user-images.githubusercontent.com/17452662/120310910-82f78380-c2f4-11eb-898b-27a5c59f97ec.PNG)

[2021-06-01 11:10] ojaswa1942 opened #2855 "Workflows continue even after deleting Schedule from Portal"
**Scenario**:
- Setup Litmus Beta-7.0 on OpenShift Cluster
- Created a Schedule (Workflow to run every hour)
- Deleted after a few runs

**What happened**:
While the information disappeared from the Dashboard, the workflow is still being scheduled.  The object `cronworkflows` can still be seen, and the workflow results are being populated in the dashboard, with no Schedule left to stop or delete.

[2021-06-01 11:48] rajdas98 commented on #2850
Hi @TidalPoo , It's a good requirement to add `pull policy` environment variable in the `litmusportal-server` deployment. so that all agents can be installed with a user-defined `pull policy`.

@ksatchit @ajeshbaby Any other thoughts on this?

[2021-06-01 12:06] amityt commented on #2848
Hi @kyonasa, thanks for trying out litmus. I presume that the sock-shop-chaos workflow was scheduled properly, but the experiment got stuck in `install-chaos-experiment` and `load-test` and the workflow didn't complete. Currently, we dont support workflow termination directly from the dashboard.
We can surely add this feature in the coming releases.

[2021-06-01 12:33] ksatchit commented on #2855
cc: @AmitKumarDas

[2021-06-02 14:30] TidalPoo opened #2860 "remote host agent deploy"
Hi!
1) I'am install litmus and portal on minikube on same host, with ip x.x.x.x
- create nginx proxy_pass from external ip to minikube 192.168.49.2:31391
- http://x.x.x.x:8080/ - open portal, self-agent is Active

2) i'am deploy shop-sock in on minikube on other host, with ip y.y.y.y
 - deploy agent in this host
[code]

but have error
kubectl pods:
`litmus                 subscriber-958948965-z8qc

[2021-06-02 21:37] sharpyy commented on #2818
@uditgaurav Sorry but would you have an example of config using .spec.components.runner.nodeSelector ? the documentation provided is a reference and I am not sure where to specify it. Thank you in advance.

[2021-06-03 16:56] ksatchit commented on #2839
Hi @strus38 ! Thanks for bringing this up - this is a feature we will be integrating soon. Would you like to share any pointers/preferences?

[2021-06-03 16:58] ksatchit commented on #2838
One way to do this is to track the events created against the ChaosEngine resource. The period b/s the ChaosInject & PostChaos check is roughly the time taken for a reschedule and bring up of the app pod.

[2021-06-03 16:58] ksatchit commented on #2838
But I'd like to hear more opinions from @ispeakc0de !

[2021-06-04 06:26] rajdas98 commented on #2860
Hi @TidalPoo , Subscriber pod always connected with litmusportal-server pod by svc/ingress. Looks like `192.168.49.2` is the minikube IP and `31769` is the port of litmusportal-server.

As per the logs
[code]

Subscriber is not able to connect with the server pod. Can you check the pod status and also the status code of this endpoint `http://192.168.49.2:31769/query`?

[2021-06-04 08:01] TidalPoo commented on #2860
i have not service on 31769

litmusportal-server on one physical host with external ip x.x.x.x + minikub internal ip 192.168.49.2
[code]

litmus agent (and subscriber) on another physical host with ip y.y.y.y + minikub internal ip 192.168.49.2
[code]

[2021-06-04 13:00] rajdas98 commented on #2860
Hi @TidalPoo, To connect the agent host to the control plane, the IP and port of the litmusportal server should be accessible by the agent host. In your case agent host is not able to access the control-plane host. It's not possible to connect one minikube cluster to another minikube cluster

[2021-06-04 13:21] TidalPoo commented on #2860
Did you read what i'am writing later?
I'am create proxy external port x.x.x.x:8080 to internal port minikub.ip:31769 by nginx on litmus server, and agent is connected successful when first config.

Log
[code]

[2021-06-04 15:47] golthitarun opened #2863 "ChaosExperiment securityContext not updating"
**What happened**:
Tried creating a ChaosExperiment custom resource with securityContext as describe in docs here -? https://docs.litmuschaos.io/docs/chaosexperiment/#configuration-specification

[code]

Also tried with containerSecurityContext. But I don't see anything populated in the resulting custom resource created, it always shows up as an empty object.

`securityContext: {}`

Not sure if I

[2021-06-04 16:30] ksatchit commented on #2863
@golthitarun , the securitycontext settings are expected to be applied on the resulting experiment pod.

[2021-06-04 16:59] golthitarun commented on #2863
will the experiment job that gets created have the securityContext added ? or is there any way I can add securityContext as a global config to litmus.

This is the pod description, not sure if there is anyway to add securitycontext to this job

[code]

[2021-06-04 17:11] ksatchit commented on #2863
In case you'd like a global config change youncan use PSPs: https://docs.litmuschaos.io/docs/litmus-psp/

[2021-06-04 18:25] rajdas98 commented on #2860
Okay @TidalPoo, There is `configmap` called `agent-config`. Inside that configmap, set `SERVER_ADDR` to  `http://x.x.x.x:8080/api/query` and restart the subscriber pod.

[2021-06-04 18:51] uditgaurav commented on #2863
Hi, @golthitarun @ksatchit I think this issue was resolved by using `x-kubernetes-preserve-unknown-fields: true` in the securityContext field of chaosexperiment CRD.

[code]
Can apply this CRD and try once.
[code]

[2021-06-04 20:09] ispeakc0de commented on #2838
Yes, we measure the approximate elapsed time by following ways:
- As @ksatchit  suggested, it can be calculated by the time difference between ChaosInject and PostChaos events which present inside chaosengine.
- We can also calculate the elapsed time from the experiments pod's logs. We are checking the pod's status immediately after the pod-kill(if the chaos interval is 0). We can calculate the ti

[2021-06-05 01:49] ksatchit commented on #2838
@ispeakc0de I suppose  there are newer metrics that have been introduced to help here too: https://github.com/litmuschaos/chaos-exporter#experimentscoped-metrics

[2021-06-07 08:34] TidalPoo commented on #2860
hi
i seted SERVER_ADDR

[code]

**and get error again**

[code]

config-map was checked, and have not invalid characters

[2021-06-07 17:06] golthitarun commented on #2863
@uditgaurav thanks that works

[2021-06-08 05:11] jnsrikanth commented on #2804
@amityt - any further pointers for us ? Does the above error give any insight into it?

[2021-06-08 06:16] amityt commented on #2804
Hi @jnsrikanth  Can I know if the AKS cluster where you have Litmus Portal is private or not? If possible, can you try to `exec` into the litmus-portal-server and curl <your-git-repo-link>.

[2021-06-09 07:38] deepakjey opened #2871 "Need to retain logs for failed workflows"
Tested on beta-8 of litmus.

Once the "Revert Chaos" is set to true, a failed workflow will not retain logs to debug. This is a must for atleast failed workflows. you can proceed to delete the pods but pls retain the logs somewhere.

[2021-06-09 11:49] rajdas98 commented on #2860
Just checking, Have you replace http://x.x.x.x:8080/api/query with your IP like- http://IP:8080/api/query

[2021-06-09 11:53] rajdas98 commented on #2847
Hi @manee2k6, We have added support for ARM64. Please check and let us know. Here is the PR- https://github.com/litmuschaos/litmus/pull/2858

cc: @uditgaurav

[2021-06-09 19:11] jnsrikanth commented on #2804
@amityt yes the AKS cluster is private and I am able to exec into the portal-server, however, the curl command is not available and I am unable to install essential utils in the container. Any further pointers please?

[2021-06-09 19:14] jnsrikanth opened #2875 "Is Litmus Experiment Disk-Fill to fail if a pod is 'Evicted' ?"
## Question

Hi,
I have set a test pod with certain resource limits and deployed it into an application namespace.

However, when I increase the FILL_PERCENTAGE for the target pod/container to 500 for the disk-fill litmus chaos experiment in experiment and chaosengine, I can see that one of the pods is getting evicted and a new pod is getting created in my deployment (with 5 replicas for nginx).

[2021-06-09 19:27] TidalPoo commented on #2860
yes)) of couse
my ip is public ip, i can show it here, security rules)))
i'am not noob, to insert ip as x.x.x.x))))

[2021-06-09 20:38] rajdas98 commented on #2860
It another way to connect with the control plane, so it should be `http://minikubeip:<litmusportal-frontend-port>/api/query`

[2021-06-10 04:32] ksatchit commented on #2875
@jnsrikanth , have you specified ephemeral storage limits under resources? If so, was the fill percentage using up more than the specified limit? In which case, eviction is expected. In any case can you share the logs for this expt?

[2021-06-10 08:40] TidalPoo commented on #2860
hey) i added /api/ to agent config map

and got another error

[code]

my nginx config

[code]

but /api/ is not working, what's wrong now?

[2021-06-11 02:55] S-ayanide commented on #2767
Hey @lalitkr90, this issue has been fixed, you can try the latest master ci to test the same. Thanks for letting us know about this and making Litmus better. Cheers 🙌🏻

[2021-06-11 04:39] k8s-dev opened #2881 "Implement alternate container image registry"
As of now all images are hosted on docker hub and Docker has implemented rate limiting and due to that image pull fails sometimes for users.

[code]
Quay or GCR or Public ECR could be alternate options to implement here.

https://estahn.github.io/k8s-image-swapper/index.html could help in swapping image references quickly.

[2021-06-11 05:15] ksatchit commented on #2881
@k8s-dev - yes, the idea is to also host images in Quay as part of 2.0 GA

[2021-06-11 07:57] k8s-dev opened #2884 "Wrong command shown to register Litmus Agent"
**What happened**:
Portal shows the command to connect/register the agent is :
`litmusctl agent connect` whereas litmusctl does not support this command.

**What you expected to happen**:
Replace it with correct command. ie. `litmusctl agent register`

**How to reproduce it (as minimally and precisely as possible)**:
Litmus Portal -> left hand pane -> Agent shows this.

**Anything else we need to

[2021-06-11 08:17] rajdas98 commented on #2884
Hi @k8s-dev , `litmusctl agent register` is used in  `litmuctl v0.2.0` and `litmusctl agent register` is used in the master version of `litmusctl`

[2021-06-11 08:23] k8s-dev commented on #2884
I see two different version of commands in same Portal deployment
<img width="1150" alt="Screenshot 2021-06-11 at 1 51 21 PM" src="https://user-images.githubusercontent.com/57744184/121655634-627db500-cabc-11eb-83ce-7ab3d4a0f13b.png">
<img width="910" alt="Screenshot 2021-06-11 at 1 51 10 PM" src="https://user-images.githubusercontent.com/57744184/121655664-66a9d280-cabc-11eb-8a18-d211d424b12d.png

[2021-06-11 08:27] Jonsy13 commented on #2884
Hi @k8s-dev , thanks for trying out Litmus-portal.
Yes, this is a known typo. This is fixed now in master. This will get updated in next release.

[2021-06-11 15:11] cookbook87 opened #2888 "API endpoints for the chaos services"
litmus Experiments are the most attractive part of litmuschaos, but the most inconvenient part is that it doesn't inherently open an api endpoint to trigger chao scenarios.
 it often makes the life of the developer difficult to test the workflows from a development environment where you need to run the scenarios from CI. Unless the service is exposable from the cluster it is not possible to call i

[2021-06-11 15:13] ksatchit commented on #2888
cc: @rajdas98 @gdsoumya would you like take this question

[2021-06-11 15:42] gdsoumya commented on #2888
Litmus portal itself has it's own apis that can be directly called, you would still have to expose the portal either using nodeport or loadbalancer svc. This is the link to the api doc https://litmuschaos.github.io/litmus/api.html, you can also directly see the graphql apis and run queries from the graphql playground that is exposed by the litmusportal server service

[2021-06-11 16:49] cookbook87 commented on #2888
There are lot of constraints in exposing services via nodeport/load balancers in some kube platforms especially when its a closed one and an on premise cluster application, ClusterIP is the ideal way to do that, I had tried to do it and services always fails to spawn up.

[2021-06-11 16:51] cookbook87 commented on #2888
Also what if someone doesn't deploy limusportal, and still wants to get chaosresults via APIs or run experiments via apis?

[2021-06-11 18:33] ksatchit commented on #2888
@cookbook87 in case you'd like to directly consume/manipulate the chaos resources (i.e., chaosexperiment, chaosengine or chaosresults) via API - you can directly use the kube API. The CRDs by default us with an API endpoint. You can use any generic client implementation (go/python are most used ones) to access them. In case you use go, there is a clientset available as well: https://github.com/lit

[2021-06-14 03:57] cookbook87 commented on #2888
Thanks @ksatchit  This helps. so I need to create all the specs in json.
By any chance is there any python clients which are equivalent to those go clients?

Also, the API opens up via localhost and port 8001, Is there a way that I could expose it as a microservice endpoint and also customize this port to a port of my choice? It will definitely need a change in the manifest. Do you have any sugges

[2021-06-14 11:32] nlamirault commented on #1550
Hi, any news on this feature ? I would like to deploy Limus 2.0.0 on my k8s arm64 cluster.

[2021-06-14 13:02] rajdas98 commented on #1550
Yes @nlamirault, We added ARM64 for litmusportal components. We will make a release of Litmus-2.0.0-Beta8 tomorrow, after that you can use it.

[2021-06-15 09:56] jnsrikanth opened #2896 "Generating Test Reports from ChaosSchedule or ChaosResult"
## Question

Hi, Is there a provision in LitmusChaos Tool for us to generate a Test Report (from the Kubectl CLI) or from the Litmus Portal for all the individual Chaos Experiments conducted in a sequence or in a workflow?

Please let me know, what are all the options available and what custom methods can we use to generate reports of our own in CSV or in JSON format etc.?

Please let me know.

Th

[2021-06-15 16:32] jnsrikanth commented on #2839
Hi @ksatchit,
Is there a basic test report generation that can be done in JSON or CSV format right now from the ChaosResult (yaml) objects or from the experiment logs ?
What system of reporting is already in place in LitmusChaos?
I am thinking of extracting test results from ChaosResult object in json format using JSONPATH and then running a JSON parser to get the required key-value pairs from it.

[2021-06-15 17:01] jnsrikanth commented on #2875
Thanks for confirming @ksatchit . Yes indeed the fill percentage was using up more than the specified limits. It failed in that scenario.

[2021-06-16 03:28] #2875 closed

[2021-06-16 07:23] rajdas98 commented on #1550
Closing this issue-  Added the support of multi-arch(ARM64 & AMD4) image for all the litmus components.

[2021-06-16 07:23] #1550 closed

[2021-06-16 07:26] rajdas98 commented on #2884
Closing this issue-
We have made the release of LitmusCtl v0.2.0, where `litmusctl agent connect` command is available and also updated the docs for the same.
cc: @k8s-dev

[2021-06-16 07:26] #2884 closed

[2021-06-16 12:39] gpsingh-1991 opened #2902 "Perform storage stress test via fio"
I would like to perform storage stress test using fio on AUT via litmus experiments

[2021-06-18 08:17] devfaz opened #2911 "Add NodeSelector/Tolerations feature to control-plane"
It would be nice if there would be a way to add some NodeSelector and Tolerations to pods used by litmus "control-plane". This would allow us to place litmus on separate nodes we normally use for this kind of services (monitoring, logging, ...)

[2021-06-18 08:19] ksatchit commented on #2911
Thanks @devfaz for the suggestion - this is definitely useful and is already being worked by @rajdas98 !

[2021-06-21 07:19] uditgaurav commented on #2863
Closing this as the fix is now available with [1.13.6 installation](https://litmuschaos.github.io/litmus/litmus-operator-v1.13.6.yaml).

[2021-06-21 07:19] #2863 closed

[2021-06-21 08:37] cookbook87 commented on #2888
After deployment, I have tried as directed.
the localhost itself is not reachable.

it clearly says connection refused.

bash-4.4$ curl http://localhost:8001/apis/litmuschaos.io/v1alpha1/namespaces/default/
curl: (7) Failed to connect to localhost port 8001: Connection refused

[2021-06-21 10:25] SarthakJain26 opened #2919 "Add Forgot Password Feature"
Forgot password feature can enable users to reset their passwords in case they forget them.

[2021-06-22 01:46] TajaneSwapnil opened #2922 "Generic pod-delete failed in chaos injection phase"
**What happened**:
I have a kubernetes cluster consisting on 9 pods (3 applications*3 instances).
I tried to execute delete pod on one of the instance which has unique label.

I cannot see any detailed information about why it happened.

below is the chaos engine describe result
 `Events:
  Type     Reason                         Age                  From                     Message
  ----     ---

[2021-06-22 07:01] ispeakc0de commented on #2922
HI @TajaneSwapnil,

Can you please share logs of the `pod-delete-txw5yw-2f7wv` pod?

[2021-06-22 07:43] TajaneSwapnil commented on #2922
Unfortunately with current architecture I cannot get logs for terminated pods

[2021-06-22 08:09] #2922 closed

[2021-06-22 12:13] ksatchit commented on #2888
This was also discussed on slack: the apiserver access has been enabled in this [comment](https://github.com/litmuschaos/litmus/issues/2888#issuecomment-859766605) using kubectl proxy and is more for illustration purposes.

[2021-06-23 09:46] #2888 closed

[2021-06-24 17:08] zeeshanSD opened #2941 "LitmusPortal Default Workflow template to be customizable"
Currently Litmus Portal workflow creation process starts with a workflow template yaml and as experiments get attached it updates the workflow.  The template uses docker images from public docker instead of user provided docker instance (private docker/artifactory).  Having the default template configurable will help avoiding the need of editing yaml files.   One other good thing would be if an ex

[2021-06-25 07:00] asibece opened #2942 "Litmus webapp should be able to load from "/litmus" path inaddition to "/" path"
We are not able to access litmus portal from /litmus path when we setup an ingress path for litmus portal within an enterprise, we need litmus app to be loaded from customized paths inaddition to root path "/". Hence request to configure litmus to load from "/litmus" path inaddition to "/" path.

Thanks.

[2021-06-25 07:07] prithvi1307 commented on #2942
Hi, @asibece Could you ask the same question by joining the Litmus slack channel as well?
Assigning @ksatchit this but just in case you don't get an immediate response here you surely will in our slack community for this as well as further questions!
To join the slack please follow the following steps!
Step 1: Join the Kubernetes slack using the following link: https://slack.k8s.io/
Step 2: Join t

[2021-06-28 07:40] ojaswa1942 opened #2948 "ChaosExperiment: Memory Leak"
The idea is to imitate memory leaks in applications.

**How is it different from `pod-memory-hog`?**
As opposed to `pod-memory-hog`, where stressors show a sudden spike in memory for the specified duration, `pod-memory-leak` can gradually increase memory consumption (in steps) over the specified period of time to reach the upper limit.

**Can it be an enhancement to `pod-memory-hog`?**
Well, maybe

[2021-06-28 07:42] ksatchit commented on #2948
@ojaswa1942 , this makes sense. Would love to see what options we have here!

[2021-06-28 17:16] zeeshanSD commented on #2941
Closing this issue as it's already supported but should be documented.

In order to Update the image registry to support private docker hub,  change/edit configuration by clicking on settings (Litmus Portal) and selecting  the Image Registry tab.

[2021-06-28 17:16] #2941 closed

[2021-06-29 14:52] nikhil-rajan-neu opened #2952 "Litmusctl Agent Connect doesn't work in windows"
Repro Steps
litmusctl agent connect
🔥 Connecting LitmusChaos agent

📶 Please enter LitmusChaos details --
👉 Host URL where litmus is installed: localhost:9091
🤔 Username [admin]:
🙈 Password:
⛔ Password cannot be empty!

Password is not getting prompted for entry

[2021-06-30 12:27] ojaswa1942 commented on #2948
Jotting down some pointers in regards to `stress-ng` for everyone's reference:
- Since `stress-ng` uses atleast one worker (CPU-intensive) to increase memory, we cannot spawn multiple stressors over a period of time due to CPU limits.
- The immediate next idea is to use one `stress-ng` process at a time with increasing memory in each run. However, instead of a gradual increase, that results in a z

[2021-07-01 04:44] ksatchit commented on #2948
Thanks for sharing @ojaswa1942  - have assigned the issue to you!

[2021-07-01 06:11] ojaswa1942 commented on #2948
Here's what I'm planning to do:
A C++ script to `malloc` target memory gradually over the total time.
Let's say total memory = 600MB, total time = 60s. The script will allocate & fill up memory at a rate of 10MB/sec for the next 60s to reach the total target memory and exit.

This can be bundled as a binary and be a part of the helper pod itself.

 Suggestions appreciated!

[2021-07-01 12:26] jnsrikanth opened #2957 "Kafka pod failure experiment in Confluent with SSL fails"
**What happened**:
We have a statefulset deployment for Kafka and Zookeeper using a Confluent Operator in AKS environment.
We applied the RBAC given as part of the Kafka Pod Failure experiment in the same target namespace as Confluent Kafka.
Updated the settings for Kafka and Zookeeper in experiment.yaml and engine.yaml with PORT 9092 and 2181 along with headless service name for Kafka and Zookeep

[2021-07-01 12:45] ksatchit commented on #2957
The topic creation logic is here: https://github.com/litmuschaos/test-tools/tree/master/app_clients/kafka-client

The invocation of the above (via the liveness pod) happens here: https://github.com/litmuschaos/litmus-go/blob/master/pkg/kafka/kafka-liveness-stream.go

We will be happy to receive some PRs on support for TLS/SSL within this exp.

[2021-07-01 12:52] ksatchit commented on #2896
The litmus portal consists of an "Analytics" section that has an option to compare workflows and download reports - available as html/pdf.

[2021-07-01 12:57] jnsrikanth commented on #2957
@ksatchit Thanks for a quick reply to my issue above. So how do I determine that the topic creation has failed due to the RBAC permissions or is it due to the failure for authentication/authorization that it is not able to detect any of the brokers?

Sure, I will raise a PR request to add support for SSL/TLS in the Kafka pod experiments.

Thanks,
Srikanth

[2021-07-01 13:13] jnsrikanth opened #2959 "Add Support for SSL/TLS in Kafka Chaos Experiments"
Need to add SSL/TLS support for (Confluent) Kafka Experiments in LitmusChaos.

A typical set of SSL params that needs to be provisioned/configured for any client trying to communicate with an SSL enabled Kafka Brokers or a StatefulSet Deployment. An example set of parameters are given below for a client to connect to a Kafka Broker/Server.

listeners=PLAINTEXT://:9092,SSL://:9093
ssl.keystore.loca

[2021-07-01 13:16] jnsrikanth commented on #2957
@ksatchit - I raised a PR below for supporting SSL/TLS in LitmusChaos Kafka experiments.

https://github.com/litmuschaos/litmus/issues/2959#issue-934832648

[2021-07-05 07:31] rini2208 opened #2965 "For multiple target nodes experiments failing"
Chaos experiments failing in case of multiple target node. Below are chaos engine events and chaos operator logs .

Chaos engine events:

 Spec:
      Components:
        Env:
          Name:   MEMORY_CONSUMPTION_PERCENTAGE
          Value:  30
          Name:   TARGET_NODES
          Value:  resiliency2173wdtqk0,resiliency2173lyply0
        Resources:
        Status Check Timeouts:
  Job Clean Up

[2021-07-08 04:29] asibece commented on #2191
Why do we use Litmus.
To ensure resilience, detect bugs and test rollouts. We are still in the early stages.

How do we use Litmus.
Litmus is being used as part of dev/test cycles to catch bugs & verify resiliency.

Benefits in using Litmus.
The litmus is easy to use and extend/develop based on custom requirements and well-supported open source tool.

[2021-07-09 12:13] jnsrikanth commented on #2959
@ksatchit - PR has been raised - is there any additional steps for implementing TLS/SSL in Kafka LitmusChaos experiments?
Please let me know.

-Srikanth

[2021-07-12 07:47] rini2208 opened #2990 "Litmus chaos pod cpu hog experiment showing failed verdict sometimes"
While running pod cpu hog experiment , sometimes experiment is failing with below logs.
Kill command used is kill $(find /proc -name exe -lname '*/md5sum' 2>&1 | grep -v 'Permission denied' | awk -F/ '{print $(NF-1)}').
Command is working at pod level fine.

W0712 07:30:12.374586       1 client_config.go:541] Neither --kubeconfig nor --master was specified.  Using the inClusterConfig.  This might

[2021-07-12 08:00] rini2208 opened #2991 "md5sum process issue for pod cpu hog experiment"
While running pod cpu hog experiment at given time we are seeing 2 md5sum processes running instead of one. We are litmus operator , experiment and rbac version 13.6 .
As seen in image in given minute , 2 md5sum processes running.

![image](https://user-images.githubusercontent.com/83286730/125251415-e7a2f680-e314-11eb-8a7a-87010b64249e.png)

[2021-07-12 22:18] itustanic opened #2995 "Where are the experiment yamls????"
I'm trying to install Limtus following the docs.

There is a section for installing the experiments:

However, the link https://hub.litmuschaos.io/api/chaos/1.13.7?file=charts/generic/experiments.yaml shows a 404. Why is this happening?

[2021-07-12 22:18] #2995 closed

[2021-07-13 02:02] itustanic opened #2996 "LitmusPortal subscriber fails to start"
**What happened**:

When connecting the LitmusPortal agent, the following occurs in the log of the subscriber pod:

The fatal error is ```│ time="2021-07-13T01:54:30Z" level=fatal msg="invalid character 'p' after top-level value"               ```

This happens every time.

The agent does not connect and every time, my subscriber fails on a CrashBackLoop. Could anyone advise?

[code]

**What you e

[2021-07-13 04:48] gdsoumya commented on #2996
Can you describe the subscriber deployment and attach the output.

[2021-07-13 10:10] rajdas98 opened #3003 "Store agent manifest(YAML) in the database during cluster register mutation."
Currently, we are dynamically generating the agent manifest. Request for storing the manifest(yaml) during the cluster register mutation.

[2021-07-13 10:11] rajdas98 commented on #3003
cc: @gdsoumya

[2021-07-13 11:39] Saranya-jena opened #3006 "Removing User-collection from Litmus DB, adding backend communication to auth server"
- Remove User-collection from Litmus DB and add backend communication to auth server to get user-related details, this will prevent DB inconsistencies in case of some queries/operations.

[2021-07-13 13:12] itustanic commented on #2996
@gdsoumya thank you, here is my deployment for the subscriber:

[code]

[2021-07-13 13:16] gdsoumya commented on #2996
Can you also share the `agent-config` configmap

[2021-07-13 13:19] itustanic commented on #2996
@gdsoumya yes, here is the `agent-config`:

[code]

[2021-07-13 13:44] gdsoumya commented on #2996
Can you update the image in the subscriber deployment to this `gdsoumya/litmusportal-subscriber:ci` and check the logs.

[2021-07-13 14:00] itustanic commented on #2996
@gdsoumya thanks for the help. Interesting.. 404 not found.

[code]

[2021-07-13 14:06] itustanic commented on #2996
Hi @gdsoumya, yes it is on our private network, however this does happen! When going to http://dls-litmus-portal.dev-alcfd.com/backend/, it says 404 not found! This is very strange though because the frontend is working just fine.

[2021-07-13 14:10] itustanic commented on #2996
I think it might have to do with how my team configured the ingress. We removed the default /(star) and replaced it with just a slash.

[2021-07-13 14:13] gdsoumya commented on #2996
can you try to using the original ingress file and check.

[2021-07-13 14:14] itustanic commented on #2996
@gdsoumya for some reason with our spec, the ingress using /(star) and /backend/(star) would not work. When going to the portal it just showed an empty page. When we removed the (star) the frontend worked, I'm not sure why though.

[2021-07-13 14:18] gdsoumya commented on #2996
@rajdas98 can you help @itustanic with the ingress issue. I think this issue is due to the ingress/k8s version

[2021-07-13 14:22] itustanic commented on #2996
@gdsoumya thanks for the help.

@rajdas98 this is the ingress file we are using:

In the first install, we tried using /(star) but this did not work and the portal was blank. Going to just / returned a 404. We are using nginx-ingress with TLS enabled.

With just "/" the frontend portal worked, but the backend 404's.

I tried rearranging it so that /backend/ goes first, however this did not work an

[2021-07-13 19:17] itustanic commented on #2996
I think the issue might be related to the mongodb. The mongodb pod starts with the error:

``` Error unmarshalling the result in project struct: mongo: no documents in result ```

[2021-07-13 22:45] itustanic opened #3008 "Graphql not querying with LitmusPortal"
**What happened**:

I setup LitmusPortal and used an ingress. However, the graphql container does not query.

Here is a screenshot of going to portal/backend:

![image](https://user-images.githubusercontent.com/85892667/125534653-2c5ee460-828f-43e9-9198-4e28985d6822.png)

The error is `405 Method not allowed`.

When going to `https://dls-litmus-portal.dev-alcfd.com/query` , it shows a 404 on the L

[2021-07-14 05:35] rini2208 opened #3009 "Additional Job cleanup policy required"
Currently we have job clean up policy either retain or delete but we want to have one more policy which will retain runner and helper pods in case of failure only.

[2021-07-14 14:24] ajeshbaby commented on #3009
Similar issue https://github.com/litmuschaos/litmus/issues/2871

[2021-07-14 14:38] ajeshbaby commented on #3008
Can you use https://dls-litmus-portal.dev-alcfd.com/api/query

[2021-07-14 15:48] itustanic commented on #3008
@ajeshbaby Thank you! This URL seems like the query API. I was wondering how can I specify for the graphQL server to hit this URL instead of https://dls-litmus-portal.dev-alcfd.com/query which it is currently trying to hit?

[2021-07-14 15:51] itustanic commented on #3008
@ajeshbaby for some reason the subscriber is showing this:

[code]

[2021-07-14 16:09] #2996 closed

[2021-07-14 16:16] rajdas98 commented on #3008
Hi @itustanic , Is it possible for you to share the ingress config file?

[2021-07-14 16:22] itustanic commented on #3008
Hi @rajdas98 -- thank you very much. I do think it is related to the ingress, because when I don't use the ingress there is no bad handshake.

[code]

[2021-07-14 16:34] #3008 closed

[2021-07-16 10:32] nikhil-rajan-neu opened #3030 "GitOps Support for Azure Git"

[2021-07-16 10:32] uditgaurav commented on #2991
Hi, @rini2208 each `md5sum` process hog 1 Core of `CPU` so if you've provided 2 `CPU_CORES` in the engine as an input then the two parallel threads will combine to consume the two cores for cpu.

**NOTE:** From litmus 1.13.8 this experiment is renamed as `pod-cpu-hog-exec` and you can also use the non-exec mode of chaos injection with the new pod-cpu-hog experiment.

[2021-07-16 10:39] uditgaurav commented on #2990
We need to derive the right command to kill the stress process after chaos injection. This issue should be resolved from litmus 1.13.8.

[2021-07-16 10:45] uditgaurav commented on #2902
Thanks for the experiment @gpsingh-1991!

[2021-07-16 12:04] SomeshJoshi19 commented on #2191
Please consider the shared file here as adopter for `Pravega` to acknowledge usage of Litmus Chaos, thanks.
[Pravega.md](https://github.com/litmuschaos/litmus/files/6830465/Pravega.md)

[2021-07-18 06:51] uditgaurav commented on #2675
Hi, @rnachire Thanks for the request. This experiment was added & available from the `1.13.5` version. This also includes the minimized input to run the experiment (that is only vol id and reason). Feel free to try it out here are the experiment details:

Hub: https://hub.litmuschaos.io/kube-aws/ebs-loss-by-tag
Docs: https://docs.litmuschaos.io/docs/ebs-loss-by-tag/

Closing it also feel free to r

[2021-07-18 06:51] #2675 closed

[2021-07-18 06:58] uditgaurav commented on #2673
Node Level to select the target nodes is now available from litmus `1.13.3`. Thanks for the request!
Feel free to repoen in case of any query.

[2021-07-18 06:58] #2673 closed

[2021-07-21 11:21] nitinkansal1984 opened #3042 "does litmus demo support aks platform?"
## Question
Feel free to get your queries resolved.

**Please make sure you have,**

- Reviewed the [Questions](https://github.com/litmuschaos/litmus/labels/question) asked by our community members and contributers.
- Searched opened and closed [GitHub issues](https://github.com/litmuschaos/litmus/issues)

**We primarily use GitHub as an issue tracker; for usage and support questions, please check

[2021-07-21 12:02] nitinkansal1984 opened #3043 "AKS support for demo platform"

[2021-07-22 10:30] rajdas98 commented on #2952
Hi @nikhil-rajan-neu, we released litmusctl v0.3.0, where you can pass the parameter by flags. Check out the usage doc- https://github.com/litmuschaos/litmusctl/blob/master/Usage.md

[2021-07-22 12:46] Vr00mm opened #3045 "Graphql, agent creation and ingress Traefik"
**What happened**:
https://github.com/litmuschaos/litmus/blob/master/litmus-portal/graphql-server/pkg/k8s/cluster.go
always return IP Address or HostName not generated

**What you expected to happen**:
I except the agent installed

**How to reproduce it (as minimally and precisely as possible)**:
Deploy agent on kubernetes with traefik ingress

**Anything else we need to know?**:
Traefik do not ge

[2021-07-23 10:12] Vr00mm opened #3048 "Docker image build workflow"
## Question
Hello guys,

I need to understand something about the docker build / push workflow.
Some commits goes merged yesterday in the master branch but the docker image on docker hub
have a creation date 8days ago.
![image](https://user-images.githubusercontent.com/87191932/126767867-5ddabc24-b00c-4595-b42b-427bfa665f31.png)

Can you push the latest docker image please ? I excepted the new API

[2021-07-23 11:04] rajdas98 commented on #3048
Hi @Vr00mm, We have a `ci` tag which have the latest changes.

Here- https://hub.docker.com/layers/litmuschaos/litmusportal-server/ci/images/sha256-9fd945595733220400db9de173b97be96f7ffa1c598a748bf605b17db23f13a9

[2021-07-23 19:56] ValClarkson opened #3049 "litmus chaos pod dns error experiment Failed to create Interceptor"
**What happened**:
when executing the pod dns error experiment the helper pod errors with the following errors

k logs pod-dns-error-helper-flamem -n pgo
[code]
the permissions on the /etc/resolv.conf file in the container are:
[code]
is there a way to run this experiment where it wouldn't need to edit the resolv.cof?  I've tried changing the permissions on the file but was unable to, any suggesti

[2021-07-23 20:10] prithvi1307 commented on #3049
Assigning this to @uditgaurav & @ksatchit.
Val, feel free to join the slack community for community resolutions.
To join the slack please follow the following steps!
Step 1: Join the Kubernetes slack using the following link: https://slack.k8s.io/
Step 2: Join the #litmus channel on the Kubernetes slack or use this link after joining the Kubernetes slack: https://slack.litmuschaos.io/

[2021-07-23 20:25] ValClarkson commented on #3049
thank you i'm asking on the slack channel now

[2021-07-24 05:59] Vr00mm commented on #3048
Hello @rajdas98,
Ok, thanx !

[2021-07-24 05:59] #3048 closed

[2021-07-25 15:51] #3045 closed

[2021-07-26 01:56] derence2002 opened #3050 "Add Datadog healthcheck probe"
In addition to PromQLProbe, we'd like to request to have Litmus reading metrics from the Datadog database as a new Probe; Using cmdProbe to curl Datadog surely works but it will return a bunch of strings that need some effort to summarize the data which we find it overkilled

[2021-07-26 09:52] ispeakc0de opened #3252 "(abort): missing target-details inside chaosresult for the abort cases, if revert takes more time"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT

**What happened**:

- Experiment which doesn't supports helper model. If the chaos revert takes more time(abort case) then it may miss the target details patch. As the chaosresult is updated before it gets the target details.

[2021-07-28 21:47] sayantani11 commented on #2659
Hey, is the issue solved? I mean if I get some leads, may be even I could help

[2021-07-29 08:04] rajdas98 commented on #2659
@sayantani11 , It's still a open issue. I am assigning this issue to you.

[2021-07-29 08:48] Vr00mm opened #3066 "Self Agent fail to deploy on litmus portal deployment"
**What happened**:
event tracker and subscriber fail to start
![image](https://user-images.githubusercontent.com/87191932/127459611-4c79eb91-c1e3-41ce-a38e-3fa513d519be.png)

**What you expected to happen**:
I except the self agent installed

**How to reproduce it (as minimally and precisely as possible)**:
install helm chart in any namespace not named 'litmus'

**Anything else we need to know?**:

[2021-07-29 12:23] vamsiammineni opened #3067 ""Edit Sequence" and "Edit Yaml" option is not working in Firefox browser"
**What happened**:
Blank page appears in Litmus Portal (Only in Firefox browser) when I try to "Edit the sequene" or "Edit Yaml" of a workflow.

**What you expected to happen**:
Expected to proceed further to submit the workflow with changes

**How to reproduce it (as minimally and precisely as possible)**:
1. Schedule a workflow
2. Choose Agent
3. Create a new workflow using the experiments form

[2021-07-29 12:47] Vr00mm commented on #3066
Here we set the subscriberConfiguration: https://github.com/litmuschaos/litmus/blob/605294997286d8f7be419a67c20c5ec4efe02794/litmus-portal/graphql-server/pkg/file_handlers/file_handlers.go#L73 with the agent_namespace from os.env (from configmap)

But here we use the AgentNamespace:variable:https://github.com/litmuschaos/litmus/blob/605294997286d8f7be419a67c20c5ec4efe02794/litmus-portal/graphql-se

[2021-07-29 13:44] Vr00mm commented on #3066
Whats happen with manifests when they already exist ?
![image](https://user-images.githubusercontent.com/87191932/127502945-0d23dc81-9cf8-443d-9961-290745c27e94.png)

Are they replaced ?

[2021-07-29 14:29] Vr00mm commented on #3066
I deleted clusterrole, clusterrolebindings and serviceaccounts.
I install for the first time litmus-portal with self-agent ( with the namespace from subscriberconfig )
Manifest are recreated:
![image](https://user-images.githubusercontent.com/87191932/127509395-2642132c-8c0e-46d5-92ff-45d6b2b516f2.png)

No more rbac errors !!!!
![image](https://user-images.githubusercontent.com/87191932/127509217-

[2021-07-30 10:49] sayantani11 commented on #2659
@rajdas98 could you guide me a bit through the issue?

[2021-07-30 11:32] Vr00mm commented on #3066
With some debug message added.

[code]

[2021-07-30 15:00] ksatchit commented on #3066
Thanks for the detailed analysis @Vr00mm ! Tagging @gdsoumya & @rajdas98 to this issue

[2021-07-30 17:16] gdsoumya commented on #3066
Hi @Vr00mm, I tried to replicate the issue following the same steps on a fresh cluster and was unable to reproduce the error you are facing. I think the issue with the rbac was probably because of some old installation not being cleaned up properly. @rajdas98 can you confirm, if the resources already exists whether they are updated or not when the self-cluster is initiated?

For the subscriber con

[2021-08-02 13:14] chirangaalwis opened #3075 "Run Chaos Runner and Operator with a Non-Root User Group"
### Description:
Run the Chaos Operator and Runner container deployments with a non-root user group.

According to the [discussion](https://kubernetes.slack.com/archives/CNXNB0ZTN/p1627906262089500), these components do not need any root user/group privileges during execution.

[2021-08-02 15:58] Vr00mm commented on #3066
Hello @ksatchit && @gdsoumya,
Thanks for you reply both of you !

I agree with the rbac issue: "the issue with the rbac was probably because of some old installation not being cleaned up properly"

For the subscriber, I did some more investigation today. I was thinking about the Traefik Ingress this week end.. And ...
We have our guilty, that Traefik Ingress 1.7 make me nightmare...

I was using t

[2021-08-02 16:02] #3066 closed

[2021-08-05 05:44] Montatip16 commented on #3006
[]()@montatip16

[2021-08-05 05:46] Montatip16 commented on #3067
[]()montatip16

[2021-08-05 09:15] jinjiaw opened #3088 "wrong nodeSelector in workflow manifest"
**What happened**:

When creating workflow via portal, the NodeSelector provisioning could not result in a correct field in yaml manifest.

please refer to the following snippet of workflow yaml file generated at the final step, the "nodeSelectors" should be "nodeSelector" per https://litmuschaos.github.io/litmus/experiments/chaos-resources/experiment-components/#experiment-nodeselectors. The "nod

[2021-08-05 14:02] ispeakc0de opened #3092 "Chaos injection during experiments"
Integration of chaos(by litmus) and SLO validation (by [iter8](https://iter8.tools/latest/)). You can find more details at https://github.com/iter8-tools/iter8/issues/935

[2021-08-05 17:36] BhumikaJai opened #3094 "Allow running docker-service-kill experiments on local k8s cluster"
Currently, `docker-service-kill` experiments support only GKE and AKS platform only with docker runtime.

Need a support to allow `docker-service kill` experiments to run on local k8s cluster.

[2021-08-05 22:13] chirangaalwis opened #3096 "Test Pod I/O Stress Against External Persistent Storage Solutions"
According to the discussion [thread](https://kubernetes.slack.com/archives/CNXNB0ZTN/p1628138335161200?thread_ts=1628106860.155000&cid=CNXNB0ZTN), [Pod I/O stress](https://docs.litmuschaos.io/docs/pod-io-stress/) injection has not been tested against external persistent storage assets.

It would be ideal if this could be done at least against popular, cloud based external persistent storage soluti

[2021-08-06 08:35] jinjiaw commented on #2500
I have similar situation when i tried to add two serial pod-delete experiment in one workflow. The workflow creation was ok, but when i clicked the finish button to schedule the workflow, it just failed silently and left the error  **"Please check the configuration, the workflow was not able to start".** I could not see any workflow/runner/experiment pods created.  I have tried to tune some settin

[2021-08-09 12:48] chirangaalwis opened #3108 "Failure when executing Pod I/O Stress with some VOLUME_MOUNT_PATH input values"
**What happened**:
Experiencing the following helper Pod failures when executing [Pod I/O Stress Experiment](https://docs.litmuschaos.io/docs/pod-io-stress/).

[code]

The same command when executed manually inside the Pod container (NGINX in this case) works fine. Please find the attached screenshots to observe the mentioned scenario.
<img width="1019" alt="Screenshot 2021-08-09 at 16 41 30" src=

[2021-08-09 15:10] Frawless commented on #1577
So after the discussion on our weekly calls (Strimzi + Litmus maintainers), we agreed on the following possible scenarios:

**Kubernetes resource deletion related to Strimzi**

**use case**: Strimzi should recover the resources like secrets/services/config maps, etc. to make sure that Kafka and other operands are working.

**pre-experiment validation**: Attach producer and consumer to operands and

[2021-08-09 17:06] pritamdas1309 commented on #2301
@ksatchit ,

I have tried to disable istio inside chaosengine but its not working.
Please help me.
version :- 1.13.8
apiVersion: litmuschaos.io/v1alpha1
kind: ChaosEngine
metadata:
  name: nginx-chaos
  namespace: nginx
spec:
  appinfo:
    appns: 'nginx'
    applabel: 'app=nginx'
    appkind: 'deployment'
  # It can be true/false
  annotationCheck: 'true'
  # It can be active/stop
  engineState:

[2021-08-10 08:03] ishangupta-ds opened #3110 "Provisioned and demo chaos-interleaved Grafana dashboards are not compatible with latest Grafana release (8.1)"
**What happened**:

Annotations for Chaos events and verdict are not working after upgrading to Grafana 8.1, only gauge metrics are getting displayed.

**What you expected to happen**:

Dashboards should have support for Grafana 8.1

**How to reproduce it (as minimally and precisely as possible)**:

Instructions available in monitoring directory on the readme.

**Anything else we need to know?**:

[2021-08-10 08:05] ishangupta-ds commented on #3110
cc: @ksatchit @ispeakc0de @Adarshkumar14

[2021-08-10 12:21] vamsiammineni opened #3111 "User should have an option to get manifest in json format from chaos hub"
I get the manifests in yaml string format from the chaoshub using litmus api.

But, When I try to submit a workflow with createChaosWorkFlow mutation, It expects me to send in the workflow_manifest as a json string.

1. It is not mentioned any where in the document that the workflow_manifest should be a json string. So,
2. It would be nice if the user has an option to get manifests in json or yaml

[2021-08-10 12:28] uditgaurav opened #3112 "Prepare E2E dashboard with pipeline details and enhance litmus e2e website"
## Feature Request Details

This is the feature request to add an e2e dashboard that represents the pipeline details of the [scheduled](https://litmuschaos.github.io/litmus-e2e/generic-pipeline/pipeline-runs/pod-level-run.html) and [manual](https://github.com/litmuschaos/litmus-e2e/tree/master/.github/workflows) runs. This dashboard will contain details like:

- ## Difference between two consecuti

[2021-08-10 14:43] Jonsy13 opened #3114 "Develop/Enhance E2E test-cases for ChaosCenter"
This is a feature request for enhancing the ChaosCenter-E2E test suite.

### Details
Currently, The ChaosCenter Pipeline consists of tests for Installation, Workflow Scheduling, Hub CRUD operations, Teaming, Settings & Cleanup, which tests the basic functionality of ChasoCenter.

Additional Scenarios or improvements which can be added for different features are as follows -

- **Workflow Schedulin

[2021-08-11 06:18] aribalam commented on #3112
Hi @uditgaurav, I am a final year student from IIT Kharagpur, and willing to work under this organization under LFX Mentorship programme. Could you give me idea what do you expect me to do for my application? Any previous knowledge needed for it?

[2021-08-12 10:16] BhargaviChada commented on #3112
Hello @uditgaurav , I am new to Litmus project, could you tell me how can beginners start contributing to the project. Also is there any Slack channel that we can join to ask queries regarding any issues that we run into while working on good first issues?

[2021-08-12 13:54] wisdomekpotu commented on #3112
Hi @uditgaurav , My name is Wisdom Ekpotu, I am a Third Year Computer Engineering Student from University of Uyo, Nigeria. I saw this project in the LFX mentorship fall 2021 and I thought this project had some parallels with my skills. I would love to contribute to this project and I'm open to learning any new technologies required for the project.
Also does this project have an official Slack cha

[2021-08-16 08:24] ShinyAnnie opened #3132 "Unable to run chaos Experiments in default namespace"
Hi Chaos Support,

We are using litmus chaos toolkit to run experiments.
We are unable to run any experiment in the default namespace.
Error is :
Warning ChaosResourcesOperationFailed 47m (x25 over 6d19h) chaos-operator (chaos start) Unable to get chaos resources
Could you please help us at the earliest as we are completely stuck?

Thanks.

[2021-08-16 08:24] ShinyAnnie commented on #3132
Could you please help at the earliest?

[2021-08-16 08:26] prithvi1307 commented on #3132
Tagging @ispeakc0de @ajeshbaby for assistance.
@ShinyAnnie would urge you to ask the same question in the slack community for quick assistance.
To join our slack please follow the following steps!
Step 1: Join the Kubernetes slack using the following link: https://slack.k8s.io/
Step 2: Join the #litmus channel on the Kubernetes slack or use this link after joining the Kubernetes slack: https://sla

[2021-08-16 08:32] SonalJain1707 opened #3133 "Not able to run the experiments in default namespace"
Hi Team,

We are using litmus chaos toolkit to run experiments.
We are unable to run any experiment in the default namespace.
Error is :
Warning ChaosResourcesOperationFailed 47m (x25 over 6d19h) chaos-operator (chaos start) Unable to get chaos resources
Could you please help us at the earliest as we are completely stuck?

Thanks,
Sonal.

[2021-08-16 08:33] prithvi1307 commented on #3133
@SonalJain1707 would urge you to ask the same question in the slack community for quick assistance.
To join our slack please follow the following steps!
Step 1: Join the Kubernetes slack using the following link: https://slack.k8s.io/
Step 2: Join the #litmus channel on the Kubernetes slack or use this link after joining the Kubernetes slack: https://slack.litmuschaos.io/

[2021-08-16 08:37] ShinyAnnie commented on #3132
Sure Thanks. Posted it.

[2021-08-16 11:47] ShivamTyagi12345 commented on #3112
hello @uditgaurav  .Myself Shivam Tyagi . I come here with an interest to work on this Upstream Issue as a part of the LFX mentorship Fall 2021. I have made past contributions to [CNCF / glossary](https://github.com/cncf/glossary/pull/204) and am looking forward to learn further .

[2021-08-17 04:50] rajdas98 opened #3136 "Request for MongoDB connection with TLS mode for the server"
Currently, the server can't connect to MongoDB with TLS mode.

Solution:
1. We need an env to take the certificate as a configmap
2. Modify the mongodb connection to add the TLS connection code.

[2021-08-17 16:51] brsvpr opened #3143 "Link "Install Litmux Operator" is not working"
I am trying to install litmux and experiments for K8s PODs in AWS

1) Link "Install Litmux Operator" is not working
2) This yaml is not working
kubectl apply -f https://hub.litmuschaos.io/api/chaos/2.0.0?file=charts/generic/experiments.yaml
kubectl apply -f https://hub.litmuschaos.io/api/chaos/2.0.0?file=charts/kube-aws/experiments.yaml

![image](https://user-images.githubusercontent.com/16670189/

[2021-08-17 18:47] alexec opened #3144 "Present at the Argo Workflows community meeting"
It would be cool to have you come and talk at our community meeting!

[2021-08-18 07:34] ksatchit commented on #3144
We would love to @alexec ! Interestingly, litmus too has its community sync up on 3rd Wednesdays every month between 9.30 AM  - 10.30 AM PST. However, we can probably present in the latter half of the meet.

I see that the items for Aug-18th are populated & we also have a small celebratory meeting in today's litmus sync upon the release of 2.0. We will be happy to present in the next month's meet!

[2021-08-18 08:44] amityt commented on #3088
Closing this issue.
It has been fixed with this PR https://github.com/litmuschaos/litmus/pull/3093

[2021-08-18 08:44] #3088 closed

[2021-08-18 10:12] Vr00mm opened #3147 "pod-network-latency fail cause socket is not given to test container + security issue"
**What happened**:
Hello, the container for the test network start, and it fail with this error message:
[code]
The sock is not present at this path and i correctly indicated the SOCKET_PATH to /var/vcap/sys/run/docker/docker.sock

Here is the manifest:
![Screenshot from 2021-08-18 12-01-30](https://user-images.githubusercontent.com/87191932/129879804-d2aeaa0a-8427-4a21-80e3-49bb2dd9c87f.png)

As

[2021-08-18 10:15] Vr00mm opened #3148 "Analytics sent without consent"
**What happened**:
ChaosEngine and litmus-portal send analytics to google without consent or any enable/disable feature

**What you expected to happen**:
I wont being tracked

**How to reproduce it (as minimally and precisely as possible)**:
Install litmus

**Anything else we need to know?**:
GDPR ?

[2021-08-18 10:19] ksatchit commented on #3148
You can add an ENV on the operator manifest to stop the call-home metrics

![image](https://user-images.githubusercontent.com/21166217/129881768-e70d88ac-6b2a-403a-bd04-bdea1908519f.png)

[2021-08-18 10:22] Vr00mm commented on #3148
mybad then!

[2021-08-18 10:23] #3148 closed

[2021-08-18 10:57] Vr00mm commented on #3147
Found -> https://github.com/litmuschaos/litmus-go/blob/2fc42665611ed4c54054686013d80bb1251b7782/chaoslib/pumba/network-chaos/lib/network-chaos.go#L198
I write the fix

[2021-08-18 14:13] alexec commented on #3144
What a coincidence! Would September work for you?

[2021-08-18 18:23] rukundob451 commented on #3112
Hello there @uditgaurav, My name is Benjamin Rukundo. I am a Software Engineering student from Makerere University Kampala, Uganda. I came across this project in the LFX mentorship fall 2021 and I would surely like to contribute to this project as I am open to using my open source skills to contribute more and more.

[2021-08-18 19:21] anonymousr007 commented on #3114
Hi @rajdas98 , I am final year Computer Engineering at Delhi Technological University. I am a javascript developer and i know basics of golang and I want to work in this project but new in this type of project.Can you please guide me  and how to select for this project ?

Thanks & Regards
Rishabh

[2021-08-18 20:48] uditgaurav commented on #3112
Hi everyone, please feel free to apply from your portal we'll reach out to everyone for discussing the use case in detail.
Thanks.

[2021-08-18 20:50] uditgaurav commented on #3112
Hi @BhargaviChada, you can join our litmus slack channel.

To join our slack please follow the following steps!
Step 1: Join the Kubernetes slack using the following link: https://slack.k8s.io/
Step 2: Join the #litmus channel on the Kubernetes slack or use this link after joining the Kubernetes slack: https://slack.litmuschaos.io/

[2021-08-19 10:58] chirangaalwis opened #3152 "[Docs] No memory consumption max limit for Pod Memory Hog Experiment"
**What happened**:
$subject needs to be fixed in the [documentation](https://github.com/litmuschaos/litmus/blob/master/mkdocs/docs/experiments/categories/pods/pod-memory-hog.md).

[2021-08-19 14:17] Vr00mm opened #3155 "Logs are lost if we dont disable the "revert chaos" feature"
**What happened**:
Experiments logs are lost if we enable "revert-chaos" feature

**What you expected to happen**:
Store logs somewhere in mongo or in the chaosresult cr to get some persistance on

**How to reproduce it (as minimally and precisely as possible)**:
Launch a chaos workflow with revert-chaos

**Anything else we need to know?**:
Failed to get argo pod logs
Chaos logs unavailable

[2021-08-19 14:19] Vr00mm opened #3156 "Can't cancel a running workflow"
**What happened**:
If an experiment fail in the workflow, the workflow immediately take the "Failled" status, keep running, but not able to stop it

**What you expected to happen**:
Cancel a running workflow, failled or not

**How to reproduce it (as minimally and precisely as possible)**:
Launch a workflow with 1 fail test and 1 test.
The 1test will failled
The workflow take Failled status
No mor

[2021-08-19 15:24] sayantani11 commented on #3092
@ispeakc0de I would like to help but can I like get some more insight on the task?

[2021-08-19 16:15] #2132 closed

[2021-08-19 16:16] #2103 closed

[2021-08-19 16:39] tonedefdev opened #3157 "Add subscriber flag to ignore SSL if using internal CA or create flag to pass in CA root to subscriber configmap"
**What happened**:
When enabling TLS on the ingress using an internally signed CA SSL cert the subscriber will be in a `CrashLoopBackOff` with the following error:

[code]

**What you expected to happen**:
I would expect there to be an option to pass in the CA root certificate so that the subscriber can verify against it, or be able to ignore the verification entirely

**How to reproduce it (as mi

[2021-08-19 17:23] Saranya-jena opened #3158 "User details in My-accounts don't persist"
**What happened**:
The user details - name and email don't persist in their respective text fields.

**What you expected to happen**:
The user details should be displayed in the text fields as default values which can later be edit by the user.

**How to reproduce it (as minimally and precisely as possible)**:
This can be viewed in My-Account tab in Settings section.

**Anything else we need to kn

[2021-08-19 19:03] ksatchit commented on #3155
The default policy is being changed to - disable it by default to retain the chaos resources (the ChaosEngine, to be precise) so experiment pods are kept alive to view logs. Also the name given to this toggle is being updated ti make it more intuitive/meaningful cc: @amityt

[2021-08-19 19:46] Vr00mm commented on #3155
CR are stacking fast... And the agent namespace pod list is less visible
The target is at least 1k tests/day I prefere clean it up.

We already have everything for centralized logs.
But there is a feature in litmus.

I already have everything for metrics ....
You see where I want to go ? :)

[2021-08-19 22:28] sayantani11 commented on #3158
Can I work on this?

[2021-08-20 04:04] Saranya-jena commented on #3158
Sure! Assigning it to you.

[2021-08-20 07:10] Vr00mm commented on #3147
Thanks for the merge.
I used this bash script to restore my permissions:

Customize the NAMESPACE installation if need
Customize DEFAULT_PERMISSION for socket path if need

Usage: bash checker.sh [ /var/run/docker.sock ]

[code]

[2021-08-20 07:12] Aman-Codes opened #3160 "HTML syntax errors"
**What happened**:
- Many external links contain `target="_"` instead of `target="_blank"`
- Missing `rel="noopener noreferrer"` attribute in all the external links
- Inside html `body` tag there are currently many random occurrence of `head` tag and `html` tag
- Missing alt attribute in the image tag

**What you expected to happen**:
No HTML syntax error

**How to reproduce it (as minimally and p

[2021-08-20 15:37] DhananjayPurohit commented on #3114
Hey @rajdas98, I just completed my Google Summer of Code 2021 with Orcasound and looking forward to exploring more in my journey. I am experienced with JavaScript and have some hands-on experience with Kubernetes too. I am looking forward to submitting a proposal for this project under LFX-Mentorship, It would be great if there is any guide or template that can help me draft my proposal.

[2021-08-20 18:03] sayantani11 commented on #3158
@Saranya-jena Can you tell me how should I start?

[2021-08-21 07:08] rajdas98 commented on #3114
Hi Everyone, Thanks for showing interest in this project. Feel free to submit your proposal before the deadline(22nd Aug).
Here- https://mentorship.lfx.linuxfoundation.org/project/8e9537fe-fdea-4f92-941d-e86d2fcb48ba

Regards,
Raj

[2021-08-21 07:09] rajdas98 commented on #3112
Hi Everyone, Thanks for showing interest in this project. Feel free to submit your proposal before the deadline(22nd Aug).
Here- https://mentorship.lfx.linuxfoundation.org/project/6f1497c6-f583-462e-bd67-b3f0bb3df5cb

Regards,
Raj

[2021-08-21 08:41] bishtsaurabh5 commented on #3136
Hey I want to work on this .
Can you help me where to get started as I am a new contributor

[2021-08-21 20:28] BhargaviChada commented on #3160
Hello, Can I take up this issue?  I'm new to the project, so I would be really glad if you could point to me what files to look into to resolve this issue

[2021-08-22 07:29] AvihuuGoren opened #3162 "Node latency experiment"
The feature that i would like to request is  a Node network latency experiment similar to
pod-network-latency experiment (https://hub.litmuschaos.io/generic/pod-network-latency).

[2021-08-22 10:59] wisdomekpotu commented on #3112
hi @rajdas98 @uditgaurav, I just submitted my application for this project on the LFX mentorship Platform

[2021-08-23 05:03] Saranya-jena commented on #3158
Hi @sayantani11 you can start with taking a look at the implementation of `My-Accounts` file:  https://github.com/litmuschaos/litmus/tree/master/litmus-portal/frontend/src/views/Settings/AccountsTab

You can do the dev setup by referring to this doc : https://github.com/litmuschaos/litmus/wiki/Litmus-Portal-Development-Guide

[2021-08-23 08:09] rajdas98 commented on #3136
Description:
The issue is to add the TLS mode for the MongoDB connection. Here - [code](https://github.com/litmuschaos/litmus/blob/e03d865fea1d8c120d6c9e75e05a00864531f695/litmus-portal/graphql-server/pkg/database/mongodb/init.go#L95), we are using non-TLS mode to connect with MongoDB.

With TLS, we need to store the certificate in a configmap and mount the config map with the litmusportal-server

[2021-08-23 11:00] bishtsaurabh5 commented on #3136
Sure I will start working on this , Can you please assign this issue to me ?

[2021-08-23 16:52] notrealanurag commented on #3112
Hello there @uditgaurav & @rajdas98 , at the last moment, but I submitted my resume and cover letter on the LFX Portal to become a mentee on this Litmus Project.
I ve started going through the Code Base and understood the scope of the project. Looking forward to discuss more about the Project.

Thanks

[2021-08-24 07:37] cookbook87 opened #3166 "individual resource config is not specifiable in the master Manifest of deployment spec"
**What happened**:
in some env its required to specify resources for cluster policies. currently deployment decides internally the flexibility is not given to specify the resource in manifest. this is why the replicas are not created for

chaos-exporter-8c64544fc
chaos-operator-ce-7747546965
event-tracker-6467d9cdcd
subscriber-5df687bc48
workflow-controller-85c49cd57f

**What you expected to happe

[2021-08-24 07:40] ksatchit commented on #3166
Here are some resource recommendations you could use @cookbook87 . It is not specified in the master manifest to allow for installation in varied env (including min. resourced clusters on docker desktop/minikube etc.,)

https://docs.litmuschaos.io/docs/user-guides/chaoscenter-cluster-scope-installation#resource-requirements-of-control-plane-components

https://docs.litmuschaos.io/docs/user-guides/

[2021-08-24 08:22] cookbook87 commented on #3166
Yeah but in a secured environment there always be policies which will obstruct to create resources internally unless they are not specified in the spec.

Nevertheless, I am not even able to edit the deployment with required resources on the go.

[2021-08-26 07:33] Vr00mm opened #3172 "Litmus Frontend - Workflows from hub are cached on the "Tune the selected workflow" page"
**What happened**:
When updating workflow in chaos-hub and after a chaoshub sync, the new values are not fetch
![image](https://user-images.githubusercontent.com/87191932/130920421-cad04f69-a071-4061-867d-517136d703e3.png)

**What you expected to happen**:
I expect the new value fetch

**How to reproduce it (as minimally and precisely as possible)**:
Create a workflow in hub, add hub
Schedule the

[2021-08-26 12:26] mffiedler opened #3174 "Getting started page is returning 404 on 25-Aug-2021"
**What happened**:  https://docs.litmuschaos.io/docs/getstarted/ gives a 404 (on 25-Aug-2021)

**What you expected to happen**:  To see the getting started doc.

[2021-08-28 03:37] S-ayanide commented on #3174
With the 2.0 release we have updated the documentation for the same and you can find all the relevant details about getting started here: https://docs.litmuschaos.io/docs/getting-started/installation

If you are trying to revisit the old docs! You can find the version 1 getting started document here: https://v1-docs.litmuschaos.io/docs/getstarted/

[2021-08-28 15:57] Kiran7691 opened #3178 "Workflow creation gets failed often, this need to be fixed. This may lead to bad user experience"
**What happened**:

Workflow creation steps get failed often. WF gets failed at any step, user had to start things from the first, and just think if it happens for like 10 times straight even after you have done clearing cookies and incognito. Sometimes, it breaks at add experiment page, next time may be at the schedule now. Not stable. Please fix this.

![image](https://user-images.githubusercont

[2021-08-29 05:13] nikhil-neu commented on #2191
We are using litmus chaos to inject faults in our aks environments. Before arriving at litmus we explored other tools , but found litmus to be the most well rounded one and the one that aligned closest to the principles of chaos
We are using litmus in our pre prod environments in the ci cd stage as a gate for releases

The chaos gated deployments  make use of the in-built git ops integration in li

[2021-08-29 09:20] Zain-Muiz commented on #3114
Heyy @rajdas98 @Jonsy13 , Can you suggest some resources which might specifically help in understanding how to effectively write E2E tests in regards with Litmus, that we can go through in the mean time ?

[2021-08-30 05:49] Jonsy13 commented on #3178
Hi @Kiran7691, If you are running portal by port-forwarding, Can you please try using NodePort or Ingress, or LoadBalancer as there are some limits in using port-forwarding. We recommend using ChaosCenter using Ingress, LoadBalancer, or NodePort. In Case this issue raise with them also, please raise a comment.

[2021-08-30 07:46] gmiejski commented on #3162
I've just came across it, looks like the PR is waiting with node-network-latency - https://github.com/litmuschaos/litmus-go/pull/398

[2021-08-30 16:55] seanlnx opened #3182 "'pod network latency' experiment doe snot run correctly on Amazon EKS"
Problem:
When running the 'pod network latency' experiment on Amazon EKS cluster the chaos is never injected into the target pod.
Litmus version: 1.13.8
Kubernetes version: 1.18
EKS version: eks.6

The chaosengine terminates (after 6 mins or so), with this status:

[code]

Note the 'Awaited' Verdict. In addition the event history reports the following:

[code]

I have been unable to identify why t

[2021-08-30 16:57] prithvi1307 commented on #3182
Hi, @seanlnx can you publish the link to this issue on the slack channel as well to point it to the community?
To join the slack please follow the following steps!
Step 1: Join the Kubernetes slack using the following link: https://slack.k8s.io/
Step 2: Join the #litmus channel on the Kubernetes slack or use this link after joining the Kubernetes slack: https://slack.litmuschaos.io/

[2021-08-30 19:30] ispeakc0de commented on #3182
Hi @seanlnx

Can you share the logs of the experiment pod i.e, `pod-network-latency-fvsvm8-g722h` ?

NOTE: Provide the `.spec.jobCleanUpPolicy` as `retain` inside the corresponding chaosengine manifest so that the experiment pod will be retained after completion.

[2021-08-30 20:48] seanlnx commented on #3182
Ah I looked in other logs but not that one! Turns out the ChaosEngine name exceeds 63 characters. I've shortened it and everything is now fine. Thanks for you help.

[2021-08-30 20:48] #3182 closed

[2021-08-31 03:21] prithvi1307 commented on #3157
Hi, @tonedefdev can you publish the link to this issue on the slack channel as well to point it to the community?
To join the slack please follow the following steps!
Step 1: Join the Kubernetes slack using the following link: https://slack.k8s.io/
Step 2: Join the #litmus channel on the Kubernetes slack or use this link after joining the Kubernetes slack: https://slack.litmuschaos.io/

[2021-09-01 08:21] aldor007 commented on #3157
Does anyone have a workaround for this issue?  I couldn't find info on the slack channel

[2021-09-02 03:53] bishtsaurabh5 commented on #3136
Adding the discussion on the slack thread as to what needs to be done for this PR here

1) We need to enable TLS on mongodb server as well
2) Enabling TLS is done using a config file usually so either we can generate the config file and mount in a configmap using helm configurable params or we can give the user option to provide a custom file
3) We have to add the TLS certs for  client (which is i

[2021-09-02 07:33] vamsiammineni opened #3184 "No option to delete projects and workflows"
**What happened**:
I have accidentally created a project. There is no option to delete the project in frontend as well as in the api call.
There is no option to delete the workflow history as well.

**What you expected to happen**:
I would like to have option to delete projects as well as workflow history
**How to reproduce it (as minimally and precisely as possible)**:
No option in the chaos cent

[2021-09-02 10:49] amityt commented on #3184
Hi @vamsiammineni Currently, we dont have an option to delete a project. For deleting a workflow, you can go to the workflows table and delete the selected workflow. Sharing a screenshot for reference.
![Screenshot from 2021-09-02 16-16-46](https://user-images.githubusercontent.com/40661238/131830864-7d1299e4-1207-4bd5-b0ed-730e5ee0bc6a.png)

[2021-09-02 14:49] ksatchit commented on #3157
This is a good one @aldor007 - we will get back on this soon! cc: @rajdas98 @gdsoumya

I would expect there to be an option to pass in the CA root certificate so that the subscriber can verify against it, or be able to ignore the verification entirely

[2021-09-04 02:18] erekgit opened #3187 "Feature: Namespaced Mode for Chaos Scheduler"
Is this a BUG REPORT or FEATURE REQUEST?
Choose one: FEATURE REQUEST

Description: See: litmuschaos/chaos-scheduler#26

"Chaos Scheduler does not currently have a Namespaced Deployment Definition set."

What happened:

What you expected to happen:

How to reproduce it (as minimally and precisely as possible):

Anything else we need to know?:

[2021-09-04 02:18] erekgit commented on #3187
I am working on this issue.

[2021-09-06 05:11] #3187 closed

[2021-09-09 15:50] sayantani11 commented on #3158
Sorry but I don't think I'll be able to continue with the issue. Sorry.
/unassign

[2021-09-10 17:00] venamis opened #3191 "Quota resources and experiments not being deployed"
Hello -

I'm trying to deploy a CPU HOG POD into an Openshift namespace where there is a quota policy. I've tried defining my limits.cpu, limits.memory, requests.cpu, requests.memory in different locations, the engine.yaml and experiment.yaml but no luck. I'm currently running 1.13.8 of litmus and below is the output of the logs of the operator (NAMESPACE name removed). Happy to share files, if it

[2021-09-13 12:32] reggie-k opened #3192 "SSO integration"
Enabling SSO integration for the Chaos Center will be beneficial.

Perhaps a bundled Dex like in ArgoCD?
Or/and a SAML integration?

[2021-09-13 12:45] stoehdoi opened #3193 "Enhance security for multi-tenancy mode"
I am aware that there are two modes to run litmus chaos in Kubernetes, cluster scope and namespace scope. However, I still don't see a good way to run litmus chaos securely in a multi-tenancy environment.

**Cluster Scope:**
In this mode, all litmus resource run in an isolated namespace which allows a fine-grained and tailored configuration of RBAC resources to provide litmus with the permissions

[2021-09-14 05:50] #3172 closed

[2021-09-14 11:13] 123vivekr commented on #2659
Hi, I'd like to take up this issue. Can I be assigned?

[2021-09-14 11:40] DhananjayPurohit opened #3197 "Feature of choosing multiple experiments from Choose Experiments modal"
While scheduling a workflow

![Screenshot (317)](https://user-images.githubusercontent.com/44242169/133249613-f6760ed8-834b-40fe-b877-ef8fc188fda8.png)

Instead of radio boxes for choosing one experiment at a time, checkboxes with numbers can be used for making a queue of multiple experiments in a single selection.

For example:- On selecting a pod-delete experiment first, number 1 will be assigne

[2021-09-14 16:04] uditgaurav commented on #2990
This issue should be resolved by using the updated pod cpu hog experiment. The older approach is also retained with a different name called pod-cpu-hog-exec. Refer to this for more details - https://litmuschaos.github.io/litmus/experiments/faq/experiments/#whats-the-difference-between-pod-memorycpu-hog-vs-pod-memorycpu-hog-exec.

Feel free to reopen it in case of any difficulty. Thanks!

[2021-09-14 16:04] #2990 closed

[2021-09-14 16:07] uditgaurav commented on #2991
The non-exec mode use stress-ng in place of md5sum feel free to give it a try. please refer this for more details https://litmuschaos.github.io/litmus/experiments/faq/experiments/#whats-the-difference-between-pod-memorycpu-hog-vs-pod-memorycpu-hog-exec. Thanks!

[2021-09-14 16:07] #2991 closed

[2021-09-15 06:56] uditgaurav commented on #3191
Hi, @venamis when you run the pod cpu hog experiment, an experiment pod (_pod name starting with experiment name ex: pod-cpu-hog-aona-wefno_) and helper pod (_pod name suffix with helper keyword_) gets launched which contains the chaos details. Can you check if these pods where launched and also check the logs of these pods.

[2021-09-15 06:59] #3174 closed

[2021-09-15 07:01] #3152 closed

[2021-09-15 13:25] jhcolville opened #3204 "what is the best way pinpoint errors in workflow yaml specifications?"
Hi,

Firstl I'd like to thank the litmus team & contributors for what is an amazing tool that has come a long way and shows a lot of promise.

My goal is to template chaos workflows so that I can easily reconfigure existing ones or create new ones without building them all initially through the web UI. I'm using helm since it's a well understood templating framework, but only for the purpose of ge

[2021-09-15 14:04] prithvi1307 commented on #3204
Hi, @jhcolville while @amityt & @S-ayanide are assigned this, feel free to join the LitmusChaos slack and ask the same to the community! Cheers!
To join the slack please follow the following steps!
Step 1: Join the Kubernetes slack using the following link: https://slack.k8s.io/
Step 2: Join the #litmus channel on the Kubernetes slack or use this link after joining the Kubernetes slack: https://sl

[2021-09-15 14:05] prithvi1307 commented on #3193
Hi, @stoehdoi have added @ksatchit (Litmus Maintainer) for some comments on this, meanwhile feel free to join the LitmusChaos slack and ask the same to the community! Cheers!
To join the slack please follow the following steps!
Step 1: Join the Kubernetes slack using the following link: https://slack.k8s.io/
Step 2: Join the #litmus channel on the Kubernetes slack or use this link after joining th

[2021-09-15 14:12] prithvi1307 commented on #3143
Hi, @brsvpr  have added @uditgaurav  for some comments on this, meanwhile feel free to join the LitmusChaos slack and ask the same to the community! Cheers!
To join the slack please follow the following steps!
Step 1: Join the Kubernetes slack using the following link: https://slack.k8s.io/
Step 2: Join the #litmus channel on the Kubernetes slack or use this link after joining the Kubernetes slack

[2021-09-16 13:02] jnsrikanth commented on #2959
@ksatchit any updates on this PR? Does the latest version of Litmuschaos have support for TLS in Kafka?

[2021-09-17 11:15] TidalPoo opened #3207 "What tool do you use in experiments with pod_network_*?"
## Question
What tool do you use in experiments with pod_network_*?

tc - trafic control?

what about SCH_NETEM module in Linux kernel, is this module needed for the experiment?

in most conteiners SCH_NETEM is not installed and trafic control not work.

[2021-09-18 19:53] duttaANI commented on #3158
I would like to share my approach for future reference :

I am able to solve this issue partially by editing the following file -

**litmus/litmus-portal/frontend/src/views/Settings/AccountsTab/PersonalDetails/index.tsx**

Partially because the previously set values would be displayed on their respective fields (full name , email ) . However while editing the values , the user will not be able to

[2021-09-19 03:05] gdsoumya commented on #2659
Hi @123vivekr, I have assigned the issue to you. If you have any questions you can ask them here or in the slack channel.

[2021-09-19 07:18] duttaANI commented on #3158
@Saranya-jena  I would like to work on this issue if possible.

[2021-09-21 04:51] Rahul7171 opened #3211 "What Should I Contribute as Beginner ?"
help me im knew here where should i Contribute

[2021-09-21 11:20] ksatchit commented on #3211
Please take a look at https://github.com/litmuschaos/litmus/blob/master/CONTRIBUTING.md & https://github.com/litmuschaos/litmus/tree/master/resources sections for a better idea on this.

Please feel free to reach out on slack on specific areas you are interested in OR join the community sync up meetings for more questions!

[2021-09-21 11:20] #3211 closed

[2021-09-21 11:24] ksatchit commented on #3207
Hello @TidalPoo , the pod-network-latency/loss/corruption/duplication experiments do use tc (which is installed within the litmus containers -- not needed on the apps) & need SCH_NETEM kernel module on the host where the pods run.

In case you don't have SCH_NETEM kernel module, feel free to use the [pod-network-partition](https://hub.litmuschaos.io/generic/pod-network-partition experiment) for bl

[2021-09-21 11:25] #3207 closed

[2021-09-21 11:26] ksatchit commented on #3192
Hi @reggie-k ! Thanks for creating this issue. Feature development to this effect is in progress.

[2021-09-21 18:52] Rahul7171 commented on #3158
can I Work on this issue?

[2021-09-21 19:21] Saranya-jena commented on #3158
Hi @Rahul7171, thankyou for showing interest in LitmusChaos. This issue has been fixed by @duttaANI . You may take a look at other issues as well!

[2021-09-21 19:21] #3158 closed

[2021-09-22 12:34] ksatchit commented on #2839
Hey @strus38 @jnsrikanth what do you think of the following ways of getting result info? Would be interested in hearing your thoughts!

## LitmusChaos xUnit result XML format

Note:

- A native xUnit result schema for LitmusChaos (just like there is jUnit schema for jenkins et al)
- LitmusChaos can provide a parser for rendering this in a standardized/beautified html format

[code]
## LitmusChaos

[2021-09-22 14:16] uditgaurav opened #3250 "Add test to run the experiments with disabled pre and post chaos checks"
## Description

-  With the latest release [2.1.0](https://github.com/litmuschaos/litmus/releases/2.1.0) , we have the capability to tune the checks (both pre and post chaos) as enabled or disabled for a pod-level experiment. We need to add the e2e test for the same.

- The test will verify the execution of the experiment with pre and post chaos check disabled as by default it is enabled.

[2021-09-25 06:34] ksatchit commented on #3132
The discussions are tracked here:

-  https://kubernetes.slack.com/archives/CNXNB0ZTN/p1629102881015000
- https://kubernetes.slack.com/archives/CNXNB0ZTN/p1629187177059600

The issues was resolved by preventing istio sidecar proxy injection in the chaos pods

[2021-09-25 06:34] #3132 closed

[2021-09-25 06:37] ksatchit commented on #3042
Duplicate of #3043

[2021-09-25 06:37] #3042 closed

[2021-09-25 06:40] ksatchit commented on #2959
This is an issue @jnsrikanth , not a PR! This is in our backlog for sure - just that it is not an immediate term item. We will update the status on the duplicate issue https://github.com/litmuschaos/litmus/issues/2957

[2021-09-25 06:40] #2959 closed

[2021-09-25 06:43] ksatchit commented on #2902
fixed via https://github.com/litmuschaos/litmus-go/pull/383

[2021-09-25 06:43] #2902 closed

[2021-09-25 06:45] ksatchit commented on #2896
ChaosResults in xUnit format is being tracked via this issue: https://github.com/litmuschaos/litmus/issues/2839, in case that is what is being requested.

In case you'd like the results in JSON format using kubectl - please use the `-o json` flag in the command

[2021-09-25 06:45] #2896 closed

[2021-09-25 06:45] ksatchit commented on #3094
can you elaborate on the local k8s cluster type?

[2021-09-25 06:47] #3094 closed

[2021-09-25 06:50] ksatchit commented on #2767
Closing this as the issue has been fixed in recent Litmus versions. Please feel free to re-open if you encounter this again!

[2021-09-25 06:50] #2767 closed

[2021-09-25 06:53] ksatchit commented on #2750
Closing for lack of response/presuming issue is not seen at present. Feel free to re-open if you encounter this

[2021-09-25 06:53] #2750 closed

[2021-09-25 06:55] ksatchit commented on #2739
Covered by this FAQ item: https://docs.litmuschaos.io/docs/troubleshooting#not-able-to-connect-to-the-litmus-chaos-control-plane-hosted-on-gke-cluster

[2021-09-25 06:55] #2739 closed

[2021-09-25 07:00] ksatchit commented on #2727
To repeat/iterate a fault over a period of time (duration) with a specific interval, refer to the chaosScheduler:

- https://litmuschaos.github.io/litmus/chaos-scheduler-v2.1.0.yaml
- https://litmuschaos.github.io/litmus/experiments/concepts/chaos-resources/chaos-scheduler/contents/

[2021-09-25 07:00] #2727 closed

[2021-09-25 07:02] ksatchit commented on #2586
This experiment is now available here: https://litmuschaos.github.io/litmus/experiments/categories/pods/pod-network-partition/

[2021-09-25 07:02] #2586 closed

[2021-09-25 07:05] ksatchit commented on #2511
Closing this as there have been improvements since, please feel free to reopen if this issue is still seen in 2.1.0

[2021-09-25 07:05] #2511 closed

[2021-09-25 07:06] ksatchit commented on #2514
The chaosengine names are now generated with unique hashes to differentiate instances

[2021-09-25 07:06] #2514 closed

[2021-09-25 07:07] ksatchit commented on #2500
cc: @amityt @Jonsy13 any updates on this ?

[2021-09-25 07:09] ksatchit commented on #2470
This is still seen to be the case in 2.1.0. Any updates @Jonsy13 ?

[2021-09-25 07:11] #2095 closed

[2021-09-25 07:13] ksatchit commented on #1991
The documentation is now updated with generic steps and refactored content @ docs.litmuschaos.io

[2021-09-25 07:13] #1991 closed

[2021-09-25 07:14] ksatchit commented on #1987
![image](https://user-images.githubusercontent.com/21166217/134762546-d380819c-9eac-448c-aff1-552fbfe5a314.png)

There is a link instead to the release notes from the docs GH pages site !

[2021-09-25 07:14] #1987 closed

[2021-09-25 07:15] ksatchit commented on #1928
This experiment category is now available: https://litmuschaos.github.io/litmus/experiments/categories/aws-ssm/aws-ssm-chaos-by-id/

[2021-09-25 07:15] #1928 closed

[2021-09-25 07:17] ksatchit commented on #1897
This is now supported via the workflow paradigm within LitmusChaos. One could define a steady-state checker running as a separate action within a larger workflow that also runs native and non-native litmus chaos experiments.

[2021-09-25 07:17] #1897 closed

[2021-09-25 07:17] #1851 closed

[2021-09-25 07:17] #1850 closed

[2021-09-25 07:18] #1849 closed

[2021-09-25 07:18] #1847 closed

[2021-09-25 07:18] #1848 closed

[2021-09-25 07:18] #1846 closed

[2021-09-25 07:18] #1845 closed

[2021-09-25 07:21] ksatchit commented on #1516
Based on maintainers consensus, Litmus will continue to itself remain a Kubernetes app (albeit one that can target/subject both k8s and non-k8s resources to chaos)

[2021-09-25 07:21] #1516 closed

[2021-09-25 07:22] ksatchit commented on #1515
Not being considered for implementation within litmus. The app/target specific metrics have dedicated exporters in the community that can be leveraged

[2021-09-25 07:22] #1515 closed

[2021-09-25 07:25] ksatchit commented on #1501
Ansible based experiments are more for illustrative purposes today. The experiments are rewritten in golang and the GCP APIs utilized to carry out the chaos.

[2021-09-25 07:25] #1501 closed

[2021-09-25 07:26] ksatchit commented on #1487
fixed via https://github.com/litmuschaos/litmus-e2e/pull/259

[2021-09-25 07:26] #1487 closed

[2021-09-25 07:28] ksatchit commented on #1449
Available here: https://github.com/litmuschaos/test-tools/pull/183

[2021-09-25 07:28] #1449 closed

[2021-09-25 07:31] ksatchit commented on #1307
With the introduction of litmuctl & workflows, this requirement has now changed to: support for constructing and launching chaos workflows through litmusctl, tracked here https://github.com/litmuschaos/litmus/issues/2516

[2021-09-25 07:31] #1307 closed

[2021-09-25 07:34] ksatchit commented on #1280
Based on maintainer consensus, the plan is to provide sample chaos-instrumented dashboards for popular demo applications within the litmus community - both for grafana as well as the litmus portal monitoring service.

Some of them can be found here: https://github.com/litmuschaos/litmus/tree/master/monitoring

[2021-09-25 07:34] #1280 closed

[2021-09-25 07:36] ksatchit commented on #1123
An event-triggered chaos functionality is now available. Ref: https://docs.litmuschaos.io/docs/concepts/gitops#event-driven-chaos-injection

[2021-09-25 07:36] #1123 closed

[2021-09-25 07:37] ksatchit commented on #1259
The litmus-sdk is now available as a binary and does not need dependency setup: https://github.com/litmuschaos/litmus-go/tree/master/contribute/developer-guide

[2021-09-25 07:37] #1259 closed

[2021-09-25 07:38] ksatchit commented on #1027
This is available in an initial here: https://github.com/litmuschaos/litmus-go/tree/master/experiments/generic/pod-fio-stress

[2021-09-25 07:38] #1027 closed

[2021-09-25 07:38] ksatchit commented on #973
An initial version is available here: https://github.com/litmuschaos/litmus-go/tree/master/experiments/generic/pod-fio-stress

[2021-09-25 07:38] #973 closed

[2021-09-25 07:39] ksatchit commented on #962
Not in current scope of the project

[2021-09-25 07:39] #962 closed

[2021-09-25 07:39] ksatchit commented on #961
Not in current scope of the project

[2021-09-25 07:39] #961 closed

[2021-09-25 07:40] ksatchit commented on #922
This is now available in the latest versions of the container-kill experiment: https://litmuschaos.github.io/litmus/experiments/categories/pods/container-kill/#experiment-tunables (SIGNAL)

[2021-09-25 07:40] #922 closed

[2021-09-25 07:42] ksatchit commented on #592
The maintainer consensus is to narrow down the scope of this issue to help generate/edit Kubernetes chaos resource manifests.

And this is now available within litmus via the chaos-center/litmus-portal. The manifests are now generated from the chaos-center workflow provisioning wizard - based on a supported set of user options.

[2021-09-25 07:42] #592 closed

[2021-09-25 07:43] ksatchit commented on #1721
The Trivy checks have been extended to all litmus infra components via Github Workflows

[2021-09-25 07:43] #1721 closed

[2021-09-25 07:46] ksatchit commented on #111
The litmus tests are now primarily written and maintained in golang. The litmus-go repo can be cloned and experiment business logic executed with the right environment variables passed to the <experiment>.go files.

In fact, the test approach for litmus experiments is based on a similar principle: https://github.com/litmuschaos/litmus-go/tree/master/contribute/developer-guide

[2021-09-25 07:46] #111 closed

[2021-09-26 08:46] 123vivekr commented on #2659
Hey, I've added the validation for three modules in separate commits [here](https://github.com/123vivekr/litmus/commits/env_var_validation)

For the `authentication-server` module, where should I add validation?
Is [configs.go](https://github.com/litmuschaos/litmus/blob/master/litmus-portal/authentication/pkg/utils/configs.go) the right file?

[2021-09-27 09:06] #2659 closed

[2021-09-28 04:20] balajisoundar22 opened #3223 "The experiment-pod and helper-pod having same ip address"
When I try executing the container-kill experiment, the container-kill-<hash>-<hash> pod and the container-kill-helper-<hash> pod are having the same ip address.
And the helper pod not able to connect to target
time="2021-09-28T03:46:41Z" level=fatal msg="helper pod failed, err: Get \"https://. . .\": dial tcp <ipaddress>: connect: no route to host"

[2021-09-29 12:35] jordigilh commented on #2839
[code]
@ksatchit Can this information be included in the chaos result CR, so that offline generation can also display it?

[2021-09-29 14:26] neelanjan00 opened #3227 "Add Chaos-Operator and Chaos-Runner Flow Diagrams to Litmus Docs"
Add Chaos-Operator and Chaos-Runner flow diagrams to the `Architecture>Litmus Execution Plane` documentation.

[2021-09-29 14:28] neelanjan00 opened #3228 "VMWare VM-Poweroff Experiment Enhancements"
## FEATURE REQUEST

VMWare VM-Poweroff experiment currently lacks the following functionalities:
1. The experiment lacks proper error handling during the API calls which can lead the experiment run to panic if something goes wrong during API calls.
2. The experiment lacks the functionality of injecting chaos in multiple VMs in serial or parallel mode.
3. The experiment lacks the logic for waiting

[2021-09-29 14:33] neelanjan00 opened #3229 "Improvement of the messages patched into the failedStep field of the ChaosResult"
Improvement of the messages patched into the `failedStep` field of the ChaosResult status can be made, in terms of the message string being more reflective of where/why it failed.

[2021-09-29 15:20] Vr00mm opened #3625 "Cannot deploy agent without project-id"
Hello,

I want to deploy an agent, shared with multiple projects, with the litmusctl cli.

From the litmusctl --help, we can create agent without project-id:
[code]

When iam trying to create an agent without project-id, i get this error:
[code]

Is this a bug ? Or we cannot share agent between litmus projects ?

Best Regards,
Rémi

[2021-09-30 04:45] Jonsy13 commented on #2100
Closing this issue as Corresponding PR is merged.

[2021-09-30 04:45] #2100 closed

[2021-09-30 04:48] neelanjan00 opened #3230 "Modification of Flow Diagrams in Litmus Architecture Docs"
Modify the flow diagrams of Logging, Monitoring, Summarisation, and Analytics in the Chaos Observability section for Litmus Architecture docs by adding START and END steps.

[2021-09-30 05:08] neelanjan00 opened #3231 "Updation of Litmus README"
The Mandarin, Korean, Brazillian Portuguese, and Hindi README sections need to be updated according to the current English version of the README.

[2021-09-30 05:37] neelanjan00 opened #3232 "Enable Dark Mode for Litmus Docs"
Enable the Dark Mode for Docusaurus 2.0 based Litmus Documentation.

[2021-09-30 05:45] #778 closed

[2021-09-30 05:45] #779 closed

[2021-09-30 05:57] #773 closed

[2021-09-30 06:51] vamsiammineni opened #3234 ""cronSyntax" parameter is optional for "createChaosWorkFlow" as per Litmus API documentation. But, it is not"
**What happened**:
Litmus API documentations says the "cronSyntax" parameter is optional. But, the server does not accept the request if we exclude this parameter.

**What you expected to happen**:
Update Litmus API documentation and sync with what server actually expects.

**How to reproduce it (as minimally and precisely as possible)**:
Exclude the cronSyntax parameter while creating the chaos w

[2021-09-30 06:57] vamsiammineni opened #3235 "No consistency with the methods and arguments names in the Litmus API"
**What happened**:
There is no naming convention followed for litmus api methods and arguments few places it is project_id, few other places it is projectID and some other places it is projectId. It is the same for other arguments and methods as well

**What you expected to happen**:
It would be nice to have a same naming convention for all the methods and arguments

**How to reproduce it (as mini

[2021-09-30 07:06] vamsiammineni opened #3236 "No proper validation for certain arguments passed using the Litmus API"
**What happened**:
There seems to be no validation exists for the input parameters passed for the graphql methods.

I have tried to created the workflow using **createChaosWorkFlow** mutation with **cronSyntax** as **"*"**. Server accepts the request and stored it in the database(I see an entry in the database). But, as the cronsyntax that I have passed is not a valid one, server could not launch

[2021-09-30 07:17] vamsiammineni opened #3237 "Allow yaml string as a manifest for createChaosWorkflow"
- Added a private chaos hub to the chaos center
- Queries the hub with getYAMLData  and recieved manifest in yaml string format.
- Modified this manifest with our application specific details
- Tried to create the chaos workflow with "createChaosWorkflow" using the modified yaml string and realized that this method
   does not accept the yaml string. It accepts only the json string.(This is not st

[2021-09-30 07:22] vamsiammineni opened #3238 "FileType field does not have possible values in the api document"
**What happened**:

FileType field does not have any possible values. It seems to accept any string as input and has no effect on the output.

**What you expected to happen**:

- Add possible values in the Litmus API documentation
- Add validation for the field and rejects the request if the field value is not in the possible values list
- Returns the output in the FileType format

**How to reprod

[2021-09-30 18:19] venamis commented on #3191
Thanks for the reply. the pods you mention are not launched due to this error from controller.

I'm wondering if I am not classifying the resources in the correct place. I'm putting the resource requirements in the experiment yaml.

[experiment-quota-edit.txt](https://github.com/litmuschaos/litmus/files/7261671/experiment-quota-edit.txt)

[2021-09-30 20:22] tmonautoguy opened #3241 "v1.22.2 of Kubernetes breaks litmus event tracker pod/server"
**What happened**:
Upon installing litmus on a minikube cluster it was noticed that the event-tracker pod (litmuschaos/litmusportal-event-tracker:2.1.0) failed to start and eventually went into crashloopbackoff status. Additionally, it was not possible to queue workflows or watch them in the Chaos Center. Eventually the subscriber pod(litmuschaos/litmusportal-subscriber:2.1.0) will fail too.
**Wha

[2021-10-01 03:37] ksatchit commented on #3241
cc: @rajdas98 any comment?

[2021-10-01 06:46] neelanjan00 commented on #3228
Fixed by https://github.com/litmuschaos/litmus-go/pull/449

[2021-10-01 06:46] #3228 closed

[2021-10-01 07:10] vamsiammineni opened #3245 "Subscriber pod restarts when workflow is created with invalid manifest"
**What happened**:

- Fetched the workflow manifest for pod-delete experiment with the help of getPredefinedExperimentYAML Query
-  Received manifest seems faulty at  this line **->** labels:\n    subject: \"
   {{workflow.parameters.appNamespace}}_kube-proxy\". Which I have realized later
- Converted the received manifest yaml string to json string
- Created a workflow with the with manfiest(json

[2021-10-01 15:53] andrewhu0209 opened #3247 "Not able to access litmus document from litmus home page"
**What happened**:
Access the litmus official website(https://litmuschaos.io/) and click the get started button. It redirects to the 404 not found page.

**What you expected to happen**:
It should redirect to the litmus get started document page.

**How to reproduce it (as minimally and precisely as possible)**:
1. Access the litmus official website(https://litmuschaos.io/)
2. Click the get starte

[2021-10-04 03:12] 123vivekr commented on #3003
Hi, I'd like to work on this. Can you give me a brief idea on how to go about implementing this?

[2021-10-04 03:20] gdsoumya commented on #3003
@rajdas98 I don't think this is needed anymore

[2021-10-04 06:16] rajdas98 commented on #3003
Okay

[2021-10-04 06:16] #3003 closed

[2021-10-04 20:41] fsbaraglia commented on #3247
I can confirm, the problem is the Get_Started button, it should be https://docs.litmuschaos.io/docs/introduction/what-is-litmus/# instead of https://docs.litmuschaos.io/docs/getstarted/ .

[2021-10-05 03:26] 123vivekr commented on #3050
Hey, if this issue is still open, I'd like to take it up

[2021-10-05 04:09] oumkale opened #3251 "Integration CI Lint tool, Code should be linted and formatted without any error before it is committed"
- CI lint tool can be used to run, so code is linted and formatted before it is committed. One can prefer any tool some references listed.

References :
- GitLab [python](https://gitlab.com/gitlab-org/gitlab/-/blob/master/lib/gitlab/ci/templates/Python.gitlab-ci.yml)
- [Git-hooks](https://github.com/AdaCore/git-hooks). Git-hooks trigger when a command occurs in a Git repository — such as a commit

[2021-10-05 05:50] ispeakc0de opened #3253 "(abort): the main thread is keep running for the aborted experiment for the revert duration"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT

**What happened**:

- The experiment, which doesn't support the helper model. The main thread of the experiment keeps running for the aborted experiment until the chaos reverted successfully. If the experiment supports multiple iterations of chaos then it can be a risk
- when stopped the experiment before chaos injection then al

[2021-10-05 06:00] ispeakc0de opened #3254 "Refactor litmus-go repository for BCH"
Problem Statement: Refactor the [litmus-go](https://github.com/litmuschaos/litmus-go) code for the BCH score.

[2021-10-05 07:40] Pockerman20 commented on #3231
I will like to do the update hindi language to the current English version.

[2021-10-05 08:11] songrgg commented on #3241
I met the same issue and found the root cause should be "The apiextensions.k8s.io/v1beta1 API version of CustomResourceDefinition is no longer served as of v1.22.", so the installation of the CRDs failed.

As [K8s v1beta1 deprecation](https://kubernetes.io/docs/reference/using-api/deprecation-guide/#customresourcedefinition-v122) says, we should migrate manifests and API clients to use the apiexte

[2021-10-05 08:12] songrgg commented on #3241
For your case, to make the litmus run in minikube, you can downgrade the cluster to a version under 1.22, I used 1.18 and worked fine for me.

[2021-10-05 16:32] tmonautoguy commented on #3241
Thanks @songrgg! I am currently running v1.21.3 and that worked. Will we be able to fix this issue since eventually v1.21.3 will be deprecated?

[2021-10-06 11:29] aldor007 commented on #3157
Hi
Any updates?

[2021-10-07 04:07] S-ayanide opened #3263 "Add Loader while metadata is being fetched in Workflow Settings"
**What happened**: The Workflow Settings Component doesn't show a loader while the details of the workflow are being fetched due to slower networks, instead, it has an empty text field and a blank avatar.

**What you expected to happen**: The Stepper UI component should be loaded but the Text Field and the Avatar section should consist of a loader while the data is being fetched. Also, the Next bu

[2021-10-07 05:49] imrajdas opened #3264 "Add integration tests for litmusctl(CLI)"
Following are the test scenarios that need to be added in litmusctl.

1. Install chaos center, configure an account and check the accessibility by retrieving the list project(litmusctl get project)
2. Install chaos center and create a project
2. Install chaos center and connect an agent

Please take more references from minikube integration tests for flow- https://github.com/kubernetes/minikube/tr

[2021-10-07 08:14] Jonsy13 opened #3266 "Snyk Security Report"
**Required Version upgrades for ChaosCenter (Frontend) :**
- [ ] Upgrade react-scripts from 3.4.4 to 4.0.0 #3209
- [ ] Upgrade d3 from 5.16.0 to 7.0.0 #3035
- [ ] Upgrade subscriptions-transport-ws from 0.9.17 to 0.9.19 #2870
- [ ] Upgrade react-i18next from 11.7.2 to 11.8.10 #2655
- [ ] Upgrade @apollo/client from 3.3.11 to 3.3.12 #2654
- [ ] Upgrade @material-ui/pickers from 3.2.10 to 3.3.10 #26

[2021-10-07 12:18] Sayali1638 opened #3267 "Drill down for usage statistics"
At the current time we have the usage statistics showing the static data.
eg: We can see the information of user, projects etc.. But if we click on it it does not show detailed info
![image](https://user-images.githubusercontent.com/66510021/136382261-fa36d171-261f-4f1c-a7e5-7256d80e8f99.png)

We can have drill down feature for it to have more user action on it and also provide more details of the

[2021-10-07 13:20] #2483 closed, assigned to DarthBenro008

[2021-10-07 13:34] neelanjan00 opened #3268 "Responsive Home Page for Litmus Experiment Docs"
## What Happened
The home page for Litmus Experiment Docs is not responsive for mobile screens and the dark mode.

## What You Expected to Happen
The home page should be responsive and view the content appropriately on the mobile screen. Also, the colors should invert properly upon switching to dark mode.

## How to Reproduce It
1. Access [Litmus Experiment Docs](https://litmuschaos.github.io/litm

[2021-10-07 16:28] neelanjan00 commented on #3268
@ispeakc0de will you please assign the issue to @mairagee524 ?

[2021-10-08 01:09] rrraaa1 opened #3271 "Getting unauthorized error in helper pods logs while injecting chaose,Can someone pls look into this."
kubectl logs pod-network-latency-helper-jrcdpa -n kafka

W1007 09:54:25.609564    5866 client_config.go:541] Neither --kubeconfig nor --master was specified.  Using the inClusterConfig.  This might not work.
time="2021-10-07T09:54:25Z" level=info msg="Helper Name: network-chaos"
time="2021-10-07T09:54:25Z" level=info msg="[PreReq]: Getting the ENV variables"
time="2021-10-07T09:54:25Z" level=fatal

[2021-10-08 02:14] mairagee524 commented on #3268
Hey @neelanjan00, just letting you know that I am actively working on this issue  - thank you for assigning it to me! I'm just covering my bases since I am the first who commented and I've heard from fellow contributors about other Github users commenting that they also want to work on an issue, if not only that, also doing the issue w/o being assigned, which has been a trend, unfortunately. Thank

[2021-10-08 04:26] neelanjan00 opened #3272 "Error During the Creation of New Experiment Artifacts Using Litmus SDK for Go"
## What Happened
An error gets generated during the creation of new experiment artifacts using Litmus SDK for Go when `auxiliaryappcheck` is set to `true` in the `attributes.yaml` manifest used for generating the artifacts. The error is due to the absence of `AuxiliaryAppInfo` structure field in the `types.go` file that is getting generated. Additionally, the ENV for `AUXILIARY_APPINFO` is also no

[2021-10-08 08:31] uditgaurav commented on #2965
Can you please share the experiment pod logs for more details?

[2021-10-08 08:32] #2847 closed

[2021-10-09 08:28] neelanjan00 commented on #3272
You're correct @dravog7, please feel free to work on this issue!

[2021-10-10 18:43] chetak123 commented on #3264
Hello, I am new to litmuschaos organisation and would like to work on this issue please.

[2021-10-11 21:29] #3272 closed, assigned to nobody

[2021-10-13 17:24] Pockerman20 commented on #3231
@ispeakc0de and @neelanjan00 please review my pull request.

[2021-10-17 08:52] 123vivekr commented on #3136
Hi, please assign this issue to me if it's open.

[2021-10-18 14:54] debbiswal opened #3298 "Getting error : Please check the configuration, the workflow was not able to start"
Hi,
I have installed Litmus 2.0 on AKS using 'kubectl apply -f https://litmuschaos.github.io/litmus/2.0.0/litmus-2.0.0.yaml'.
After that when I started the test 'podtato-head' workflow , i am getting error like 'Please check the configuration, the workflow was not able to start'.  Its happening for all the tests.

I have tested it many times by installing and uninstalling(followed the uninstallati

[2021-10-18 15:20] DhananjayPurohit opened #3300 "Experiment table shows a different text instead of experiment name for a short time"
**What happened**:
The experiment table shows the text "Please add experiments to see the data" instead of experiment name even while scheduling a predefined workflow:-

![Screenshot (35)](https://user-images.githubusercontent.com/44242169/137759725-c47d3556-3375-477b-b360-f4fc79255801.png)

**What you expected to happen**:
Loading the table late with the correct experiment name.

**How to reprodu

[2021-10-19 05:51] Pockerman20 commented on #3231
@ispeakc0de and @neelanjan00 Please anyone review my pull request.....

[2021-10-19 14:25] DhananjayPurohit opened #3303 "On adding complete experiment name in search experiment field, It does not shows radio entries to select."
**What happened**:
On adding the text "generic/pod-delete" into the search experiment field while tuning a workflow, It does not show any search result radio entries to select from. It seems like the auto search is not reading the character "/" properly.

![Screenshot (42)](https://user-images.githubusercontent.com/44242169/137929762-c3f520b8-4085-4a00-9392-318513c9063d.png)
![Screenshot (41)](htt

[2021-10-21 08:54] imrajdas opened #3307 "Add command to upgrade/downgrade litmusctl binary"
We can add an upgrade/downgrade command for litmusctl binary, it can look at the matrix of versions in a file and upgrade/downgrade according to the user's choice.

example
* litmusctl upgrade v0.5.0
* litmusctl downgrade v0.4.0

[2021-10-21 09:49] perithompson opened #3308 "Workflows should be able to use experiments from multiple hubs"
**Problem**

At the moment, when creating workflows, you must select the experiments from the same hub as the workflows meaning you must fork the main chaos-charts repo in order to make private experiments, increasing overhead in managing the repository to keep up with changes.

**Solution**

Add ability to specify the community hub for the public experiments and have a private hub for workflows a

[2021-10-22 03:22] ksatchit opened #3309 "Governance: Proposal to add Rémi Ziolkowski as a maintainer"
[Remi](https://github.com/Vr00mm) has been contributing to the Litmus project for quite some time (over the past 5 months) in different capacities. This includes code contributions in the areas of chaos-center, helm charts, CI improvements (build process), chaos experiment enhancements, and doc improvements. He has also been adding nifty utilities like the [hub-gen](https://github.com/Vr00mm/litmu

[2021-10-22 03:27] umamukkara commented on #3309
+1
Remi has been actively contributing to deployment and hub area.

[2021-10-22 03:42] chandankumar4 commented on #3309
+1

[2021-10-25 05:59] Jonsy13 opened #3312 "(ChaosCenter): Failed to read the 'value' property from 'SVGLength': Could not resolve relative length"
This issue is for tracking an uncaught exception in frontend. - `Failed to read the 'value' property from 'SVGLength': Could not resolve relative length`

**What happened**:

While trying to flow through the dagre-graph faster in automation, the dagre graph is throwing an uncaught exception - `Failed to read the 'value' property from 'SVGLength': Could not resolve relative length`, due to which so

[2021-10-26 17:39] chirangaalwis opened #3317 "Unable to see Prometheus Metric `chaos_injection_time`"
**What happened**:

During a container kill experiment (which we had on purpose setup to fail to capture failed event metrics), we are unable to see `chaos_injection_time` Prometheus metric property.

<img width="1439" alt="Screenshot 2021-10-26 at 22 57 09" src="https://user-images.githubusercontent.com/9444555/138931152-8810dcef-43fa-4d89-9b08-1d62336b3f20.png">

I have herewith attached all the

[2021-10-27 16:01] gbuirel opened #3318 "Failed to unmarshal chaosengine with multiple chaos experiments"
**What happened**:
I'm trying to generate a workflow using basic chaos experiments (pod cpu hog & pod memory hog) and a prometheus Probe.
When I run a workflow with only one chaos experiments, the workflow works fine.
But when I try to run 2 chaos experiments ( let's say cpu-hog then memory-hog)
I get the error  "Error : failed to unmarshal chaosengine" even after the YAML validation says my yaml

[2021-10-28 15:03] #3317 closed, assigned to ispeakc0de

[2021-10-28 21:41] aangoulvant opened #3321 "the subscriber pod fails to start (EKS setup)"
**What happened**:
Deployed litmus on an EKS cluster - setup the frontend as a LoadBalancer

The subscriber pod fails to start it displays this error:
$ kubectl logs subscriber-6cb89f4d97-j2dl9 -n litmus
time="2021-10-28T21:23:24Z" level=info msg="Go Version: go1.16.9"
time="2021-10-28T21:23:24Z" level=info msg="Go OS/Arch: linux/amd64"
time="2021-10-28T21:23:24Z" level=info msg="all deployments u

[2021-11-01 08:23] dorroddorrod opened #3323 "Run Litmus behind reverse-proxy"
## Question
Hi,
I would like to implement Litmus in one of my EKS clusters,
All of my infra applications run on the same domain but different path ( www.example.com/<app>) by using nginx-ingress controller

When trying to setup Litmus, the frontend app is trying to get static content from `www.example.com/` and i would like to know if there is a way to set `BaseURL` to Litmus to load the client wi