[2017-03-15 07:29] kmova opened #1 "Make the active dataset size configurable for the workloads"
The workloads mentioned in the vdbench files, use 10M as the active dataset size. This should be configurable via the parameters passed to the container.

--active-datasize <10[M|G|T]>

[2017-03-15 07:32] kmova opened #2 "Validate the size of the volumes being tested"
The volumes provided to the test containers could be thin provisioned. Ensure atleast the active dataset size is available for writing.

[2017-03-15 08:00] kmova opened #3 "Provide a mechanism to specify the type of workload to be executed."
The container can have an argument that can specify, if all workloads or specific workloads can be executed.

For example:

All workloads
[code]

or a set of workloads

[code]

or a specific workloads

[code]

[2017-03-15 08:16] kmova opened #4 "Container should take output directory as another mountpoint"
This will allow the invokers to run with the requirement parameters, parse the results for success, failure or generating graphs.

[2017-03-15 10:26] kmova opened #5 "Make the test duration configurable"
The duration of test run should be configurable via docker args.

[2017-09-08 06:11] ksatchit opened #13 "Upgrade the openebs/tests-tpcc-client container to perform parallel database load in tpcc-runner.sh"
The openebs/tests-tpcc-client container currently performs the following step to load the database with entries (as per the  number of warehouses specified in the tpcc.conf benchmark config file) before running the actual benchmark test (tpcc_start) :-

./tpcc_load -h <DB_SERVER_IP> -P3306 -d<DB_NAME> -u <DB_USER> -p <DB_PASSWORD> -w <WAREHOUSES>

This is a sequential process that increases in dur

[2017-09-08 06:25] ksatchit opened #14 "Create a custom percona image which is integrated with the percona-monitoring & management (pmm) client"
Create a custom percona image that is packaged with the percona-monitoring & management client (pmm-client) . Currently, the pmm-server is available as a docker image, while most instructions for pmm-client show its setup as a manual process - i.e., install package after configuring the percona repo on the DB server.

This is needed to enable easy and comprehensive analysis of the application benc

[2017-09-08 06:37] ksatchit opened #15 "Create a sysbench-mysql test container for cpu bound tests on OpenEBS storage"
Sysbench lets you stress many of the fundamental components of your hardware and infrastructure, such as your disk subsystem, along with your CPUs and memory. An additional option exists that is designed to perform synthetic stress testing of MySQL

Create a openebs/tests-sysbench-client container image with a respective test config file (on the lines of the openebs/tests-tpcc-client & tpcc.conf)

[2017-09-08 06:43] prateekpandey14 opened #16 "Create a ISSUE_TEMPLATE.md"
Add issue template,then project contributors will automatically see the template's contents in the issue form body. Templates customize and standardize the information we'd like included when contributors open issues.

[2017-09-08 06:46] prateekpandey14 opened #17 "Create a PULL_REQUEST_TEMPLATE.md"
Add PR template,then project contributors will automatically see the template's contents in the PR form body. Templates customize and standardize the information we'd like included when contributors open PR's.

[2017-09-08 07:10] ksatchit opened #523 "Integrate basic performance tests to execute relative benchmarks on OpenEBS storage in CI workflow"
Integrate standard workload-based performance benchmark tests to execute build/image-wise relative performance comparison

[2017-09-21 10:55] AmitKumarDas opened #515 "e2e test case to verify labels of an openebs volume"
## Is this a BUG REPORT or FEATURE REQUEST?

Feature Request

## Describe the Feature in detail

Every OpenEBS volume creates one or more Kubernetes Deployments. It is important to
verify if these Pods are labelled appropriately.

Some of the uses of these labels are:
- Filtering OpenEBS based Deployments/Pods
- Integrating Prometheus to monitor OpenEBS specific K8s objects
- so on.

The e2e test

[2017-10-05 05:33] yudaykiran opened #518 "Add integration test to verify workflow for Mongo DB in OpenEBS"
## Is this a BUG REPORT or FEATURE REQUEST?
 FEATURE REQUEST

**What happened**:
OpenEBS can be used as a Persistant Volume for Mongo DB. The same can be setup using the YAML file provided at https://github.com/openebs/openebs/tree/master/k8s/demo/mongodb.

**What you expected to happen**:
Implement a test suite in ansible to deploy Mongo DB on Kubernetes using OpenEBS as volume.

**How to reprodu

[2017-10-05 16:23] ksatchit opened #20 "Create custom mysql images to be used as master and slaves in a replication cluster"
Regular MySQL dockerfiles need additional steps specifying replication details - specific to its role as master and slave container. These images can be used while setting up the mysql replication cluster on kubernetes.

[2017-10-05 16:37] #20 closed

[2017-10-05 18:01] ksatchit opened #23 "The mysql-slave dockerfile uses the same server-id as the mysql-master"
The mysql-slave dockerfile uses the same server-id as the mysql-master in the following error during replication:

"Fatal error: The slave I/O thread stops because master and slave have equal MySQL server ids; these ids must be different for replication to work "

The dockerfile needs to be edited to use a different server id for slave

[2017-10-05 18:08] #23 closed

[2017-10-09 03:50] ksatchit opened #538 "Add integration test to verify workflow of redis with OpenEBS"
## Is this a BUG REPORT or FEATURE REQUEST?
 FEATURE REQUEST

**What happened**:

OpenEBS can be used as a Persistent Volume for Redis. The same can be setup using the YAML file provided at https://github.com/openebs/openebs/tree/master/k8s/demo/redis

**What you expected to happen**:

Implement a test suite in ansible to deploy redis standalone & redis cluster on Kubernetes using OpenEBS as volum

[2017-10-09 04:01] ksatchit opened #539 "Create YSCB benchmark k8s jobs to test Cassandra DB on OpenEBS"
## Is this a BUG REPORT or FEATURE REQUEST?
 FEATURE REQUEST

**What happened**:

YCSB is a popular benchmark tool for NoSQL. It have ready adapters for different NoSQL DB like Cassandra, Mongo, Redis and others.

The K8s YAML files to deploy a cassandra statefulset can be found here : https://github.com/openebs/openebs/tree/master/k8s/demo/cassandra

Benchmarking cassandra on OpenEBS using popula

[2017-10-09 04:03] ksatchit opened #540 "Create YSCB benchmark k8s jobs to test MongoDB on OpenEBS"
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

**What happened**:

YCSB is a popular benchmark tool for NoSQL. It have ready adapters for different NoSQL DB like Cassandra, Mongo, Redis and others.

The K8s YAML files to deploy a cassandra statefulset can be found here : https://github.com/openebs/openebs/tree/master/k8s/demo/cassandra

Benchmarking MongoDB on OpenEBS using popular a

[2017-10-23 08:18] ksatchit opened #24 "Create a sysbench-mongodb test container to perform mongdb benchmarks with OpenEBS storage"
If you’re not familiar with sysbench, it’s a great project developed by Alexey Kopytov that lets you run different types of benchmarks (referred to as “tests” by the tool), including database benchmarks. The database tests are implemented in Lua scripts, which means you can customize them as needed (or even write new ones from scratch) – something useful for simulating specific workloads.

Percona

[2017-11-02 10:08] #24 closed

[2018-04-27 06:16] AmitKumarDas opened #34 "What should the litmus container image contain"
litmus should provide some guidelines with regards to the binaries that goes into its container.
Should the litmus container have following:
- godog
- ansible
- go runtime

Should there be different litmus containers, one each for godog & ansible?

[2018-04-28 14:21] ksatchit opened #36 "The run_litmus_test job should have a consistent name"
The run_litmus_test.yaml - which is the main deployment corresponding to each automated test under "tests" folder should use a common job name:

[code]

This is useful for the executor framework which tracks the job lifecycle by the name.

[2018-04-29 05:53] ksatchit opened #37 "Test folders should contain test-specific "setup" artifacts with consistent names"
While each test will be executed as an individual Kubernetes job, there may be certain pre-requisites that need to be executed/resources created (such as creation of config maps, mounted into the job pod). These have to be placed in the respective test folder with a standard naming convention, say:

*..setup_<cm_1>.yaml*
*..setup_<cm_2>.yaml*
*..setup_<secret_1>.yaml*

Currently, the executor iden

[2018-05-06 07:09] AmitKumarDas commented on #36
@ksatchit I believe labels are the ones which should be to track. Name should be unique in 'litmus' namespace.

[2018-05-06 07:17] AmitKumarDas commented on #34
As per last discussions, each test case should have flexibility to be packaged as a unique docker image e.g. openebs/litmus-test-case-name

[2018-05-06 07:31] AmitKumarDas opened #41 "reference to a curated list of 'testing distributed systems'"
https://asatarin.github.io/testing-distributed-systems/

We can read through the items & raise issues if they are of any help to litmus!!

[2018-05-06 07:37] AmitKumarDas opened #42 "reference to chaos engineering working group proposal"
https://docs.google.com/document/d/1BeeJZIyReCFNLJQrZjwA4KMlUJelxFFEv3IwED16lHE/edit#

[2018-05-17 04:59] AmitKumarDas opened #45 "reference to writing good scenarios - best practices"
http://itsadeliverything.com/declarative-vs-imperative-gherkin-scenarios-for-cucumber

[2018-05-17 05:13] ksatchit opened #46 "As a user, I want to know the result of my litmus test (pass/fail)"
Currently, the litmus test does not have a standard way of recording/displaying the test result. This info is being derived by the log/console output of the test job, which is not efficient. The result should be available in a set format at a specified location - this will also be useful in the context of the executor.

[2018-05-17 05:16] ksatchit opened #47 "As a user, I want to obtain and visualize test logs to debug my litmus test failure"
Currently, the litmus tests use the OpenEBS "logger" utility, which runs as a sidecar to the main test container in the litmus job to capture the pod logs (based on regex passed in the job spec). Also, the playbook/console execution log is captured using the "log_plays" stdout callback plugin. However, following major issues are present:

The logger takes a hard duration value instead of ending/te

[2018-05-17 05:18] ksatchit opened #48 "As a user, I want to obtain the mysql benchmark numbers for Local PV"
The objective of the Litmus project is to enable the user to compare test behaviour for different storage solutions. This US will track the implementation of the logic necessary to setup local PV and use it as the the storage provider in the ansible-based MySQL benchmark test.

This will enable the user to obtain tpmC values for the TPC-C test for Local PV

[2018-05-17 05:24] ksatchit opened #49 "Include litmus sample test demo video in the Readme"
An asciinema media file in the readme explaining the steps to run a sample litmus test  will be really helpful for users and contributors.

[2018-05-25 09:16] kmova opened #51 "Reduce the turn-around time for testing apps with production like data."
Here is my usecase:

Felix is a DevOps admin who is responsible for maintaining Staging Databases for a large enterprise corporation with 400+ developers working on 200+ applications. The Staging database contains a pruned (for user information) and is constantly updated with production data. When developers make some data schema changes, they would like to test them out on the Staging setup with

[2018-05-25 09:18] kmova opened #52 "Make it easy to debug the build (CI) failures with stateful apps"
Here is my usecase:

Tim is a DevOps engineer at a large Retail store who is responsible for running a complex build pipeline that involves several mico-services. The microservices that implement a order and supply management functionalities - store the states in a set of common datastores. The Jenkins CI pipeline simulates real world interactions with the system that begin with simulating custome

[2018-05-26 09:29] kmova opened #53 "Ability to recover data from a MySQL server by creating a read-only copy from older snapshot."
This is to test the use case described here: https://github.com/kubernetes-incubator/external-storage/blob/master/snapshot/doc/volume-snapshotting-proposal.md#alice-wants-to-backup-her-mysql-database-data

The example is copied here:

## Example Use Case

### Alice wants to backup her MySQL database data

Alice is a DB admin who runs a MySQL database and needs to backup the data on a remote server

[2018-06-13 10:45] utkarsh2102 commented on #17
Hi,
Could I take up this task?
@NisantaSahoo @kmova

[2018-06-13 10:45] utkarsh2102 commented on #16
Hi,
Could I take up this task?
@NisantaSahoo @kmova

[2018-06-14 08:48] kmova commented on #17
yes @utkarsh2102 that would be cool!

[2018-06-14 08:49] kmova commented on #16
yes @utkarsh2102 that would be great.

[2018-06-30 18:30] NisantaSahoo commented on #16
Sure @tanishajalota ! Please go ahead

[2018-07-02 18:01] #16 closed

[2018-07-03 06:57] #17 closed

[2018-07-24 05:05] ksatchit opened #69 "Simplify the executor (bulk/suite run of litmus jobs) by performing ENV setup via a "Install container""
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

**What happened**:

- Currently, the execution of litmus jobs in the "suite" mode involves setting up ansible on the control node with inventory file to access the cluster nodes.

- This is an anti-pattern wrt Litmus, which is supposed to simplify the process of testing stateful workloads.

- This can be resolved by running a "setup" con

[2018-07-24 05:10] ksatchit opened #70 "Make the chaos-injection test modules reusable across tests"
## Is this a BUG REPORT or FEATURE REQUEST?
 FEATURE REQUEST

**What happened**:

The chaos modules are supported by a single test at this point (mysql_data_persistence : refer PR https://github.com/openebs/litmus/pull/68

**What you expected to happen**:

These chaos modules should be reusable across tests. Change the folder structure & the affected paths in playbook to enable this (the taskfiles

[2018-07-24 05:23] ksatchit opened #71 "OpenEBS stern-based logger improvements in Litmus test jobs"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

**What happened**:

- Sync the logger run duration with test container execution

Currently, the litmus job launches two pods : The ansible test container, followed by the stern-based logger. The logger takes a "duration arguments (default at 10m), which signifies for how long the pod logs need to collected, at the end of which the systemd (k

[2018-07-25 11:10] ksatchit opened #73 "Add checks in chaos-based tests to confirm actual fault/failure injection"
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

**What happened**:

Currently, failures are being injected in chaos-based tests using tools such as pumba, kubectl etc., It would be of value to "confirm" the faults were actually injected, using certain mechanisms - such as restart counts, deployment resource versions etc., which are impacted by the chaos.

This is especially helpful in

[2018-07-25 11:19] ksatchit opened #74 "Isolate test execution & strengthen cleanup routines"
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

**What happened**:

The litmus tests are all executed in a single namespace today : "litmus".  In case of automated suite-run, it is possible that failure to cleanup applications or other test-specific objects can cause failures. This needs to be avoided. The tests should also contain "always-execute" sections which are capable of forced

[2018-08-14 14:16] chandankumar4 opened #99 "Enhance the EBS disk attach playbooks to factor in existing device names on VM instance"
##  FEATURE REQUEST?
- Attach multiple EBS Volume to AWS instances by looking for available disk name inside instances.
- Recommended disk name for EBS volume is - `/dev/sd[f-p]`

**for example: -**
 - At the time of attaching EBS Volume in instances if `dev/sdf` disk name already present then use the next available like`dev/sdg`

Currently used ansible module for creating EBS Volume
[code]
Disk n

[2018-08-15 21:04] crunis opened #101 "ansible-runner Dockerfile missing copying playbooks"
BUG REPORT

When executing `kubectl apply -f apps/percona/tests/mysql_storage_benchmark/run_litmus_test.yaml" the ansible-runner container (inside litmus pod) returns:

[code]

You can retrieve that message with `kubectl logs <litmus pod id>  ansibletest -n litmus`

This is because, recently, files in openebs/litmus have been restructured and the Dockerfile of ansible-runner got broken and stopped

[2018-08-16 02:11] #101 closed

[2018-08-16 07:03] chandankumar4 opened #105 "Test playbook of EBS Volume & GPD Disk Creation work from a container"
## FEATURE REQUEST?

**What happened**:
- Test create-ebs-volume.yml & create-gpd-disk.yml playbook work from a container as like as `cluster-creation` working

**What you expected to happen**:
- After running playbook `ebs volume` in AWS and `gpd disk` in GCP successfully attached and mounted

**Anything else we need to know?**:
- AWS ebs-volume file location :- https://github.com/openebs/litmus/

[2018-08-20 04:14] ashishranjan738 opened #111 "Litmus Tests should be available as modules and should not be packed into image"
FEATURE REQUEST

-> Litmus Tests should be available as modules and should not be packed into the ansible runner image itself.
-> Currently litmus tests are packed on ansible-runner image which means for running any test the user has to download all the tests which may not be of any use for him.
-> Litmus Tests can be converted to ansible roles and can be pushed to the galaxy or can be packed into

[2018-08-20 04:23] ashishranjan738 opened #112 "Litmus should have some standard to qualify ansible-playbooks as litmus book"
FEATURE REQUEST
-> There should be some standard maintained by the litmus to judge ansible playbooks and qualify them as litmus book.
-> Currently not all ansible playbook can be converted to litmus book.
-> Some binary like ```litmus lint checker```  should be available through which users can check their ansible-playbooks and know whether their playbook is litmus parsable or not.
-> Further thos

[2018-08-20 04:30] ashishranjan738 opened #113 "Litmus job pod should have the functionality to execute commands on remote hosts"
FEATURE REQUEST:
-> Currently litmus tests can run only commands only on localhost pods.
-> Litmus should have the functionality to run shell commands on remote hosts by doing ssh.
-> Running commands directly on remote hosts will give us more control over chaos tests.

[2018-08-20 11:59] #71 closed

[2018-08-22 09:12] harshvkarn opened #116 "create cluster playbook should have set flags with block and rescue"
## Is this a BUG REPORT or FEATURE REQUEST?

**FEATURE REQUEST**

**What happened**:
For better error handling block and rescue is needed. Gitlab job should parse for failure flags returned by the playbook and appropriately mark the job/stage as failed. Use result Custom Resource that can be updated with test/playbook result.
`Block` and `Rescue` needs to be incorporated with `create-k8s-cluster.y

[2018-09-14 08:52] ksatchit commented on #112
Here are some ground-rules for such an audit tool:

https://docs.google.com/document/d/1EmHlk8TZM6B2os8nQx87DPkqHvPMKuTx1ycUQ14mBAI/edit#

[2018-09-24 17:38] ksatchit opened #183 "Add support for chaos tests on kafka"
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

**What happened**:

This is a feature request based on community feedback to include support for application-specific functional & chaos on kafka. Scenarios include:

- deploying confluent helm chart for kafka and checking brokers gets Storage bound successfully
- Kill broker and ensure it comes back
- kill zookeeper pod and ensure it co

[2018-09-25 08:14] ksatchit commented on #49
Fixed by https://github.com/openebs/litmus/pull/50

[2018-09-25 08:14] #49 closed

[2018-09-25 08:24] #48 closed, assigned to nobody

[2018-09-25 08:34] ksatchit commented on #47
The logger is now capable of taking a container name as the value to the duration argument (alternative to time period in min), with the logger running for as long as the Container-Under-Test is alive/running. Refer: https://github.com/openebs/test-tools/pull/3

The litmus jobs now use the "default" or "actionable" stdout instead of "log_plays" (log_plays pushes run log to a file on a hostpath), w

[2018-09-25 08:34] #47 closed

[2018-09-25 08:38] ksatchit commented on #46
The results are now placed in a result custom resource. Refer: https://github.com/openebs/litmus/pull/89
Example of result CR updates in litmus jobs: https://github.com/openebs/litmus/blob/master/apps/percona/chaos/openebs_volume_replica_failure/test.yml

[2018-09-25 08:38] #46 closed

[2018-09-25 08:40] ksatchit commented on #42
Litmus has been added into the draft as one of the chaos tools available.

[2018-09-25 08:40] #42 closed

[2018-09-25 08:45] ksatchit commented on #36
@AmitKumarDas , agreed. Thanks for the suggestion.

We are now following the policy that the litmus job labels are "unique" within the litmus namespace. The job labels are derived from the test-name/test-intent. Refer the chaos jobs for example: https://github.com/openebs/litmus/tree/master/apps/percona/chaos

[code]

Also, note that the job name (metadata.name) are also unique due to the use of g

[2018-09-25 08:45] #36 closed

[2018-09-25 08:54] ksatchit commented on #5
Moved the issue to the openebs/test-tools repo

https://github.com/openebs/test-tools/issues/13

[2018-09-25 08:54] #5 closed

[2018-09-25 08:54] ksatchit commented on #4
Moved the issue to openebs/test-tools repo: https://github.com/openebs/test-tools/issues/14

[2018-09-25 08:54] #4 closed

[2018-09-25 08:55] ksatchit commented on #3
Moved the issue to openebs/test-tools repo: https://github.com/openebs/test-tools/issues/15

[2018-09-25 08:55] #3 closed

[2018-09-25 08:56] ksatchit commented on #2
Moved the issue into openebs/test-tools repo: https://github.com/openebs/test-tools/issues/16

[2018-09-25 08:56] #2 closed

[2018-09-25 08:56] ksatchit commented on #1
Moved the issue into openebs/test-tools repo: https://github.com/openebs/test-tools/issues/17

[2018-09-25 08:56] #1 closed

[2018-09-26 03:33] ksatchit opened #191 "Ensure the same image tags are used in the ansible-runner images across litmus jobs"
## Is this a BUG REPORT or FEATURE REQUEST?
 BUG REPORT

**What happened**:

- Currently, some of the litmus jobs contain the ansible-runner image with tags "ci" & others use "latest" (no tag on the image implies latest). The Travis CI has been setup to build & push "ci" (litmus still doesn't have release tags, no releases yet. While these will be recommended for users once the 0.1 release is out,

[2018-09-26 04:10] ksatchit opened #192 "Update "app" and "ChaosType" fields in the result custom resource spec in the litmus tests"
## Is this a BUG REPORT or FEATURE REQUEST?
 FEATURE REQUEST

**What happened**:

- Litmus result custom resource jinja template: https://github.com/openebs/litmus/blob/master/hack/litmus-result.j2)

- Currently, the result custom resource updates (which are done at the beginning of a test's execution, i.e., before proceeding to the business logic (SoT) - and - upon completion of test business log

[2018-09-26 04:34] ksatchit opened #193 "Update the kubectl binary in the ansible-runner & godog-runner images"
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

**What happened**:

- The kubectl binary used in the litmus runner images (ansible-runner, godog-runners) are of older versions & need to be updated to the latest `stable` version (these will be revisited as the usage of litmus across (newer) versions increases/litmus capabilities or features necessitate changes)

- The dockerfiles for t

[2018-09-26 06:38] ksatchit opened #195 "Create a litmusbook to setup the local PV infrastructure (provider) on Kubernetes cluster"
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

**What happened**:

- Litmus, as per its objective, is designed to be generic & run the functional/chaos tests on any storage providers (storage classes) (by adding the chaoslib/funclib corresponding to the provider). The pre-requisite for this is to ensure that the provider's control-plane is setup on the cluster before the tests are ru

[2018-09-27 03:46] ksatchit commented on #15
Moved issue to openebs/test-tools repo: https://github.com/openebs/test-tools/issues/18

[2018-09-27 03:46] #15 closed

[2018-09-27 03:47] ksatchit commented on #99
For details on ec2_vol ansible module's approach to selecting device names, please see here:

https://docs.ansible.com/ansible/2.6/modules/ec2_vol_module.html

For EBS device naming considerations, please see here:

https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/device_naming.html#available-ec2-device-names

https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/device_naming.html#device-name-li

[2018-09-27 03:49] ksatchit commented on #13
Moved issue to openebs/test-tools repo: https://github.com/openebs/test-tools/issues/19

[2018-09-27 03:49] #13 closed

[2018-09-27 04:49] ksatchit opened #201 "Add asciinema/gif to the README describing a sample ansible-based chaos litmus test"
## Is this a BUG REPORT or FEATURE REQUEST?
 FEATURE REQUEST

**What happened**:

- The Readme consists of a demo of the godog-based minio deployment test run, which communicates the philosophy of "running a test as a job"
-  However, the Readme doesn't stress on OR contain any demo on litmus as a chaos test framework

**What you expected to happen**:

- Another such asciinema/gif can be added for

[2018-09-27 07:04] dargasudarshan opened #202 "Update deployer litmus books to deploy apps on their own namespace"
## Is this a BUG REPORT or FEATURE REQUEST?
 ENHANCEMENT Request

**What happened**:
- Currently all the app deploys in Litmus namespaces

**What you expected to happen**:

- Deploy applications in their own namespaces

**How to fix it?**:
- This can be done by updating the NAMESPACE ENV in all the deployers litmus books.

[2018-09-27 07:09] gprasath opened #203 "Add application specific parameters as user defined variables."
FEATURE REQUEST:

Now, In all the application deployers, the configurable parameters such as required resources(cpu, memory), replica_count,labels are hard-coded. These details should be included in a template where users can modify the parameters according to their requirement. This template needs to be parsed while creating litmus job.

**What happened**:
   As the values are hard-coded, user ha

[2018-09-27 08:02] ksatchit opened #204 "Improvements to ansible-runner docker image"
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

**What happened**:

- The ansible-runner dockerfile needs a few improvements in order to adhere to general Dockerfile best-practices.
- A few apparent items include:

  - Having separate layers (RUN) to "simply create" the ansible directories & then to place a hosts file in one of those (https://github.com/openebs/litmus/blob/master/tool

[2018-09-27 08:05] ksatchit commented on #201
cc: @yudaykiran , your thoughts please ?

[2018-09-27 10:36] ksatchit opened #205 "Create a unit test for the cluster health check python script"
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

**What happened**:

- The cluster health check python script needs a unit-test to be created (Refer:  https://github.com/openebs/litmus/tree/master/k8s/utils/health)

**Anything else we need to know?**:

- References :
  - https://stackoverflow.com/questions/652292/what-is-unit-testing-and-how-do-you-do-it
  - http://pythontesting.net/fr

[2018-09-27 10:46] ksatchit commented on #202
Refer: https://github.com/openebs/litmus/issues/74

[2018-09-27 11:14] ksatchit opened #206 "Create unit tests for the litmus godog framework"
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

**What happened**:

- The litmus godog-framework, (source available here: https://github.com/openebs/litmus/tree/master/pkg) needs the unit-tests to be written.

**What you expected to happen**:

- Create the unit-tests (along with refactoring of the source, where needed) for the litmus go-code.

**Anything else we need to know?**:

- Re

[2018-09-27 11:27] ksatchit opened #207 "Include the ansible syntax check in the litmus travis CI"
## Is this a BUG REPORT or FEATURE REQUEST?
 FEATURE REQUEST

**What happened**:

- Currently the litmus travis-based CI doesn't contain any checks for ansible playbook lint/syntax (it runs the go-metalinter). Litmus consists of considerable mount of ansible code.

**What you expected to happen**:

- Include ansible validation in the litmus CI

**How to fix it**:

- There are useful tools such as

[2018-09-27 12:41] ksatchit commented on #206
cc: @AmitKumarDas for thoughts & guidance!

[2018-09-27 12:57] AmitKumarDas commented on #206
This is a good thought @ksatchit
It might be good to import packages from `openebs/maya` while refactoring go code.

[2018-09-28 06:34] dargasudarshan opened #209 "Enable user to pass number of replica's as 'ENV' to be created for statefulset applications."
## Is this a BUG REPORT or FEATURE REQUEST?
 FEATURE REQUEST
 Choose one: BUG REPORT or FEATURE REQUEST

**What happened**:
- By default statefulset application are deployed with 3 replica's currently.

**What you expected to happen**:
- Provide an option for user to select the number of replicas to be created for statefulset application.

**How to fix it?**
- Update the litmus job to take number

[2018-09-28 15:48] nvzard commented on #205
Hey I'd like to work on this issue please?

[2018-09-30 06:51] ksatchit opened #213 "Include K8s manifest validation check in litmus travis CI"
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

**What happened**:

- Litmus consists of several types of kubernetes manifests (deployments, pods, statefulsets, jobs) as part of the test framework. Currently, there is no K8s yaml validation performed as part of the CI

**What you expected to happen**:

- Include static checks for K8s YAMLs

**How to fix it**:

- There are native/kubec

[2018-09-30 07:20] ksatchit opened #214 "Include Openshift as a supported platform in Litmus"
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

**What happened**:

- Currently, AWS, GCP (both via kops), GKE, Packet (kubeadm), Azure (AKS) are the platforms supported where litmus jobs can be run.

- Openshift is a popular K8s platform which has to be included to the above list.

- This involves:
  - Ansible playbooks to setup OpenShift cluster from Litmus
  - Test Litmus jobs on o

[2018-09-30 07:52] ksatchit commented on #213
cc: @kmova @AmitKumarDas for guidance !

[2018-09-30 08:38] AmitKumarDas commented on #213
Can Litmus validate the specs/yamls as part of a test scenario execution process?

[2018-09-30 23:13] edsoncelio commented on #204
Hi @ksatchit, as my first issue, i'll work on it :)

[2018-10-01 04:11] ksatchit commented on #204
Great ! Thanks @edsoncelio .

[2018-10-01 04:14] ksatchit commented on #205
Sure @nvzard ! Thanks for signing up to work on this, looking forward to the PR!

[2018-10-01 05:12] ksatchit opened #216 "Add the docker pulls badge for litmus runner (openebs/ansible-runner) on the README file"
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

**What happened**:

- Add the badge for docker pull count of the openebs/ansible-runner image on the litmus README file

**What you expected to happen**:

- Users can be appraised of the usage trends on litmus via docker pull numbers.

**How to fix it**:

- https://shields.io/#/ can be used for this

[2018-10-01 05:40] chandankumar4 commented on #99
Approach for solve this issue:
 - Get the list of all attached volume form instances
 - Generate a unique name for device using the available name (https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/device_naming.html#available-ec2-device-names)
 - Attach a new Volume using the generated unique name.

[2018-10-01 05:48] dargasudarshan opened #217 "Add a Unit Test for litmus ansible plugin actionable.py"
FEATURE REQUEST

What happened:

The litmus ansible plugin actionable.py needs the unit-tests to be written. (https://github.com/litmuschaos/litmus/blob/master/tools/plugins/actionable.py)

What you expected to happen:

Create the unit-tests (along with refactoring of the source, where needed) for the litmus.

Anything else we need to know?:

References :
https://stackoverflow.com/questions/652292

[2018-10-01 05:51] dargasudarshan opened #218 "Create a unit test for k8s utils namegenerator python script"
FEATURE REQUEST

What happened:

The litmus ansible plugin actionable.py needs the unit-tests to be written. (https://github.com/openebs/litmus/blob/master/k8s/utils/name_generator/test_namesgenerator.py)

What you expected to happen:

Create the unit-tests (along with refactoring of the source, where needed) for the litmus.

Anything else we need to know?:

References :
https://stackoverflow.com/

[2018-10-01 07:12] ksatchit commented on #218
Duplicate reference to https://github.com/openebs/litmus/issues/217

[2018-10-01 08:33] #216 closed

[2018-10-01 08:48] debojitkakoti commented on #193
I will take this.

[2018-10-01 09:07] debojitkakoti commented on #193
@ksatchit Please find the PR [https://github.com/openebs/litmus/pull/222](url)

[2018-10-01 09:47] ksatchit commented on #214
Thanks @debojitkakoti ! Go ahead - looking forward to your PR! Marking the issue as 'taken'

[2018-10-01 15:52] vrutkovs commented on #207
I could take a look at that, we did similar thing in https://github.com/openshift/openshift-ansible

[2018-10-01 17:38] ksatchit commented on #207
Excellent, it would be very helpful ! Thanks for signing up @vrutkovs !!

[2018-10-01 23:59] kpearson commented on #204
@ksatchit Hows this going?

[2018-10-03 04:53] dargasudarshan opened #228 "Litmus (issue) : Mongodb loadgen litmus job is failing at "Verify load generation" task."
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT
 Choose one: BUG REPORT or FEATURE REQUEST

**What happened**:
- While running mongodb loadgen job, observed that litmus job failed at "Verify load generation" task.

**What you expected to happen**:
- Mongodb loadgen job should run seamlessly.

[code]

[code]

[2018-10-03 06:27] #228 closed

[2018-10-03 11:06] Skchoudhary commented on #209
Hi @dargasudarshan , I would like to work on this issue.

[2018-10-03 11:17] dargasudarshan commented on #209
Thanks @Skchoudhary. Please go ahead. Will mark this as "issue taken". Looking forward to you PR, let us know if you need any help?

[2018-10-03 12:45] Skchoudhary commented on #209
Hi @dargasudarshan ,
Can you have a look on this commit to check that I am doing it right or not.
https://github.com/Skchoudhary/litmus/commit/3aa799c9c3e859a99beea7db7fcb58d1496dcd1a

[2018-10-03 14:04] aslafy-z opened #234 "Licence fields out of date"
BUG REPORT

**What happened**: Licence is not up to date

**What you expected to happen**: It should contain the current year and the company licencing.

**How to reproduce it (as minimally and precisely as possible)**: Open LICENCE file

**Anything else we need to know?**: Gona open a PR to fix it

[2018-10-04 04:36] ksatchit commented on #234
Fixed by #235

[2018-10-04 04:36] #234 closed

[2018-10-04 05:42] dargasudarshan commented on #209
@Skchoudhary Thanks and Excellent..!! Changes looks good, can you run the test on k8s cluster with your changes? Let me know if you need any assistance in running the test.

[2018-10-05 13:54] darshkpatel commented on #204
@edsoncelio are you still working on it? I'd love to work on this.

[2018-10-05 22:33] robertfairhead commented on #191
@ksatchit I opened a PR to resolve this. I welcome any feedback!

[2018-10-06 04:14] #191 closed

[2018-10-06 05:17] ksatchit opened #259 "Use K8s generateName API for all the litmusbooks"
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

**What happened**:

- There are chances that any given litmusbook (the litmus test job `run_litmus_test.yml`) may be executed
more than once on a cluster. These fail if re-applied/created when a job w/ the same name is already present on the cluster (in the same namespace, here - typically litmus).

- This failure can be avoided by using

[2018-10-06 05:43] ksatchit opened #260 "Update litmus test playbooks to use RUN_ID/instance metadata"
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

**What happened**:

- All litmus jobs update the result of the test in a result custom resource (CR), which derives it's name from the test_name. See below for reference:

test_name_var: https://github.com/openebs/litmus/blob/master/apps/percona/chaos/openebs_replica_network_delay/test_vars.yml#L1

litmus_cr_template_being_passed_the_tes

[2018-10-06 05:58] ksatchit opened #261 "Fix mysql_data_persistence chaos (e2e) test with correct path references"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

**What happened**:

- The mysql_data_persistence test fails on account of following problems:

  - The extension of the cleanup file has to be changed (yml): https://github.com/openebs/litmus/blob/master/apps/percona/tests/mysql_data_persistence/test.yml#L147

**What you expected to happen**:

- Use correct filenames

**How to reproduce it (a

[2018-10-06 07:34] dargasudarshan opened #262 "Add RUN_ID/Instance metadata to cassandra workload litmus book."
Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

What happened:

All litmus jobs update the result of the test in a result custom resource (CR), which derives it's name from the test_name. See below for reference:
test_name_var: https://github.com/openebs/litmus/blob/master/apps/percona/chaos/openebs_replica_network_delay/test_vars.yml#L1

litmus_cr_template_being_passed_the_test_name: ht

[2018-10-06 07:36] dargasudarshan opened #263 "Add RUN_ID/Instance metadata to mongodb workload litmus book."
Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

What happened:

All litmus jobs update the result of the test in a result custom resource (CR), which derives it's name from the test_name. See below for reference:
test_name_var: https://github.com/openebs/litmus/blob/master/apps/percona/chaos/openebs_replica_network_delay/test_vars.yml#L1

litmus_cr_template_being_passed_the_test_name: ht

[2018-10-06 09:31] doruboyina commented on #263
I would like to work on this issue

[2018-10-06 09:31] dargasudarshan commented on #263
@doruboyina Thanks, Yes you can work on this issue. Let me know if you need any help?

[2018-10-06 09:44] doruboyina commented on #262
I am working on this request

[2018-10-06 09:46] dargasudarshan commented on #262
@doruboyina Thanks, yeah you can work on this issue. Let us know if you need any help?

[2018-10-06 09:53] #261 closed

[2018-10-06 11:45] doruboyina opened #269 "Minikube script (minikube.sh ) optimization"
## Script Optimization ?

**What happened**:
CURDIR=`pwd`  ( instead of back ticks , its always better to keep variable in $(pwd) )

Also there multiple exports commands where we can export all variable in single line

**What you expected to happen**:

The POSIX standard defines the $() form of command substitution. $() allows nested commands and looks better (legibility).

Reducing lines of code

[2018-10-06 11:45] doruboyina commented on #269
I would like to work on this request

[2018-10-06 12:37] #259 closed

[2018-10-06 17:30] Skchoudhary commented on #260
Hi @ksatchit , I would like to work on this issue.

[2018-10-06 17:32] Skchoudhary commented on #217
Hi @dargasudarshan , I would like to work on this issue.

[2018-10-08 09:06] #207 closed

[2018-10-08 11:29] dargasudarshan commented on #263
This issue is resolved and the associated PR is merged.

[2018-10-08 11:29] #263 closed

[2018-10-08 11:29] dargasudarshan commented on #262
This issue is resolved and the associated PR is merged.

[2018-10-08 11:29] #262 closed

[2018-10-12 04:19] princerachit commented on #217
@Skchoudhary you can work on this issue. In case of any query reach us at our slack channel.

[2018-10-13 04:28] ksatchit commented on #260
Sure, go ahead @Skchoudhary !

[2018-10-13 05:04] yudaykiran opened #297 "Litmus runner image needs the aws-iam-authenticator to be packaged in the docker image for its containers to run in EKS platform"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST

BUG REPORT
**What happened**:
Litmus pods are unable to execute kubectl commands on the EKS cluster.
**What you expected to happen**:
Litmus pods must be able to execute irrespective of what platform they are running on.
**How to reproduce it (as minimally and precisely as possible)**:
Create a cluster in EKS,

[2018-10-13 05:11] ksatchit opened #298 "Create unit test for /pkg/exec/exec.go"
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

**What happened**:

- Create unit test for https://github.com/openebs/litmus/blob/master/pkg/exec/exec.go

**Anything else we need to know?**:

- Refer tests at https://github.com/openebs/maya/tree/master/pkg/task/v1alpha1

[2018-10-13 05:13] ksatchit opened #299 "Create unit test for /pkg/kubectl/kubectl.go"
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

**What happened**:

- Create unit test for https://github.com/openebs/litmus/blob/master/pkg/kubectl/kubectl.go

**How to reproduce it (as minimally and precisely as possible)**:

- Refer to the tests at https://github.com/openebs/maya/tree/master/pkg/task/v1alpha1

**Anything else we need to know?**:

[2018-10-13 05:15] ksatchit opened #300 "Create unit test for pkg/time/time.go"
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

**What happened**:

- Create unit test for https://github.com/openebs/litmus/blob/master/pkg/time/time.go

**Anything else we need to know?**:

- Refer the tests at https://github.com/openebs/maya/tree/master/pkg/task/v1alpha1

[2018-10-13 05:16] ksatchit opened #301 "Create unit test for /pkg/util/envs.go"
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

**What happened**:

- Create unit test for https://github.com/openebs/litmus/blob/master/pkg/util/envs.go

**Anything else we need to know?**:

- Refer the tests at: https://github.com/openebs/maya/tree/master/pkg/task/v1alpha1

[2018-10-13 05:18] ksatchit opened #302 "Create unit test for pkg/verify/verify.go"
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

**What happened**:

- Create unit test for https://github.com/openebs/litmus/blob/master/pkg/verify/verify.go

**Anything else we need to know?**:

- Refer the tests at https://github.com/openebs/maya/tree/master/pkg/task/v1alpha1

[2018-10-13 05:19] ksatchit commented on #206
Created sub-issues #298 #299 #300 #301 #302 for this

[2018-10-13 05:33] ksatchit commented on #193
Closing this on account of PR #222

[2018-10-13 05:33] #193 closed

[2018-10-13 09:38] nsathyaseelan opened #303 "Update TestType fields in result custom resource spec in the litmus tests"
Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

**What happened:**

Litmus result custom resource jinja template: https://github.com/openebs/litmus/blob/master/hack/litmus-result.j2)

Currently, the result custom resource updates (which are done at the beginning of a test's execution, i.e., before proceeding to the business logic (SoT) - and - upon completion of test business logic (EoT)

[2018-10-13 11:12] kaustumbh7 commented on #298
I would like to take this issue.

[2018-10-13 11:15] DhairyaPatel7 commented on #300
I would like to take this issue.

[2018-10-13 11:17] egurnov commented on #302
taking this one

[2018-10-14 11:31] Skchoudhary commented on #217
@dargasudarshan  @princerachit  I have created a Test class structure in this [commit](https://github.com/Skchoudhary/litmus/commit/07edced1594fecdea2177c6bd90766be31b330aa). Just want a confirmation that I am doing it in right way ?

[2018-10-14 13:15] Skchoudhary commented on #260
@ksatchit going through apps folder, I have identifies that above code will be to be added to this file only
``` litmus/apps/jenkins/upgrade/test.yml ``` as rest of ```test.yml``` have that code.

[2018-10-14 16:35] AndreaM16 commented on #299
If you are fine with using [mock](https://github.com/golang/mock) to mock `KubeRunner` I'm grubbing this!

[2018-10-14 19:51] egurnov opened #305 "Logic flaw in pkg/verify/verify.go"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

**What happened**:
Looks like a potential logic flaw. Results from individual components need to be ANDed together to produce the result for all components, yet only the most recent value is stored, making the result for the last component to be presented as an overall result for all of them.

https://github.com/openebs/litmus/blob/2d1152a1d

[2018-10-14 20:45] egurnov commented on #300
Since there was no activity, I took over. PR openebs/litmus#306 should resolve this.

[2018-10-15 03:17] ksatchit commented on #298
Sure @kaustumbh7 !

[2018-10-15 03:18] ksatchit commented on #299
cc: @AmitKumarDas

[2018-10-15 06:33] #297 closed

[2018-10-15 09:56] AmitKumarDas commented on #305
@egurnov While I agree there is a potential to improve the logic, however I still did not understand the comments clearly.  The predicate (i.e. conditional) logic fails if all the components do not satisfy the condition.

[2018-10-15 10:41] AmitKumarDas commented on #305
@egurnov Thanks. Understood the problem. The concerns raised should be addressed.

[2018-10-15 13:14] Skchoudhary commented on #260
@ksatchit Can you have look to this PR #311 .

[2018-10-15 18:09] ksatchit commented on #217
@Skchoudhary , you can continue with the approach taken. Here are some good references on writing unit tests for ansible:

- References: https://docs.ansible.com/ansible/2.5/dev_guide/testing_units_modules.html
- Ansible Unit test for callback : https://github.com/ansible/ansible/blob/devel/test/units/plugins/callback/test_callback.py

[2018-10-16 01:47] #300 closed

[2018-10-16 01:48] #260 closed

[2018-10-16 01:58] AmitKumarDas commented on #299
@AndreaM16 please go ahead with mock

[2018-10-17 09:10] dargasudarshan commented on #269
@doruboyina Yeah you can work on this issue. Looking forward to your PR.

[2018-10-18 20:37] AndreaM16 commented on #299
I'm working on it. I couldn't do it the days before. You can take a look [here](https://github.com/AndreaM16/litmus/tree/testing-pkg-kubectl) in the meanwhile if you want.

[2018-10-20 05:57] chandankumar4 commented on #202
This is now available across litmusbooks. Closing the issue.

[2018-10-20 05:57] #202 closed

[2018-10-20 06:04] chandankumar4 opened #318 "Use the litmus result CR update util on all the litmusbooks (playbooks)"
## Is this a BUG REPORT or FEATURE REQUEST?
ENHANCEMENT

**What happened**:

- The litmus result update util is now available here: https://github.com/openebs/litmus/blob/master/common/utils/update_litmus_result_resource.yml

- Update the litmus playbooks to use this util (Identify all the files named `test.yml`) inside apps folder

[2018-10-20 06:47] Anil1331 commented on #205
Hi I would like to work on this

[2018-10-20 06:54] codegagan commented on #305
looking at it.

[2018-10-20 07:12] pandyamarut commented on #301
please assign this to me

[2018-10-20 07:36] pandyamarut opened #319 "Errorf format reads more args then calls has."
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2018-10-20 07:39] pandyamarut opened #320 "Errorf format reads more args then calls has in openebs/litmus/pkg/verify/verify.go"
pkg/verify/verify.go:320: Errorf format %s reads arg #3, but call has only 2 args
pkg/verify/verify.go:357: Errorf format %s reads arg #3, but call has only 2 args

  BUG REPORT

[2018-10-20 07:40] #319 closed

[2018-10-20 07:41] chirag200666 opened #321 "Create unit test for /executor/ansible/plugins/callback/openebs.py"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: FEATURE REQUEST

  - we need test cases for functions defined in openebs.py file

[2018-10-20 07:44] chandankumar4 opened #322 "Add docker static security checks in travis CI for ansible, godog runner tools"
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

**What happened**:

- The litmus runner containers do not have any security checks implemented against them, which can be included in the Travis CI.

**What you expected to happen**:

- Include security checks in build process

**Anything else we need to know?**:

- Reference: https://github.com/docker/docker-bench-security

[2018-10-20 07:46] chandankumar4 opened #1721 "Add docker static security checks in travis CI for test images"
## Is this a BUG REPORT or FEATURE REQUEST?
 FEATURE REQUEST

**What happened**:

- The test containers do not have any security checks implemented against them, which can be included in the Travis CI.

**What you expected to happen**:

- Include security checks in build process

**Anything else we need to know?**:

- Ref:  https://github.com/docker/docker-bench-security

[2018-10-20 13:11] Anil1331 commented on #321
Hi I would like to work on this

[2018-10-21 06:51] prabhu43 commented on #318
@chandankumar4 I will work on this.
I have one doubt. In the utils, SOT task has `verdict: "{{ flag }}"`, while in the tests, SOT task has `verdict: none`. So I am setting `verdict: none` for SOT task in utils.

Is that fine?

[2018-10-23 02:08] James-N-M commented on #302
Assign this issue to me please !

[2018-10-24 08:10] #320 closed

[2018-10-24 09:53] ksatchit commented on #214
Removing the `issue-taken` label as there have been no PRs on this.

[2018-10-24 10:40] ksatchit commented on #209
Closed by #245

[2018-10-24 10:40] #209 closed

[2018-10-24 13:04] #205 closed

[2018-10-26 19:19] Skchoudhary commented on #217
@ksatchit Can you help me from here?
I haven't right test case before. So I am confused on what value assertion should check.

[2018-10-28 16:21] aswinkarthik opened #341 "Upgrade to Go 1.11 and vgo"
## Is this a BUG REPORT or FEATURE REQUEST?
 FEATURE REQUEST

If this is a FEATURE REQUEST, please:

Currently, the code is compiled using 1.9 Golang. 1.11 is out for sometime.
Also, are there any plans of adopting [go mod](https://golang.org/doc/go1.11#modules) instead of dep?

[2018-10-29 05:15] aswinkarthik commented on #341
Raised a PR #342
Can modify it based on needs.

[2018-10-30 05:20] #318 closed

[2018-10-30 08:44] ashishranjan738 opened #347 "Logic to update operator seems to be failing for openebs litmus installer"
## Is this a BUG REPORT or FEATURE REQUEST?

 BUG REPORT

**What happened**:
-> Providing env through openebs installer playbook does not seem to work.
-> The env variable is not getting replaced when passed explicitly.

**What you expected to happen**:
-> The openebs operator should take the explicitly passed values.

[2018-10-31 08:35] #299 closed

[2018-11-19 09:21] AmitKumarDas commented on #341
@aswinkarthik Thanks for the PR. However, we have decided not to go ahead with this version change. We would like to wait for next go version release before we decide to move on to 1.11.x.

Meanwhile, you can keep the issue open.

[2018-11-19 09:22] AmitKumarDas commented on #341
cc @ksatchit FYI

[2019-01-17 10:19] yudaykiran opened #471 "Make the openebs operator litmus book configurable for setting the google analytics env."
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST
FEATURE REQUEST

**What happened**:
Currently the OpenEBS operator litmus book deploys the OpenEBS operator with Google Analytics always enabled. This results in accumulating the wrong statistics for OpenEBS deployments.
**What you expected to happen**:
The Google Analytics env should be made configurable in th

[2019-01-23 07:27] gprasath opened #478 "Pass spc name as label to check the pool status in disk failure litmusbook."
In disk failure test, need to pass spc name as pool pod's label to derive its status.

**What happened**:
- Currently, fails to derive pod name when it is created on any pool except cstor-disk-pool as the label is hard-coded.

**What you expected to happen**:
- Upon passing the spc name as label, it should be able to fetch the pool name.

[2019-01-24 04:54] gprasath commented on #478
#479 Fixed

[2019-01-24 04:54] #478 closed

[2019-01-25 10:19] nsathyaseelan opened #480 "Update cluster creation playbook for eks platform"
- Change the cluster creation litmus book to get the random region

[2019-01-29 06:44] nsathyaseelan opened #488 "Add packet api pre-check before the actual cluster creation process."
**What happened**:
- While creating a packet cluster its failed to create the cluster because of API request
**What you expected to happen**:
- Cluster creation task should be done after the API request is success
- Include a task before cluster creation to check the status of API

[2019-03-04 13:21] molszewska95 opened #509 "MySQL Storage benchmark, unable to connect to MySQL server"
BUG REPORT

**What happened**:
During running tpc-c test on mysql-storage on OpenShift v3.11, percona pod failed, and errors occurred.

Percona logs:
[Note] Found ca.pem, server-cert.pem and server-key.pem in data directory. Trying to enable SSL support using them.
[Note] Skipping generation of SSL certificates as certificate files are present in data directory.
[Warning] CA certificate ca.pem is

[2019-03-05 06:22] ksatchit commented on #509
cc: @shashank855 , can you please comment ?

[2019-03-05 07:22] shashank855 commented on #509
@molszewska95 In openshift every namespace is considered as project. If you are deploying percona application in some namespace, kindly apply the following command before deploying percona application: `oc adm policy add-scc-to-user anyuid system:serviceaccount:<namespace-of-application>:default`.

[2019-03-05 13:06] molszewska95 commented on #509
Yeah, I know that that's why I added these two commands
`$ oc adm policy add-scc-to-group hostmount-anyuid system:authenticated`
`$ oc adm policy add-scc-to-group anyuid system:authenticated`

in namespace I've deployed percona, but problem still exists.

[2019-03-06 07:48] nsathyaseelan opened #510 "Create Litmus book to verify Statefulset Volume replica distribution across pools"
- Create a Litmus book  to verify distribute single replica volumes across nodes using statefulsets
- This feature is under development and can be traked here : https://github.com/openebs/openebs/issues/2389

[2019-03-06 07:52] nsathyaseelan commented on #510
Litmus book for this issue :- https://github.com/openebs/litmus/pull/507

[2019-03-06 07:54] nsathyaseelan opened #511 "Create a litmus book to verify Parent volume not deleted when clones are present"
- Write a litmus book to verify the parent volumes not getting deleted when the clone is present
- This feature can be traced by : https://github.com/openebs/openebs/issues/2316

[2019-03-06 10:07] shashank855 commented on #509
@molszewska95 Kindly apply the same command as stated above. The command you used is different from the one stated above. Make sure you deploy percona in same namespace which you have used in command.
Once this command is applied on your cluster you can use litmusbook (link: https://github.com/openebs/litmus/blob/master/apps/percona/deployers/run_litmus_test.yml) to deploy percona application succ

[2019-03-06 11:01] molszewska95 commented on #509
It doesn't work either. First I configure Litmus project add rules as above and your in addition, by executing commands:
`$ oc adm policy add-scc-to-group hostmount-anyuid system:authenticated`
`$ oc adm policy add-scc-to-group anyuid system:authenticated`
`$ oc adm policy add-scc-to-user anyuid system:serviceaccount:litmus:default`.
then in folder apps/percona/tests/mysql_storage_benchmark/ I mod

[2019-03-06 11:44] shashank855 commented on #509
@molszewska95 Got to khow that there was percona image issue. We have raised PR as part of this issue(link: https://github.com/openebs/litmus/pull/512), once its merged this issue will be resolved.

[2019-03-06 13:31] molszewska95 commented on #509
I've already tried, but it still doesn't work.

[2019-03-06 15:12] molszewska95 commented on #509
Thanks, everything works fine now.

[2019-03-06 17:33] ksatchit opened #514 "Generate documentation for the ansible test-playbooks in e2e"
The ansible based CI automation code is growing, with multiple YAMLs getting added into the repo. This necessitates a mechanism to generate some basic usage docs for potential users and contributors.

Identify some available open-source options to achieve this, like :

Ansible-docgen is an opensource tool which generates documentation from annotated ansible playbooks - https://github.com/starboard

[2019-03-07 05:27] dargasudarshan commented on #509
This issue is fixed via #512

[2019-03-07 05:27] #509 closed

[2019-03-11 04:06] kmova commented on #518
@ksatchit @dargasudarshan -- check if this is already done.

[2019-03-11 04:11] dargasudarshan commented on #518
Yes @kmova This is already done. Here is the litmubook for deploying Mongo DB on Kubernetes using OpenEBS as volume.

https://github.com/openebs/litmus/blob/master/apps/mongodb/deployers/run_litmus_test.yml

[2019-03-11 04:13] #518 closed

[2019-03-11 04:14] gprasath commented on #511
Addressed #516

[2019-03-11 04:14] #511 closed

[2019-03-11 04:21] dargasudarshan commented on #510
The litmus book for verifying Statefulset Volume replica distribution across pools. PR #507

[2019-03-11 04:21] #510 closed

[2019-03-11 04:28] nsathyaseelan commented on #471
@yudaykiran from this PR https://github.com/openebs/litmus/pull/475/files the google analytics value is set to be always disabled in the litmusbook.

[2019-03-11 12:40] gprasath commented on #471
Closing through #475

[2019-03-11 12:40] #471 closed

[2019-03-13 06:59] debojitkakoti commented on #322
@chandankumar4 If this is still open , I would like to work on it.

[2019-03-14 07:09] gprasath opened #524 "Validate the number of pool pods using the maxpool count."
Currently, the number of pool pods created are validated using the nods count, not the maxpool count. It has to modified in such as way to compare the number of pool pods with the maxpool count specified in pool definition.

[2019-03-14 07:38] gprasath commented on #524
Fixed through #525

[2019-03-14 07:38] #524 closed

[2019-03-14 08:07] nsathyaseelan opened #526 "Update the docker installation steps for packet cluster creation prerequisites"
- Update the docker image installation for packet cluster creation prerequisites

[2019-03-14 08:09] gprasath commented on #526
Closing through #520

[2019-03-14 08:09] #526 closed

[2019-03-14 08:14] nsathyaseelan opened #527 "Increase the timeout for Packet cluster to wait for ssh instances to connect"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2019-03-19 00:15] gprasath opened #531 "Implement DSE pod failure litmusbook."
##FEATURE REQUEST
The litmusbook should be capable of failing the application pod and checking its status. It should pick one of the pods in DSE statefulset and induce chaos using pumba.

[2019-03-20 10:18] gprasath opened #535 "Implement a litmusbook to create volume snapshot."
The litmusbook should be capable of creating snapshot for a volume.
The pvc, app namespace should be passed as env.

[2019-03-20 14:08] kmova commented on #538
Explore using the redis operator.

[2019-03-20 14:16] kmova commented on #514
Covered as part of the Litmus Docs

[2019-03-20 14:33] dargasudarshan commented on #214
This is now available https://github.com/openebs/litmus/blob/master/k8s/on-prem/openshift-installer/create_openshift_cluster.yml

[2019-03-20 14:33] #214 closed

[2019-03-20 14:36] dargasudarshan commented on #203
All the current litmus books have ENV defined to pass application specific parameters as user defined variables

[2019-03-20 14:36] #203 closed

[2019-03-20 14:38] dargasudarshan commented on #113
For running commands on remote host is implemented via https://github.com/openebs/litmus/blob/master/apps/percona/chaos/openebs_app_svc_chaos/run_litmus_test.yml

[2019-03-20 14:38] #113 closed

[2019-03-20 14:40] dargasudarshan commented on #192
This is being done as part of app chaos tests.
For reference: https://github.com/openebs/litmus/blob/master/apps/percona/chaos/app_node_failure_ups_diff_name/test.yml

[2019-03-20 14:40] #192 closed

[2019-03-20 14:42] dargasudarshan commented on #116
Cluster creation playbooks are implemented in block and rescue mode with set flags.

https://github.com/openebs/litmus/blob/master/k8s/aws/k8s-installer/create-aws-cluster.yml

[2019-03-20 14:42] #116 closed

[2019-03-20 14:45] dargasudarshan commented on #73
@ksatchit We have checks implemented for restart counts, resource versions for different chaos tests. Would you like to take a call on this issue if this can closed?

[2019-03-20 14:49] dargasudarshan commented on #112
This is being done as part of travis.

[2019-03-20 14:49] #112 closed

[2019-03-20 14:51] dargasudarshan commented on #341
Closing this issue now, as we have decided not to go ahead with this version change.

Will reopen in future if required.

[2019-03-20 14:51] #341 closed

[2019-03-21 05:21] gprasath commented on #535
Closing through #536

[2019-03-21 05:21] #535 closed

[2019-03-24 04:45] nsathyaseelan opened #546 "Update snapshot rebuild litmus book to pass snapshot name as env"
- Update snapshot rebuild litmusbook to pass the snapshot name as env

[2019-03-27 06:58] dargasudarshan commented on #73
Implemented checks for restart counts, resource versions for different chaos tests.

[2019-03-27 06:58] #73 closed

[2019-03-27 07:00] nsathyaseelan commented on #546
This issue fixed by the following PR
https://github.com/openebs/litmus/pull/547

[2019-03-27 07:00] #546 closed

[2019-03-27 07:01] nsathyaseelan commented on #480
fix for this issue
https://github.com/openebs/litmus/pull/481

[2019-04-01 06:59] gprasath opened #553 "Need to obtain volume capacity as env during clone creation."
## Is this a BUG REPORT or FEATURE REQUEST?
 - Currently, volume capacity is hard-coded in clone creation util.
- Let us obtain the volume capacity as env variable from clone creation job and update the util accordingly before creating  clone.

[2019-04-02 05:24] gprasath opened #555 "Pass volume capacity as env in elasticsearch deployment litmusbook."
Currently, litmusbook deploys elasticsearch statefulset with 20GB volumes. This needs to be obtained from user and execute the same.

Procedure:
- Keep a placeholder for capacity in elasticsearch deployment manifest file.
- Obtain the capacity from user as env.
- Replace the placeholder before applying it.

[2019-04-02 05:35] gprasath opened #556 "Implement litmusbook to deploy openebs using stable helm chart."
- Currently, we have a litmusbook to deploy openebs using kubectl.
- Need to implement a new litmusbook to deploy openebs using stable helm chart.

https://staging-docs.openebs.io/docs/next/installation.html#helm-rbac

[2019-04-02 05:49] #553 closed

[2019-04-03 04:25] ksatchit opened #558 "Implement deployer litmusbook for kafka"
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

kafka is a much used stateful application on Kubernetes. A deployer litmusbook with the right set of tunables for kafka needs to be created as a starter towards soaking it in the OpenEBS CI pipelines.

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else

[2019-04-03 04:34] ksatchit opened #559 "Create litmus chaoslib utils chaos for kube-proxy"
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

**What happened**:

Litmus chaoslib currently supports "K8s infrastructure chaos" via utils to drain a K8s node, force eviction of pods via taints & simulate service chaos on kubelet/docker.

kube-proxy is a K8s component that plays an important role in routing service traffic to the right pods. Injection chaos on kube-proxy can have imp

[2019-04-10 04:11] #531 closed

[2019-04-17 09:18] mayavuser opened #577 "Pumba util should verify pod health check only on Ready nodes."
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST
Enhancement.

- Pumba util should verify pod health check only on Ready nodes.

**What happened**:
- If one of the node in the cluster is Not Ready, pumba pod remains in Pending state as a result pumba util fails at health check task.

**What you expected to happen**:
- Pumba util should verify pod health check

[2019-04-17 09:19] #577 closed

[2019-04-17 09:20] dargasudarshan opened #578 "Pumba util should verify pod health check only on Ready nodes"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST
Enhancement.

- Pumba util should verify pod health check only on Ready nodes.

**What happened**:
- If one of the node in the cluster is Not Ready, pumba pod remains in Pending state as a result pumba util fails at health check task.

**What you expected to happen**:
- Pumba util should verify pod health check

[2019-04-17 09:24] dargasudarshan opened #579 "Update ansible playbook path in the litmus runner book"
As part of framework hierarchy change we have moved the chaos litmus books to experiments/chaos path.

But the litmus runner book is not updated with the latest hierarchy path changes.

Example:

In this litmus runner https://github.com/openebs/litmus/blob/master/experiments/chaos/openebs_node_service_failure/run_litmus_test.yml

[code]
The ansible playbook should be like

[code]

[2019-04-17 16:37] gprasath opened #580 "Implement litmus-experiment to inject chaos into openebs-provisioner deployment."
Description:

- The litmus-experiment should be capable of killing/injecting the openebs-provisioner pod and measure the behaviour.
- The inputs such as namespace, pod label should be obtained as litmus pod's env.
- It should validate if the pod get scheduled again and be able to serve the requests.
- Should follow the general naming conventions for litmus jobs and test file names.

Follow general

[2019-04-22 02:08] ksatchit opened #581 "Convert pumba sigkill util to take app labels over (instead of) pod names"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2019-04-22 02:09] ksatchit opened #582 "Make naming conventions for namespaces, labels and other args consistent across utils"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2019-04-22 02:09] ksatchit opened #583 "Define absolute paths inside chaosutil selection jinja template"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2019-04-22 02:10] ksatchit opened #584 "Cleanup/Restructure utils in chaoslib"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2019-04-22 02:11] ksatchit opened #585 "Cleanup/Restructure utils in common library"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2019-04-22 02:11] ksatchit opened #586 "Ensure test_names playbook vars are consistent with litmusbook(job) labels"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2019-04-22 02:13] ksatchit opened #587 "Create litmus chaoslib utils for ElasticSearch"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2019-04-22 02:16] ksatchit opened #588 "Restructure/Optimize the ansible-runner Dockerfile"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2019-04-22 02:29] ksatchit opened #589 "Create litmus chaoslib utils for MySQL"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2019-04-22 02:30] ksatchit opened #590 "Restructure litmusbook tests to move to litmus/experiments"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2019-04-22 02:31] ksatchit opened #591 "Add reusable gitlab templates corresponding to litmus experiments"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2019-04-22 02:32] ksatchit opened #592 "Create tool to update kubernetes manifests with relevant spec insertions"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST

### Usecases

- Precondition application deployment specs Or litmusbooks with additions or changes to labels, annotations, volumes, images, ENVs etc.,

- Current workarounds include usage of `kubectl set env` with `dry-run` options to modify ENVs & usage of bash utils like `sed` to replace other entities.

- M

[2019-04-22 02:35] ksatchit commented on #515
Note: Will be covered as part of Maya BDD. Litmus will be used as a means to consume the OpenEBS deployments & perform chaos/other user actions on it.

[2019-04-22 02:35] #515 closed

[2019-04-22 04:35] nsathyaseelan opened #593 "Implement litmus-experiment to inject chaos into Maya API server deployment."
### Description:

The litmus-experiment should be capable of killing/injecting the Maya API server pod and measure the behaviour.
The inputs such as namespace, pod label should be obtained as litmus pod's env.
It should validate if the pod get scheduled again and be able to serve the requests.
Should follow the general naming conventions for litmus jobs and test file names.

Follow general PR conv

[2019-04-22 08:20] gprasath opened #596 "Implement limusbook to ensure that the target is scheduled with its corresponding statefulset application instance"
- In case of Statefulset applications using OpenEBS volumes, target and replica related resources need to have affinity with application. This means, for a given OpenEBS volume, target and replica related resources should be scheduled on the same node where application resides.

- Include the label `openebs.io/sts-target-affinity: <.metadata.name of STS>` in the application manifest and deploy the

[2019-05-14 13:00] gprasath commented on #596
closed #624

[2019-05-14 13:00] #596 closed

[2019-08-23 19:52] ksatchit opened #693 "Integrate powerfulseal with litmus chaoslib"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

- Powerfulseal is a popular opensource chaos testing framework based on netflix chaos monkey, with ability to inject failures on kubernetes pods & nodes
- Litmus chaoslib needs to include powerfulseal (in autonomous mode) as an executor
- Possible initial usecases include instance failures on AWS & GCP

[2019-08-26 06:53] umamukkara opened #695 "Need analytics of chaos-experiments"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

- Just like docker pulls, it would be good to have a badge on both litmuschaos/litmus repo as well as litmuschaos.io website that representing the number of experiments executing. Each time the ansible-runner container runs an experiment, this analytic counter should be incremented. We can have this metadata through Google Analytics

-

[2019-08-27 03:48] umamukkara opened #697 "Add GitHub StarGazers badge to the website"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

What is needed?

Most open source projects have this tracker as a measure to grow the community.

[2019-08-27 04:05] umamukkara commented on #34
Cleaning/scrubbing the issues.

Closing this one as we moved to the hub, chart and operator framework

[2019-08-27 04:05] #34 closed

[2019-08-27 04:10] nsathyaseelan commented on #579
This issue fixed as part of this PR https://github.com/litmuschaos/litmus/pull/612

[2019-08-27 04:10] #579 closed

[2019-08-27 04:11] ksatchit commented on #590
Experiments have been moved to the new structure. However, some app-specific experiments will still be placed under apps/tests or apps/experiments.

[2019-08-27 04:11] #590 closed

[2019-08-27 04:15] ksatchit commented on #305
The go-based executor has been deprecated for now, with plans for the same being developed independently in a separate repo. Closing this issue now. Will be created on the new repo once available.

[2019-08-27 04:15] #305 closed

[2019-08-27 04:15] ksatchit commented on #302
The go-based executor has been deprecated for now, with plans for the same being developed independently in a separate repo. Closing this issue now. Will be created on the new repo once available.

[2019-08-27 04:15] #302 closed

[2019-08-27 04:16] ksatchit commented on #301
The go-based executor has been deprecated for now, with plans for the same being developed independently in a separate repo. Closing this issue now. Will be created on the new repo once available.

[2019-08-27 04:16] #301 closed

[2019-08-27 04:16] ksatchit commented on #298
The go-based executor has been deprecated for now, with plans for the same being developed independently in a separate repo. Closing this issue now. Will be created on the new repo once available.

[2019-08-27 04:16] #298 closed

[2019-08-27 04:16] ksatchit commented on #206
The go-based executor has been deprecated for now, with plans for the same being developed independently in a separate repo. Closing this issue now. Will be created on the new repo once available.

[2019-08-27 04:16] #206 closed

[2019-08-27 04:28] #480 closed

[2019-08-29 11:52] somesh2905 opened #699 "openebs deployment refactoring"
**Description**
Perform modification in the source code for openebs deployers.
(For openebs deployment there are two directories under litmus repository. One is litmusbook and other one is ansible -- litmusbook contains two runner for ansible plays and there are various plays under ansible directory for openebs setup and cleanup.)
The runner for openebs setup and cleanup has to be merged into sing

[2019-08-29 12:08] sakshamkatiyar opened #700 "Load Generation till the pipeline ends"
## FEATURE REQUEST

**Description**
Create a load generator that works on PerconaDB that keeps on doing I/O operations on the database till the pipeline runs.

[2019-08-29 12:10] w3aman opened #701 "Implement litmus-experiment to kill the kubernetes node on vSphere"
### **Description:**
The litmus-experiment should be capable of killing the kubernetes node on vSphere.
The inputs such as namespace, pod label should be obtained as litmus pod's env. It should validate the behaviour of application.

[2019-08-29 12:10] aditya109 opened #702 "Implement alpine loadgen and liveness check"
## FEATURE REQUEST

**Implement alpine image loadgen and liveness check**

Design a client-side **Job** to enact as a loadgen or liveness-check which is dependent on job-yaml-spec. The **Job** ought to run python-script to generate verbose file of job-yaml-specified size to send in **either** in **loadgen mode** or as **a liveness check**.

[2019-08-29 12:13] uditgaurav opened #703 "Converting kubectl to k8s,k8s_fact module"
Converting kubectl to k8s fact module:

[2019-09-03 05:15] ksatchit opened #706 "Include a consistency check for busybox app"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

**What happened**:

- There is a need of a busybox consistency check util on the lines of the mysql app. Since busybox is devoid of most utility packages, md5sum can be used on a dd-generated file before and after chaos

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else

[2019-09-03 07:33] rahulchheda opened #708 "Get Kubernetes Version in chaos-exporter"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST
FEATURE REQUEST

**What happened**:

What you expected to happen:
The chaos-exporter metrics should have one more metric, called kubernetes version

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2019-09-03 07:33] rahulchheda opened #709 "Get OpenEBS Version in chaos-exporter"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST
FEATURE REQUEST

**What happened**:
The chaos-exporter metrics should have one more metric, called OpenEBS version
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2019-09-03 07:35] rahulchheda opened #710 "Create a contributing.md"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST
FEATURE REQUEST

**What happened**:

**What you expected to happen**:
This doc should have all the necessary information needed to any developer who wants to contribute to the code.
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2019-09-04 04:33] #706 closed

[2019-09-05 20:00] rajdas98 opened #719 "litmuschaos Hub"
- Need a live website of hub.limuschaos.io
- Need a proper documentation

[2019-09-05 20:04] rajdas98 opened #720 "Need ChaosExporter BDD and should be tested on minikube in ci pipeline"
Should include BDD test to check chaos metrics return values with regular expression
BDD should be tested on minikube in ci pileline

[2019-09-05 20:05] rajdas98 opened #721 "Need ChaosOperator BDD and should be tested on minikube in ci pipeline"
- Should have BDD for chaos operators to check chaosEngine and some few test cases
- BDD test should be done on minikube in ci pipeline

[2019-09-05 20:13] #708 closed

[2019-09-05 20:13] #709 closed

[2019-09-06 06:08] #720 closed

[2019-09-14 09:27] uditgaurav opened #734 "To iterate the until condition for different items in ansible"
The playbook code is :
[code]

EXPECTED OUTPUT:

The ` until ` condition should check for 'n' numbers of Pod in `containerStatus` that it is in `Running` state or not with the given delay and retries. So i was expecting a loop on the until  for different pods status checking. Let suppose we have 3 pods in output so It may looks like:
For first iteration -
until: containerStatus.resources.0.status.

[2019-09-26 09:30] rajdas98 commented on #721
resolved

[2019-09-26 09:30] #721 closed

[2019-09-26 09:31] rajdas98 commented on #719
hub is live

[2019-09-26 09:31] #719 closed

[2019-09-26 11:30] ksatchit commented on #697
Fixed by https://github.com/litmuschaos/litmus/pull/745

[2019-09-26 11:30] #697 closed

[2019-09-26 11:31] ksatchit commented on #700
The OpenEBS specific jobs will be tracked under https://github.com/mayadata-io/litmus

[2019-09-26 11:31] #700 closed

[2019-09-26 11:34] ksatchit commented on #710
There is one available [here](https://github.com/litmuschaos/litmus/blob/master/CONTRIBUTING.md). Needs to be refactored for litmus specifics and removal of references to OpenEBS

[2019-09-26 11:34] #710 closed

[2019-09-26 11:37] ksatchit commented on #699
The OpenEBS deployment books will be maintained at https://github.com/mayadata-io/litmus

[2019-09-26 11:37] #699 closed

[2019-09-26 11:38] ksatchit commented on #593
The OpenEBS specific litmusbooks will be developed & maintained at https://github.com/mayadata-io/litmus

[2019-09-26 11:38] #593 closed

[2019-09-26 11:39] ksatchit commented on #580
The OpenEBS litmusbooks will be developed & maintained at https://github.com/mayadata-io/litmus

[2019-09-26 11:39] #580 closed

[2019-09-26 11:40] ksatchit commented on #558
The app deployment litmusbooks will be developed & maintained at https://github.com/mayadata-io/litmus

[2019-09-26 11:40] #558 closed

[2019-09-26 11:42] ksatchit commented on #556
OpenEBS deployment litmusbooks will be developed & maintained at https://github.com/mayadata-io/litmus

[2019-09-26 11:42] #556 closed

[2019-09-26 11:43] ksatchit commented on #555
The app deployment litmusbooks will be developed and maintained at https://github.com/mayadata-io/litmus

[2019-09-26 11:43] #555 closed

[2019-09-26 11:45] ksatchit commented on #540
The load generation litmusbooks will be developed and maintained at https://github.com/mayadata-io/litmus

[2019-09-26 11:45] #540 closed

[2019-09-26 11:47] ksatchit commented on #539
The load generation litmusbooks will be developed and maintained at https://github.com/mayadata-io/litmus

[2019-09-26 11:47] #539 closed

[2019-09-26 11:53] ksatchit commented on #538
The OpenEBS-specific app deployment litmusbooks will be developed & maintained at https://github.com/mayadata-io/litmus

[2019-09-26 11:54] #538 closed

[2019-09-26 12:00] ksatchit commented on #523
The OpenEBS pipeline specific litmusbooks will be developed and maintained at https://github.com/mayadata-io/litmus

[2019-09-26 12:00] #523 closed

[2019-09-26 12:04] ksatchit commented on #321
The OpenEBS specific ansible plugins will be maintained at https://github.com/mayadata-io/litmus

[2019-09-26 12:04] #321 closed

[2019-09-26 12:06] ksatchit commented on #269
The minikube bringup scripts will no longer be maintained in litmuschaos/litmus

[2019-09-26 12:06] #269 closed

[2019-09-26 12:08] ksatchit commented on #217
OpenEBS specific ansible plugins will be maintained at https://github.com/mayadata-io/litmus

[2019-09-26 12:08] #217 closed

[2019-09-26 12:10] ksatchit commented on #53
The OpenEBS feature specific litmusbooks will be developed and maintained at https://github.com/mayadata-io/litmus

[2019-09-26 12:10] #53 closed

[2019-09-26 12:16] ksatchit commented on #52
The OpenEBS specific functional litmusbooks will be developed and maintained at: https://github.com/mayadata-io/litmus

[2019-09-26 12:17] #52 closed

[2019-09-26 14:15] rahulchheda opened #763 "Relevant Changes/ Refactoring of the Page : https://docs.litmuschaos.io/docs/next/chaos.html"
## DOCUMENTATION

**What to do**:

- Refactor the Page in the title

**Where to create the PR**
- https://github.com/litmuschaos/litmus-docs

[2019-09-26 14:17] rahulchheda opened #762 "Refactoring of the Docs Page : https://docs.litmuschaos.io/docs/next/components.html"
## DOCUMENTATION

**What to do**:

- Refactor the Page in the title

**Where to create the PR**
- https://github.com/litmuschaos/litmus-docs

[2019-09-26 14:19] rahulchheda opened #761 "Changed/ Refactoring needed on Docs : https://docs.litmuschaos.io/docs/next/workflow.html"
## DOCUMENTATION

**What to do**:

- Refactor the Page in the title

**Where to create the PR**
- https://github.com/litmuschaos/litmus-docs

[2019-09-26 14:20] rahulchheda opened #760 "Refactoring of Docs Page : https://docs.litmuschaos.io/docs/next/ci.html"
## DOCUMENTATION

**What to do**:

- Refactor the Page in the title

**Where to create the PR**
- https://github.com/litmuschaos/litmus-docs

[2019-09-26 14:21] rahulchheda opened #759 "Chages required on Docs Page: https://docs.litmuschaos.io/docs/next/co-components.html"
## DOCUMENTATION

**What to do**:

- Refactor the Page in the title

**Where to create the PR**
- https://github.com/litmuschaos/litmus-docs

[2019-09-26 14:23] rahulchheda opened #758 "Refactoring of Docs Page: https://docs.litmuschaos.io/docs/next/co-chaosengine.html"
After understanding the ChaosEngine, please update the docs.

[2019-09-26 14:25] rahulchheda opened #757 "Changes Needed On Docs Page : https://docs.litmuschaos.io/docs/next/co-chaosexperiment.html"
After understanding the ChaosExperiment, and its usage, make the needful changes.

[2019-09-26 14:27] rahulchheda opened #756 "Refactoring/ Addition on Docs Page : https://docs.litmuschaos.io/docs/next/cb-overview.html"
## DOCUMENTATION

**What to do**:

- Try to create one Litmus Book on your own using this CookBook, and then improve the docs, if you can.
- Refactor the Page in the title

**Where to create the PR**
- https://github.com/litmuschaos/litmus-docs

[2019-09-26 14:28] rahulchheda opened #755 "Refactoring of Docs : https://docs.litmuschaos.io/docs/next/cb-experiment.html"
## DOCUMENTATION

**What to do**:

- Try to use our Cookbook, and then please improve the docs if you can.
- Refactor the Page in the title

**Where to create the PR**
- https://github.com/litmuschaos/litmus-docs

[2019-09-26 14:29] rahulchheda opened #754 "Changes/ Addition needed on Docs: https://docs.litmuschaos.io/docs/next/cb-litmuslib.html"
## DOCUMENTATION

**What to do**:

- Try to use our Cookbook, and then please improve the docs if you can.
- Refactor the Page in the title

**Where to create the PR**
- https://github.com/litmuschaos/litmus-docs

[2019-09-26 14:30] rahulchheda opened #753 "Refactoring needed on Docs Page: https://docs.litmuschaos.io/docs/next/cb-construct.html"
## DOCUMENTATION

**What to do**:

- Try to use our Cookbook, and then please improve the docs if you can.
- Refactor the Page in the title

**Where to create the PR**
- https://github.com/litmuschaos/litmus-docs

[2019-09-26 14:30] rahulchheda opened #752 "Refactoring of Docs Page: https://docs.litmuschaos.io/docs/next/cb-test.html"
## DOCUMENTATION

**What to do**:

- Refactor the Page in the title

**Where to create the PR**
- https://github.com/litmuschaos/litmus-docs

[2019-09-26 14:33] rahulchheda opened #751 "Refactoring of Docs : https://docs.litmuschaos.io/docs/next/cb-quality.html"
## DOCUMENTATION

**What to do**:
- Try to use the cookbook (current URL in the topic)
- Create one dummy experiments and them refactor it
- Refactor the Page in the title

**Where to create the PR**
- https://github.com/litmuschaos/litmus-docs

[2019-09-27 05:27] ksatchit commented on #592
cc: @AmitKumarDas

[2019-09-27 05:52] Sanjay1611 opened #750 "(refactor): Refactor the Reconcile function"
## REFACTOR

**What happened**:

- Some pods and services are being built and created in the reconcile function. There's a check for the resources to be already present before being created.

**What you expected to happen**:

- All the pods and services should be created only after it is verified that they are not present.

**Anything else we need to know**:

- ChaosEngine is a controller and buil

[2019-09-28 09:47] ksatchit opened #764 "Create a styleGuide for naming conventions used in the LItmusChaos Project"
## Is this a BUG REPORT or FEATURE REQUEST?
 FEATURE REQUEST

There are references to a lot of components that the LitmusChaos project is comprised of (operator, experiment books, exporter, charts, hub etc.,) - both in the code (variable names, function names, filenames, etc.., as well in terms of common jargon reference. There should a consistent  way for developers and users to use these. This c

[2019-09-30 03:08] somesh2905 opened #765 "Add data persistency check for chaos experiment node_storage_fill"
The litmus-experiment should be capable of evicting the kubernetes node.
The inputs such as namespace, pod label and pvc should be given in env. It should validate the behaviour of application.
Test and run the code before submitting.

### Procedure
This scenario validates the behaviour of application and OpenEBS persistent volumes in the amidst of chaos induced on OpenEBS data plane and control p

[2019-09-30 06:23] chandankumar4 opened #767 "(chaos-operator): Add unit test cases for function engineRunnerPod()"
## UNIT TEST

**What happened**:

- Write the unit-test

**What you expected to happen**:

- The test case should be written for function **engineRunnerPod()** of file https://github.com/litmuschaos/chaos-operator/blob/master/pkg/controller/chaosengine/chaosengine_controller.go

**Anything else we need to know?**:
- Issue related to Repository: https://github.com/litmuschaos/chaos-operator
- Refer

[2019-09-30 06:28] chandankumar4 opened #768 "(chaos-operator): Add unit test cases for function engineMonitorService()"
## UNIT TEST

**What happened**:

- Write the unit-test

**What you expected to happen**:

- The test case should be written for function **engineMonitorService()** of file https://github.com/litmuschaos/chaos-operator/blob/master/pkg/controller/chaosengine/chaosengine_controller.go

**Anything else we need to know?**:
- Issue related to Repository: https://github.com/litmuschaos/chaos-operator
-

[2019-09-30 06:34] chandankumar4 opened #769 "(chaos-operator): Add unit test cases for function getChaosRunnerENV() and getChaosExporterENV()"
## UNIT TEST

**What happened**:

- Write the unit-test

**What you expected to happen**:

- The test case should be written for function **getChaosRunnerENV()** and **getChaosExporterENV()** of file https://github.com/litmuschaos/chaos-operator/blob/master/pkg/controller/chaosengine/chaosengine_controller.go

**Anything else we need to know?**:
- Issue related to Repository: https://github.com/li

[2019-09-30 06:35] chandankumar4 opened #770 "(chaos-operator): Add unit test cases for function Reconcile()"
## UNIT TEST

**What happened**:

- Write the unit-test

**What you expected to happen**:

- The test case should be written for function **Reconcile()**  of file https://github.com/litmuschaos/chaos-operator/blob/master/pkg/controller/chaosengine/chaosengine_controller.go

**Anything else we need to know?**:
- Issue related to Repository: https://github.com/litmuschaos/chaos-operator
- Reference:

[2019-09-30 06:37] chandankumar4 opened #771 "Add unit test cases"
## UNIT TEST

**What happened**:

- Write the unit-test

**What you expected to happen**:

- The test case should be written for function **Add()** of file https://github.com/litmuschaos/chaos-operator/blob/master/pkg/controller/chaosengine/chaosengine_controller.go

**Anything else we need to know?**:
- Issue related to Repository: https://github.com/litmuschaos/chaos-operator
- Reference:- https

[2019-09-30 06:45] chandankumar4 opened #772 "(chaos-operator):Add unit test cases for function add()"
## UNIT TEST

**What happened**:

- Write the unit-test

**What you expected to happen**:

- The test case should be written for function **add()** of file https://github.com/litmuschaos/chaos-operator/blob/master/pkg/controller/chaosengine/chaosengine_controller.go

**Anything else we need to know?**:
- Issue related to Repository: https://github.com/litmuschaos/chaos-operator
- Reference:- https

[2019-09-30 06:47] chandankumar4 opened #773 "(chaos-operator):Add unit test cases for file pkg/controller/controller.go"
## UNIT TEST

**What happened**:

- Write the unit-test

**What you expected to happen**:

- The test case should be written for file https://github.com/litmuschaos/chaos-operator/blob/master/pkg/controller/controller.go

**Anything else we need to know?**:
- Issue related to Repository: https://github.com/litmuschaos/chaos-operator
- Reference:- https://github.com/litmuschaos/chaos-operator/blob/

[2019-09-30 07:14] chandankumar4 opened #774 "(chaos-operator):Add unit test cases for file cmd/manager/main.go"
## UNIT TEST

**What happened**:

- Write the unit-test

**What you expected to happen**:

- The test case should be written for file https://github.com/litmuschaos/chaos-operator/blob/master/cmd/manager/main.go

**Anything else we need to know?**:
- Issue related to Repository: https://github.com/litmuschaos/chaos-operator
- Reference:- https://github.com/litmuschaos/chaos-operator/blob/master/pk

[2019-09-30 07:47] ksatchit commented on #765
Expected to be tracked at: https://github.com/mayadata-io/litmus

[2019-09-30 07:47] #765 closed

[2019-09-30 09:35] chandankumar4 opened #775 "(refactor): Refactor the reconcile function according to the BCH(Better Code Hub) rule"
## Refactoring

**What happened**:

- Refactor the **reconcile()** function according to the Better Code Hub rule

**What you expected to happen**:

- This refactoring will remove all the issue related to reconcile function from Better Code Hub

**Anything else we need to know?**:
- Issue related to Repository: https://github.com/litmuschaos/chaos-operator

Getting started:
- Fork the Repo https:/

[2019-09-30 09:47] chandankumar4 opened #776 "(chaos-operator) (refactor): Refactor the pkg/controller/chaosengine/chaosengine_controller.go"
## Refactoring

**What happened**:

- Refactor the **pkg/controller/chaosengine/chaosengine_controller.go** file leaving **Reconcile()** function according to the Better Code Hub rule

**What you expected to happen**:

- This refactoring will remove all the issue related to file **pkg/controller/chaosengine/chaosengine_controller.go** from Better Code Hub

**Anything else we need to know?**:
- Iss

[2019-09-30 10:05] Sanjay1611 opened #777 "(chaos-exporter): Add Unit Test Cases for function exporter()"
## UNIT TEST

**What happened**:

- Write the unit-test

**What you expected to happen**:

- The test case should be written for function exporter()- https://github.com/litmuschaos/chaos-exporter/blob/master/cmd/exporter/main.go

**Anything else we need to know?**:

- Issue related to Repository: https://github.com/litmuschaos/chaos-exporter

- Reference:- https://github.com/litmuschaos/chaos-oper

[2019-09-30 10:08] Sanjay1611 opened #778 "(chaos-exporter): Add Unit Test Cases for function contains()"
## UNIT TEST

**What happened**:

- Write the unit-test

**What you expected to happen**:

- The test case should be written for function **contains()** - https://github.com/litmuschaos/chaos-exporter/blob/master/cmd/exporter/main.go

**Anything else we need to know?**:
- Issue related to Repository: https://github.com/litmuschaos/chaos-exporter
- Reference:- https://github.com/litmuschaos/chaos-o

[2019-09-30 10:10] Sanjay1611 opened #779 "(chaos-exporter): Add Unit Test Cases for function getNamespaceEnv()"
## UNIT TEST

**What happened**:

- Write the unit-test

**What you expected to happen**:

- The test case should be written for function **getNamespaceEnv()** - https://github.com/litmuschaos/chaos-exporter/blob/master/cmd/exporter/main.go

**Anything else we need to know?**:
- Issue related to Repository: https://github.com/litmuschaos/chaos-exporter
- Reference:- https://github.com/litmuschaos/

[2019-09-30 10:11] Sanjay1611 opened #780 "(chaos-exporter): Add Unit Test Cases for function getOpenebsEnv()"
## UNIT TEST

**What happened**:

- Write the unit-test

**What you expected to happen**:

- The test case should be written for function **getOpenebsEnv()** - https://github.com/litmuschaos/chaos-exporter/blob/master/cmd/exporter/main.go

**Anything else we need to know?**:
- Issue related to Repository: https://github.com/litmuschaos/chaos-exporter
- Reference:- https://github.com/litmuschaos/ch

[2019-09-30 10:12] Sanjay1611 opened #781 "(chaos-exporter): Add Unit Test Cases for file chaos-exporter"
## UNIT TEST

**What happened**:

- Write the unit-test

**What you expected to happen**:

- Write the unit test cases for the chaos-exporter repo

**Anything else we need to know?**:
- Issue related to Repository: https://github.com/litmuschaos/chaos-exporter
- Reference:- https://github.com/litmuschaos/chaos-operator/blob/master/pkg/controller/chaosengine/chaosengine_controller_test.go

[2019-09-30 10:13] Sanjay1611 opened #782 "(chaos-exporter): Add Unit Test Cases for file pkg/version/kubernetesVersion.go"
## UNIT TEST

**What happened**:

- Write the unit-test

**What you expected to happen**:

- The test case should be written for file **pkg/version/kubernetesVersion.go**

**Anything else we need to know?**:
- Issue related to Repository: https://github.com/litmuschaos/chaos-exporter
- Reference:- https://github.com/litmuschaos/chaos-operator/blob/master/pkg/controller/chaosengine/chaosengine_cont

[2019-09-30 10:15] Sanjay1611 opened #783 "(chaos-exporter): Add Unit Test Cases for file pkg/version/openebsVersion.go"
## UNIT TEST

**What happened**:

- Write the unit-test

**What you expected to happen**:

- The test case should be written for file **pkg/version/openebsVersion.go**

**Anything else we need to know?**:
- Issue related to Repository: https://github.com/litmuschaos/chaos-exporter
- Reference:- https://github.com/litmuschaos/chaos-operator/blob/master/pkg/controller/chaosengine/chaosengine_control

[2019-09-30 10:37] Sanjay1611 opened #784 "(chaos-operator) (refactor): Refactor the clientset code used in pkg/clientset/v1alpha1"
## Refactoring

**What happened**:

- Refactor the **chaos-exporter** repo importing the clienset code, used in the repo, from the clienset generated in **chaos-operator** repo

**What you expected to happen**:

- This refactoring will leave the repo using the clienset code generated in **chaos-operator** repo

**Anything else we need to know?**:
- Issue related to Repository: https://github.com/l

[2019-09-30 10:37] chandankumar4 commented on #772
https://github.com/litmuschaos/litmus/issues/771

[2019-09-30 10:37] #772 closed

[2019-09-30 11:18] Sanjay1611 opened #786 "(chaos-exporter) (refactor): Refactor the file pkg/version/openebsVersion.go"
## Refactoring

**What happened**:

- Refactor the file **pkg/version/openebsVersion.go**

**What you expected to happen**:

- Refactor the function [**GetOpenebsVersion(cfg *rest.Config, namespace string)**](https://github.com/litmuschaos/chaos-exporter/blob/7c332d75ead1cbaa94ac7200d6fabc5d48f0a48f/pkg/version/openebsVersion.go#L13-L37) for refactoring, which is a unit of **23** lines of code.

H

[2019-09-30 11:19] aditya109 opened #787 "(ui-frontend-implementation): Changing breadcrumbs on charts and experiments"
## UI-FRONTEND-IMPLEMENTATION

 **What happens**:

- Changing the look of breadcrumbs to charts and experiments

**What you expected to happen**:

- The breadcrumbs will look like something like this :-
![Screenshot from 2019-10-05 15-17-37](https://user-images.githubusercontent.com/22005947/66253293-7ae3eb00-e783-11e9-8f1e-37e173b54e37.png)

**Anything else we need to know?**:

- Issue related to

[2019-09-30 11:26] aditya109 opened #788 "(ui-frontend-implementation): Adding version label to the side-panel"
## UI-FRONTEND-IMPLEMENTATION

**What happens**:

- Adding a **Version Label** to sidepanel of each chart/subchart

**What you expected to happen**:

- The version label  will look like some thing like this :-
https://lh5.googleusercontent.com/yWVCEXflkDLpGqeqmkdXpK0Nssii_uvpAsvH0s3GQgSkKWgBlyI1VJ7qCEnDoNHXTAAcrTls--TQF85t38_koww8qRQsPI-dw_doTotQElp8WxNjTgrT3eJHmC8M7qxfWu49ow45gw

**Anything else

[2019-09-30 11:33] aditya109 opened #789 "(ui-frontend-implementation): Adding a "JOIN US ON SLACK" button"
## UI-FRONTEND-IMPLEMENTATION

 **What happens**:

- Adding a "JOIN US ON SLACK" which directs us to slack channel

**What you expected to happen**:

- The button goes in bottom-right corner when we open any window and should redirect to [https://app.slack.com/client/T09NY5SBT/CNXNB0ZTN](url).
The button will look like something like this :-
https://www.stickpng.com/img/icons-logos-emojis/tech-com

[2019-09-30 11:38] aditya109 opened #790 "(ui-frontend-implementation): Adding an Experiment Run Count metric on each experiment"
## UI-FRONTEND-IMPLEMENTATION

 **What happens**:

- Add a Experiment Run Count metric on each subcharts which updates itself on each experiment pull/install

**What you expected to happen**:

- The metric is to placed on each experiment card

**Anything else we need to know?**:

- Issue related to Repository : https://github.com/litmuschaos/charthub.litmuschaos.io

[2019-09-30 11:40] aditya109 opened #791 "(ui-frontend-implementation): Adding maturity label to the side-panel"
(ui-frontend-implementation): Adding Maturity label to the side-panel

**What happens**:
- Adding a **Maturity Label** to to sidepanel of each chart/subchart

**Anything else we need to know?**:
- Issue related to Repository : https://github.com/litmuschaos/charthub.litmuschaos.io

[2019-09-30 11:41] aditya109 opened #792 "(ui-frontend-implementation): Adding Repository label to the side-panel"
## UI-FRONTEND-IMPLEMENTATION

**What happens**:

- Adding a **Repository Label** to sidepanel of each chart/subchart

**Anything else we need to know?**:

- Issue related to Repository : https://github.com/litmuschaos/charthub.litmuschaos.io

[2019-09-30 14:02] Sweta271097 commented on #789
@aditya109 Can I take up this issue?

[2019-10-01 05:36] chandankumar4 commented on #789
sure!! @Sweta271097 You can take up this issue

[2019-10-01 12:03] sakkshm commented on #789
how can I create a pull request on this issue?
should I create the pull request on https://github.com/litmuschaos/charthub.litmuschaos.io repo?

[2019-10-02 08:29] rampreeth commented on #786
Hey, the only BCH rule that pkg/version/openebsVersion.go is not complying to writing shorter units of code.

[2019-10-02 12:38] susw12 commented on #792
Can I take up this issue?

[2019-10-02 15:39] rahulchheda commented on #786
Yes, so try to shorten the code length by calling multiple functions or use interfaces to lessen the length.

[2019-10-02 16:41] Niladri24dutta commented on #792
hi @aditya109 and @chandankumar4 can I work on this issue? How should the repository label look like? I mean is there any URL for that repository?

[2019-10-02 17:10] dravog7 commented on #791
@aditya109  I would like to work on this issue. Is there anything I should know more?

[2019-10-03 06:31] rampreeth commented on #786
Okay, I will pick this up.

[2019-10-03 06:42] rahulchheda commented on #786
Sure @rampreeth. Go ahead. Don't forget to put the link of your PR, in this issue.

[2019-10-03 06:43] rahulchheda commented on #791
Go ahead @dravog7, don't forget to add this issue number in your PR, and add a link to your PR here as well.

[2019-10-03 06:58] aditya109 commented on #792
Sure @Niladri24dutta , you can work on this issue.
The repository should look like this :
![Screenshot from 2019-10-03 12-25-23](https://user-images.githubusercontent.com/22005947/66105488-374d7d80-e5d9-11e9-8c2c-96db6edce8c0.png)
The repo in which you can change is mentioned above.

[2019-10-03 07:02] aditya109 commented on #791
For sure @dravog7 you can go ahead and work on this issue.
If you want to know what the labels should look like :
![Screenshot from 2019-10-03 12-25-23](https://user-images.githubusercontent.com/22005947/66105713-ca86b300-e5d9-11e9-9083-7c8435c4735e.png)

[2019-10-03 09:10] sebast26 commented on #778
Hi, if this issue is not taken I would like to start working on that :-)

[2019-10-03 10:06] mkkhedawat commented on #788
From where are you planning to read the version? Package.json?

[2019-10-03 15:26] rampreeth commented on #786
Sure 👍

[2019-10-03 15:30] rahulchheda commented on #778
Sure, go ahead! Don't forget to list this issue number in your PR, and please provide a link to PR here aswell.

[2019-10-03 16:26] #693 closed

[2019-10-03 16:31] aditya109 commented on #788
@mkkhedawat we have to pick the version from the charts directory, parsing the yaml of the charts. The maintainer label has been implemented in a similar fashion.

[2019-10-03 16:37] aditya109 commented on #789
@Sweta271097 for sure.. Comment out whatever help you need.

[2019-10-03 16:40] aditya109 commented on #792
Yes @Niladri24dutta. Don't forget to put the link of your PR, in this issue.

[2019-10-03 16:41] aditya109 commented on #789
Also @Sweta271097 don't forget to add this issue number in your PR, and add a link to your PR here as well.

[2019-10-03 16:42] aditya109 commented on #788
Also @mkkhedawat don't forget to add this issue number in your PR, and add a link to your PR here as well.

[2019-10-03 19:50] Niladri24dutta commented on #792
Will do it once done

[2019-10-04 01:26] sakkshm commented on #789
Can I get a chance on this one?

[2019-10-04 03:24] mohatagarvit commented on #789
Hi, are we looking to add this on [homepage](https://litmuschaos.io/) or on the localhost or a different site since the community link on the homepage already has it? Also, is there any specific location that we want this to appear on the site?

[2019-10-04 03:38] mohatagarvit commented on #763
Hi, I checked the [chaos](https://github.com/litmuschaos/litmus-docs/edit/master/docs/chaos.md) doc. Are we trying to refactor the script in this? Because I don't think anything else can be refactored and since many of the docs have the same issue and the same script.

So I am guessing it is the script but I am not able to figure out what to refactor in this?

[2019-10-04 06:24] aditya109 commented on #789
@sakkshm As an open source culture, its first-come-first-serve for the open issue. If you still want to this task, you have to wait for a week, and if there is no PR raised, the current assignee would be relieved, and if you are still up for this task, I would gladly assign it to you. For the time being I would suggest you to take up other open issues, it'd be great.

[2019-10-04 06:40] aditya109 commented on #789
Hi @mohatagarvit, we want it on this button to appear on the [homepage](https://hub.litmuschaos.io)

[2019-10-04 15:15] NaveenBellary commented on #760
@rahulchheda, can you please provide more info as to what needs to be refactored in the page?

[2019-10-04 16:00] cTxplorer commented on #787
@aditya109 The breadcrumb image seems to be of version number.. You might want to update that :)

[2019-10-04 16:12] cTxplorer commented on #758
@rahulchheda Can I take up this issue?

[2019-10-04 16:18] cTxplorer commented on #758
Also, can me point to the doc (co-chaosengine.md) which I am supposed to refractor and update.

Steps taken:
* I searched in this repo (litmuschaos/litmus) but could not find anything.
* Moreover, on clicking edit button at https://docs.litmuschaos.io/docs/next/co-chaosengine.html, take me to 404 Github page.

[2019-10-04 16:45] mohatagarvit commented on #787
I would like to take up this issue.

[2019-10-04 16:47] dravog7 commented on #791
Should I add all the labels or just the maturity label? @aditya109

[2019-10-04 21:06] bh6erk commented on #776
Hi @chandankumar4 !

I would like to try and solve this issue. If I got it right, the only task is to refactor the code so Better Code Hub shows 10/10 for the analyzation of the forked repository?

[2019-10-04 21:14] erikbfeeley commented on #777
Hello!

I will be forking this and writing the unit test for #777

[2019-10-05 00:32] chandankumar4 commented on #776
Yes!! @bh6erk, The BCH will not show any error related to chaosengine_controller.go

[2019-10-05 06:47] jainsaarthak commented on #792
Hi, is this issue still open? I can start working on this issue.

[2019-10-05 07:06] jainsaarthak commented on #792
Is this still open? I would like to work on this.

[2019-10-05 07:07] hoshank commented on #790
Started looking into this. Hacktoberfest

[2019-10-05 07:20] aswathkk commented on #775
Hi @chandankumar4,
I would like to take up this issue.

[2019-10-05 07:25] kmjayadeep commented on #788
@mkkhedawat are you working on this? Or can i take it up?

[2019-10-05 07:25] chandankumar4 commented on #792
@jainsaarthak You can you start working on this issue

[2019-10-05 07:37] kmjayadeep commented on #788
It seems that the Server API already have the version parameter. It's just the matter of modifying the component to show it up on UI

[2019-10-05 07:41] jainsaarthak commented on #792
Please approve if this is the required change:

![image](https://user-images.githubusercontent.com/16264215/66251792-9e059f00-e771-11e9-9faf-9aa4d5a7d028.png)

[2019-10-05 07:46] kmjayadeep opened #806 "need docker compose file in charthub repo"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

charthub.litmuschaos.io has 2 docker files for client and server. It would be better to add a docker compose file to make it easy to run the application using the command
```docker-compose up```

Also, the docker commands provided in the readme are wrong.

I would like to work on this

**What happened**:

**What you expected to happen**

[2019-10-05 07:48] aswathkk opened #807 "Wrong installation instructions in README"
Docker section of Installation is wrong in the repository https://github.com/litmuschaos/charthub.litmuschaos.io
There are 2 Docker files which are `Dockerfile.client` and `Dockerfile.server`. But the Installation instruction in the [README](https://github.com/litmuschaos/charthub.litmuschaos.io/blob/master/README.md) doesn't mention how to use these Dockerfiles. And it also mentions a non-existin

[2019-10-05 07:55] crazyglasses opened #808 "Use Kubernetes Ansible modules instead of embedding it into the shell"
## Is this a BUG REPORT or FEATURE REQUEST?

 FEATURE REQUEST

**What happened**:
Observed that current experiments are written with kubectl commands embedded in the shell commands. Recommend replacing it with Ansible modules for kubernetes. Eg: https://docs.ansible.com/ansible/latest/modules/k8s_module.html#synopsis
**What you expected to happen**:
If modules are embedded in the image, easier dev

[2019-10-05 08:05] crazyglasses opened #809 "Kill Service experiment"
FEATURE REQUEST

**What happened**:

Similar to kill pod, have a experiment to kill service.
**What you expected to happen**:

The kill service experiment will remove the service associated with the pod or disrupt the type of service to observe the effect of how the environment would respond if the service were to be killed.
**How to reproduce it (as minimally and precisely as possible)**:

New fe

[2019-10-05 08:07] ksatchit commented on #808
Awesome @crazyglasses ! That would be great ! Moving to `k8s` & `k8s_facts` is on our roadmap - will be happy to accept contributions in that area.

[2019-10-05 08:09] ksatchit commented on #808
Tagging @uditgaurav who has been working on a similar PR!

[2019-10-05 08:10] ksatchit commented on #809
Sure! Would be a great addition. Could you place your approach & steps on this issue as well?

[2019-10-05 08:26] #762 closed

[2019-10-05 08:26] #761 closed

[2019-10-05 08:27] #760 closed

[2019-10-05 08:27] #757 closed

[2019-10-05 08:27] #759 closed

[2019-10-05 08:27] #756 closed

[2019-10-05 08:28] #755 closed

[2019-10-05 08:28] #754 closed

[2019-10-05 08:28] #753 closed

[2019-10-05 08:28] #752 closed

[2019-10-05 08:28] #751 closed

[2019-10-05 08:31] rahulchheda opened #810 "Generic Chaos Engineering Principles Page in Litmus Docs."
## Is this a BUG REPORT or FEATURE REQUEST?
 FEATURE REQUEST
    - Create one Chaos Engineering Page, describing, all the principles, use cases, advantages, and various other things related to ChaosEngineering.
    - Link of the repo: https://github.com/litmuschaos/litmus-docs
 Choose one: BUG REPORT or FEATURE REQUEST

**What happened**:

**What you expected to happen**:

**How to reproduce it (a

[2019-10-05 08:41] aditya109 commented on #792
@jainsaarthak no its is correct what you did... you don't need to hard code anything we had to get it through component itself. Kindly raise a PR for us to review.

[2019-10-05 08:43] aditya109 commented on #791
@dravog7 Only Maturity Label is fine. We will add separate issues for other labels.

[2019-10-05 08:48] aditya109 commented on #790
Sure go ahead @hoshank. Will assign this task to you. And please forget to raise a PR and put the link in the description.

[2019-10-05 08:48] aswathkk commented on #807
It's better to work on this issue after the issue #806 gets resolved.

[2019-10-05 08:55] rampreeth commented on #786
https://github.com/litmuschaos/chaos-exporter/pull/25

[2019-10-05 09:09] ambaresthete commented on #789
Can I work on this? is it Done?

[2019-10-05 09:37] jainsaarthak commented on #792
https://github.com/litmuschaos/charthub.litmuschaos.io/pull/31

[2019-10-05 09:40] aditya109 commented on #789
Hi @ambaresthete, actually as per open source culture it is FCFS for taking issues. So I will have to assign this @sakkshm. If he does not reply for next 2-3 hours, on his interest, I will assign this issue to you.

[2019-10-05 09:42] sakkshm commented on #789
@aditya109 I'll do it!

[2019-10-05 09:42] aditya109 commented on #788
Hi @kmjayadeep, I will assign this task to you.

[2019-10-05 09:51] aditya109 commented on #787
Hi @cTxplorer, you are correct about the description. I have changed the image as you pointed out.

[2019-10-05 09:53] aditya109 commented on #787
Sure @mohatagarvit you can take this issue up.

[2019-10-05 10:04] kmjayadeep commented on #806
Please add the label Hactoberfest to the issue

[2019-10-05 10:04] jainsaarthak commented on #810
I can take this up. Where does the page need to be added?

[2019-10-05 10:04] ambaresthete commented on #789
Okay, @aditya109. I have my PR ready. Let me know if there's no response.

[2019-10-05 10:05] princerachit commented on #783
I am working on this issue.

[2019-10-05 10:08] rakeshonrediff commented on #810
I can work as part of Hactoberfest.

[2019-10-05 10:14] jainsaarthak commented on #784
Unable to find file `clientset` in `pkg/clientset/v1alpha1`

[2019-10-05 11:02] dravog7 commented on #779
@Sanjay1611  @chandankumar4 May I take up this issue?

[2019-10-05 12:26] harshvkarn commented on #783
Sure @princerachit go ahead!

[2019-10-05 12:30] rahulchheda commented on #810
@jainsaarthak , here you go!

[2019-10-05 12:31] rahulchheda commented on #810
@rakeshonrediff, Wait this week if I don't get the PR, will assign it to you.

[2019-10-05 14:56] uditgaurav commented on #808
Thanks, @ksatchit for tagging me here@crazyglasses that's great I've been working on it and I have converted various shell commands into k8s and k8s_facts module. I have faced some issues in few commands like "Deleting the deployment" using these modules the application gets stuck into the terminating phase. I'll be happy to accept the contribution for such issues.
**SHELL COMMAND**
[code]
USING K

[2019-10-05 15:47] uditgaurav commented on #808
Thanks, @ksatchit for tagging me here @crazyglasses that's great I've been working on it and I have converted various shell commands into k8s and k8s_facts module. I have faced some issues in few commands explained below. I'll be happy to accept the contribution for such issues.
**SHELL COMMAND**
[code]
**USING K8S MODULE**
[code]
so what in think is  k8s module is treating it as "`kubectl apply -

[2019-10-05 18:08] aditya109 opened #814 "(ui-frontend-implementation): Adding Home button in the Header"
(ui-frontend-implementation): Adding Home button in the Header

**What happens**:
- Adding a Home button in the top header left to **Search-Box**. The button should be just contain **Home** and navigate back to [hub.litmuschaos.io](url)

**Anything else we need to know?**:
- Issue related to Repository :[https://github.com/litmuschaos/charthub.litmuschaos.io](url)

[2019-10-05 18:15] GavinAF commented on #814
I'll take this up.

[2019-10-05 18:22] aditya109 opened #815 "(ui-frontend-implementation): Adding Copy-to-clipboard button in the Install pop-up"
### (ui-frontend-implementation): Adding Copy-to-clipboard button in the Install pop-up

**What happens**:
-  Adding Copy-to-clipboard button in the modal code of crdlink in Install pop-up.
![q](https://user-images.githubusercontent.com/22005947/66259141-27958b00-e7cb-11e9-9172-acee3559b3bb.PNG)

**Anything else we need to know?**:
- Issue related to Repository :[https://github.com/litmuschaos/cha

[2019-10-05 18:25] aditya109 commented on #814
For sure @GavinAF you can take this up. Please don't forget to raise a PR and link this issue to the raised PR.

[2019-10-05 19:02] agarwalrounak commented on #815
Hi @aditya109, I need a bit more help here. Where can I find the Install pop-up?

[2019-10-05 21:53] aditya109 commented on #815
Hi @agarwalrounak In regards to your doubt.. If you browse to [hub.litmuschaos.io](url), and click any of the charts, on your right hand side column you have an install button. It is the one which is referred to here.

[2019-10-06 00:54] GavinAF commented on #814
https://github.com/litmuschaos/charthub.litmuschaos.io/pull/35

[2019-10-06 04:08] kmjayadeep opened #817 "Litmus example is not working"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

**What happened**:

Tried to run the example provided in [Litmus Docs](https://docs.litmuschaos.io/docs/next/example.html). The result is not getting populated in chaosresult CR. The nginx pod was never killed and the chaosresult `engine-nginx-pod-delete` was never created. However when I ran `kubectl get pods -n litmus` the pod `engine-nginx

[2019-10-06 04:13] ksatchit commented on #817
@kmjayadeep , can you share the logs of the engine-nginx-runner pod?

[2019-10-06 06:10] kmjayadeep commented on #817
[code]

[2019-10-06 06:15] kmjayadeep commented on #817
When I ran the command `kubectl get chaosexperiment`
I get :
[code]

[2019-10-06 06:21] PatOConnor43 commented on #815
Hi @aditya109 I created a PR [here](https://github.com/litmuschaos/charthub.litmuschaos.io/pull/36) that I think should work for you.

[2019-10-06 06:36] umamukkara opened #818 "Litmus-Docs mobile view has to be fixed"
Visit https://docs.litmuschaos.io on your phone. You will see the header and content mixed up a bit.

One option is to remove the links to Github, Slack and Chaos Hub from the header links, as we have already mentioned them in footer.

File to edit is
https://github.com/litmuschaos/litmus-docs/blob/staging/website/siteConfig.js

## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT

[2019-10-06 06:36] umamukkara commented on #818
![image](https://user-images.githubusercontent.com/19591814/66265296-bd640100-e831-11e9-9da6-bee911306ac8.png)

[2019-10-06 06:50] aswathkk commented on #818
May I take up this one?

[2019-10-06 06:51] umamukkara opened #819 "ChaosHub - Fix mobile view of Generic charts"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

Browse ChaosHub on your mobile (https://hub.litmuschaos.io). Browse generic charts. The chaos experiments have to be stacked one below the other.

The same in the charts view is looking correctly.

![image](https://user-images.githubusercontent.com/19591814/66265421-d968a200-e833-11e9-9987-48dbe7e8fa5b.png)

**Anything else we need to know?*

[2019-10-06 06:52] umamukkara commented on #819
@aditya109 can you post the repo details on where this needs to be fixed?

[2019-10-06 07:28] agarwalrounak commented on #819
Hi @umamukkara:wave: I have figured out the repo details and the necessary correction needed. I will take this up. Please assign it to me.

[2019-10-06 07:29] sureshpathipati commented on #780
@chandankumar4
I have worked on this.
Plz have a look on this
https://github.com/litmuschaos/chaos-exporter/pull/26

[2019-10-06 08:32] inyee786 commented on #819
Hi, @agarwalrounak assigned this issue to you.
Do add a screenshot of your UI change in the pull request.

[2019-10-06 08:33] inyee786 commented on #818
@aswathkk, you can take it up

[2019-10-06 08:59] aditya109 commented on #819
Posted @umamukkara

[2019-10-06 09:00] sakkshm commented on #789
@aditya109 I will not be able to do it. Kindly assign it to someone else.

[2019-10-06 09:00] aditya109 commented on #789
Its okay @sakkshm, take a look at other issues and give them a try.

[2019-10-06 09:09] aditya109 commented on #815
Hi @PatOConnor43, great work on this issue. Will review your PR.
It would be great if you could just star this repository, it would be great.
The link is this:
[https://github.com/litmuschaos/litmus](url)

[2019-10-06 09:10] mspyder commented on #789
hi @aditya109  can you put more description about the issue,
like where the button goes in UI, what is slack URL?

[2019-10-06 09:10] aditya109 commented on #814
Hi @GavinAF , great work on this issue. Will review your PR.
It would be great if you could just star this repository.
The link is this:
[https://github.com/litmuschaos/litmus](url)

[2019-10-06 09:11] inyee786 commented on #789
Hi @aditya109, can you put more description of the issue,
like where the button goes in UI, what is slack URL?

[2019-10-06 09:20] aditya109 commented on #789
@inyee786, I have updated the details in the description of this issue.

[2019-10-06 09:23] aditya109 commented on #789
Hi @ambaresthete, please take a look at the updated details in the description and make changes if required. Also please don't forget to star the [https://github.com/litmuschaos/litmus](repo).

[2019-10-06 10:35] aswathkk commented on #818
Looks like we are using an old version of Docusauraus.
They already resolved these problems in the newer versions.
See this [PR](https://github.com/facebook/docusaurus/pull/444)

[2019-10-06 12:07] aswathkk opened #820 "Upgrade Docusaurus to latest version"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

The latest version of Docusaurus is 1.13.0, but what we use for [Litmus-docs](https://github.com/litmuschaos/litmus-docs) is 1.0.12 which is far behind the latest one.
The latest version has got better features and it will resolve all the issue with the responsiveness of the docs website.

[2019-10-06 12:19] umamukkara commented on #819
Thanks @agarwalrounak . If you have any questions, the community channel is at https://kubernetes.slack.com/messages/CNXNB0ZTN

[2019-10-06 12:39] kmjayadeep commented on #820
Also, it is better to remove node_modules from repo and commit only one of package-lock.json or yarn.lock

[2019-10-06 14:20] agarwalrounak commented on #819
Please review PR https://github.com/litmuschaos/charthub.litmuschaos.io/pull/37

[2019-10-06 14:34] agarwalrounak opened #821 "Update README.md at charthub.litmuschaos.io"
The `usage` section of `README.md` at https://github.com/litmuschaos/charthub.litmuschaos.io should be updated to include more information about starting up the charthub on localhost.

[2019-10-06 14:35] agarwalrounak commented on #821
I am taking this up.

[2019-10-06 19:24] ambaresthete commented on #789
@aditya109  are you sure it goes to bottom-right corner? I guess top-right corner would be appropriate, as there is no footer and it goes along with header.

[2019-10-07 06:40] dedifferentiator commented on #781
Does this file exist? I don't see it in [chaos-exporter/pkg](https://github.com/litmuschaos/chaos-exporter/tree/master/pkg)

[2019-10-07 08:48] aditya109 commented on #789
@ambaresthete there is going to be a footer in the near future. So for now if you think it looks better in the top right, raise the PR and attach a screenshot of the UI. I will ask @inyee786 to review the feel of your change and ask for his opinion on the matter as well.

[2019-10-07 09:13] umamukkara opened #822 "Document or collate the failure testing scenarios for Kafka on Kubernetes"
## Is this a BUG REPORT or FEATURE REQUEST?

**FEATURE REQUEST**

Kafka / Strimzi is being increasingly adopted on Kubernetes environment. Litmus team wants to collaborate with community and build a Chaos Chart for Apache Kafka on Kubernetes. The first step in doing so, is to identify the failure scenarios that can affect Kafka in production.

Useful links:
https://github.com/litmuschaos/litmus
ht

[2019-10-07 12:12] ksatchit commented on #822
Additional Reference: https://github.com/litmuschaos/litmus/issues/183#issue-363248737

[2019-10-07 14:08] rahulchheda commented on #817
Sir, make your deployment in litmus namespace, and change the chaosengine's yaml to get the apps in litmus namespace, give the chaosServiceAccount as 'litmus' , appns: 'litmus',metadata.namespace: 'litmus'.
And then use the instruction in this PR, it just changes the chaosExperiments namespace to 'litmus'.
PR link : https://github.com/litmuschaos/litmus-docs/pull/39

[2019-10-07 16:07] juliosueiras opened #823 "Typo in litmuschaos.io"
Not sure which repo to raise the issue, but on https://litmuschaos.io , the Features section have a typo

Kubernetes Customer Resources should be Kubernetes Custom Resources

[2019-10-07 18:18] kmjayadeep commented on #817
Thanks @rahulchheda
It worked after some trial and error. I think we have few more changes to be done in [https://docs.litmuschaos.io/docs/next/example.html](https://docs.litmuschaos.io/docs/next/example.html) page. Here are the changes I did to make it work.

Added `-n litmus` to
[code]

Added `-n litmus` to
[code]

Change `appns` from `default` to `litmus` in `chaosengine.yaml`

And finally

Add

[2019-10-08 02:56] ksatchit commented on #817
Great! Thanks @kmjayadeep , please go ahead & raise the PR with the working steps.

[2019-10-08 03:54] kmjayadeep commented on #817
Thanks for the detailed explanation @ksatchit
I'm trying out these as you explained

- Provide spec.appinfo.appns as default
- Identify a unique label of the app (one by which it can filtered). Typically this should be present at metadata.labels & spec.template.metadata.labels of the app deployment (you can get this via kubectl get deploy <app deploy name> -o yaml) or via a -- show-labels` cmd.
-

[2019-10-08 04:54] ksatchit commented on #806
Done!

[2019-10-08 04:54] ksatchit commented on #807
Added the Hacktoberfest label to this issue. in case you would like to pick it up.

[2019-10-08 05:24] aswathkk commented on #807
@ksatchit A PR has been already raised by @kmjayadeep
Please look into it. If it's all fine, then we can close this issue.

[2019-10-08 07:30] IsAmrish commented on #823
Thanks @juliosueiras for reporting it. The typo has been fixed!!

[2019-10-08 13:03] mohatagarvit commented on #787
![Litmus1](https://user-images.githubusercontent.com/16732393/66397749-15e5fa80-e9fa-11e9-819d-f3438ace96b3.PNG)
Is this the desired view?

[2019-10-08 13:08] mohatagarvit commented on #787
I also tried a couple of other edits but I don't think they look that good.
![Litmus2](https://user-images.githubusercontent.com/16732393/66398063-bb996980-e9fa-11e9-9b60-05f1a35e3062.PNG)

![Litmus3](https://user-images.githubusercontent.com/16732393/66398076-c2c07780-e9fa-11e9-8564-344a7d91c359.PNG)

[2019-10-08 13:14] mohatagarvit commented on #787
Currently, I am giving spaces by creating a new class and adding padding around '>'. Should I instead go for &nbsp; or &ensp;?

[2019-10-08 13:44] ambaresthete commented on #789
I made the PR. Check the below link:

https://github.com/litmuschaos/charthub.litmuschaos.io/pull/39

[2019-10-08 16:21] Kerl1310 commented on #823
@IsAmrish Can this be closed if so?

[2019-10-08 18:34] kmjayadeep commented on #808
https://github.com/litmuschaos/litmus/pull/737

@uditgaurav Can you please share which all files you have refactored so far and which you are planning to work on?

I've started changing pod_failure_by_litmus file and planning to work on remaining yml files under chaoslib folder, if you haven't worked on those already.

[2019-10-08 18:35] kmjayadeep commented on #703
same as #808

[2019-10-08 20:34] uditgaurav commented on #808
@kmjayadeepYou can carry on for remaining yml files under chaoslib. I've changed the yml files under /utils.

[2019-10-08 20:35] uditgaurav commented on #808
@kmjayadeep You can carry on for remaining yml files under chaoslib. I've changed the yml files under /utils.

[2019-10-09 05:31] #817 closed

[2019-10-09 08:10] #823 closed

[2019-10-09 09:16] ajeshbaby opened #826 "Icon for Pod Delete experiment."
Design icons to show case the following experiments. Each experiment should have an icon in
https://hub.litmuschaos.io/charts/generic
This issue is to track the icon for **Pod Delete**

[2019-10-09 09:19] ajeshbaby opened #827 "Icon for Container Kill experiment"
Design icons to show case the following experiments. Each experiment should have an icon in
https://hub.litmuschaos.io/charts/generic
This issue is to track the icon for **Container Kill** experiment

[2019-10-09 09:20] ajeshbaby opened #828 "Icon for Network Delay experiment"
Design icons to show case the following experiments. Each experiment should have an icon in
https://hub.litmuschaos.io/charts/generic
This issue is to track the icon for **Network Delay**

[2019-10-09 09:21] ajeshbaby opened #829 "Icon for Network loss experiment"
Design icons to show case the following experiments. Each experiment should have an icon in
https://hub.litmuschaos.io/charts/generic
This issue is to track the icon for **Network Loss** experiment.

[2019-10-09 09:21] ManishAradwad commented on #826
Hii! I'd like to work on this one.. Can you plz assign this to me

[2019-10-09 14:03] aditya109 commented on #815
@PatOConnor43 I have reviewed your PR. I would like you
 to make the UI look like this:
![Screenshot from 2019-10-09 19-20-41](https://user-images.githubusercontent.com/22005947/66488381-6f6a2a00-eacb-11e9-9bed-7818c798af14.png)
The button works just like but just requires a tinge of UI change

[2019-10-09 14:08] #819 closed

[2019-10-10 00:02] mevrouwdevries commented on #829
I'd like to work on this. Can you assign me please?

[2019-10-10 00:11] mevrouwdevries commented on #828
I'd like to work on this issue. Can you assign me please?

[2019-10-10 05:00] kmjayadeep opened #832 "Reduce ansible-runner docker image size"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

Ansible-runner docker image is currently taking 627MB of disk space. It can be reduced by adding a few optimization to dockerfile

[2019-10-10 06:52] chandankumar4 commented on #828
Thanks @mevrouwdevries for picking up this issue, Go ahead

[2019-10-10 06:54] chandankumar4 commented on #829
Thanks, @mevrouwdevries for picking up this issue.
/assigned

[2019-10-10 08:58] Parikshit-Hooda opened #836 "readme typos"
## Is this a BUG REPORT or FEATURE REQUEST?
 BUG REPORT

**What happened**:
typos in README markdowns
- rerourse -> resource
- extention -> extension

**What you expected to happen**:
Typo free readme

**How to reproduce it (as minimally and precisely as possible)**:
check the readme markdown file

**Anything else we need to know?**:
No

[2019-10-10 09:25] #836 closed

[2019-10-10 10:07] #788 closed

[2019-10-11 02:55] kmjayadeep commented on #809
@crazyglasses Are you working on this? else I would like to give a shot
@ksatchit This is the approach I'm thinking:

1. Inject the variables just like in pod-delete experiment
2. Get the IP and port of the service (maybe it can be injected through env, I'm not sure)
3. Make sure Service is up and port is accessible
4. Delete the service multiple times (same as pod-delete)
5. Verify whether the sa

[2019-10-11 03:49] ksatchit commented on #809
We would love to have an introductory mongodb chart with the above service kill experiment! So the approach I would suggest is to have a base (generic experiment) with above described steps & then introduce a new experiment category called mongodb - which, while reusing the same service failure chaoslib, has additional exit criteria checks (with the 200 status, for example). Let me know what you t

[2019-10-11 03:49] #832 closed

[2019-10-11 04:29] kmjayadeep commented on #809
@ksatchit Sure! great idea. For mongodb, we can use pod-delete and container-kill also.
I will start with service-delete then

[2019-10-11 09:43] aditya109 commented on #787
No @mohatagarvit this is good enough. Please raise a PR so that I can review your code and don't forget star the **litmus repo** [https://github.com/litmuschaos/litmus]().

[2019-10-11 13:16] aditya109 opened #840 "(ui-frontend-implementation): fixing the spacing in the side panel of the charts and link styling changes"
### (ui-frontend-implementation): fixing the spacing in the side panel of the charts and link styling changes

**What happens**:
-  The labels don't have equal spacings. Requires changes in css :
![Screenshot from 2019-10-11 18-41-25](https://user-images.githubusercontent.com/22005947/66654204-568e7f80-ec57-11e9-91a5-b9fe1103c656.png)

- Also the repository link clips through the side panel div. T

[2019-10-11 13:49] aditya109 opened #841 "(ui-frontend-implementation): changing the placement of the experiments"
### (ui-frontend-implementation): changing the placement of the experiments

**What happens**:
-  Currently we have this:
![image](https://user-images.githubusercontent.com/22005947/66656539-d4ed2080-ec5b-11e9-91f8-679b505f4469.png)
- What is needed is the experiments should be moved closer to the description to remove the blank space
![Screenshot from 2019-10-11 19-13-49](https://user-images.gith

[2019-10-11 15:37] #806 closed

[2019-10-11 15:37] #807 closed

[2019-10-12 05:48] ambaresthete commented on #841
Can i work on this?

[2019-10-12 08:22] ksatchit opened #842 "Add Schematic/Block diagrams in README to explain LItmusChaos Workflow"
- The litmus README needs to contain a schematic/block diagram to explain the operational functional flow of LitmusChaos. While the demo video is helpful, it would help greatly if accompanied by the above

[2019-10-12 09:15] mathagician commented on #322
@chandankumar4 @ksatchit There are tools available in the github market place. You can visit [Github Marketplace](https://github.com/marketplace) and select the tools

1. Snyk
2. Code Climate Coverage Action
3. Code Cov
4. Better Code Hub

[2019-10-12 16:30] sahilbhosale63 commented on #821
Hi, is anyone working on this issue or should I take it?

[2019-10-12 16:55] agarwalrounak commented on #821
Hi @sahilbhosale63, there is already a PR https://github.com/litmuschaos/charthub.litmuschaos.io/pull/38 opened for this issue.

[2019-10-13 11:20] inyee786 commented on #841
yes, @ambaresthete you can take it up

[2019-10-14 02:16] bhaumik1802 commented on #822
@ksatchit
As discussed with Kartik - Please find some use cases for Kafka Chaos expertiments

Question: what happens when the message queue becomes 100ms slower due to load.
The Hypothesis: The application layer will see slower commits, memory utilization will increase due to a larger queue depth, and eventually the queue will overrun and the application will lose data

Question: What happens when

[2019-10-14 05:57] umamukkara commented on #822
Thank you @bhaumik1802

[2019-10-14 08:57] ksatchit opened #849 "Introduce CEP (Chaos Enhancement Proposals) for Litmus Chaos Project"
- Introduce CEPs (Chaos Enhancement Proposals) to share insights & obtain feedback from community on development of new features/modifications to current ones

[2019-10-14 09:12] aditya109 commented on #841
Yes @ambaresthete you can definitely go ahead with this issue. I have assigned this issue to you.

[2019-10-14 12:17] ksatchit commented on #764
This should also include custom-error codes cc: @rajdas98

[2019-10-14 15:59] #783 closed

[2019-10-15 13:51] mohatagarvit commented on #787
Made a [PR](https://github.com/litmuschaos/charthub.litmuschaos.io/pull/43) for the agreed upon changes.

[2019-10-16 06:19] #820 closed

[2019-10-16 06:22] ksatchit commented on #703
We will use #808 as an umbrella issue to track this.

[2019-10-16 06:22] #703 closed

[2019-10-16 06:24] chandankumar4 commented on #781
@debojitkakoti It's moved to **controller/scrape.go**

[2019-10-16 06:27] imazik commented on #782
Hi @chandankumar4  I would like to work on it.

[2019-10-16 06:28] chandankumar4 commented on #782
Thanks @imazik for taking up this issue

[2019-10-16 11:01] aditya109 opened #853 "(charthub): Add more metadata into experiment charts and host experiments on the Hub"
#### Objective : Add more metadata into experiment charts and host experiments on the [Hub](http://hub.litmuschaos.io "Hub")

##### What needs to be done ?

- [x] charts and experiments need to have ***categoryDescription*** and ***chartDescription *** field-tags in their `chartserviceversion.yaml`.

- [x] minor typo-fixes in chart-content regarding replacement of "_" to "-". filenames need to fix

[2019-10-16 23:34] PseudoNerd commented on #840
Can I take this up ?

[2019-10-17 06:31] chandankumar4 commented on #840
Sure @PseudoNerd you can take this issue

[2019-10-17 08:30] rahulchheda opened #857 "Add the ability to delete or retain the experiments after completion."
This is a feature requirement, that the experiments after completion should be deleted if the user specifies that the jobs should be deleted, or retain them as per the user requirements.

**New schema should look like this:**
*This would allow user to configure the engine such that deletion or retention of Jobs is taken care by the engine*
[code]

[2019-10-17 09:33] chandankumar4 opened #858 "(feat): Add permission field for experiments"
**Feature request**

**Why we need this**

Add the **permission** field in the experiments spec, This field will contain the `apiGroups`, `resources` and `verbs` which will define the permission required to run the experiment.

experiment spec will look like
[code]

[2019-10-17 09:34] chandankumar4 commented on #858
Example of `pod-delete` experiment:
[code]

[2019-10-17 09:51] rahulchheda commented on #857
**New schema should look like this:**
*This would allow user to configure the engine such that deletion or retention of Jobs is taken care by the engine*
[code]

[2019-10-17 09:56] ksatchit commented on #858
- we can look at events may not be needed right now (may be needed later if we do audit functionality within experiment but not using now)
- for pod-delete experiment specifically we are not really doing any CRUD on ds/deploy/replicaset -- though we are killing pods belonging to them. I am a bit wary of them

[2019-10-17 18:41] ErrEss opened #859 "[Feat.] Collect the list of chaos specific experiments for Elasticsearch"
1. Develop an experiment to test the replication of shards in different nodes, if the data in a node (or the whole node) is deleted accidentally.
2. An experiment to test if the indexing service breaks when the index is queried at the time it is being indexed.

[2019-10-17 18:43] kapilmodi commented on #859
We can also add this feature.
3. An experiment to test the cross cluster replication process

[2019-10-18 07:20] ksatchit commented on #859
Thanks @ErrEss @kapilmodi ! Keep the usecases coming!!

[2019-10-18 08:49] shubhamchaudhary opened #861 "update (pod_network_loss): update comment in pod_network_loss_k8s_job.yml"
**Description**

Update "in ms" comment to the "in percentage comment"  in the pod_network_loss_k8s_job.yml file

[2019-10-18 08:53] #861 closed

[2019-10-18 09:42] rajdas98 opened #862 "(feat): Request for adding Disk Loss GCP chaos experiment"
1. Required a good approach for disk loss experiment
2. Required separate chaos experiment for GCP

[2019-10-18 10:06] rajdas98 opened #863 "(feat): Add code into chaos scheduler to perform random, scheduled chaos"
1. Required a random time scheduler to inject chaos
2. Required a time scheduler for a specific interval to inject chaos

[2019-10-18 10:23] ksatchit opened #864 "(feat): Add tool to scaffold chaos experiment artifacts"
Currently, chaos experiment/chart developers have to create the following artifacts before it is effectively published on the [chaos hub](https://hub.litmuschaos.io/).

- The experiment business logic (typically ansible-based or other) with associated chaoslib
- The Kubernetes job that can run the experiment
- The experiment custom resource (CR) which contains the experiment-specific chaos params

[2019-10-18 10:32] ksatchit opened #865 "(feat): Introduce CEPs (chaos enhancement proposals)"
- Introduce CEPs (Chaos Enhancement Proposals) as a way to collaborate on:

  - New features
  - Design changes / Major refactors
  - Major bug fixes

- The PR introducing this is expected to provide an example CEP & provide guidelines around which issue warrants creation of a CEP

[2019-10-18 10:36] uditgaurav opened #866 "(feat): Create a custom docker image for using stress command"
**FEATURE REQUEST**

***WHY***

- The stress tool is used to inject different kind of resource stress - such as cpu, memory, disk i/o. This PR introduces a container that can used in jobs/deployments to inject such stress on kubernetes nodes.

***HOW***

- Add a docker container which will contain the stress binary installed. Entrypoint will be defined by the job or any other Kubernetes resource m

[2019-10-18 12:09] rajdas98 commented on #862
As per the discussion with @ksatchit we have decided the following things for this experiment:
- user input
  - platform name
  - project name
  - disk name
  - api keys/ssh
  - app label (optional)
  - app namespace (optional)
- prechecks
  - disk status
  - pod status (optional)
- postchecks
  - disk status
  - pod status (optional)
- injection approach
  - detach disk
  - attach disk

[2019-10-18 12:09] #866 closed

[2019-10-18 12:55] aditya109 opened #867 "(feat): Implement Auto CSV Pull on regular occurence in Hub-repo"
#### Objective : Implement Auto CSV Pull on regular occurence in [Hub-repo](http://hub.litmuschaos.io)

##### What needs to be done ?

- [x] remove the `charts` directory from [charthub-repo](https://github.com/litmuschaos/charthub.litmuschaos.io).

- [x] need a **go-routine** for `git-clone` and `git-update`.

##### Take-A-Point

- [x] changes required in `server` directory of the [charthub.litmu

[2019-10-18 13:26] uditgaurav opened #868 "(Experiment): Create a chaos Experiment CPU-Hog"
**FEATURE REQUEST**

***WHY***

- This experiment is used to inject a CPU spike chaos on a Kubernetes Node - which will help us to read the scenario where the node consumes the CPU equal to the CPU capacity to that node.

***HOW***

- A stress tool is used to inject different kind of resource stress - such as CPU on the Kubernetes node. The stress command is executed in one of our daemonset pod (s

[2019-10-18 19:03] #821 closed

[2019-10-19 05:32] chandankumar4 commented on #818
Thanks @aswathkk For upgrading the Docusauraus version

[2019-10-19 05:34] chandankumar4 commented on #818
There is still some improvement is required for mobile view anyone can take this UP

[2019-10-19 05:38] #786 closed

[2019-10-19 05:40] chandankumar4 commented on #775
Sure @aswathkk

[2019-10-19 06:32] devesh-verma commented on #768
@chandankumar4
I would like to work on this issue.

[2019-10-19 06:39] mathagician commented on #322
@chandankumar4 @ksatchit Any update?

[2019-10-19 06:47] Athulpai12 commented on #774
I would like to work on this issue

[2019-10-19 07:04] ryand91 commented on #771
@chandankumar4
I would like to work on this issue.

[2019-10-19 07:19] mathagician commented on #775
@chandankumar4  I am working on the issue

[2019-10-19 08:31] ven-k commented on #827
@ajeshbaby do you have any specific design in mind? (Are there any restrictions or format that we need to follow?)

[2019-10-19 08:37] satyajittarai commented on #734
Please provide the code path to change

[2019-10-19 08:39] mathagician commented on #784
The path no longer exists. Please close this issue.

[2019-10-19 08:41] ven-k commented on #827
@ajeshbaby could you assign this to me?

[2019-10-19 08:47] rahulchheda commented on #784
@jainsaarthak, try to find this in this repo: github.com/litmuschaos/chaos-operator
https://github.com/litmuschaos/chaos-operator/tree/master/pkg/client/listers/litmuschaos/v1alpha1

[2019-10-19 10:15] sureshpathipati commented on #769
@chandankumar4
I have worked on this.
PR raised.
Plz have a look

https://github.com/litmuschaos/chaos-operator/pull/79

[2019-10-19 17:55] chandankumar4 commented on #784
This issue is no longer valid, Closing this issue

[2019-10-19 17:55] #784 closed

[2019-10-19 19:43] gpjacobs commented on #578
I think I've got this fixed for Hacktoberfest, see pull request #875
Thanks!

[2019-10-19 20:45] Sanjay1611 commented on #863
Doing it through the controller code has 2 ways -
- Generating a seperate thread for the process and then letting it sleep for a random time.
   This thread will create a job for the corresponding experiments.

- Create a cron job and then suspend it after the first execution.

Note - These approaches are just for one time execution of a job

[2019-10-19 21:33] Athulpai12 commented on #774
Raised a PR for this issue:
https://github.com/litmuschaos/chaos-operator/pull/78

[2019-10-20 06:45] #853 closed

[2019-10-20 14:19] kmjayadeep opened #876 "[litmus-docs] Improve Readme"
The readme for litmus-docs needs improvement

- Add docker and docker compose instructions
- Avoid using `yarn` and `npm` together

Already opened a PR litmuschaos/litmus-docs#57

[2019-10-20 19:12] RajTG commented on #840
Hi, can I contribute to this?

[2019-10-21 04:52] sureshpathipati commented on #773
@chandankumar4
I would like to work on this

[2019-10-21 06:27] aditya109 commented on #840
Hi @RajTG,  you can contribute to this issue by fixing whatever is required to be fixed. Then you raise a PR correspondingly, and link this issue in your PR.

[2019-10-21 06:46] ajeshbaby opened #877 "Feature - Generic Chaos experiment for memory hogging"
This experiment will hog the memory of the system.

It can have the following.
Memory consumed by chaos pod  to affect node
Memory consumed by chaos pod  to affect application

[2019-10-21 06:57] ajeshbaby commented on #877
@princerachit would like to take this up

[2019-10-21 07:18] ksatchit opened #878 "Include custom YAML validation in the chaos-charts CI"
Ref: I think this check will retain the completed jobs even if `jobCleanUpPolicy` is something other than `retain`. Will it be ok @ksatchit @chandankumar4

_Originally posted by @Sanjay1611 in https://github.com/litmuschaos/litmus/pull/854_

The chaos experiment CRs need to be validated, both for:

- General adherence to K8s spec standards
- Custom rules regarding values accepted for specific fiel

[2019-10-21 07:24] aditya109 opened #879 "(refactoring): Addition of new icon to each experiment"
#### Objective : Addition of new icon to each experiment

##### What needs to be done ?

- [ ] Each experiment needs to have a different icon.
- [ ] Charts' icons should be moved to one single folder in [chaos-charts](https://github.com/litmuschaos/chaos-charts/).

##### Take-A-Point

- [ ] changes required in `server` and `src > components` directories of the [charthub.litmuschaos.io](https://git

[2019-10-21 07:25] aditya109 commented on #879
@ksatchit @ajeshbaby @chandankumar4 can you please suggest how should I go about it?

[2019-10-21 07:35] rahulchheda commented on #878
*ChaosEngine Spec*
[code]
*jobCleanUpPolicy supported values :*
- all the strings are supported
- empty or no key value pair would also work (omit empty)
- JOB WILL ONLY DELETED WHEN jobCleanUpPolicy = "delete"
- Rather than this keyword, any would work to retain the jobs

[2019-10-21 08:08] ksatchit opened #880 "Support annotation checks on statefulsets & daemonsets as candidates for chaos"
**What happened**:

- Currently, the chaos-operator performs the chaos annotation check only against kubernetes deployments. This needs to be extended to statefulsets and daemonsets as potential candidates for chaos.

**What you expected to happen**:

- ChaosEngine should support `appkind: statefulset|daemonset`

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we

[2019-10-21 08:13] ksatchit opened #881 "Support ability to select the images of the executor and monitor components via ChaosEngine"
- Currently, the executor (chaos-runner) and the chaos-exporter images used for the experiment execution are set to litmus default (litmuschaos/ansible-runner) & (litmuschaos/chaos-exporter) respectively.
- However, this should be configurable, keeping in mind the litmuschaos project's ability to integrate with multiple executor/monitors
- Making this a tunable via ChaosEngine is a desired step.

[2019-10-21 10:39] ajeshbaby commented on #879
I would suggest to have an icon folder in an experiment folder.
for example --  Generic Chaos
-- Generic/icons/generic.png
    Generic/icons/container-kill.png
    Generic/icons/pod-delete.png
    Generic/icons/.....

[2019-10-21 14:05] #868 closed

[2019-10-21 18:32] aditya109 commented on #879
@ajeshbaby until any other approach is suggested I will begin working with your approach. Also we need to decide the association of the icons.

[2019-10-22 14:47] aswathkk commented on #818
@chandankumar4 What are those?
I think we can add it as issues.

[2019-10-22 14:49] aswathkk commented on #775
@chandankumar4 I'm not working on this one. Let @mathagician work on this.

[2019-10-22 14:50] chandankumar4 opened #886 "Fix the unit test fail of chaos-operator"
**What happened**:

unit test is failing after merging the PR: https://github.com/litmuschaos/chaos-operator/pull/74

Unit test logs:
[code]

**What you expected to happen**:

- It should pass the unit test

**How to reproduce it (as minimally and precisely as possible)**:

[code]

[2019-10-22 15:25] chandankumar4 commented on #879
I'm good with this approach

[2019-10-22 22:14] #886 closed

[2019-10-23 08:24] ven-k commented on #879
Do I add even the svg format images in the same folder?

[2019-10-23 13:11] #864 closed

[2019-10-24 08:54] #775 closed

[2019-10-24 10:55] ksatchit opened #889 "Resolve security vulnerability reported by sonarqube on autoescape policy used by jinja2"
**What happened**:

The quality check by sonarqube is failed due to non-compliant autoescape policy for jinja2 template rendering. It is disabled by default. The scanning rule requires enabling it to prevent cross-scripting vulnerabilities.

![image](https://user-images.githubusercontent.com/21166217/67478846-7e7bdb00-f67a-11e9-81e1-2751279165ab.png)

**What you expected to happen**:

**How to rep

[2019-10-24 12:34] aditya109 opened #891 "(refactoring): refactoring of the server-directory in the Hub"
### Objective : Refactoring of the server-directory in the [Hub-repo](http://hub.litmuschaos.io)

#### What needs to be done ?

- [ ] dependency management of the `server-directory` [charthub-repo](https://github.com/litmuschaos/charthub.litmuschaos.io), i.e., creating and putting `toml` and `lock` files.

- [ ] proper packing of the `server-directory` [charthub-repo](https://github.com/litmuschao

[2019-10-24 12:55] #809 closed

[2019-10-25 07:13] 3sky commented on #778
@sebast26 Do you still working on this? If it's free I can take it.

[2019-10-25 07:29] 3sky commented on #777
@erikbfeeley still working on this?

[2019-10-25 09:59] #880 closed

[2019-10-26 06:53] devbihari commented on #841
I'll fix this issue :fire:

[2019-10-26 07:03] msj2 commented on #818
Thanks for taking my query @aswathkk
I'll pick this up & try to fix this today.
നന്ദി സുഹൃത്ത്

[2019-10-26 07:06] ikmrgrv commented on #840
Is someone already working to resolve this issue ??

[2019-10-26 07:09] aditya109 commented on #840
No contributions yet @ikmrgrv. You can go ahead and start working on this.

[2019-10-26 07:10] ikmrgrv commented on #840
How can I replicate this on my system ??
Can you add the steps of project-setup ?

[2019-10-26 07:13] aditya109 commented on #840
Please go through README.md and if you still don't get it, contact me.

[2019-10-26 07:15] aditya109 commented on #841
Hi @devbihari. No contributions yet. If you like this issue, go ahead and work on this.

[2019-10-26 07:23] ikmrgrv commented on #840
@aditya109 can you at least point me to the correct package.json file in order to be able to locate where the code for the app is ??
There is no instruction for the project setup in Readme.md, it has all things to do with the product description.

[2019-10-26 07:39] gshanbhag525 commented on #841
I want to work on this

[2019-10-26 07:40] gshanbhag525 commented on #840
I WANT TO WORK ON THIS

[2019-10-26 07:40] gshanbhag525 commented on #818
I WANT TO WORK ON THIS

[2019-10-26 07:54] kmjayadeep opened #893 "(litmus-docs) broken link in getting started page"
**What happened**:
There is a broken link in getting started page of litmus docs

**How to reproduce it (as minimally and precisely as possible)**:

Go to https://docs.litmuschaos.io/docs/getstarted/
navigate to example section
click on example link

**Anything else we need to know?**:
The link should be https://docs.litmuschaos.io/docs/example/

[2019-10-26 08:04] aditya109 commented on #840
@ikmrgrv First go to the [hub-repo](https://github.com/litmuschaos/charthub.litmuschaos.io), fork it and then clone it. Browse to the `repo-directory` and then run
[code]
or,
[code]
and then run npm start.

Open another terminal and navigate to `server` directory.
 and then run
[code]

[2019-10-26 08:06] aditya109 commented on #840
Hi @gshanbhag525 I am sorry but this issue is already taken. In the next 10-12 hours if there is no further response and if you are still interested, you issue can be assigned to you. Please take a look at other issues.

[2019-10-26 08:07] aditya109 commented on #841
Hi @gshanbhag525 I am sorry but this issue is already taken. In the next 10-12 hours if there is no further response and if you are still interested, you issue can be assigned to you. Please take a look at other issues.

[2019-10-26 08:25] GauravMohla commented on #893
can I take this one ?

[2019-10-26 08:38] aswathkk commented on #818
@gshanbhag525
Sorry, @msj2 is already working on it.

[2019-10-26 09:09] ikmrgrv commented on #840
@aditya109 Hey, thanks for pointing me to the correct repo. I am able to clone and setup the project in my local system.

However, while running `npm run start`, it points out that file `./src/components/ChartDetails.js` requires `react-markdown` which is not included in project dependencies.

I am raising a PR for it. Can you please check it asap so that I can proceed with the changes required fo

[2019-10-26 09:29] mathagician commented on #213
@ksatchit I would like to work on this issue.

[2019-10-26 09:31] ikmrgrv commented on #840
![Screenshot 2019-10-26 at 3 00 41 PM](https://user-images.githubusercontent.com/14366411/67617511-6d110b00-f801-11e9-8c40-0a99b1d3af0b.png)
I think you  are referring to this component, where the icons are slightly disaligned with the text.
Can you confirm if I am pointing to the same issue, so that I can take it up ??

[2019-10-26 09:32] aravindvnair99 commented on #818
@aswathkk Sorry for not informing prior working on it. I've fixed it in https://github.com/aravindvnair99/litmus-docs/commit/35aee6d797065be335ab6513235446ff43815e1d and submitted a pull request as well at https://github.com/litmuschaos/litmus-docs/pull/70

[2019-10-26 09:44] Anand-Theertha commented on #818
**Is this fixed or still open?**@umamukkara

[2019-10-26 09:47] ikmrgrv commented on #840
![Screenshot 2019-10-26 at 3 14 00 PM](https://user-images.githubusercontent.com/14366411/67617704-713e2800-f803-11e9-85bb-14acb9560dfc.png)

Can you suggest which way you want it to be displayed ??
    - The first way (highlighted in red rounded box) where the icon aligns with the first line of the text following it.
    - Or the second way (highlighted in skyblue rounded box) where the icon alig

[2019-10-26 10:01] devbihari commented on #841
closed with https://github.com/litmuschaos/charthub.litmuschaos.io/pull/67

[2019-10-29 01:06] #578 closed

[2019-10-29 05:15] sureshpathipati commented on #780
@chandankumar4
We can close this issue. PR got merged.
Kindly update

[2019-10-29 05:23] #780 closed

[2019-10-29 06:48] atulabhi commented on #859
All above test cases are good to have.
I am working  to add litmus book to check the health of the cluster before and after introducing chaos.

[2019-10-29 09:25] aditya109 commented on #841
Please check my comment on your PR.

[2019-10-29 09:27] aditya109 commented on #840
Sorry @ikmrgrv this issue is termed for a later time. I will close this issue.

[2019-10-29 09:27] #840 closed

[2019-10-30 09:12] #879 closed

[2019-10-30 09:33] vharsh commented on #889
I'd recommend using plugins like [Snyk](snyk.io) or GitHub's own [Dependabot](https://github.com/marketplace/dependabot-preview) for vulnerability reports. The latter sends in a PR by modifying the `requirements.txt`, `Pipfile.lock`.

[2019-10-30 10:27] #889 closed

[2019-10-31 04:23] shubhamchaudhary opened #900 "(feat): Fetch lib image from the Envs of k8_job/Experiment CR"
**What need to be done**
- Fetch lib image from the experiment CR and K8sjob

**Why we need this**

-  Currently the lib image is hard-corded so we can't used our custom image for lib

[2019-10-31 05:29] shubhamchaudhary opened #901 "(update Readme): Steps to add monitor and executor image"
##  FEATURE REQUEST

**What happened**:

-  The Runnner (Executor) and Monitor (Exporter) image is hard-coded inside their builder function.

**What you expected to happen**:

- Fetch the Runnner (Executor) and Monitor (Exporter) image for the chaosengine spec.

**Anything else we need to know?**:

-  Use these default images inside builder functions if the images are not provided inside chaosengi

[2019-10-31 07:58] vharsh opened #902 "Add support of caching of ui components"
Currently there's no caching policy for the Charthub website, so on every page reload every resource(be it CSS/JS/images) will be fetched again from the origin servers and none of them will get cached by Proxy servers or the browser.

Same issue was fixed for openebs-docs, litmus-docs
Ref: https://github.com/openebs/openebs/issues/2624

[2019-10-31 07:58] #902 closed

[2019-10-31 08:43] ksatchit opened #903 "Create maturity guidelines for chaos experiments"
- The experiments need to be associated with a maturity level to aid users in choosing/adopting them in their staging/prod environments.
- This could be gauged via a combination of practices used to construct the experiment as also the platforms/integrations supported.
- The chaoshub will carry the maturity levels as metadata (refer #791 )

[2019-10-31 11:18] ksatchit commented on #862
The application specific experiments that reuse the disk loss chaoslib are expected to introduce their own checks - thereby rendering this experiment an app level chaos OR infra-level chaos.

[2019-10-31 11:18] ksatchit commented on #862
Fixed by #896

[2019-10-31 11:18] #862 closed

[2019-10-31 11:20] shubhamchaudhary commented on #900
fixed by #899

[2019-10-31 11:20] #900 closed

[2019-10-31 14:00] kmjayadeep opened #905 "[litmus-docs] Need to update instructions as per 0.7"
The instructions in `getting started` and `chaos example` are not working since the installation step has changed to install version 0.7 of litmus. This is a blocker for new users who are trying to get started with litmus.

Only one change I know is that chaosengine.yaml `spec.appinfo` now requires `kind` attribute to be specified.

If someone from the contributors can help with the changelog, I c

[2019-10-31 16:31] ksatchit commented on #905
Hey @Jayadeep KM, yes this will not work without the `appkind: <deployment/statefulset>` : https://docs.litmuschaos.io/docs/example/

This was a change that went in post 0.7.

cc: @rahulchheda @rajdas98

[2019-10-31 17:25] #769 closed

[2019-11-01 00:36] kmjayadeep commented on #905
@ksatchit Thanks, I will give a try!

[2019-11-02 10:55] rajdas98 opened #906 "(feat): Request for adding Disk Loss AWS chaos experiment"
1. Required a good approach for disk loss experiment
2. Required separate chaos experiment for AWS

[2019-11-02 10:57] rajdas98 commented on #906
As per the discussion with @ksatchit  we have decided the following things for this experiment:

- user input
   - platform name
   - project name
   - disk name
   - aws service account as secret
   - app label (optional)
   - app namespace (optional)
- prechecks
  - disk status
  - pod status (optional)
- postchecks
  - disk status
  - pod status (optional)
- injection approach
  - detach EBS di

[2019-11-03 19:28] #867 closed

[2019-11-03 19:38] #787 closed

[2019-11-05 06:24] #903 closed

[2019-11-05 07:41] aditya109 commented on #828
Thankyou for your contribution @mevrouwdevries! Please check your PR for my comment. Keep up the good work.

[2019-11-05 07:41] #828 closed

[2019-11-05 07:41] aditya109 commented on #828
Thankyou for your contribution @mevrouwdevries! Please check your PR for my comment. Keep up the good work.

[2019-11-05 07:41] aditya109 commented on #829
Thankyou for your contribution @mevrouwdevries! Please check your PR for my comment. Keep up the good work.

[2019-11-05 07:41] #829 closed

[2019-11-05 07:42] aditya109 commented on #827
Thankyou for your contribution @ven-k ! Please check your PR for my comment. Keep up the good work.

[2019-11-05 07:42] #827 closed

[2019-11-05 07:42] aditya109 commented on #826
Thankyou for your contribution @mevrouwdevries! Please check your PR for my comment. Keep up the good work.

[2019-11-05 07:42] #826 closed

[2019-11-05 08:48] #863 closed

[2019-11-05 09:09] ksatchit opened #914 "Provide ability to inject instance IDs to the chaos result to enable storing details on a per run basis"
Currently, the executor generates a unique job hash upon every execution instance of an experiment, but the chaos result continue to be derived purely from static names, i.e., chaosengine & chaos-experiment. There is a need to pass the aforementioned instance ID to the result so as to save state/results for future reference.

This is especially useful in cases of repeated/scheduled executions wher

[2019-11-05 09:55] #914 closed

[2019-11-05 21:25] aravindvnair99 commented on #818
@umamukkara I've fixed this in  https://github.com/litmuschaos/litmus-docs/issues/68

[2019-11-06 08:53] #865 closed

[2019-11-07 10:20] ksatchit opened #919 "(chaos-operator): Ensure chaos-operator image tag latest corresponds to release builds"
**What happened**:

- Currently, across components of litmuschaos, for  **ansible-runner** (litmus experiments & default executor) & **chaos-exporter** (monitoring), the image tag `ci` is used for updates to the master branch, while releases are tagged with the `github release tag` as well as `latest` as per standard docker conventions.

However, in case of the chaos-operator, `latest` is used as

[2019-11-07 11:56] #919 closed

[2019-11-08 07:52] ksatchit opened #922 "Provide type of container failure as a experiment tunable"
The pumba-based container kill experiment today uses SIGKILL as the default method of inducing container failures. This can be made a tunable as there are multiple possible ways to perform this action:

- SIGKILL
- SIGTERM
- SIGSTOP

[2019-11-08 08:38] ksatchit opened #923 "Upgrade to python3 in ansible-runner"
There are several ansible modules that are deprecated for python2. This needs an investigation to ensure there is no backward incompatibility on existing experiments.

[2019-11-12 10:41] #891 closed

[2019-11-14 06:42] k8s-dev opened #932 "Implement way to safely interrupt the ongoing Chaos Experiment"
Current way to abort the ongoing experiment is to remove the {experiment-name} pod directly by force, which may result in adverse effect. In fact- rather than reducing the blast-radius - it might increase it and thus is not a recommended way to handle the abort scenarios.

Proposal is to implement the fail-safe mechanism to abort the chaos-experiments mid-way(the big-red-button!)

A rollback mecha

[2019-11-14 08:19] ksatchit commented on #932
@k8s-dev , you are right. Forced delete of {experiment-name} pod can have adverse impact, as these are run as **jobs**, which, by default will re-run/reschedule the pod until (entrypoint scripts,in our case playbooks) complete -- which means, the chaos you wanted to prevent/stop, can repeat.

The workaround today is job removal (`kubectl delete job <>` ).

Note that, at this point jobs still don't

[2019-11-14 10:05] shubhamchaudhary opened #933 "Mount path for volumeMount should be dynamic"
**Current Status**

-   Volume mountPath for configmaps is hard corded to `\mnt\`

-   Volume mountPath for secrets is hard corded to `\tmp\`

**Requirements**

-   Alllow experiment specific  volume mountPath
    -    For both configmaps as well as secrets - mountpath should be `\mnt\<exp_name.yml>`

[2019-11-14 10:44] shubhamchaudhary opened #934 "fileName should be a generic name"
**Requirements**

-  Rename this  [experiment_configmap.yml](https://github.com/litmuschaos/litmus/blob/master/executor/experiment_configmap.yml) file to a generic name - It is checking for both configmaps and secrets

[2019-11-14 11:01] LaumiH opened #936 "Typo in link in getting started documentation"
**What happened**: I tried to follow the [getting started guide](https://docs.litmuschaos.io/docs/getstarted/) and found a dead [link](https://raw.githubusercontent.com/litmuschaos/chaos-charts/master/charts/generic/experiment.yaml) in the [install chaos experiments section](https://docs.litmuschaos.io/docs/getstarted/#install-chaos-experiments). The cli command therefore fails with a 404. An 's'

[2019-11-14 11:04] shubhamchaudhary opened #937 "varName inside chaoslib should be generic one"
**Requirements**

-    Put generic name inside chaoslib/utils

**Reason**

-   There is some possible cases where `register name` and `set_fact var` may conflict because we declare the same variable inside two different but dependent files.

    -   example:
       chaoslib/lib.yml
[code]
       ansible_logic.yml
[code]

[2019-11-14 11:04] ksatchit commented on #936
Thank you @LaumiH for bringing it to notice! Would you like to raise a PR on this?

[2019-11-14 11:13] LaumiH commented on #936
When I go to the [github page](https://github.com/litmuschaos/litmus-docs/blob/staging/docs/getstarted.md), there is a completely different link which is working ...

[2019-11-14 11:18] LaumiH commented on #936
Ah nevermind, I was on staging branch. So it seems it was already corrected with a different link and has to be merged to master.

[2019-11-15 15:42] #906 closed

[2019-11-15 15:42] #881 closed

[2019-11-15 15:42] #858 closed

[2019-11-15 15:43] #857 closed

[2019-11-19 10:36] ksatchit opened #947 "In all experiments where "supporting" tools are used, provide an explicit integration option"
There are multiple experiments that use supporting tools/integration with third-party images (i.e., any other than ansible-runner/chaos-operator etc.,): such as chaoskube, powerfulseal, pumba, kafka-liveness etc., There needs to be an option to provide these images - with a desired version or a desired equivalent as a configurable value rather than hardcode inside the experiments.

[2019-11-19 16:10] LaumiH opened #949 "Documentation outcome not working and not matching code basis"
**What happened**: I tried to follow several documentations now: [first](https://github.com/litmuschaos/community/tree/master/feature-demos/chaos-operator-workflow), [second](https://docs.litmuschaos.io/docs/getstarted/) and none of the chaos experiments works. Nothing happens.

**What you expected to happen**: The documentation actually describes steps that match the code basis in the git repos (

[2019-11-19 16:46] ksatchit commented on #949
@LaumiH , apologies on the trouble you have been facing! We have been trying to make changes to the docs as the project sees newer developments in terms of schema of the CRs etc., but understand that there are gaps we need to address in the process wrt documentation. Rest assured, we will look into this.

Now, getting to this issue:

- The first link you tried should ideally be updated for newer s

[2019-11-19 17:35] ksatchit commented on #949
@LaumiH , I shall post updates here as we go about repairing any issue with the docs. Would help greatly if you could verify if the updated steps work for you.

- Community Link for Chaos-Operator-Workflow: Is being fixed via https://github.com/litmuschaos/community/pull/18

[2019-11-20 06:46] chandankumar4 opened #950 "(License): Update the license filed in the required repository"
Add license field in the repository listed below:
- Chaos-Operator
- Litmus
- Chaos-Exporter

[2019-11-20 09:32] LaumiH commented on #949
I really appreciate the quick and informative answer, and I think I cannot complain about the docu and then in return not tell you where my problems are :D
So I decided to spend a bit more time trying to find the reasons for my problems.

The first problem I had were different tutorial steps and links on the website and on the github staging branch (which is the default you see when visiting the r

[2019-11-20 09:39] LaumiH commented on #949
I noticed a difference in the [getting started](https://docs.litmuschaos.io/docs/getstarted/) docu and the [chaos example](https://docs.litmuschaos.io/docs/example/) docu. The command for installing the generic chaos experiments should be
`kubectl create -f https://hub.litmuschaos.io/api/chaos?file=charts/generic/experiments.yaml -n litmus` (I guess).

My confusion with the namespaces is now solve

[2019-11-20 10:03] LaumiH commented on #949
The [chaos example](https://docs.litmuschaos.io/docs/example/) using the above command now works :) !

Before all the steps completed, but the chaosengine did not start and there were no chaosresults, neither in the default nor in the litmus namespace. I am running on minikube with full admin access. I suspect there was some confusion on my side with the namespaces, which is now made clear in the

[2019-11-20 11:56] LaumiH commented on #949
Update on the getting started tutorial: it now works for me, maybe I made a mistake because it was not clear to me in which namespace components have to be deployed to.

So the chaosexperiment container-kill starts and is running, but then it fails. The logs show this trace:

[code]

[2019-11-20 12:28] LaumiH commented on #949
I figured out the possible problem: the pumba.j2 file under chaoslib/pumba tries to create a deamonset from extensions/v1beta1. My kubernetes version is newer, deamonsets are now in apps/v1. I have to see how I can test this before I do a PR ^^.

[2019-11-20 16:11] #950 closed

[2019-11-21 03:43] ksatchit commented on #949
Thank you for your patience & trying out the updated steps @LaumiH ! We shall look into how newer K8s versions can be supported & get back on this thread.  And yes, a PR would be awesome!!

[2019-11-21 07:06] #936 closed

[2019-11-22 09:55] LaumiH commented on #949
What version of Kubernetes are you officially supporting? A hint in the documentation would be cool (or maybe I just didn't find it).

Also I managed to get pumba working by addressing the problem with the daemonset.

Now I run into the problem that pumba cannot find the container with r2 regex [here](https://github.com/litmuschaos/litmus/blob/master/chaoslib/pumba/pod_failure_by_sigkill.yaml) on

[2019-11-22 11:29] ksatchit commented on #949
@LaumiH , We have tested it 1.11 onwards (Pre-requisites on getting-started page says it :) but I suppose we can make it more prominent. However, this could depend on an experiment in future as well, so I suppose the charthub/experiment docs should specify that as well)

apps/v1 for daemonset is supported since 1.11. So I suppose we could change the extensions/v1beta1 used in the pumba.j2 without

[2019-11-22 13:13] ksatchit opened #953 "Executor terminates before experiment job completion"
**What happened**:

- Currently, the chaos executor monitors experiment job for a fixed period of 300s, post which it terminates ungracefully if the experiment is still in progress

- The experiments have a tunable called "TOTAL_CHAOS_DURATION" which can exceed the above timeout.

**What you expected to happen**:

- The executor is expected to wait/monitor the experiment until the chaos duration f

[2019-11-25 08:32] #953 closed

[2019-11-25 10:00] ksatchit commented on #949
@LaumiH , thanks for the PR to add the missing selector, hope to add a better CI soon :(  !! Any info you would like to share on the regex?

[2019-11-25 10:29] LaumiH commented on #949
I am still searching for the reason it is not working correctly.

The problem is not the re2 regex I found out, but the pumba command itself (as it seems). I executed the job in container_kill_k8s_job.yml manually with ENV params hardcoded. The [ansible playbook](https://github.com/litmuschaos/litmus/blob/master/chaoslib/pumba/pod_failure_by_sigkill.yaml) gives error: unable to upgrade connection:

[2019-11-25 12:30] LaumiH commented on #949
Running the container-kill experiment by hand, so deploying my [container_kill_k8s_job_2.yml](https://raw.githubusercontent.com/LaumiH/litmus/master/experiments/generic/container_kill/container_kill_k8s_job_2.yml) as a job now works for me up to a certain point. The job successfully kills the nginx inside myserver pod.

But then it fails asserting the pod restarted successfully, so the verify rest

[2019-11-25 12:44] ksatchit commented on #949
Configuring the delay is a good one! We have started doing this in some of the newer experiments, albeit not in a fully tunable (at least as an external user-tunable param) way, where delay/retries can be tuned based on the action or the pod (newly launched, recovery from failure etc.,):

https://github.com/litmuschaos/litmus/blob/master/experiments/kafka/kafka-broker-pod-failure/kafka-broker-pod-

[2019-11-25 12:49] ksatchit commented on #949
As an immediate step, we could increase the retries to 60. A potential long term solution could be to take some parameter, say, such as `platform_type: slow, normal` -- which can accordingly tune timeouts in the playbooks. Would like to know your thoughts, @LaumiH !

[2019-11-25 12:54] LaumiH commented on #949
So I cannot say what was the issue earlier today. I hat the `unable to upgrade connection: container not found (\"pumba\")` error again, then started pumba by hand as descibed in the comment above, which worked. Then I started the experiment job again and it just worked ...

Having the retries scaled up to 60 the full "chaos workflow", so creating the chaosengine runner, which then creates the con

[2019-11-25 12:59] LaumiH commented on #949
Making the retries configurable is a good thing, as otherwise you have to build your own ansible runner everytime you change something on your own (as far as I understand).

But I would rather keep the configuration with numbers instead of terms like normal and slow and annotate that normal restart lookups would be 30 and that it could be increased for slower machines (or people who just forgot to

[2019-11-25 13:25] ksatchit commented on #949
Agreed @LaumiH (the normal/slow was just a random thought for cases where one is  a bit unsure of actual values to provide, but I suppose a better way of addressing this is to let users provide a higher upper bound).

(just rambling along for a bit more..)

Also, the `runner->job->pumba/integration` can look like a bit of an overkill :) However, the runner is meant to be a umbrella executor that *

[2019-11-25 16:03] LaumiH commented on #949
@ksatchit I have a few questions concerning the experiments in the general folder. They are the most interesting to me, as I want to start chaos engineering by doing simple pod delete/ container kill/ network loss experiments. Maybe I can improve the existing experiments and make them more similar in their structure to each other.

I don't know how I can join the slack channel though.

[2019-11-26 01:27] ksatchit commented on #949
Sure, @LaumiH , sounds good.  You can invite yourself into the kubernetes slack channel using this link: https://slack.kubernetes.io/ . Once in the workspace, you can join the  #litmus channel.

[2019-11-26 06:32] slalwani97 opened #960 "[Feat.] Collect the list of chaos specific experiments for Fluentd"
1. Chaos where Fluentd is sending logs to Elasticsearch and for some reason Elasticsearch goes down (service inaccessible) for some time, check if it is able to connect to Elasticsearch after the Elasticsearch is up and running again.

2. Chaos where Fluentd is sending logs to Elasticsearch. Killing the process of Fluentd should be able to connect to Elasticsearch again and send logs.

[2019-11-26 07:47] Moteesh opened #961 "Automated E2E tests for Cortex"
Planning to implement E2E tests for Cortex through litmus API.

All the test cases to be implemented will be added to this issue.

[2019-11-26 07:47] Moteesh opened #962 "Automated E2E tests for Prometheus"
Planning to implement automated E2E tests for prometheus through litmus API.

All the test cases to be implemented will be added to this issue.

[2019-11-26 09:02] #949 closed

[2019-11-26 09:37] LaumiH opened #963 "(chaoslib): remove chaoskube library from pod-kill experiment"
@ksatchit told me the chaoskube lib is not supported any more, so I suggest to remove it from the README and the pod-kill experiment. The library I would keep, but give a hint in its files that it is not supported any more.

[2019-11-26 09:39] ksatchit commented on #963
@LaumiH , thanks for taking this up! I suppose we could add a note (README/any other way you plan to include the hint) saying that it can be chosen as a supported LIB for pod-deletes only if the `chaosServiceAccount` has cluster-scope.

[2019-11-26 09:40] LaumiH commented on #963
Alright, I will do as you suggest :)

[2019-11-26 11:15] ksatchit commented on #905
The docs are updated based on the latest developments in 0.8.

[2019-11-26 11:15] #905 closed

[2019-11-26 11:17] ksatchit commented on #893
This is fixed in the latest docs version.

[2019-11-26 11:17] #893 closed

[2019-11-26 11:17] ksatchit commented on #901
Fixed by #898

[2019-11-26 11:17] #901 closed

[2019-11-26 11:18] ksatchit commented on #876
Fixed by https://github.com/litmuschaos/litmus-docs/pull/57

[2019-11-26 11:18] #876 closed

[2019-11-26 11:18] ksatchit commented on #849
CEP Template has been included in the repo.

[2019-11-26 11:18] #849 closed

[2019-11-26 11:22] ksatchit commented on #792
Fixed by litmuschaos/charthub.litmuschaos.io#31

[2019-11-26 11:22] #792 closed

[2019-11-26 11:24] ksatchit commented on #588
Fixed by #833

[2019-11-26 11:24] #588 closed

[2019-11-26 11:25] ksatchit commented on #585
The utils have now been restructured as per new guidelines (common/platform/runtime/apps)

[2019-11-26 11:25] #585 closed

[2019-11-26 11:26] ksatchit commented on #584
The chaoslib has been restructured to reflect the latest guidelines on reusability

[2019-11-26 11:26] #584 closed

[2019-11-26 11:27] ksatchit commented on #583
The jinja2 templates used for decision making (wrt chaoslib selection/other) have been updated to use absolute paths.

[2019-11-26 11:27] #583 closed

[2019-11-26 11:28] ksatchit commented on #303
The standard litmusbooks now solely perform chaos.

[2019-11-26 11:28] #303 closed

[2019-11-26 11:29] ksatchit commented on #69
With the new model, executor is also a separate pod.

[2019-11-26 11:29] #69 closed

[2019-11-26 11:31] ksatchit commented on #37
The litmus experiments follow a defined naming convention for the main playbook, auxiliary task files as well as the utils/chaoslib used within the playbook. For example, refer: https://github.com/litmuschaos/litmus/tree/master/experiments/generic/pod_delete

[2019-11-26 11:31] #37 closed

[2019-11-26 11:45] ksatchit commented on #818
There are some improvements in mobile view post docusaurus upgrade https://github.com/litmuschaos/litmus-docs/pull/44 & https://github.com/litmuschaos/litmus-docs/pull/70, but issues do exist. These will be raised separately & tracked.

[2019-11-26 11:45] #818 closed

[2019-11-26 14:41] LaumiH opened #966 "pod-delete: refactor and make template env variables consistent"
I noticed - while trying to figure out how to use this experiment - that there are hardcoded env variables in the [pod_delete_k8s_job.yml](https://github.com/litmuschaos/litmus/blob/master/experiments/generic/pod_delete/pod_delete_k8s_job.yml) and others you have to add. I find this confusing, and it is not made very clear which values are given in the template.
I want to edit the README and the e

[2019-11-26 14:45] LaumiH commented on #966
It is also not clear to me why this experiment has a CHAOS_SERVICE_ACCOUNT variable and the container-kill one doesn't have one. Maybe someone could explain? The experiment works without the account variable when executed directly with hardcoded env values.

[2019-11-26 15:37] ksatchit commented on #966
@LaumiH , here are points that may help answer.

### ENV Values in a Litmus Chaos Experiment

In the workflow explained in the docs, the env values are obtained from :

- Defaults, as defined in the [ChaosExperiment CR](https://github.com/litmuschaos/chaos-charts/blob/master/charts/generic/pod-delete/experiment.yaml). This is treated as a reference/base template to execute the experiment. Note tha

[2019-11-26 15:48] LaumiH commented on #966
Thanks a lot, this really helped me. My question now is: where does [this](https://docs.litmuschaos.io/docs/example/) experiment get the app-specific env variables from? Or does it kill a random pod when nothing is specified and I don't notice it because I only have one pod?

[2019-11-26 16:07] LaumiH commented on #966
I try to deploy a chaosengine looking like this:
[code]

The container-kill works perfectly. The pod-delete does not work at all, the chaosengine is created and nothing happens. Is this a bug or did I miss something and didn't understand the explanation @ksatchit gave me? Hm. I will continue tomorrow.

[2019-11-26 16:10] ksatchit commented on #966
The `appinfo` part of the spec describes the pod(s) to be selected for chaos.

[code]

Remember, earlier in this example, you did `kubectl run myserver --image=nginx -n litmus`. This creates the pod with -->#.2

[code]

[2019-11-26 16:18] ksatchit commented on #966
The APP_KIND you gave as the *override* says "pod". It must be "deployment" like in `spec.appinfo.appkind`. In fact, you don't need to provide APP-related ENVs separately. It is derived from the `spec.appinfo` itself. A piece called the chaos-executor does it.

[2019-11-27 15:05] LaumiH opened #967 "documentation: refactor getting started tutorial"
**What happened**: I followed the steps on the [getting started](https://docs.litmuschaos.io/docs/getstarted/) page and tried to understand the part about the [ENV variables](https://docs.litmuschaos.io/docs/getstarted/#over-ride-default-chaos-experiments-variables). It is not explained very well and could be the reason beginners have problems starting with the experiments.

**What you expected to

[2019-11-27 15:20] rahulchheda commented on #967
@LaumiH , Please refer to this page: https://docs.litmuschaos.io/docs/getstarted/#prepare-chaosengine. Apart from this, to know which ENV's have to be over-ridden, please check the README.md(for eg: https://github.com/litmuschaos/litmus/tree/master/experiments/generic/container_kill) of respective experiments, the variables marked as Mandatory and Optional, Mandatory one's (from Chaos Engine) have

[2019-11-27 15:32] LaumiH commented on #967
Very nice, I have one thing that I find is missing: it is unclear that some env variables are derived from the appinfo part inside the specs of a chaosengine and others can be added in the definition of an experiment inside the chaosengige. This led to huge confusion on my side and was explained to me by @ksatchit in #966 .

The README of an experiments says which env variables are needed, but for

[2019-11-27 15:39] ksatchit commented on #967
Agreed @LaumiH . We do need to explain, on a per experiment basis on which ENV need to be provided as overrides always (mandatory) as against other optional ones. There are user docs we will start populating into the docs website. We shall place some example templates there & seek your feedback on them.

[2019-11-27 15:45] LaumiH commented on #967
So this issue is already worked on, I see :) I hope it is alright that I create issues for (major) problems I come across while working into litmuschaos.

I am looking forward to see the improvements in the documentation! I also undestand that the project is very young.

[2019-11-27 16:32] ksatchit commented on #967
Yes, please go ahead @LaumiH . Appreciate the issues. Also, we could definitely do with help on adding these user-docs for the experiments, once we get the first ones in/decide the template :)

[2019-11-29 14:09] #966 closed

[2019-12-02 10:14] LaumiH opened #969 "pumba: update docker image to version 0.6.5"
The idea is to update the pumba docker image used in different experiements, because new functionality comes with newer pumba versions, like netem corrupt and duplicate command added, run netem in parallel on multiple containers.

The drawback: the execution logic changed with pumba version 0.6, as described [here](https://github.com/alexei-led/pumba#running-inside-docker-container). The problem i

[2019-12-04 03:37] ksatchit opened #973 "Provide litmus charts for Kubernetes storage performance evaluation using fio"
While Litmus is primarily a chaos engineering framework/tool, its _modus-operandi_ (declarative way of **defining the actions** to be performed & **viewing results** using a **custom resource**) lends itself to other use-cases such as performance evaluation of storage on Kubernetes clusters.  There are tools available such as fio, around which litmus infra can be extended to provide:

- Performing

[2019-12-04 04:37] ksatchit opened #974 "Create resource exhaustion (CPU) chaos experiment at container level"
Today, the resource exhaustion chaos experiment (generic/cpu-hog) has been implemented at a node-level. This needs to be implemented at a container level as well. This is a significant requirement, where the idea is to obtain the impact of resource chaos on targeted applications without increasing the blast radius of the experiment itself.

Some of the possible approaches include:

- Injecting a r

[2019-12-04 04:51] #963 closed

[2019-12-04 05:48] ksatchit commented on #973
Some of the implementation requirements of the above, if the Chaos model is followed, is to have:

- A  PerfEngine CR which may map a storage target to the PerfTemplate, with data retention policies, scale, end-point to store perf results etc.,
- A  PerfTemplate/Chart defining (fio) workload characteristics that can be overridden from the PerfEngine
- A  PerfResult Custom Resource with summary of

[2019-12-04 07:01] ksatchit opened #975 "Validate the configmap/secret spec in the chaos experiment before attempting volume mounts"
**What happened**:

- With the recent changes to the executor (PR https://github.com/litmuschaos/litmus/pull/970) we support configmap and secret volumes mounted to the litmus experiment job. With this, we also delegate the steps to create the configmap/secrets to the user, with only the resource (cm/secret) names and volumeMountPaths being taken in the chaosExperiment CR spec. Currently, the valu

[2019-12-04 07:01] ksatchit commented on #975
cc: @rahulchheda

[2019-12-04 07:24] ksatchit opened #976 "Explain the ChaosEngine Spec in Documentation"
**What happened**:

- Currently, the [litmus-docs](https://docs.litmuschaos.io/docs/getstarted/) features a get-started section as the Intro page in which injection of chaos on a sample application is explained with example ChaosEngine Spec. However, there is no section explaining the various properties/attributes supported by ChaosEngine and its default values etc..,

**What you expected to happe

[2019-12-04 07:29] ksatchit commented on #976
The fix for this issue may also resolve https://github.com/litmuschaos/litmus/issues/967 -- which is also being addressed by the addition of new docs under the "Experiments" section.

[2019-12-04 07:32] ksatchit opened #977 "(litmus-docs) Provide navigation (table) to individual experiment docs"
Update the [chaoshub](https://docs.litmuschaos.io/docs/chaoshub/) section in the litmus-docs to link to the detailed experiment docs. A table to map the experiment to the corresponding page in the Experiments section is desirable.

[2019-12-04 07:41] ksatchit opened #978 "Include experiment docs link in the chaos-experiment CSV yaml"
Each experiment has a corresponding CSV yaml consisting of experiment metadata. The experiment doc link should also be provided as part of its spec, to enable rendering that on the [chaoshub](hub.litmuschaos.io)

[2019-12-04 07:42] ksatchit commented on #978
Ref CSV: https://github.com/litmuschaos/chaos-charts/blob/master/charts/generic/pod-delete/pod-delete.chartserviceversion.yaml
Ref Hub View: https://hub.litmuschaos.io/charts/generic/experiments/pod-delete

[2019-12-04 08:59] ksatchit commented on #933
Fixed by #970

[2019-12-04 08:59] #933 closed

[2019-12-04 09:00] ksatchit commented on #934
Fixed by #970

[2019-12-04 09:00] #934 closed

[2019-12-04 14:19] ksatchit opened #979 "Network-loss tests do not work with minikube"
**What happened**:

Running a pod network loss experiment (and in all probability the network-delay test) on minikube is not seen to inject the desired chaos. Thanks to @LaumiH for discovering this.

This was observed with the following versions:

- Minikube v1.2, Docker: 18.09.06 / K8s: 1.15.0
- Minikube v1.5.2, Docker 18.09.9 / K8s: 1.16.2

The test involved setting up a ping to general/public I

[2019-12-04 14:23] ksatchit commented on #979
Deployment:

[code]

[code]

[2019-12-04 14:25] LaumiH commented on #979
I opened an [issue](https://github.com/alexei-led/pumba/issues/140) in the pumba repo, there it is also explained in detail what was tested yet.

The pumba netem itself runs successfully on my laptop with docker 19.

[2019-12-04 18:50] LaumiH commented on #979
I have a small achievement: someone having the same problem in a pumba chat said that minikube might be missing the needed kernel module `sch_netem`. If I get a shell into the debian container inside minikube and run the bare netem command `tc qdisc add dev eth0 root netem loss random 100`, I get `RTNETLINK answers: Operation not permitted` as an answer.
I will continue looking into this. Do not e

[2019-12-04 18:55] LaumiH commented on #979
I will try experimenting with running containers in privileged mode on Monday, let's see what this gives me. It seems the kernel module is there but the container does not have the privileges to execute the `netem` command.

[2019-12-04 19:15] LaumiH commented on #979
I now ran the container with
[code]
and get `Error: Specified qdisc not found.`. At least something else happens :rofl: .

[2019-12-04 19:41] LaumiH commented on #979
Okay, I kept searching.
`Ip addr` says `eth0@if9: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc noqueue state UP group default `. The `qdisc noqueue` part seemed interesting, so I googled a bit and found that it is the default for virtual devices ([link](http://linux-tc-notes.sourceforge.net/tc/doc/sch_noqueue.txt)). Maybe this is the reason. I just want to document what I am doing as to not fo

[2019-12-04 20:21] LaumiH commented on #979
Maybe the netem kernel module is really missing. `tc qdisc add dev eth0 root pfifo_fast` works, but anything with netem fails, saying it is an invalid qdisc name. Maybe someone knows more than me.

[2019-12-05 07:08] amitbhatt818 opened #980 "version auto increment functionality in chaos charts repo seen to change spec items."
**What happened**
Verison auto increment functionality in chaos-charts is also making few changes inside experiments spec.

**What you expected to happen:**
 The auto increment functionality should only change version of chaos-charts.
 PR link: https://github.com/litmuschaos/chaos-charts/pull/66
 Travis commit link: https://github.com/litmuschaos/chaos-charts/commit/7592f0bdcadb46200f3748ecb90cbea

[2019-12-09 06:29] umamukkara opened #986 "Usage Analytics for Litmus"
**This is a feature request:**
Feature description:
Chaos Hub (hub.litmuschaos.io) displays the meta data of chaos experiments. Following usage metrics will be helpful

- Number of Litmus installations
- Total number of experiments run
- Number of runs of an individual experiments
- Geographic details of usage

[2019-12-09 06:43] ksatchit opened #987 "Ensure skipped tasks are not shown in (ansible) chaos experiments"
The ansible based chaos experiments consist of  a lot of conditionals, especially increasing in size as the experiment inputs increase.  With the default stdout callback plugins the skipped task banners are shown causing a huge log-output. While there are some plugins already to address this issue (skippy, actionable) -- they generally compress the entire output. We are looking at retaining the de

[2019-12-09 10:18] ksatchit opened #988 "Support group deletion of pods in the pod failure experiment"
It is a requirement sometimes to be able to perform group deletes of pods across in order to test multi-replica loss on applications with availability of a higher quorum. This is especially beneficial in case of performance/benchmark tests.

[2019-12-09 10:18] ksatchit commented on #988
Fixed by #972

[2019-12-09 10:18] #988 closed

[2019-12-09 21:27] LaumiH commented on #979
I need to test it a bit further as it only works with priviledged containers, but for now my [PR](https://github.com/kubernetes/minikube/pull/6038) should fix the issue.

[2019-12-10 07:07] ksatchit opened #989 "Rewrite Litmus Chaos Runner in GO"
This issue is the main feature request tracking the general availability of the enhanced Litmus Chaos Runner. The task-level issues & PRs created towards achieving this are recommended to reference this issue

### Chaos Runner Description

The chaos Runner is an operational bridge between the Chaos-Operator and the LitmusChaos experiment jobs, acting as an umbrella chaos runner which:

- Is launch

[2019-12-12 07:25] amitbhatt818 opened #994 "Provide maturity information of chaos-experiments"
- Chaos experiments should include maturity information as per the [maturity.md](https://github.com/litmuschaos/litmus/blob/master/CHAOS_EXPERIMENT_MATURITY.md)

[2019-12-12 07:32] amitbhatt818 opened #995 "Remove maturity label from main charts csv"
- Remove maturity label from main charts csv inside chaos-charts and retain maturity label only at
  experiment level.

[2019-12-12 09:37] ksatchit commented on #989
An alpha version of the go chaos runner can be found here: https://github.com/litmuschaos/chaos-executor

[2019-12-12 10:05] rahulchheda commented on #989
Reference Issues, related to improvement of go-based Litmus Chaos runner, can be found here: https://github.com/litmuschaos/chaos-executor/issues

[2019-12-13 09:55] amitbhatt818 commented on #980
@rajdas98  can you look into this issue.

[2019-12-14 15:12] LaumiH commented on #979
Minikube got patched with the missing kernel module, use version >= [1.6.0](https://github.com/kubernetes/minikube/blob/master/CHANGELOG.md#version-160---2019-12-10), released on 2019-12-10. The PR #991 from @ksatchit also has the effect that containers don't have to be privileged in order for netem to work, as netem is now executed on a seperate container. As far as I tested it, minikube now has

[2019-12-15 15:15] amitbhatt818 commented on #995
fixed by : https://github.com/litmuschaos/chaos-charts/pull/73

[2019-12-15 15:15] #995 closed

[2019-12-18 00:08] #979 closed

[2019-12-18 04:53] umamukkara opened #1001 "Chaos thoughts or scenarios"
This issue is created to seek feedback from community on chaos scenarios or use cases. Please add your feedback as a comment to this issue in the following format:

Use case:
What more can Litmus project do to help me practice chaos engineering better:

[2019-12-18 05:07] ksatchit opened #1002 "Add OpenAPI based validation to LitmusChaos CRDs"
As the Chaos CRD schema evolves (point-in-case: the configmap and secret support for experiments), there is an need to enforce schema validation at the CRD level to ensure:

- That the right values are provided by users
- To avoid a significant chunk on code to validate the data provided in the custom resources

The OpenAPI Spec based validation is now supported across different Kubernetes version

[2019-12-18 05:08] ksatchit commented on #977
This is now available with Litmus Doc Vers. 0.9.0

[2019-12-18 05:08] #977 closed

[2019-12-18 05:09] ksatchit commented on #975
This has been fixed in Litmus 0.9.0 & the alpha version of the Go Chaos Runner

[2019-12-18 05:09] #975 closed

[2019-12-18 05:11] ksatchit commented on #937
This has been fixed in 0.9.0 where the chaoslib for pod-delete and container-kill retain the app_pod/app_pod_name var names with the calling playbook using different var names to hold the env/derived data.

[2019-12-18 05:11] #937 closed

[2019-12-18 05:12] ksatchit commented on #878
This is similar to #1002 & can be closed by the PR addressing that issue.

[2019-12-18 05:14] ksatchit commented on #702
This issue is no longer relevant to litmuschaos/litmus & is instead moved to mayadata-io/litmus

[2019-12-18 05:14] #702 closed

[2019-12-18 05:40] ksatchit commented on #986
@aditya109 can you elaborate here on the approach used for the same? Thanks!

[2019-12-18 06:10] shubhamchaudhary opened #1003 "[fix]: Update the name of openebs experiments"
**what need to be done**

-    Update the c_experiment variable in openebs-target-container-failure-ansible-logic.yaml to openebs-target-container-failure

-    Update the c_experiment variable in openeb-target-pod-failure-ansible-logic.yaml to openebs-target-pod-failure

[2019-12-18 06:17] shubhamchaudhary opened #1004 "[feat]: Add node drain experiment"
**What needs to be done**

-  Drain the node where the application pod is scheduled and make sure that all the applications present on that node should be rescheduled to a different node. At the end of the experiment uncordon that node for future use.

**Entry Criteria**
-   Application services are accessible & pods are healthy
-  Application writes are successful

**Exit Criteria**

-   The appl

[2019-12-18 06:42] uditgaurav opened #1007 "(feat): Gitlab ci for litmuschaos/chaos-exporter"
- Creating Gitlab CI/CD pipeline for the [chaos-exporter](https://github.com/litmuschaos/chaos-operator)
- The pipeline is of three stages:
   - setup: The cluster setup stage
   - build: The build stage which contains the building dependencies.
   - test: The test phase will contain the running of BDDs.
   - push: The push phase contains the building and pushing of chaos-exporter Image.
   - clea