[2021-11-01 08:32] rajdas98 commented on #3323
Hi @dorroddorrod, currently, it is possible to run the frontend in a "/litmuschaos" path. You just need to replace frontend's docker image with `litmuschaos/litmusportal-frontend-path-litmuschaos:<version>`

Please only "/litmuschaos" path is possible with this image.

[2021-11-01 08:33] dorroddorrod commented on #3323
Cool ! thanks for the quick response :)

[2021-11-01 09:07] rajdas98 commented on #3321
Hi, Looks like the subscriber is not able to communicate to the server. You have to open your "32250" port in the security group and restart the subscriber pod.

Or, set up ingress for the communication between subscriber and server. Follow this- https://docs.litmuschaos.io/docs/user-guides/setup-with-ingress

[2021-11-03 04:54] asibece opened #3324 "Litmus gitops not working on some kubernetes clusters"
I feel solution for gitops should be universal accross all k8s clusters or version. Looks like gitops is looking for last applied configuration annotation and some of k8s clusters are not populating it and gitops is not working on our clusters.

[2021-11-03 07:04] tuananh opened #3325 "Agent status pending on openshift"
**What happened**:

`Self-Agent` is in pending status.

`k get pod` returns only `server`, `frontend` and `mongo`

[code]

**What you expected to happen**:

i don't know where to check the logs. server logs indicate no error whatsoever.

**How to reproduce it (as minimally and precisely as possible)**:

install litmuschaos with helm

**Anything else we need to know?**:

openshift version `v1.20.0+

[2021-11-03 11:48] chandra-dixit-hcl commented on #3298
Hey All, Is there any updates on this issue. I am also facing the similar issue and the message shown is not helpful at all. Please help.

[2021-11-03 18:03] maliksjsu commented on #3298
I am having the same issue for some reason. No permissions errors or such. Seems like the jobs aren't being created for some reason?

[2021-11-03 22:40] aangoulvant commented on #3321
I ended up opening the litmus-server port just for the node IP and it enabled the communication between subscriber and server.

[2021-11-03 22:40] #3321 closed

[2021-11-04 11:35] perithompson opened #3327 "Ability to configure "litmus different Image Registries in a Workflow" in yaml"
At the moment https://docs.litmuschaos.io/docs/user-guides/image-registry must be completed in the GUI and there is no way to define default configuration of litmus at deployment time, please provide a way to configure these option at deployment in the yaml files

[2021-11-04 11:36] ksatchit commented on #3327
Thanks for the issue @perithompson - yes, this is much required. cc: @rajdas98

[2021-11-04 15:36] BK-STAR77 commented on #3325
Openshift 4.6.34

Hello we are encountering the exact same error

`2021/11/04 15:31:26 Server endpoint: http://x.x.x.x:30968/query`
`2021/11/04 15:31:26 error: open manifests/cluster: permission denied`

[2021-11-04 15:42] gdsoumya commented on #3325
@BK-STAR77 your issue seems to be similar to this one that can be found in our slack channel. It seems to be an issue with permission settings in openshift setup. Ref: https://kubernetes.slack.com/archives/CNXNB0ZTN/p1635992895275800?thread_ts=1635924872.263900&cid=CNXNB0ZTN

[2021-11-04 23:35] tuananh commented on #3325
The problem in my case is the security context constraint of openshift. You can verify it with exec into the pod and do a `ls`. it will fail.

To fix this, I need to add `anyuid` scc to the graphql server service account with the following command and restart the pod

[code]

[2021-11-04 23:35] #3325 closed

[2021-11-05 02:56] tuananh commented on #3325
@BK-STAR77 here's how i fixed it https://github.com/litmuschaos/litmus/issues/3325#issuecomment-961510463

hope it works for you

[2021-11-05 16:02] lamc opened #3328 "Chaos Injection Failed: Target Pods Not Found"
## Question
The chaos injection fails with error: target pods not found. How are the target pods referenced? I'm targeting SelfAgent using the generic/container-kill experiment in chaoshub, so I'm assumming the yaml configuration is valid. Additionally all base LitmusChaos pods are running with no errors in pod events/ logs. Would someone be able to provide any pointers?

LitmusChaos version: 2.2.

[2021-11-05 19:00] BK-STAR77 commented on #3325
Perfect. Thank you

[2021-11-05 20:17] uditgaurav commented on #3328
Hi @lamc you can provide the target pod details while preparing the workflow in ChaosEngine spec called `appinfo` please refer to the [experiment docs](https://litmuschaos.github.io/litmus/experiments/concepts/chaos-resources/chaos-engine/application-details/) for example.
By default it will look for pods in namespace: default, label: app=nginx, and appkind: deployment (also visible in logs) which

[2021-11-08 21:34] lamc commented on #3328
thank you @uditgaurav for your quick response and the link, as I couldn't find it referenced in docs.litmuschaos.io :)

ah okay understood. I didn't realize the templated workflows are deploying the apps such as sock shop, bank of anthos, etc in order to run the chaos workflows/ experiments and if we wanted to create our own custom workflow or use experiements from chaoshub, we will need to refere

[2021-11-08 21:34] #3328 closed

[2021-11-09 04:40] uditgaurav commented on #3324
Can you share your cluster information?
cc: @rajdas98

[2021-11-09 04:42] uditgaurav commented on #3271
cc: @Jonsy13

[2021-11-09 07:45] yogeshkk opened #3330 "workflow stuck on "revert-chaos""
## Question
I am trying to configure litmus for the first time. I have installed on one cluster and installed an agent on another. The issue is that all my workflow is stuck on "revert-chaos" phase and if I skip that workflow gets success.

I am just tying custom workflow with pod delete one.

I am on the latest 2.2.0 version

<br class="Apple-interchange-newline">

**Please make sure you have,**

[2021-11-09 08:10] oumkale commented on #3330
Hi @yogeshkk,

Will you please share logs of workflow controller, chaos operator, and experiment?

[2021-11-09 08:52] yogeshkk commented on #3330
Thanks @oumkale

Below are logs
1. chaos workflow which still running
custom-chaos-workflow-1636442211-1983968995   2/2     Running     0          85m
logs of wait
[code]
logs of main container
[code]

2. log of workflow container
Workflow controller
[code]

3. log of Operator
[code]

[2021-11-09 09:09] yogeshkk commented on #3330
There are two workflow pods. output is as below

First One
[code]

Second one
[code]

[2021-11-09 09:40] faisalchishtii opened #3331 "Ability to import Argo Workflows and then modify as per needs"
As an end user, I would like to be able to use an existing Argo Workflow yaml template, import it in Chaos Center and then modify it further. Here is a trivial example workflow that I am trying to import in Litmus Chaos and create a workflow but getting an error.

[code]
![image](https://user-images.githubusercontent.com/26409919/140900059-1540f6ab-4293-44a2-802e-cefba4d1c109.png)

[2021-11-10 08:36] Vr00mm opened #3332 "[MyHub] Allow usage of subpath to target multiple hubs inside only one git repository"
Hello everyone,

With the big amount of experiments we have, I would like to isolate multiple hubs inside only one repository.

Here is my tree hub directory:
[code]

From the source code I identified this line that generate the path from the hubName: https://github.com/litmuschaos/litmus/blob/fcdfecf8a1f5d80d87b1598d31aef34561ba5d1c/litmus-portal/graphql-server/pkg/myhub/handler/handler.go#L94

S

[2021-11-10 10:35] Vr00mm commented on #3324
Hello, I did not found anything about last applied configuration annnotation into source code.
What is the error message you get ?

[2021-11-10 11:08] spshuklaji commented on #3318
I have the following workflow:
if i remove the third probe same workflow works but post addition of third probe just give the error:

[probe.txt](https://github.com/litmuschaos/litmus/files/7512144/probe.txt)

[2021-11-10 18:38] Jonsy13 commented on #3271
Hi @rrraaa1, as we discussed over slack, I think this issue was because of psps and was resolved with the provided psps manifest. Let us know if the issue is still persisting. If resolved feel free to close this issue. Thankyou!!

[2021-11-10 18:49] Jonsy13 commented on #2500
Hi @gbuirel @bipinkm This issue is currently in planning phase & may take some more time, we will get back here with some more updates once we are good with planning of changes needed for implementation. Thanks!! cc: @amityt

[2021-11-12 17:28] 123vivekr commented on #3136
According to this [article](https://docs.mongodb.com/kubernetes-operator/master/tutorial/secure-tls/) in mongodb docs, a standalone Instance cannot be secured using TLS.

I have two options:
- Upgrade mongo from standalone instance to a replica set with a mongodb operator.
- Modify the `litmuschaos/mongo` image to fetch the certificate from the ConfigMap and passing it to mongodb via mongo's confi

[2021-11-13 17:27] mehabhalodiya commented on #3247
So now @andrewhu0209 can you please close this issue, since all's working fine?

[2021-11-14 15:03] contactsai123 opened #3336 "Subscriber Pod crashing and Self-Agent status shows as Pending"
**What happened**:
Subscriber Pod keeps crashing

**What you expected to happen**:
Subscriber pod needs to run and Self-Agent needs to be in Ready status

**How to reproduce it (as minimally and precisely as possible)**:
I use AWS eksctl (cluster of 2 instances of t3.medium) and Litmus version: 2.2.0
Updated the litmusportal-frontend-service as LoadBalancer in the yaml file
When I run the command:

[2021-11-15 09:38] chris-cmsoft commented on #2191
We have used Litmus to build out Chaos Engineering platforms with some of our large E-Commerce customers to improve resilience for big sales periods such as Black Friday.

We looked into quite a few tools, and Litmus provided us with the flexibility we needed, whilst bootstrapping many of the components we would have to write ourselves.

We also used Litmus Chaos experiments when discussing some o

[2021-11-15 16:35] tomtrapp commented on #3241
+1
That really blocks a lot

[2021-11-17 17:57] mehabhalodiya commented on #3307
Hey, I would like to work on this!
Can you please help me how to approach this?
Thank you.

[2021-11-17 21:05] #3247 closed

[2021-11-17 21:40] andrewhu-hcl opened #3342 "Typo on integraion/prometheus page"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

**What happened**:
The podMonitor example under the ["Prometheus community version (helm) - kube-prometheus-stack with pod monitor"](https://docs.litmuschaos.io/docs/integrations/prometheus/#prometheus-community-version-helm---kube-prometheus-stack-with-pod-monitor) section will scrap the metric from all the pods which port is TCP and the po

[2021-11-17 21:41] andrewhu-hcl commented on #3342
Created a PR to fix the issue here
https://github.com/litmuschaos/litmus-docs/pull/142

[2021-11-17 21:49] andrewhu-hcl opened #3343 "Support draining multiple in the node-drain experiment"
Current node drain experiment, if the targetNodes is provided,  it will get all the node names by split the comma and check each node status. However, during the node drain stage, it just passed the targetNodes into the node drain command, didn’t check if a string contained multiple nodes with comma-separated. So it will cause an error if we specify the targetNodes as multiple node name list by co

[2021-11-18 09:02] rishank69 opened #3345 "can we use single litmus UI for chaos test in multiple cluster"

[2021-11-18 09:05] gdsoumya commented on #3345
Yes, Litmus is a cross-cloud control plane, you can connect multiple agents running on different clusters and execute experiments on each of those clusters.

[2021-11-18 09:32] rishank69 commented on #3345
Sure will try with agent installation, i wanted to test in our staging and dev environment. do I need to install in cluster mode or namespace mode would work fine ?

[2021-11-18 10:13] gdsoumya commented on #3345
Ns mode has some manual steps for the CRD installation, you can follow the guide but in general it should work fine.

[2021-11-18 11:26] bbarin opened #3347 "Create workflows on git with option to not execute immediately"
At the moment, when pushing a new workflow via git, Litmus will immediately sync and start the execution of the workflow, which can cause runs unexpected by the user. It would be great to have a flag on the workflow descriptor to prevent its immediate execution its sync.

[2021-11-18 12:59] rishank69 commented on #3345
sure, i tried by installing an agent in another cluster but agent are are coming into pending state , is there any way to check logs  , `5f19ceb-08d1-4f58-a68b-fd5236bd99cd    staging         INACTIVE`

[2021-11-18 20:07] aasserzo opened #3349 "When using Litmus 2.1.0, the cmdProbe 'source' value is always invalid"
**What happened**:
Assuming the 2.1.0 operator is installed, and the appropriate RBAC yaml is applied,
When the chaosengine yaml is applied with the following probe:

Then the following error is thrown:

**What you expected to happen**:
I expect this probe to pass validation, as it does in Litmus 2.0.0

**How to reproduce it (as minimally and precisely as possible)**:
Install Litmus operator 2.1.0

[2021-11-18 22:25] andrewhu-hcl opened #3350 "Skip uncordon the not exist node after node drain experiment"
In the node drain experiment, the node will be deleted after draining the node if we enable the autoscaling for the node pool on the cloud provider. And it will cause an error when litmus-go trying to uncordon the non exist node. It should be able to check if the node is no longer exist.

[2021-11-18 23:02] andrewhu-hcl commented on #3350
Created a PR to fix the issue here [litmuschaos/litmus-go/#468](https://github.com/litmuschaos/litmus-go/pull/468)

[2021-11-21 11:45] prithvi1307 commented on #2429
This issue is still open! The issue to be assigned to GitHub Externship mentee!

[2021-11-21 14:14] djplt commented on #2484
Can I get this assigned to me?

[2021-11-22 07:32] shankarramesh16 opened #3353 "Pod memory hog experiment installation failed"
**Pod memory hog experiment install failed**

Hi All, I am running pod memory hog experiment on simple nginx deployment on my local machine. I could run pod delete and cpu memory hog experiment but this one is failing with below error.

**Helper pod failed**:
Err : an empty namespace may not be set when a resource name is provided

litmus version - 2.0.0
K8s - v1.21.5

[2021-11-22 07:36] shankarramesh16 opened #3354 "Edit Option : Litmus Workflow"
Hello There,

litmus version 2.0.0

Under litmus workflow menu, we have runs and schedules.

in schedules in next run column I would like to suggest to keep edit workflow button to correct and rerun.

Thank you.

[2021-11-22 14:26] bipinkm opened #3355 "default node selector value 'kubernetes.io/os:linux' is not updated with the new node selector provided while installing namespace scope agent using litmusctl interactive mode"
**What happened**:
default node selector value 'kubernetes.io/os:linux' is not updated in the workflow-controller  YAML with the new node selector provided while installing namespace scope agent using litmusctl interactive mode  . But the new node selector is properly updated in the subscriber YAML.
**What you expected to happen**:
If we are providing a new node selector while installing it should

[2021-11-23 11:22] mehabhalodiya commented on #3268
I would suggest to put up `Where is this stated?` section in the issue template as well.
This will show the link/location of the file that needs to be modified.

[2021-11-23 12:04] mehabhalodiya opened #3357 "Improve issue template"
I would suggest to put up `Where is this stated?` section in the issue template as well.
This will show the link/location of the file that needs to be modified.

[2021-11-23 12:05] mehabhalodiya commented on #3357
/assign

[2021-11-23 17:42] yogeek opened #3359 "Missing RBAC on ater a new helm installation"
As explained in this [Slack conversation](https://kubernetes.slack.com/archives/CNXNB0ZTN/p1637351830016600),
after installing litmus-chaos from the helm chart (`helm install chaos litmuschaos/litmus --namespace=litmus --create-namespace`), and checking that all pods are running, loging into the UI, and waiting for the agent to be ready but it never happens because the pod workflow-controller is f

[2021-11-24 16:41] nicjohnson145 opened #3361 "Minimum required installation"
Is it possible to run only the agents, not run the ChaosHub & UI, and manage any chaos directly through the CRDs with CI/CD processes? My organization is all in on "GitOps everything". Users interacting with a UI (web or cli), both during installation and operation, is something we try to avoid. Reading through the repos I think this would be possible by installing:
* [chaos-operator](https://gith

[2021-11-26 13:46] luigi-bitonti opened #3626 ""Index out of range" error when I use litmuctl"
I'm trying to use the new feature with the --skipSSL value and when I use "litmus create agent" command it gives the following error:

![image](https://user-images.githubusercontent.com/93377317/143590366-a3dc5ce4-c918-4788-a4e7-24c5726b69ef.png)

[2021-11-26 15:01] qwang1 opened #3363 "How can I make the newly spawned experiment/helper Pod use specific RBAC configuration?"
Hi there,

I was trying to migrate a VirtualMachine from one node to another and using litmus to test this process.
In my scenario, the VirtualMachine would launch a Pod as it's work Pod. Let's say Pod-1 is running on node-1.
Then I start migration and trigger chaos (with node-restart experiment). The chaoengine-pod and chaos-experiment-pod-1(with specific RBAC configuration) are created and runni

[2021-11-29 15:36] Vr00mm opened #3370 "MongoDB version missmatch"
**What happened**:

Litmus dont deploy on fresh install:
Readiness seem to be broken
[code]
litmus-server Init containers fail:

[code]

**What you expected to happen**:
I expected the client and server in the same version

**How to reproduce it (as minimally and precisely as possible)**:
Values -> https://github.com/Vr00mm/deploy-litmus/tree/main/values/litmus
CI/CD -> https://github.com/Vr00mm/d

[2021-11-29 15:46] Vr00mm opened #3371 "Refacto repo for micro-service."
Hello everyone,

The current repo organisation make the work hard for helm mainteners...
And following the versionning looks hard.

From my opinon, litmuschaos is a "micro-service" application, there is a backend, a DB, a frontend, a subscriber, an operator, etc..
Each micro-service should have it own repo or space with all its own resource in, like src code, dockerfile, helm chart.
By this way it

[2021-11-29 18:26] Vr00mm opened #3372 "😎 I asked CRD Hub for my experiment Hub-Gen to santa-claus 🎅🎅🎅"
Lets write Litmus-Hub CustomResourceDefinition to store local hubs🏎️🏎️🏎️

[2021-11-29 19:02] rajdas98 commented on #3372
🎅🏻

[2021-11-30 21:18] lamc opened #3373 "Create Prom Datasource Basic Auth"
## Question:

In the following picture, I have LitmusChaos v2.2.0 installed and have been running workflows with Self Agent and 2 other agents successfully.  I'm trying to create prom datasource so I can utilize chaos interleaved monitoring on our services/ targets. However, when I try creating a datasource, Basic Auth is not an option and only No Auth.

LitmusChaos Center:
<img width="1628" alt="

[2021-12-02 08:36] spshuklaji opened #3376 "Chaos workflow with probe defined remain hung at the pod-delete step with error unable to initialize ChaosEngine, because of Update Error: ChaosEngine.litmuschaos.io \"pod-deleteskq4j\" is invalid: spec.experiments.spec.probe.cmdProbe/inputs.source: Invalid value"
Using the latest litmus
[code]
This is the chaos workflow created using the Litmus Portal. If a probe is added to the workflow the chaos-engine is hung at the pod-delete step.
[code]
In the chaos-operator log, this is the error seen. I'm not sure if it is in anyway related to https://github.com/go-logr/zapr/issues/23
[code]
From the workflow pod wait:
[code]
From the workflow pod main:
[code]

How

[2021-12-02 09:15] mehabhalodiya commented on #3268
@ishangupta-ds @ispeakc0de will you please assign this issue to me?
I would like to work on this.
Thank you.

[2021-12-03 14:09] bbarin commented on #2191
We have been using Litmus 2.X at iFood for a couple of months, replacing chaostoolkit as it provides a wide range of experiments out-of-the-box. We've started using it to validate the fallback mechanisms of critical services monthly. Right now, we are expanding its usage to go further and inject failures to drop access to databases, redis, Kafka and AWS services and learn from it and take some cou

[2021-12-06 10:43] #3357 closed

[2021-12-06 11:06] mehabhalodiya opened #3382 "Automation of assigning issues"
## Feature:
I have an idea to implement the automation of assigning issues with the `/assign` command in this project.

## Objective:
I think it's much needed because the assigning process doesn't always seem to happen quickly.  As neither the maintainer nor the other member of the organization has the time to do so.

I have gone through `Open` and `Closed` issues as well. As per my observation, a

[2021-12-07 04:12] mehabhalodiya commented on #3382
I would like to work. Kindly assign it to me.

[2021-12-08 04:36] lamc commented on #3373
@rajdas98 following up on this issue, do you have any pointers or suggestions as to why I'm seeing this behavior?

I successfully upgraded the chaos control plane to v2.3.0 as well

[2021-12-08 06:51] spshuklaji commented on #3376
Any update on this issue?

[2021-12-08 09:09] rajdas98 commented on #3373
Hi @lamc, we aren't planning to have this feature in our coming release(15th Dec). Most probably, it will come in our subsequent releases.

Let me know, If you want to contribute to this feature, I will also send you some references.

[2021-12-08 15:58] nicjohnson145 commented on #3361
Addressed in Slack channel [here](https://kubernetes.slack.com/archives/CNXNB0ZTN/p1638977131266700)

[2021-12-08 15:58] #3361 closed

[2021-12-08 16:20] lamc commented on #3373
@rajdas98 ah okay understood. Sure if you can send me some references that would be great 😄

[2021-12-13 13:50] Kamalesh3112 commented on #2429
Events stored in DB should have a rotation policy-based retention.

[2021-12-13 14:12] rajdas98 commented on #2429
Hi folks,

Following are the things we need in the proposal.
- Description of the problem (Mandatory)
- Solution according to your opinion (Mandatory)
- Relevant work experience and skills (Mandatory)
- Deliverables with proper timeline (Mandatory)
- Willingness to take other issues after the primary task (Optional)
- Proof of Concept (Optional)
- Time availability during the period (Mandatory)
-

[2021-12-14 07:49] uditgaurav commented on #3363
Hi @qwang1 , we can provide the name of service account in [chaosServiceAccount](https://litmuschaos.github.io/litmus/experiments/concepts/chaos-resources/chaos-engine/rbac-details/) field of ChaosEngine CR. It will start the experiment with the provided SA.

[2021-12-14 07:51] uditgaurav commented on #3359
cc: @Jonsy13

[2021-12-14 07:52] uditgaurav commented on #3353
Hi @shankarramesh16 can you please provide the complete logs of the experiment and helper pods?

[2021-12-14 08:48] shankarramesh16 commented on #3353
Hi @uditgaurav , we can close this issue, as there was version mismatch in experiment pod and helper pod. Thank you.

[2021-12-14 08:48] #3353 closed

[2021-12-14 14:04] #3350 closed

[2021-12-14 14:08] MarouaneTn commented on #3223
Hello,

We have the same issue when running the container-kill experiment on openshift,
The error on the helper pod:
level=fatal msg="helper pod failed, err: Get \"https://<apiserver>:443/api/v1/namespaces/<namespace>/pods/<podname>\": dial tcp <apiserver>:443: connect: no route to host"

[2021-12-15 17:05] rajdas98 commented on #3241
Hi all, It got fixed in Litmus 2.4.0. Please upgrade this component with 2.4.0

[2021-12-15 17:05] #3241 closed

[2021-12-15 17:07] rajdas98 commented on #3324
Hi, We have removed the dependency from last applied configuration annotation in Litmus 2.4.0. Please upgrade this component with 2.4.0.

[2021-12-15 17:07] #3324 closed

[2021-12-16 13:30] bipinkm opened #3397 "CPU Hog Memory Hog and IO Stress is not working under high load"
**What happened**:
While we running the CPU hog and memory hog, and IO stress experiment under the load it's getting failed due to time out. Please find the log and workflow manifest attached. Without load rerun, the same manifest will work fine
The platform is:- Open shift
**What you expected to happen**:
CPU hog and memory hog, and IO stress experiment should inject chaos in the target pods unde

[2021-12-17 13:00] ajeshbaby commented on #2587
Marking it closed, as no response. Please feel free to reopen in case if you are able to reproduce this issue.

[2021-12-17 13:00] #2587 closed

[2021-12-17 15:19] vamsiammineni opened #3399 "Provide an Option at helm chart level to enable/disable Google analytics"
In the current litmus version, Sending stats to Google analytics is default. And, we can not control this behavior at the time of installation of the litmus. Instead we, can disable the GA in the chaos-operator deployment after the installation of agent  by setting the ANALYTICS environment variable to FALSE.

I think, it would be really nice to provide a tunable value at helm chart level that can

[2021-12-19 12:55] vamsiammineni opened #3400 "Litmus does not consider appKind when filtering the target pod for an experiment"
**What happened**:

1. I have two pods running with the same label. One is an instance of a statefulset and another one is an instance of a deployment.
2. I wanted to target the pod that is associated with a statefulset. So, I have added appLabel="common label for both pods(no unique label)", appNs="namespace", appKind="statefulset" to the chaosengine
3. During the PreChaos check, I see Litmus is

[2021-12-20 13:18] ksatchit commented on #3067
cc: @AmitKumarDas @S-ayanide

[2021-12-20 13:19] ksatchit commented on #3111
cc: @arkajyotiMukherjee @AmitKumarDas

[2021-12-20 13:20] ksatchit commented on #3245
cc: @rajdas98

[2021-12-20 13:21] ksatchit commented on #3111
This is a good suggestion @vamsiammineni ! This is a good to have enhancement.

[2021-12-20 13:35] rajdas98 commented on #3245
Hi @vamsiammineni, This is not a bug. this is a generic query (getPredefinedExperimentYAML) which is taking experiment name, hub name as input and searches in my hub repository (Default- [Myhub Repository](http://github.com/litmuschaos/chaos-charts))

So, you need to change this in your myHub repository and reclone/update the myHub repository from the chaoscenter. In this case, this configuration

[2021-12-20 13:40] vamsiammineni commented on #3245
@rajdas98 My concern is not about the chaoshub. In any case, subscriber pod should be restarted.  I see subscriber pod going for restart whenever there is a wrong manifest submitted

[2021-12-20 13:43] rajdas98 commented on #3245
@vamsiammineni, Currently, we are panic the error, that's why it into crashing. Will change the panic to a normal error log.

[2021-12-20 14:02] vamsiammineni commented on #3245
@rajdas98 Thanks. Please let me know when it is fixed.

[2021-12-20 14:11] vamsiammineni opened #3401 "Add helperPod name to the executionData in workflowRun"
executionData  in WorkflowRun currently holds the runnerPod and experimentPod names. Which we use to get the logs about the experiment. However, All the logs are not available if we just read the logs from experimentPod and runnerPod.

It would be good to get the helperPod name to the executionData. With helperPod name we will be able to get the logs from helper Pod as well.

[2021-12-20 17:03] amityt commented on #3067
Hi @vamsiammineni. I tried to replicate the above issue on Firefox, looks like the changes are already fixed with newer releases.

![Screenshot (17)](https://user-images.githubusercontent.com/40661238/146804643-1098e6df-0774-4821-90c0-029724cbfc41.png)
![Screenshot (18)](https://user-images.githubusercontent.com/40661238/146804647-608a0919-0310-4ad0-bea4-1692148fbf6b.png)

**Closing the issues, si

[2021-12-20 17:03] #3067 closed

[2021-12-21 03:58] GopiChandra25 commented on #3397
As per @bipinkm suggestion adding some other logs that captured during the "POD IO Stress" experiment.
If we use TOTAL_CHAOS_DURATION= 60 and FILESYSTEM_UTILIZATION_PERCENTAGE=20, the experiment ran successfully, please find below helper pod log
[success_logs.txt](https://github.com/litmuschaos/litmus/files/7749435/success_logs.txt)

If we use FILESYSTEM_UTILIZATION_PERCENTAGE more than 20 , the e

[2021-12-21 04:31] GopiChandra25 opened #3404 "Diskfill Experiment on pod not able to access the CONTAINER_PATH"
**What happened:**
While we running the Diskfill experiment  it's getting failed due to error,
Error: failed to start container "disk-fill": Error response from daemon: linux mounts: Path /var/lib/docker/containers is mounted on /var/lib/docker/containers but it is not a shared or slave mount.
**What you expected to happen**:
The FILE_PERCENTAGE specified value amount will be diskfill happen on ta

[2021-12-21 07:04] bipinkm commented on #3397
Hi Team,
Any update on the above issue.

[2021-12-21 07:10] rajdas98 commented on #3397
cc: @oumkale @uditgaurav

[2021-12-21 09:39] rajdas98 commented on #3245
Hi @vamsiammineni, the fix is available now in the `ci` version of the subscriber.

[2021-12-23 10:28] vamsiammineni opened #3405 "mongodb service fails to return workflowrun documents if there are many documents to return"
**What happened**:
getWorkflowRuns query failed with following error when it had to parse and return many documents from the database

[code]

[code]
**What you expected to happen**:
Query should be executed without errors and return the list of workflowrun objects

**Where can this issue be corrected? (optional)**

In Mongodb service

**How to reproduce it (as minimally and precisely as possible)

[2021-12-24 03:00] NigelWu95 opened #3407 "The agent can not be installed."
**What happened**:
I have met a problem when installing the agent. I always got this 504 error, but I don't know why, there is no logs in server container.
![image](https://user-images.githubusercontent.com/20470818/147311477-b55bc4bb-376e-4a80-82c3-eb477b5f5305.png)

![image](https://user-images.githubusercontent.com/20470818/147310625-94a2ff24-439b-48a0-baa8-afdc193310b9.png)

**What you expecte

[2021-12-27 06:24] arkajyotiMukherjee commented on #3405
Hey @vamsiammineni mongo has a document limit of 16MB that is why we have built this `getWorkflowRuns` query to take pagination requests so that you can fetch the data in parts. We are doing the same in our portal. Please refer to our API documentation for more details.
Do let me know if your issue is solved so that I can close this later. Hope this helps.

[2021-12-27 22:13] vamsiammineni opened #3410 "Logs does not contain information about pods, containers that are failed to recover after chaos"
**What happened**:
Information  about Pods and containers that are failed to recover in given time is missing in the logs.

**What you expected to happen**:
I expect to see  the info about the failed pods and containers in the logs.

**Where can this issue be corrected? (optional)**

https://github.com/litmuschaos/litmus-go/blob/f2db46f74ae8cd3f99a62e6d69ee4b7f28ba8563/pkg/status/application.go

C

[2021-12-27 22:16] vamsiammineni commented on #3405
Hi @arkajyotiMukherjee

Pagination is optional as per the API documentation

[2021-12-27 22:24] vamsiammineni commented on #3245
@rajdas98 Thanks :)

[2021-12-28 05:22] arkajyotiMukherjee commented on #3405
Yes @vamsiammineni you are correct but since the limitation is from mongo itself there is not much we can do.
Are you suggesting to make it mandatory field in the API docs? That we can do after discussing with the team if required by the community.

[2021-12-28 07:15] GopiChandra25 commented on #3397
Hi Team,
We are really waiting for your update.
thanks.

[2021-12-28 07:42] vamsiammineni commented on #3405
@arkajyotiMukherjee does the pagination always give the latest documents from the collection ?

[2021-12-28 07:58] arkajyotiMukherjee commented on #3405
That depends on the sorting order...but yes the default sorting order is latest/last modified by time. @vamsiammineni

[2021-12-28 08:31] rajdas98 opened #3411 "Update the ChaosCenter API document"
As, we have moved project related graphql APIs to REST, so we need to update our API docs with these changes.

PR- https://github.com/litmuschaos/litmus/pull/3377

[2021-12-28 08:51] vamsiammineni commented on #3411
@rajdas98 Is graphql API moved into REST API ? :(

We have implemented a wrapper library around the graphql library and spent a lot of time on it

We did not expect this change coming

[2021-12-28 09:06] rajdas98 commented on #3411
@vamsiammineni not all APIs, only 2-3 project-related API.

[2021-12-28 09:06] SarthakJain26 commented on #3411
@vamsiammineni only the project related APIs are converted to REST APIs, to optimise performance and eliminate chances of DB inconsistencies

[2021-12-28 09:09] #3006 closed

[2021-12-28 09:09] vamsiammineni commented on #3411
@rajdas98 @SarthakJain26  Thanks for the update. I am just looking into your  PR- 3377

Is there any changes planning in graphql API in near future ?

[2021-12-28 09:13] rajdas98 commented on #3411
No, we are not migrating any APIs to REST from now-onwards. But we will add a few fields to some existing APIs.

[2021-12-28 09:14] vamsiammineni commented on #3411
@rajdas98 Thank you. Thats okay.

[2021-12-28 12:09] vamsiammineni commented on #3411
@rajdas98 Shouldn't this page also be updated ?

[2021-12-29 09:05] vamsiammineni commented on #3405
@arkajyotiMukherjee

I tried with pagination. I see the default order is not the latest/last modified by time.

[code]
This is not the order what I see if query for workflowruns without pagination

[code]

[2021-12-29 11:04] arkajyotiMukherjee commented on #3405
In that case, you can sort if by Time or Name in ascending or descending order. We have provisions for all these sorting. Please refer to the docs. @vamsiammineni

[2021-12-29 16:23] OriishiTakahiro opened #3412 "Allow specify directory/filename options on pod-fio-stress experiment."
Is this a BUG REPORT or FEATURE REQUEST?
Choose one: FEATURE

What happened:

I want to use litemuschaos for stress I/O to EBS worked with EKS.

Currently, pod-fio-stress experinment cannot use [`--directory/--filename` options](https://fio.readthedocs.io/en/latest/fio_doc.html#target-file-device) at `fio` command.

In this current implementation, I cannot stress I/O to EBS.

What you expected to

[2021-12-30 12:06] vamsiammineni commented on #3405
@arkajyotiMukherjee It would be nice to have documentation about what is the default sort order. I cant find this information anywhere.

[2021-12-30 12:45] arkajyotiMukherjee commented on #3405
Sure @vamsiammineni.
Tagging @amityt for changes in the documentation.

[2021-12-30 13:02] aleksei-budiak commented on #3349
Hi @aasserzo,
I've faced this bug too. I've found that it's caused by recent change to the cmdProbe structure, you can see the source here: https://github.com/litmuschaos/chaos-operator/blob/7e75803234f80c608c22306f844577a4f69431f5/pkg/apis/litmuschaos/v1alpha1/chaosengine_types.go#L230

Apparently, the docs weren't updated after the change.

Now the `source` is indeed an object, but not a string.

[2022-01-02 12:28] aasserzo commented on #3349
Thanks for your comment!
I will omit the source field and start using a later release.
I do think, however, this should be addressed in documentation, and a more informative error should be worded.

[2022-01-03 07:41] uditgaurav commented on #3397
Hi @bipinkm we have added support for graceful termination of the stress chaos experiment in [2.4.0](https://github.com/litmuschaos/litmus/releases/tag/2.4.0) this should remove the stress process gracefully if a timeout occurs.

[2022-01-03 08:22] rajdas98 commented on #3411
Yes @vamsiammineni

[2022-01-03 08:22] rajdas98 commented on #3411
Updated API doc- https://github.com/litmuschaos/litmus/issues/3411#issuecomment-1002063282

[2022-01-05 09:05] papcik opened #3417 "Unable to run workflow with the same name as previously deleted - Error: E11000 duplicate key error collection"
**What happened**: When we try to run a workflow with the same name as the already deleted workflow I got the following error:
[code]

**What you expected to happen**: Run a new workflow with the same name as deleted one without any errors either using GUI or API.

**Where can this issue be corrected? (optional)** Delete a proper entry in the database related to deleted workflow along with the wor

[2022-01-06 16:59] bbarin opened #3418 "Record username for every workflowrun"
It's very important for all users to know who has triggered the experiments for audit purposes.

[2022-01-06 17:13] jdfresser commented on #2996
Hello @itustanic, how did you managed to resolve your issue?

I'm having the same issue, using the same Ingress rules (/ and /backend/),but I do receive a 404 error too.
In my case, the Ingress itself is not reurning a 404 error, the service behind it (I guess it's the graphql-server container in the litmus-server).

[2022-01-06 17:58] jdfresser commented on #2996
Resolved for me, I had made to mistakes while working on the Ingress:
nginx.ingress.kubernetes.io/use-regex: "true"   - to use the Regex syntax provided in the Helm Chart
nginx.ingress.kubernetes.io/rewrite-target: /$1  - I forgot to use this annotation, this led me to the suscriber failure

[2022-01-09 10:44] dorroddorrod commented on #3323
Hi,
Still getting this error with the latest version (2.4.0 )
[code]

[2022-01-10 11:28] #3405 closed

[2022-01-10 13:19] nalbury opened #3420 "Ec2 Terminate (vs stop) Experiment"
I've noticed (and seen conversations confirming) that the current ec2 terminate by tag and terminate by id experiments only stop a running instance vs actually terminating it.

It appears based on this [conversation](https://github.com/litmuschaos/litmus-go/pull/360) that this is intentional and not just an incorrect naming, but is there an alternative experiment that will fully terminate an insta

[2022-01-11 13:45] bbarin opened #3627 "LitmusCTL doesn't work with DEX"
To use a different account than a password-based one, it's necessary to log in via the portal, copy a valid JWT token issued after authentication via DEX and paste it in the .litmusconfig file in order to be able to get projects assigned to an IDC user.

[2022-01-12 07:22] Thisisprasad007 opened #3423 "Litmus chaos as an API"
Hi Team,

We would like to trigger the chaos workflow from our performance test scripts so looking for a an API.

so far, we are launching/scheduling the experiments from chaos center web portal in our k8 cluster (using Self agent).
We also saw Litmus portal API docs, but unable to configure it, does this fulfil our requirement? if so, please guide us to configure it, the below documentation provi

[2022-01-12 07:32] rajdas98 commented on #3423
HI @Thisisprasad007, you can look at this video for the reference: https://youtu.be/J8nlPhJuCuY?t=2884

[2022-01-13 07:29] #3411 closed

[2022-01-13 14:06] bbarin commented on #3418
Hi! Is there any plan to add it?

[2022-01-14 11:25] ksatchit commented on #3418
Hi @bbarin , yes: this is an important feature. We are still in the planning stages, but that is the intention definitely.

[2022-01-14 11:55] bbarin commented on #3418
Great! Just to let you know that we are working on this and a PR will arrive soon ;)

[2022-01-14 23:45] ksatchit commented on #3418
Awesome 👍

[2022-01-17 18:16] braybaut commented on #3108
Same behavior for me only works running stress-ng directly in the pod, it seems to be a bug in Pod I/O Stress code

[2022-01-23 13:25] kitarp29 opened #3437 "Make a copy button for commands on Litmus docs"
Hi, I was installing Litmus on my cluster locally.
It's a small fix, but would be helpful.
Can We have a copy button for the commands on this page and others?
- https://litmuschaos.github.io/tutorials/tutorial-getting-started/index.html#1

Proposed place for the **copy** button:

![image](https://user-images.githubusercontent.com/56778773/150680623-c7c9c0e6-839c-4679-bb65-fd8f846908ab.png)

I can

[2022-01-23 15:06] rajdas98 commented on #3437
This is code directory for tutorials- https://github.com/litmuschaos/tutorials

[2022-01-24 12:02] GopiChandra25 commented on #3397
Hi @uditgaurav and Team.
regarding **Pod IO stress**, **Pod CPU hog** and **Memory Hog experiments** ae not running in litmus 2.4.0.
Below are Env details:
OpenShift Master: v3.11.439
Kubernetes Master: v1.11.0+d4cacc0
litmus version: 2.0.0

above mentioned three experiments the created helper pod is failing with **error msg="helper pod failed, err: process exited before the actual cleanup, err: e

[2022-01-25 06:37] kitarp29 commented on #2429
I would like to take this up.
cc: @rajdas98 @DarthBenro008

[2022-01-25 07:56] vivekdsr commented on #3223
Same issue for us.

[2022-01-25 10:20] yogeek commented on #3420
Totally agree !
Same issue discussed here : https://kubernetes.slack.com/archives/CNXNB0ZTN/p1641534107031500

[2022-01-26 20:33] Bledai commented on #3359
Are there any updates here? we also encountered a similar error - as if some part of the RBAC was missing

[2022-01-27 08:30] rajdas98 commented on #3407
The backend endpoint is not accessible. Can you ping/curl- `http://<frontendendpoint>/api/query`?

[2022-01-27 12:04] rajdas66 opened #3440 "LitmusCTL feature requests"
- Add self-upgrade and self-downgrade commands to switch between different versions of litmusctl.
- Add commands for create, get and delete workflows:
    -  `litmusctl create workflow -f <workflow-file.yaml>` command to create a workflow from a file.
    -  `litmusctl delete workflow <workflow-name/workflow-id>` command to delete schedule workflow.
    -  `litmusctl get workflows` command to list

[2022-01-28 13:20] BK-STAR77 commented on #3223
Any news about this issue ? I'm having the same problem. Openshift 4.6

[2022-02-01 03:28] VeeraballiGopal commented on #1861
hi team we also face looking like issue
W0201 03:10:15.930240       1 client_config.go:552] Neither --kubeconfig nor --master was specified.  Using the inClusterConfig.  This might not work.
2022/02/01 03:10:15
ChaosEngine Name : container-killtdd6c
2022/02/01 03:10:15 Created Resource Details:
{container-killtdd6c litmuschaos.io v1alpha1 ChaosEngine litmus }
W0201 03:10:15.978289       1 client_c

[2022-02-01 03:28] VeeraballiGopal commented on #1861
pls help solve the issue

[2022-02-01 03:59] VeeraballiGopal commented on #1861
W0201 03:53:20.965634       1 client_config.go:552] Neither --kubeconfig nor --master was specified.  Using the inClusterConfig.  This might not work.
2022/02/01 03:53:21

ChaosEngine Name : container-killhmklq

2022/02/01 03:53:21 Created Resource Details:
{container-killhmklq litmuschaos.io v1alpha1 ChaosEngine litmus }
W0201 03:53:21.022260       1 client_config.go:552] Neither --kubeconfig nor

[2022-02-01 04:14] VeeraballiGopal commented on #3328
W0201 03:53:20.965634       1 client_config.go:552] Neither --kubeconfig nor --master was specified.  Using the inClusterConfig.  This might not work.
2022/02/01 03:53:21

ChaosEngine Name : container-killhmklq

2022/02/01 03:53:21 Created Resource Details:
{container-killhmklq litmuschaos.io v1alpha1 ChaosEngine litmus }
W0201 03:53:21.022260       1 client_config.go:552] Neither --kubeconfig nor

[2022-02-01 04:14] VeeraballiGopal commented on #3328
may know the solution for helper pod issue

[2022-02-03 09:44] prabin-acharya opened #3442 "CNCF Landscape URL Depreceated"
**What happened**:
CNCF Landscape URL in Readme.md is deprecated.

**What you expected to happen**:
The following URL should be used instead:
https://landscape.cncf.io/?selected=litmus

**Anything else we need to know?**:
I would love to work on this. This will be my first contribution in this repo.

[2022-02-03 15:16] bejay633 opened #3445 "Litmus-Installation should use Image-Digest #openshift"
**What happened**:
-	Litmus installed on OpenShift 4.9 with offline registry
-	We used the ImageContentSourcePolicy to provide a mirror for docker.io/litmuschaos -repositorys (example below)
-	OpenShift-Nodes still try to pull from docker.io, because the mirror is only used when the image version is provided with digest (mirror-by-digest-only: example below)
-	Pods fail with ImagePullBackOff
-	Ima

[2022-02-04 07:38] sips4711 commented on #3445
Same here...

[2022-02-08 17:21] lamc opened #3446 "External Agent Pods CrashLoopBackOff"
I have automated installing litmus external agents on my eks clusters with ansible, 2/4 of them have connected successfully.  However, the other 2 has failed and the respective pods (pod/chaos-operator-ce-598bf6bbc8-p8wrh, pod/event-tracker-86cc45cddd-8kbbh, pod/workflow-controller-7bfd9dfbd6-d5ttk) are stuck in a CrashLoopBackOff. I was wondering if any pointers or insight could be provided?

`ku

[2022-02-10 16:38] yogeek opened #3447 "[documentation] Provides a full list of images needed in each release notes"
It would be really useful if the repository could provide a full list of docker images used by Litmus once installed.

Indeed, for people who are pulling images from repository other than docker.io (for example, we mirror all of our addons images to harbor or ECR), even if the images used by litmus "core" can be found in the release YAML manifests,  as Litmus is then deploying other resources on i

[2022-02-11 14:05] andre-taveira commented on #2769
My major question : What is mongo is used for ?!

Do I need to battle test its setup ? (probably....?)

[2022-02-11 14:08] gdsoumya commented on #2769
@andre-taveira mongodb is used to store all the chaos-center specific details starting from users and projects to workflow runs and results. Everything is stored in mongo.

[2022-02-11 14:44] #3418 closed

[2022-02-11 19:04] iharshit009 commented on #3440
Hi Raj, My name is Harshit. I am interested in working on this project and I have a good understanding of Kubernetes, CLI and basic knowledge of Golang.

[2022-02-13 19:21] ggold7046 commented on #3440
Hi, I am new to open source project.  Could anyone guide me how to contribute to this project.

[2022-02-15 15:36] imrajdas opened #3456 "Create a terraform provider/scripts for litmus"
Develop a terraform provider on top of helm provider to provision litmus with the following operations
1. Install chaoscenter on k8s
2. Install chaos agent via helm
3. Add chaoshub to ChaosCenter via API provider
4. Run chaos workflows via API provider

Along with the documentation of the provider/script

[2022-02-16 22:46] iamrajiv commented on #3456
Hi, @Adarshkumar14 @rajdas98 @Jonsy13 I want to work on this issue in GSoC 2022. Also, wanted to know is there a document or proposal available on this issue that gives me more context.

[2022-02-22 19:53] erekgit opened #3461 "Inherit tolerations spec to helper Pods like nodeSelector currently is"
"[Erik Anderson](https://app.slack.com/team/UHPM8FG1Y) [Feb 18th at 3:00 PM](https://kubernetes.slack.com/archives/CNXNB0ZTN/p1645214445394609)
Hello all, is there a way to cause not only the chaos-operator, but also from the chaos-engine for the helper pods orchestrated to inherit custom specs?  we have an unique use case where nodeselector and also tolerations are required to be customized, but

[2022-02-22 20:21] tommyngu98 opened #3462 "[DNS Error Attack Issue] Helper Pod unable to execute Sudo command when attack is initiated"
LitmusChaos version: 2.6.0
k8s v1.18.15

### **Context**
We have set up Litmus in our Kubernetes environment and pods are up and running. When we try to execute a DNS Error Attack, what happens is

- Chaosengine successfully starts
- Chaosengine brings up a pod-dns-error pod
- Pod-dns-error pod will spin up a helper pod

The issue we are running into is once this helper pod is spun up, it will err

[2022-02-22 21:39] erekgit commented on #3461
@uditgaurav  @ispeakc0de @ksatchit Update,

if we specify within the ChaosEngine experiment definition both:

".spec.components.runner.tolerations
.spec.components.runner.nodeselector

and

.spec.experiments[].spec.components.tolerations
.spec.experiments[].spec.components.nodeselector"

the expected inheritance works from the Chaos Runner to the Helper Pods.   Is this as expected behaviour?  Any

[2022-02-23 17:52] lamc opened #3463 "Missing Dex Deployment in docs"
Where can this issue be corrected? https://raw.githubusercontent.com/litmuschaos/litmus/8d025a2f3101990a1acc002612fbe7281dcbfb4d/litmus-portal/dex-server/dex-deployment.yaml

**How to reproduce it (as minimally and precisely as possible)**: While following documentation [here] (https://docs.litmuschaos.io/docs/user-guides/chaoscenter-oauth-dex-installation/), pod will not come up as the dex-deploy

[2022-02-23 18:00] gdsoumya commented on #3463
@DarthBenro008 @SarthakJain26 @Saranya-jena

[2022-02-24 02:53] DarthBenro008 commented on #3463
A PR has already been raised for this issue and will be fixed by https://github.com/litmuschaos/litmus-docs/pull/169 !

[2022-02-24 07:01] rajdas98 commented on #3463
PR has been merged

[2022-02-24 07:01] #3463 closed

[2022-02-24 13:05] haroon9 opened #3464 "Can create more then one admin users via the API"
**What happened**:
Using an API call from Postman I was able to create more than one account with an admin role.

**What you expected to happen**:
I should not have been allowed to create more than admin or I should have the option to delete admins if I am allowed to create more than one admin.

**Where can this issue be corrected? (optional)**

**How to reproduce it (as minimally and precisely as

[2022-02-24 13:19] gdsoumya commented on #3464
The ability to create more admins is known we just don't expose it in UI yet, only admins can create accounts so it's safe. You are correct about the ability to delete an admin, we should have the feature if we don't already. @DarthBenro008 can you see if we can add deletion for admins, let's keep the default admin the one created at initialization as unremovable. cc: @ajeshbaby @SarthakJain26 @Sa

[2022-02-24 13:25] haroon9 commented on #3464
One more thing if I try to create a user with a different role the API is not allowing me. I can only create a user with the role: admin. Is this also the expected behaviour?

[2022-02-24 13:26] DarthBenro008 commented on #3464
@gdsoumya i agree, we should definitely provide a more user-management options. Will make a PR for the same soon.
@haroon9 yes, the fact that only admin can create more users is an intended behaviour. The user is supposed to reset their password in the first login.

[2022-02-24 13:28] haroon9 commented on #3464
@DarthBenro008 I am referring to the user role. What if as an admin I want to create a new user with a different role. As currently if I try this POST call it does not work:
[code]

Returns the following:
[code]

[2022-02-24 13:32] DarthBenro008 commented on #3464
@haroon9 , role `viewer` is invalid hence the backend functions as intended, if you'd like to create a user as an admin, do pass the "user" role in parameter `role`

All types of roles can be found at:

https://github.com/litmuschaos/litmus/blob/8fa5334c29db76b5caa2f2af8a32a5bdfc212f2c/litmus-portal/authentication/pkg/entities/user.go#L14-L20

[2022-02-24 13:35] gdsoumya commented on #3464
`viewer`, `owner`, `editor` these are project level access not portal, all users created from the user by admin are just users and each one is a owner of their own project can add others into the project as either a viewer or editor

[2022-02-24 13:40] haroon9 commented on #3464
Yes, @DarthBenro008 @gdsoumya Thank you for the clarification. Also, the admin should be able to delete a portal user I checked the API but this functionality is also missing. Are you going to add something like this too?

https://litmuschaos.github.io/litmus/auth/v2.0.0/api.html

[2022-02-24 13:41] gdsoumya commented on #3464
I think the admin can disable users, deletion is not allowed for keeping audit trails.

[2022-02-25 03:56] DarrenJiang13 opened #3465 "Add support for redis"
Hi guys,

I am trying to test redis cluster with litmus. However I have no ideas about writing redis part in workflow.yaml. Do you have any tutorials or document for reference? Thank you so much.

[2022-02-25 04:04] gdsoumya commented on #3465
We do not have any redis specific experiments as of now, but you can perform generic experiments like pod delete, network loss, disk fill, etc. on your redis cluster. You do not need to write any specific redis parts in the workflows you just need to provide pod/deployment labels and experiment specific details which you can see from the experiment doc https://litmuschaos.github.io/litmus/experime

[2022-03-01 14:46] unclefil opened #3475 "Is there a way to target pods only by label without passing any namespace?"
Guys, I have the following scenario, I can't provide a fixed namespace because certain namespaces in our system are created dynamically, and they are deleted after they finish their jobs.

Each task submitted by the user creates a namespace like "exec-task-12345", inside these namespaces I want to run experiments against the pods which contain a certain label (for example "role=driver"), so I'd li

[2022-03-04 00:02] Poswark opened #3480 "Don't believe PersistentVolumeClaim mongo-0"
Mongo pod won't start

[root@k8s-master1 ~]# kubectl get pods -n litmus
NAME                                     READY   STATUS     RESTARTS   AGE
litmusportal-frontend-74f699bc65-xj6mg   1/1     Running    0          4m21s
litmusportal-server-5b79b6577c-qstlz     0/2     Init:0/1   0          4m21s
mongo-0                                  0/1     Pending    0          4m20s
[root@k8s-master1 ~]#

[2022-03-04 01:57] ksatchit commented on #3480
cc: @rajdas98

[2022-03-04 11:36] spshuklaji commented on #3376
Can someone look into this issue? I'm facing it in an AWS cluster. Or can someone suggest to me a better chaos framework that actually works on EKS?

[2022-03-05 15:11] manavsiddharthgupta commented on #3268
@ispeakc0de can you assign me?
would like to work on this issue.

[2022-03-05 15:15] manavsiddharthgupta commented on #1993
can you assign me?
i would like to work on this issue.
thank you

[2022-03-07 19:32] #3446 closed

[2022-03-07 19:47] christopherfriedrich commented on #3349
How can this work in Litmus v2.0.x, when the change in the mentioned CRD was introduced with that version?

[2022-03-07 20:24] lamc opened #3484 "Custom CronWorkflow Schedule Not Respected"
**What happened**:
When creating custom cron workflows in chaos center by importing the YAML [as shown here](https://github.com/lamc/chaos-charts/blob/master/workflows/nasa-blue-pod-chaos/workflow_cron.yaml) the schedule isn't recognized/ respected.

**What you expected to happen**:
If importing YAML or using pre-defined chaos workflow from my own custom chaos hub, the cron workflow schedule set i

[2022-03-10 09:58] SarthakJain26 opened #3485 "URL manipulation in ChaosCenter"
**What happened**:
- User is able to access UI of project user is not part of by manipulating the URL.
- User is able to update the project role from URL

**What you expected to happen**:
User should not be allowed to access projects that user is not part of and URL manipulation should not be possible.

**Where can this issue be corrected? (optional)**

**How to reproduce it (as minimally and prec

[2022-03-10 16:39] blcrz opened #3488 "Add block about experiment details"
Hi folks, constantly working with litmus, we noticed the need to generate experiments with more complete informations that allows better organization and documentation in various scenarios. We added a block about the experiment details, for example "what it is expected when you run this", which can be filled in and adapted by the teams.
We believe that the changes are advantageous in several ways,

[2022-03-11 02:34] manfredliuactive opened #3489 "cant get agent manifests when using litmusctl"
**What happened**:
I installed litmus from helm charts with service type of nodeport, i could install agent via litmusctl. while changing to ingress, if failed due to no output of manifests

🏃 Running prerequisites check....
🔑 clusterrole ✅
🔑 clusterrolebinding ✅
🌟 Sufficient permissions. Installing the Agent...

📌 Summary
Agent Name: dev-sp-04w
Agent Description: ---
Agent SSL/TLS Skip: false
Pla

[2022-03-12 04:31] vanshBhatia-A4k9 commented on #3485
API level RBAC validation: https://github.com/litmuschaos/litmus/pull/3486 @SarthakJain26

[2022-03-14 08:22] rajdas98 commented on #3480
Hi @Poswark, Mongo is an STS and it will create PVC and PV in the background. The attachment of PVC with pod depends on your storage provisioner.

[2022-03-14 08:23] rajdas98 commented on #3462
cc: @uditgaurav

[2022-03-14 08:24] rajdas98 commented on #3484
cc: @amityt

[2022-03-14 08:26] rajdas98 commented on #3489
Hi @manfredliuactive, this url `http:///api/file/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjbHVzdGVyX2lkIjoiYWJhNmIxOGEtYzVjZS00NGE1LWFkNTEtNWVmNDUzZGM1MmYyIn0.xUvCIZqFPaitj4E7vSaVRxpIH7-j9vi-rVEC_I9ZNGw.yaml
`

doesn't have host. Can you reconfigure the litmusctl- `litmusctl config set-account`

[2022-03-15 01:41] manfredliuactive commented on #3489
hi i deleted the host manually.  it had the host. the server just return 500 error. it only happened for ingress configuration.

[2022-03-15 09:04] vanshBhatia-A4k9 commented on #3485
RBAC based frontend validations: https://github.com/litmuschaos/litmus/pull/3501 @arkajyotiMukherjee @SarthakJain26 @Saranya-jena

[2022-03-15 10:18] SarthakJain26 commented on #3485
Issue fixed with this PR: https://github.com/litmuschaos/litmus/pull/3501

[2022-03-15 10:18] #3485 closed

[2022-03-15 14:53] stoehdoi opened #3503 "Improve error handling in upgrade-agent"
**What happened**:
Upgrading the litmuschaos helm release fails if litmusportal version remains unchanged due to error in upgrade agent which runs a a post upgrade hook.

**What you expected to happen**:
Helm upgrade command to succeed even if app version does not change.

**Where can this issue be corrected? (optional)**
Using custom type errors would allow proper error handling at a later stage.

[2022-03-15 17:18] SarthakJain26 commented on #3485
Fix:
- On manipulating the project role manually in the URL, an API call will be made to validate the user's role in the project and the correct role will be set in the URL again as per the response from API.
- On manipulating the project ID with an incorrect project ID in URL, user will be redirected back to the default project where user has an `Owner` role.

[2022-03-16 07:08] SarthakJain26 commented on #3485
Demo describing updated RBAC flow
https://user-images.githubusercontent.com/45846277/158531698-5e074ca3-9e50-45b8-95a7-57555250f227.mp4

[2022-03-16 10:58] sourabhbhandari opened #3507 "Critical Vulnerability found in litmuschaos/curl:2.5.0"
Getting the **MEDIUM: 4, HIGH: 22, CRITICAL: 3** Vulnerability when scanning the **litmuschaos/curl:2.5.0** using the **trivy**.
<img width="1161" alt="Screenshot 2022-03-16 at 4 20 03 PM" src="https://user-images.githubusercontent.com/23253738/158574457-c41758c9-0bc9-4b71-b243-0ad4730dde40.png">
<img width="1099" alt="Screenshot 2022-03-16 at 4 20 16 PM" src="https://user-images.githubusercontent

[2022-03-16 11:21] bbarin commented on #3488
Hey folks, I believe this will be quite useful to become self-documented experiment descriptors and eventually appear on the Chaos Center UI. @ksatchit

[2022-03-16 12:16] gdsoumya commented on #3488
Probably best to have this is metadata label instead of the spec, this would keep it more flexible without having the need to change the crd every time we need to make changes to these. We can define a strict structure for the metadata description label similar to what has been proposed (which can be updated in the future)

[2022-03-16 15:16] serape opened #3509 "pod-autoscaler experiment does not work with multiple labels"
When we try to run pod-autoscaler experiment, if we give app label "app.kubernetes.io/name=xxx" it works fine but when we give multiple labels like
"app=xxx,app.kubernetes.io/instance=yyy,app.kubernetes.io/managed-by=Helm,app.kubernetes.io/name=xxx,app.kubernetes.io/version=1.1.1" it fails with chaos result  "failStep: "[chaos]: Failed inside the chaoslib, err: fail to get the name &
      initial

[2022-03-16 15:21] serape opened #3510 "Litmus Portal: workflow name does not support upper-case/capital letter"
When scheduling a workflow with the litmus portal the "Workflow name" cannot contain upper-case/capital letters.

Following error appears:
![image2022-2-17_17-5-42](https://user-images.githubusercontent.com/20130064/158624944-5ce18cc3-0fb5-4137-95eb-0bc19bee4a19.png)

Since capital letters are alpha-numeric we should be able to use them.

[2022-03-16 15:24] serape opened #3511 "Litmus Portal: parallel or serial wf including the same experiment for different microservices fails"
If the workflow includes the same experiment (e.g. pod-delete) twice, the workflow is created but it fails. See output below.
This applies for parallel and serial wf.

When looking into the manifest file created we noticed that the same experiment with the same name and templates is included everywhere. So litmus probably tries to install the same experiment (e.g pod-delete) twice and fails.

We s

[2022-03-16 15:26] serape opened #3512 "Litmus Portal: portal hangs due to a faulty yaml file"
When we make a mistake in yaml file and put it below, yaml file syntax is not checked so nothing happens and no error message is given. It is hard to fix the mistake without a warning. yaml file syntax / content should be checked.

e.g: insert in the yaml file:

TOTAL_CHAOS_DURATION VALUE: '60'
instead of 
- name: TOTAL_CHAOS_DURATION

After importing and inserting the wf name the portal hangs and

[2022-03-17 01:33] sputmayer opened #3513 "Running Litmus workflows in Openshift throws "cannot set blockOwnerDeletion if an ownerReference refers to a resource you can't set finalizers on:""
I deployed Litmus 2.6 on Openshift in a disconnected environment. While I had issues with RBAC for starting Litmus, I finally got everything working and Litmus seems to be running fine.
Next I wanted to run the workflow to do some chaos experiments in the cluster

However when I try to schedule a workflow using Litmus Portal  Chaos Hub I can see the following errors in the Workflow Operator.

pods

[2022-03-17 01:42] #3513 closed

[2022-03-17 01:43] sputmayer commented on #3513
opened it under the wrong project

[2022-03-17 16:18] bbarin commented on #3488
Sounds good to me!

[2022-03-18 09:17] chirangaalwis opened #3514 "[Experiment] Introduce CPU_LOAD tunable for Pod CPU hog via exec experiment"
**Description:**
It would be ideal if the $subject could be introduced to `pod-cpu-hog-exec` as in the case of https://github.com/litmuschaos/chaos-charts/blob/2.6.0/charts/generic/pod-cpu-hog/experiment.yaml#L76-L79.

This will provide users more control over the level of chaos injection.

[2022-03-18 17:04] uditgaurav commented on #3514
Hi @chirangaalwis , Thanks for opening this issue.  We use `CPU_LOAD` as stress-ng flag in the pod-cpu-hog experiment which helps us to consume the CPU resources in percentage. The exec-chaos (pod-cpu-hog-exec) don't use stress-ng so we might need to have some alternative approach for consuming CPU in percentage for md5sum.
Do you have any specific reason for using exec mode over non-exec for the

[2022-03-18 17:27] uditgaurav commented on #3507
Hi @sourabhbhandari, We have mode some security fixes in the further release as well (like 2.7.0). The latest [code scan](https://github.com/litmuschaos/litmus-go/blob/433e40d2fb8535b67e926786a76002a461107a40/.github/workflows/build.yml#L40) and [image scans](https://github.com/litmuschaos/litmus-go/blob/433e40d2fb8535b67e926786a76002a461107a40/.github/workflows/build.yml#L88) are present in the r

[2022-03-18 17:28] uditgaurav commented on #3503
cc: @rajdas98 @Jonsy13

[2022-03-18 17:35] uditgaurav commented on #3475
Hi @unclefil, Thanks for opening this issue. Currently, the pod-level experiments do not support all namespaces for the chaos injection, right now this can be achieved by creating different workflows at different namespaces.

[2022-03-18 17:38] uditgaurav commented on #3462
Looks like you are using any privilege escalation?

[2022-03-18 18:08] tommyngu98 commented on #3462
We have defined a PSP with least restrictive privilege
[code]

[2022-03-18 23:15] Mostafa-wael commented on #3456
How can I apply for this idea for GSOC? is there any communication channel with the mentors?

[2022-03-19 08:50] chirangaalwis commented on #3514
@uditgaurav yes. Security teams are concerned about the use of privileged containers in the non-exec approach. Using privileged containers in a production grade deployment is not recommended. As per the recommendation of the LitmusChaos team (https://kubernetes.slack.com/archives/CNXNB0ZTN/p1644888327469729?thread_ts=1644869928.562819&cid=CNXNB0ZTN), we decided to use the non-exec appraoch.

[2022-03-22 08:33] unclefil commented on #3475
@uditgaurav, these tasks run like from 1am-6am, it's very early for someone to be awaken manually checking what's the taskId to generate the experiment pointing to the specific namespace "exec-task-12345", also some tasks finish in less than a minutes while other tasks can last more than an hour, we can't predict their times just by their ids, Litmus takes a few minutes to actually start the exper

[2022-03-22 10:03] haroon9 opened #3516 "Litmus API returns 500 when accessing SSO users project"
**What happened**:
After adding the dex configuration I try to access a user project information via the API endpoint ``GET /get_user_with_project/{username}`` but I got 500 errors for every SSO user.

**What you expected to happen**:
The API should have returned the projects that the user is currently part of. It is possible to get the project information for the other users that are created via

[2022-03-22 10:12] haroon9 opened #3517 "Overflowing content in user management tab if the username is a little long"
**What happened**:
The username text is overflowing if the username is a little longer in the user management tab. The current litmus version 2.7.0
![see](https://user-images.githubusercontent.com/7084240/159457350-3d92822d-a84f-40b3-ab55-a35a39abf95d.PNG)

**What you expected to happen**:
The text should not overflow.

**Where can this issue be corrected? (optional)**

**How to reproduce it (as m

[2022-03-22 11:03] BK-STAR77 opened #3628 "Litmusctl apple sillicon m1 arm64"
Will there be a version of litmusctl for apple m1 arm64 planned?

thank you

[2022-03-22 14:21] lamc opened #3518 "Mass Target Pods for Chaos Workflow"
## Question
Is there a way to mass target pods for chaos workflow?

i.e the target pod properties (multiple pods have the same appid):

[code]

Our goal is to do large scale HA test on certain namespaces or applications set on a cron chaos workflow.

[2022-03-23 16:40] bbarin commented on #3488
How can we proceed with it? Any workflow we should follow?

[2022-03-24 10:08] raja4dev opened #3524 "Events are forbidden Chaos-exporter with Prometheus Integration"
**What happened**:
Prometheus should work when we integrate the LitmusChaos with Prometheus

**What you expected to happen**:

**Where can this issue be corrected? (optional)**

Service account   **serviceAccountName: litmus-cluster-scope**  should be used as part of integrating the LitmusChaos with Prometheus (Chaos-exporter Deployment)

**How to reproduce it (as minimally and precisely as possib

[2022-03-25 10:42] johnqa opened #3526 "cannot set nodeSelector and tolerations for self-agent components"
**What happened**:
I am deploying litmus using the helm chart from you github but I have to set some nodeSelector and tolerations for all the components of Litmus.

I did it in values.yaml everywhere I found them, but after deploying I see that subscriber, chaos-operator and chaos-exporter do not have these restrictions and are deployed on random nodes.

**What you expected to happen**:
I would ex

[2022-03-25 13:02] gdsoumya commented on #3526
The node selector and toleration options for the self-agent are missing, will add it as a feature request.

[2022-03-25 14:21] johnqa opened #3528 "x509: certifcate signed by unknown authority error when starting subscriber"
**What happened**:

I have installed Litmus with Helm chart, and logged in the Portal.

The self-agent is i Pending, and the pod for litmusportal-subscriber fails with error "failed to confirm cluster", "Post \"https://litmusdns/backend/query\": x509: certifcate signed by unknown authority

What can be the problem for this error?

Thank you,
John

[2022-03-25 14:43] gdsoumya commented on #3528
@johnqa if you are using custom domains/hosts with self signed certs you need to configure litmus with either the tls cert or use the SSL skip feature to skip ssl/tls verification. Or you can remove tls if you don't have a certificate configured.

[2022-03-25 18:13] kitarp29 commented on #3456
Hi @Mostafa-wael
You can join the open community here: https://join.slack.com/t/chaosnative/shared_invite/zt-tff9qr0z-cgahgNmux5rSDFl1yac90w
:)

[2022-03-25 19:09] SarthakJain26 commented on #3516
Fix: https://github.com/litmuschaos/litmus/pull/3529

[2022-03-28 05:45] neWs1587 opened #3530 "pod_network_* can not be destroyed after the experiment finished"
**What happened**:
I performed an experiment of pod_network_loss on NETWORKINTERFACE eth2.
After the step of  revert-chaos, the related qdisc was not be removed, and package loss still exists.
There's a bug in the kill netem.

**Anything else we need to know?**:
As we can see in the code  `sudo nsenter -t %d -n tc qdisc delete dev eth0 root`, it will just work on eth0. The NETWORKINTERFACE should

[2022-03-28 05:48] ksatchit commented on #3530
cc: @uditgaurav

[2022-03-28 09:14] johnqa commented on #3528
So I added SKIP_SSL_VERIFY to Subscriber deployment but now I have another error:
[code]

[2022-03-28 09:20] gdsoumya commented on #3528
Is there a secret resource named `agent-secret` present in the agent ns? That should have the access key

[2022-03-28 09:23] johnqa commented on #3528
yes, the secret is there, but what can I do with it?

[2022-03-28 09:24] gdsoumya commented on #3528
`kubectl get secret agent-secret -n <ns> -oyaml ` and share the output

[2022-03-28 09:31] johnqa commented on #3528
I have added to deployment config ACCESS_KEY and CLUSTER_ID, but now I have another error:
[code]

[2022-03-28 09:34] gdsoumya opened #3531 "agent: new ACCESS_KEY not updated in secret"
**What happened**:

After the initial cluster registration operation, the agent updates the config with the new access key. This PR https://github.com/litmuschaos/litmus/pull/3492 broke the config update by moving the ACESS_KEY env var to a secret, the agent is still updating the access key in the configmap instead of the secret

Might be a critical bug depending on which env is prioritized(secret

[2022-03-28 09:36] gdsoumya commented on #3528
Can you try to do a fresh install with the skip SSL env var set from the very beginning in the manifest? I think there might be some issues in the manual changes

[2022-03-28 09:38] gdsoumya commented on #3531
might be a critical bug depending on which env is prioritized(secret or the cm) when the agent restarts, because if the secret is prioritized the agent will be using the load access key and the auth will fail.

[2022-03-28 09:39] johnqa commented on #3528
I am deploying using litmus helm chart, and I don't see where in values.yaml I can put these values for subscriber.

[2022-03-28 09:41] gdsoumya commented on #3528
https://github.com/litmuschaos/litmus-helm/blob/cdfc397e0e3795ad62266eaf12b6027f2a38759e/charts/litmus/values.yaml#L19

[2022-03-28 09:42] gdsoumya commented on #3528
Use this block to add any arbitrary envs for the server https://github.com/litmuschaos/litmus-helm/blob/cdfc397e0e3795ad62266eaf12b6027f2a38759e/charts/litmus/values.yaml#L192

[2022-03-28 09:44] gdsoumya commented on #3528
Just add SKIP_SSL_VERIFY: "true" in the generic block

[2022-03-28 10:15] johnqa commented on #3528
I did it and the current error is:
[code]

[2022-03-28 11:44] LH8PPL opened #3532 "Unable to initialize the probes"
**What happened**:
Deployment in Openshift, httpProbe in pod-delete expirement.
Error:
`time="2022-03-20T13:03:51Z" level=error msg="Unable to initialize the probes, err: unable to Get the chaosengine, err: v1alpha1.ChaosEngine.Spec: v1alpha1.ChaosEngineSpec.Experiments: []v1alpha1.ExperimentList: v1alpha1.ExperimentList.Spec: v1alpha1.ExperimentAttributes.Probe: []v1alpha1.ProbeAttributes: v1alph

[2022-03-29 14:46] gdsoumya commented on #3528
Can you see if you can curl/wget that address from the cluster network? Maybe just start a bash pod in the cluster and try accessing that URL, if it doesn't work then there's some networking or domain setup issue

[2022-03-30 07:27] gdsoumya opened #3535 "ability to disable api /create user when sso is enabled"
When using other Identity Providers like Active Directory, users might want to disable user creation from the UI and the `/create` API routes to prevent any unwanted users from being created apart from the ones registered with the IdP.

[2022-03-30 08:29] uditgaurav commented on #3530
Thanks @neWs1587 for the issue!

[2022-03-30 09:46] johnqa commented on #3528
Using curl I was not able to connect to http://litmus.dnsname.int/backend/query but i was able to connect to **https**://litmus.dnsname.int/backend/query

I have changed the ingress settings to have **https** instead of **http** and redeployed, but now the subscriber has again the error:
[code]

[2022-03-30 10:08] gdsoumya commented on #3528
@johnqa to unblock yourself for now you can just update the URL to http://litmusportal-server-service:9002 for the self-agent and continue. Also can you check the logs of the graphql server when the subscriber throws that error

[2022-03-30 11:27] johnqa commented on #3528
using http://litmusportal-server-service:9002/query  i am getting "no such host" error

[2022-03-30 12:10] gdsoumya commented on #3528
Awesome so it's confirmed that the problem is with the domain name/tls cert settings. Imo if it is possible for you to just disable tls in ingress and try with http I think things should work fine.

[2022-03-31 11:57] johnqa opened #3536 "CI/CD Azure DevOps pipelines integration with Litmus experiments"
I am trying to integrate some Litmus chaos experiments in Azure DevOps pipelines, but I don't find any example of this kind of usage.

Suggested way from https://litmuschaos.github.io/litmus/experiments/faq/ci-cd/ was to use [Openebs.ci](https://openebs.ci/home) as reference, but there I cannot see the implementation, but only the results.

Can you give me some hints or something as a starting poi

[2022-03-31 15:30] MimicTester1307 commented on #3456
Hi all. I am Excel, and I im interested in contributing to this project for GSoC '22. I have joined the community,  and have been looking into ChaosEngineering too. I am thinking of attending the event that was posted on the community to get up to speed with LitmusChaos and Chaos Engineering in general.

Is this alright?  And are there any prerequisites I need to complete to increase my chances,

[2022-04-01 09:00] cazeaux opened #3538 "New Chaos Experiment for Spring Boot"
Hello

Based on [Chaos Monkey for Spring Boot](https://codecentric.github.io/chaos-monkey-spring-boot/), I propose to add a new Chaos Experiment to enable assaults from Litmus to Spring Boot application.

 I am finalizing the contibution on litmus-go and chaos-charts for this experiment, and can propose soon a PR for that. This issue can be assigned to me.

Regards.

[2022-04-01 12:52] ahmedihabb2 commented on #3456
Is there is a specific channel on slack for GSoC?

[2022-04-01 19:06] lamc commented on #3518
did a deep dive in the repository and found this tunable: https://github.com/litmuschaos/litmus/blob/master/mkdocs/docs/experiments/categories/pods/common-tunables-for-pod-experiments.md#pod-affected-percentage which allows to mass target pods depending on the label.

[2022-04-01 19:06] #3518 closed

[2022-04-02 10:25] tomer1983 commented on #3376
Hi
We having the same issue on openshift 4.8
Any updates so far ?

[2022-04-02 10:33] gdsoumya commented on #3376
@uditgaurav @ispeakc0de

[2022-04-04 06:57] #3516 closed

[2022-04-06 06:41] neelanjan00 commented on #3509
Hi @serape, `.spec.appinfo.applabel` accepts one and only one label of the application resource. This is the intended behavior since multiple resources can always be labeled with a single label.

[2022-04-06 06:41] neelanjan00 commented on #3509
Can we close this issue? CC: @uditgaurav

[2022-04-09 11:30] akshat5302 commented on #3456
Hii I'm akshat jain and I'm interested in this project . I have intermediate knowledge of kubernetes and basic knowledge of terraform and golang . I never applied to gsoc previously but have some prior experience of open source .
I don't have any idea on how to write a proposal please can u help me out with that .
Is I'm late to apply ??

[2022-04-11 00:47] #3480 closed

[2022-04-11 00:47] Poswark commented on #3480
ok

[2022-04-11 21:21] robertb724 opened #3547 "Unable to initialize probes"
**What happened**: When applying [the example prometheus probe](https://litmuschaos.github.io/litmus/experiments/concepts/chaos-resources/probes/promProbe/), litmus fails to initialize the probes.

**What you expected to happen**: I expect the probes to be initialized and for litmus to probe prometheus

**Where can this issue be corrected? (optional)**

**How to reproduce it (as minimally and prec

[2022-04-12 12:53] haroon9 opened #3548 "User attribute in Chaos results"
Currently, when someone starts a workflow using the portal we can observe who started the experiment but if we check the logs there is currently no attribute to verify who started the experiment. According to the setup if someone has log exporters deployed on clusters there won't be any logs related to who started the experiment.

[2022-04-13 11:50] amityt commented on #2500
This issue has been fixed with https://github.com/litmuschaos/litmus/pull/3540

[2022-04-13 11:50] #2500 closed

[2022-04-13 11:54] amityt commented on #3511
This issue has been fixed with https://github.com/litmuschaos/litmus/pull/3540

[2022-04-13 11:54] #3511 closed

[2022-04-13 11:54] vanshBhatia-A4k9 commented on #3517
the Issue has been fixed: https://github.com/litmuschaos/litmus/pull/3534/commits/65e49408e5560fea08a9e665f2dbebed9d13c961

tagging @Saranya-jena & @SarthakJain26 for closing the issue

[2022-04-13 12:03] #3517 closed

[2022-04-13 13:36] wrdls opened #3551 "Upgrade manager fails if current version is already desired version"
**What happened**:

We deploy Litmus with the [Helm chart](https://github.com/litmuschaos/litmus-helm/tree/master/charts/litmus) with [Argo CD](https://argo-cd.readthedocs.io/en/stable/).

The Helm chart has a [post-upgrade-hook](https://github.com/litmuschaos/litmus-helm/blob/master/charts/litmus/templates/post-upgrade-hook.yaml) which runs the upgrade manager process.

Argo CD however runs a per

[2022-04-13 16:06] rociomroman opened #3552 "Security vulnerabilities found on gaiadocker/iproute2"
## Details:

- We found 11 vulnerabilities marked as high on gaiadocker/iproute2. Also, appears the image has not been maintained for years, last update was 6 years ago (https://hub.docker.com/r/gaiadocker/iproute2/). And unable to even find the dockerfile for it. Would gaiaadm/pumba be a viable alternative for network chaos experiments? ref:https://github.com/litmuschaos/litmus/issues/969

[code]

[2022-04-14 08:18] cazeaux commented on #3538
Can I be assigned to that issue ? I will propose a PR for that as per the contribution guidelines.

Thanks.

[2022-04-17 06:21] #2484 closed

[2022-04-18 06:27] gokcesurenkok commented on #3407
hey @rajdas98  we are having the same issue , and expected output is like you said , so there is no connection issue.
any idea how to fix that , we are trying to do POC with litmus chaos.

[2022-04-21 10:51] tanmaypandey7 opened #3567 "CoreDNS Pod Delete TC fails during no internet testing."
**What happened**:
I am trying to run CoreDNS Pod Delete for K8s 1.22 using Litmus operator version 1.13.8. When i am running the test without internet, the test case fails, because it tries to pull `openebs/tests-custom-client:latest` for the pod `liveness-app` which has ImagePullPolicy set to Always.
![image](https://user-images.githubusercontent.com/36691630/164424118-5564cab1-dd09-472f-a33a-bc

[2022-04-21 11:06] shwetahgithub commented on #3462
Hi @uditgaurav  @gdsoumya
Please let us know if we have a fix for the issue mentioned or any ETA. Thanks!

[2022-04-25 06:19] Swapnil-Khilariwal opened #3573 "Resiliency Score reaches more than 100 % with Probe failure."
**What happened**:
I am running a pod-delete experiment via Litmus Chaos on my EKS cluster. The experiment is running as per the expectation but during the probe check, if a probe fails the probe success percentage is more than 100% like 150% or so because of which the resiliency score also comes as 150% or 115.4% or so. As per my understanding the resiliency score shouldn't cross 100% (as that is

[2022-04-25 10:24] Swapnil-Khilariwal commented on #3573
To reproduce the same issue, please define more than 1 probe in the experiment such that few are success.

[2022-04-27 10:40] brnck commented on #3503
Still a problem in **2.8.1**

[code]

[2022-04-27 10:41] brnck commented on #3551
Still a problem in **2.8.1**

[code]

[2022-04-27 16:02] cazeaux opened #3629 "CheckSAPermissions fails with cluster Openshift with namespace installation mode"

[2022-04-27 19:39] lamc opened #3575 "Subscriber Restart Disconnects Cluster External Agent"
**What happened**: Have observed that anytime the subscriber pods in my other clusters have restarted, then the connection to the control plane is disconnected. Logs show that cluster connection was established and listening but then there is graphql error stating cluster is already connected. Until I do a rollout restart on the subscriber deployment, the external agent then updates in control pla

[2022-04-27 19:50] gdsoumya commented on #3575
The subscriber is the point of contact for the portal server if the subscriber is down all features relating to that cluster are blocked too and that is why every time the subscriber is down the status of the cluster changes to inactive. This makes sure that users are aware that the subscriber is down and they cannot run any workflows or get any updates on existing workflows running in the cluster

[2022-04-27 20:02] lamc commented on #3575
So the status is still set to Inactive even when the subscriber recovers and is in a Running state and has restarted once or a few times & and have similar log messages that I pasted above.

[code]

[2022-04-28 02:17] gdsoumya commented on #3575
I tried replicating this locally but every time I delete/disconnect the subscriber pod it automatically connects back and the status is also updated. Can you confirm this is the same case with all clusters you have connected by connecting a new cluster and restarting the subscriber pod. Also can you share the version of litmus you are running

[2022-04-28 03:39] lamc commented on #3575
I'm running v2.6.0 of litmus and Litmusctl version:  v0.7.0

I disconnected and removed all microservices that gets deployed when installing external agents. I reinstalled it, restarted subscriber pod by doing a rollout restart and can't replicate the behavior I mentioned above sigh

I wonder if the behavior I was seeing before is related to subscriber not being able to find previous chaosengines

[2022-04-28 03:44] gdsoumya commented on #3575
Yes please that would be good. I don't think the issue can be with the chaosengines because the connection status is dependent on the uni-directional websocket connection from the server to the subscriber, while the chaosengines are reported through a separate connection altogether. It could have also been an intermittent issue due to network or database write failure.

[2022-04-28 07:52] sips4711 commented on #3445
Any News on that?

[2022-04-29 15:15] lamc commented on #3373
@rajdas98 is there any traction for this feature request?

[2022-05-02 06:06] serape commented on #3509
Hi,
Multiple resources can be labeled with multiple labels as well. I think it would be more flexible to identify a resource with multiple labels in order to use them in different ways.  it is a little confusing that it works differently for pod autoscaler than other experiments.

[2022-05-02 12:19] imrajdas opened #3576 "Add a force disconnect option to clean all the resources from the agent plane"
On the disconnect agent, we are deleting `subscriber deployment` and `agent-config config map` currently. As part of force disconnect, we need to delete all the resources which are present [here](https://github.com/litmuschaos/litmus/tree/master/litmus-portal/graphql-server/manifests/cluster).

Introduce a new request type as "force-disconnect". For ref- https://github.com/litmuschaos/litmus/blob/

[2022-05-02 12:27] rajdas98 commented on #3576
cc: @hextechpal

[2022-05-03 12:35] brnck opened #3577 "Docs related with OAuth2 support are not consistent with the application"
**What happened**:

I'm a LitmusChaos adopter since the 2.8.0 version so I'm not 100% sure what happened before, but I assume the backend server was split into two separate pods because when going through docs, related with the deployment of [Dex server](https://docs.litmuschaos.io/docs/user-guides/chaoscenter-oauth-dex-installation#deploy-dex-oidc-provider) I see that it recommends updating the d

[2022-05-04 07:29] Deepak1100 commented on #3551
+1

[2022-05-04 07:39] Deepak1100 commented on #3359
+1

[2022-05-05 04:25] GopiKannanJP opened #3581 "Failed to setup GitOps"
Installed litmus 2.7.0 using helm, agent is active, trying to test out gitops feature, not able to add the git repo using ssh method.
ssh key is auto-generated from portal copied that configured to deploy keys in git repo and then trying to connect from portal throws below error:

Error: Failed to setup GitOps : unknown error: ERROR: You're using an RSA key with SHA-1, which is no longer allowed.

[2022-05-05 04:29] GopiKannanJP opened #3582 "Failed in applying connection yaml"
Installed litmus 2.7.0 using helm, self agent is active, trying to test out adding external chaos agent feature, not able to add the new external agent  throws below error while executing litmusctl create agent

❌ Failed in applying connection yaml:

not sure how to debug this further as the error is null. Sharing the command below.

litmusctl create agent
Project list:
1.  admin's project

Select

[2022-05-05 09:46] sravanthnag commented on #3359
ClusterRoleBinding missed from a working setup all of a sudden. As mentioned in @yogeek post, after re-applying the ClusterRoleBinding for argo, workflow controller started working again..

========
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: argo-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: argo-cluster-role
subjects:

[2022-05-05 10:30] Jonsy13 commented on #3359
Hi @sravanthnag @Deepak1100 @Bledai Can we get some setup details like k8s version, ChaosCenter version as well as would like to know If it was fresh install or upgrade.

[2022-05-05 19:53] lamc commented on #3484
@amityt @rajdas98 any updates on the above question?

[2022-05-05 22:18] lamc opened #3584 "Pod I/O Stress Experiment helper errors"
**What happened**: when running the pod-io-stress experiment with the tunables PODS_AFFECTED_PERC=100 (currently 3 test apps deployed), only 1/3 helper pods are running and able to get the container ID of an app. Where as 2/3 helper pods Error out.

[code]
[code]

Helper pod logs:
[code]
Is this behavior expected?

**What you expected to happen**: I expect that each helper pod should be retrieving

[2022-05-05 23:12] kavinarvind opened #3585 "App labels not populating while creating a chaos experiment in Litmus"
I am able to see the namespaces available but not app labels. Will it be auto populated? Also if i manually, enter i m getting error as pod not found.

[2022-05-09 12:33] eedjama opened #3589 "Pod Network Loss: impacts egress and ingress traffic?"
## Question
Hi,
according to the litmus pod-nw-loss experiment description:
"It injects packet loss on the specified container by starting a traffic control (tc) process with netem rules to add egress/ingress loss"

Does this mean that the egress **AND** ingress traffic are simultaneously impacted?

From [tc(8) - Linux manual page (man7.org)](https://man7.org/linux/man-pages/man8/tc.8.html):

"

[2022-05-11 05:05] #3582 closed

[2022-05-13 16:26] ksatchit opened #3597 "Fix agent connectivity for control plane exposed via non nginx-controller based ingress"
Today, litmus supports the successful resolution of server address (SERVER_ADDR on the agent-config configmap) in cases where the nginx ingress controller is used (ref: https://docs.litmuschaos.io/docs/user-guides/setup-with-ingress/#install-chaoscenter-with-ingress). However, this same capability is not extended to other ingress types (AWS ALB, Trafeik, istio gateway etc.,).

This issue tracks a

[2022-05-13 16:28] ksatchit commented on #3597
A proposed solution is to use a tunable (env) on the chaos server deployment (say, SERVER_URL) that can be injected into the config as part of agent setup. Refer to conversations within the community regarding this, here: https://kubernetes.slack.com/archives/CNXNB0ZTN/p1651590192986229

[2022-05-13 16:44] lamc opened #3599 "LitmusChaos Portal API for getHeadmapData query"
## Question
When I'm trying to run `getHeatmapData` graphql query in the playground that's exposed on server-service, I get an syntax errors as shown below:

<img width="878" alt="Screen Shot 2022-05-13 at 12 28 21 PM" src="https://user-images.githubusercontent.com/4719549/168327113-2fb17a7a-2b55-4524-9e97-14d3e7476c93.png">

I see that there is an additional field `bins {...}` but would someone b

[2022-05-15 18:00] QAInsights opened #3624 "Not able to create agent : Unmatched status code:404 page not found"
I am trying to configure an agent on AWS EC2 Ubuntu. After configuring the account, when I tried to create an agent, I got the below error.

I am using `microk8s` flavor.

`Unmatched status code:404 page not found`

`.litmusconfig` is present in my home directory.

LitmusChaos is running at `https://litmusportal-frontend-service-qainsights.cloud.okteto.net`

For this command `litmusctl create agen

[2022-05-16 10:52] hkgopal opened #3604 "Add a provision to de-register an agent from the litmusctl"
Currently,  litmusctl has an option to register an agent but not to de-register and agent.
It would be great if litmusctl provides an option to deregister an existing agent

[2022-05-16 18:09] santhoshissa opened #3609 "Litmus mongo-db creation failed"
When I try to install Litmus using helm command

helm repo add litmuschaos https://litmuschaos.github.io/litmus-helm/
helm install chaos litmuschaos/litmus --namespace=litmus

Facing pod issue

![image](https://user-images.githubusercontent.com/34296918/168655602-d31e9616-2bb8-4448-a0d6-fde67078aad1.png)

kubectl describe pod chaos-litmus-mongo-0

![image](https://user-images.githubusercontent.com

[2022-05-17 00:48] zhangchl007 opened #3610 "pod-io-stress experiment: Add --stress-image for stressArgs when calling pumba lib"
**What happened**:
pumba will pull the default image: alexeiled/stress-ng:latest-ubuntu when performing pod-io-stress experiment, in this case,
stress-image almost is hard code

**What you expected to happen**:
we hope stress image can be specified when performing pod-io-stress experiment
**Where can this issue be corrected? (optional)**

pkg/generic/pod-io-stress/types/types.go
pkg/generic/pod-io

[2022-05-17 02:05] zhangchl007 commented on #3610
Sorry, the part of  issue had been fixed recently
pkg/generic/stress-chaos/environment/environment.go
pkg/generic/stress-chaos/types/types.go

but chaoslib/pumba/pod-io-stress/lib/pod-io-stress.go still need to be fixed

[2022-05-18 04:22] QAInsights opened #3611 "AWS IAM Integration Docs Fix"
**What happened**:
There is a typo in the EKS command in [AWS IAM Integration doc](https://litmuschaos.github.io/litmus/experiments/concepts/IAM/awsIamIntegration/).

**What you expected to happen**:
The command will fail if the user follows as-is.

**Where can this issue be corrected? (optional)**
NA

**How to reproduce it (as minimally and precisely as possible)**:
In this [instructions](https:/

[2022-05-18 04:28] QAInsights commented on #3611
https://github.com/litmuschaos/litmus/pull/3612

[2022-05-19 12:35] uditgaurav commented on #3611
Thanks @QAInsights for the PR!

[2022-05-19 12:35] #3611 closed

[2022-05-20 03:25] QAInsights opened #3613 "Failed to confirm cluster - Agent status is pending on AWS EKS"
**What happened**:

I am trying to install LitmusChaos on AWS EKS. The agent status is shown as pending. Upon checking the `subscriber-agent` log, it is displaying the below error.

[code]

**What you expected to happen**:

Subscriber agent should be up and running without any issues.

**Where can this issue be corrected? (optional)**
NA

**How to reproduce it (as minimally and precisely as possib

[2022-05-20 08:53] neelanjan00 opened #3614 "Add GCP Label Selector Experiment Docs"
Add experiment docs for
- `gcp-vm-instance-stop-by-label` experiment
- `gcp-vm-disk-loss-by-label` experiment

[2022-05-20 08:55] neelanjan00 opened #3615 "Update ENVs of GCP Experiments"
Update the ENVs of the GCP experiments:
- Replace `AUTO_SCALING_GROUP` with `MANAGED_INSTANCE_GROUP` for `gcp-vm-instance-stop` experiment
- Remove `DEVICE_NAMES` for `gcp-vm-disk-loss` experiment

[2022-05-20 09:38] neelanjan00 opened #3617 "JITTER env missing in the list of ENVs of pod-network-latency experiment"
**What happened**: JITTER env is missing in the list of ENVs of `pod-network-latency` experiment

**What you expected to happen**: JITTER env should be present in the list of ENVs of `pod-network-latency` experiment

[2022-05-23 13:01] vadheraju commented on #2191
We at FIS Global, have been embarking on to larger SRE program to transform platform team from purely operations focused to bring SRE/Automation culture and mindset. As part of that larger effort, Chaos/Resiliency Engineering is identified as key program to improve stability and availability of platform thus improve overall reliability of applications across organization and provide superior custo

[2022-05-23 16:13] #3223 closed

[2022-05-23 16:14] uditgaurav commented on #3223
The fix is available from litmus 2.9.0

[2022-05-24 07:28] raja4dev opened #3623 "Pod Security Policies - the least privileged access"
Pod Security Policies which is mentioned here https://litmuschaos.github.io/litmus/experiments/concepts/security/psp/
As part of capabilities (SYS_ADMIN/NET_ADMIN) few experiments may require SYS_ADMIN capabilities. Also, few experiments may not require NET_ADMIN capabilities and some experiments it may require both SYS_ADMIN/NET_ADMIN capabilities.
For example assuming If we run pod kill might no

[2022-05-24 10:10] ryuzakyl commented on #3613
Same thing is happening to me, but I installed Litmus using the helm chart instructions and kept the default `NodePort` service type.

Also, opened `ALL` traffic from/to my nodes in the Security Group (for troubleshooting purposes), restarted the `subscriber` pod but I'm still getting the same error.

Any other idea?

[2022-05-24 10:12] gdsoumya commented on #3613
Can you check if the url shown in the error `http://3.12.155.46:31093` is accessible from the cluster you are deploying your agent in?

[2022-05-24 10:45] ryuzakyl commented on #3613
I've created a pod and tried to access the URL with no luck (in my case I get a `Connection refused`):

[code]
I've gone further and tried reaching all the endpoints corresponding to the `NodePort` services created (ports `:31714`, `:31720`, `:31797`, `:32479` and `:31044`):

[code]
and I get a response (no timeout, no connection refused) from ALL of them:

[code]
Looking at that list of ports, I'

[2022-05-24 13:00] gdsoumya commented on #3613
Seems like either the nodeport changed after the agent was installed, can you edit the agent-cm configmap and update the server URL with port 32479 @ryuzakyl

[2022-05-24 17:41] QAInsights commented on #3613
@gdsoumya @ryuzakyl I changed the service `front-end` and `back-end` to `ClusterIP`. Now the agent is up and running.

[2022-05-24 21:08] iwright8 commented on #2607
Hi @ksatchit any update on this? The ability to add secrets to probes would be very helpful!

[2022-05-25 03:17] gdsoumya commented on #3613
In cluster ip mode you won't be able to get external agents so if you need external agents you will have to change it to nodeport later. I suspect in your case it was either a firewall config issue or the nodeport changed for some reason after agent installation like in case of @ryuzakyl

[2022-05-26 14:09] brnck opened #3633 "When HTTP probe criteria is empty, workflow fails"
**What happened**:

When configuring HTTP probes for chaos test, the criteria field is not mandatory and no value is pre-selected:

![image](https://user-images.githubusercontent.com/14329469/170502518-5ad63b7d-bc1d-44f7-83dc-c2b12ba6ea31.png)

When creating a workflow with empty criteria, it fails, because:

[code]

**What you expected to happen**:

If the value is required for the probe to work

[2022-05-27 07:21] brnck opened #3634 "Re-run schedule does not work if user is an email address"
**What happened**:

I am using the DEX server so all users are authenticated/created using information from the 3rd party providers

I log in as an editor to the project, go to Workflows > Schedules, and click Rerun schedule, but nothing happens. UI just redirects me to the Runs tab, but the new Run is not created.

Backend ACKs the request:
[code]

Subscriber has an error:

[code]

**What you exp

[2022-05-27 14:07] dbgoytia commented on #587
Hi @ksatchit, is this issue still relevant? If so I'd like to give it a go!

[2022-05-27 14:08] dbgoytia commented on #559
Hi @ksatchit is this feature still relevant? If so I'd really like to contribute! Can you elaborate a little bit more on what would be the expected output?

[2022-05-30 08:00] yuvaraj-shanmugam-at-optum-com opened #3636 "Unable to set up Chaos testing"
**What happened**:
Unable to bring up few PODs

K8s events:

17m         Warning   Failed                   pod/chaos-litmus-auth-server-6898f756d5-zfxdd                         Error: container has runAsNonRoot and image has non-numeric user (curl_user), cannot verify user is non-root (pod: "chaos-litmus-auth-server-6898f756d5-zfxdd_litmus(0202cebb-e113-45f8-ad75-3d58f577f952)", container: wait-f

[2022-05-30 16:02] alelerac opened #3637 "add parameter value "ALL" for "TARGET_CONTAINER""
Hi,
here is an improvement proposal for tunable parameter "TARGET_CONTAINER"
If "ALL" is specified as value for "TARGET_CONTAINER" Litmus shall run the experiment on all container in target pod simultaneously.
Thanks.

[2022-05-30 17:41] prithvi1307 commented on #3636
Hi @yuvaraj-shanmugam-at-optum-com
Can you join the Slack community and ask the same question?
To join the slack, please follow the following steps:
Step 1: Join the Kubernetes slack using the following link: https://slack.k8s.io/
Step 2: Join the #litmus channel on the Kubernetes slack or use this link after joining the Kubernetes slack: https://slack.litmuschaos.io/

[2022-05-30 17:41] prithvi1307 commented on #3637
cc: @rajdas24 @uditgaurav

[2022-05-31 04:52] rajdas24 opened #3638 "Adding JWT token as a query param for all required graphql subscriptions."
**Problem:**
Currently, `graphql subscriptions` don't support headers, and we are sending the token as a cookie to the backend.
Due to cookie blocking in some user environments, the connection wasn't established successfully.

**Solution:**
Adding `token` as query param to all the required `graphql subscriptions` and resolvers will extract the token from the params.

[2022-06-01 07:25] #3617 closed

[2022-06-02 09:44] ryuzakyl commented on #3613
@gdsoumya You were right [here](https://github.com/litmuschaos/litmus/issues/3613#issuecomment-1135893128) about the `NodePort` being out of sync. The reason for this, was that the Helm chart does not perform a clean up on the `ConfigMaps` when we do `helm uninstall ...`.

As I don't need external agents, I decided to switch to `ClusterIP` services the same way @QAInsights did, and use the `.yaml`

[2022-06-02 13:35] QAInsights commented on #3613
@gdsoumya what if we need to configure both self and external agents? What would be the configuration?

[2022-06-02 17:25] rociomroman commented on #3552
Ended up levering `gaiaadm/pumba:0.9.0` with success

[2022-06-02 17:25] #3552 closed

[2022-06-05 08:21] zhangchl007 commented on #3610
The code had been merged, the issue will be closed

[2022-06-05 08:21] #3610 closed

[2022-06-06 06:18] Aman-Codes opened #3642 "Unable to update GitOps Config"
**What happened**:

Error: Failed to setup GitOps : mkdir /tmp/gitops_test: read-only file system

![image](https://user-images.githubusercontent.com/54680709/172105910-a2bfe3e6-0078-49d9-b74b-0171921b6d10.png)

**What you expected to happen**:

Expected to update the GitOps config successfully

**Where can this issue be corrected? (optional)**

**How to reproduce it (as minimally and precisely as

[2022-06-07 10:06] cazeaux opened #3644 "Add possibility to configure corporate proxy to reach ChaosHub"
Hello,

When we use Litmus Chaos in a private Kubernetes cluster where a HTTP PROXY is required to reach the internet, it is not possible to reach the Chaos Hub (from Litmus portal) when the URL is on internet (typically github).
Using an internal private Chaos Hub is a possible workaround, but I would like to evaluate the possible support for corporate proxy.

Suggestions to support HTTPS PROXY:

[2022-06-07 14:29] le-al opened #3645 "Least prviliged database account"
Due to security audit, I wanted to change the mongodb account to a much less previledged to follow the least previledged aproch. For that, I found out, that I can change the mongodb account in the manifest https://github.com/litmuschaos/litmus/blob/3f8021f09b5b4aef7fce1495111c20c884673bdf/litmus-portal/cluster-k8s-manifest.yml#L827 . I crated an read/write db account for litmus db and used that in

[2022-06-07 21:00] lamc opened #3646 "Chaos Center Edit Schedule Cached?"
**What happened**: When I edit a workflow schedule, I always get presented the same workflow I had modified a few days ago

**What you expected to happen**: When I choose a workflow to edit schedule, the YAML and workflow details should match the one I chose.

**How to reproduce it (as minimally and precisely as possible)**: I'm not sure how to reproduce this

**Anything else we need to know?**: T

[2022-06-08 03:45] QAInsights opened #3647 "Update Litmus Install YAML manifest in docs"
**What happened**:
Install Litmus ChaosCenter yaml manifest is outdated in [here](https://docs.litmuschaos.io/docs/getting-started/installation)

**What you expected to happen**:
Updated yaml manifest must be there.

**Where can this issue be corrected? (optional)**
[here](https://docs.litmuschaos.io/docs/getting-started/installation)

**How to reproduce it (as minimally and precisely as possible)

[2022-06-08 03:45] QAInsights commented on #3647
I will submit a PR for this fix.

[2022-06-08 04:11] Jonsy13 commented on #3484
Hi @lamc , The [workflow](https://github.com/lamc/chaos-charts/blob/master/workflows/nasa-blue-pod-chaos/workflow_cron.yaml) that you are importing is wrong according to schema.

The workflow that you are importing is not a cron workflow. Please check the kind in line-2 `kind: Workflow`, for cron-workflow this should be `kind: CronWorkflow`

If we look at this section in manifest -
[code]

The abo

[2022-06-08 13:32] amityt commented on #3634
PR for the fix https://github.com/litmuschaos/litmus/pull/3648
Thanks @brnck for reporting this issue!

[2022-06-09 02:41] QAInsights opened #3649 "Update AWS IAM Integration Instructions"
**What happened**:

AWS IAM Integration document can be improved by addming more context w.r.t service account.

**What you expected to happen**:

Better direction to the users.

**Where can this issue be corrected? (optional)**

[Here](https://litmuschaos.github.io/litmus/experiments/concepts/IAM/awsIamIntegration/)

**How to reproduce it (as minimally and precisely as possible)**:
NA

**Anything

[2022-06-09 02:41] QAInsights commented on #3649
I will submit a PR.

[2022-06-09 08:25] jansagurna opened #3651 "Change MongoDB File Permissions"
Hello Litmus Team,

at the moment the MongoDB File Permission is going to:
drwxr-xr-x. 5 mongodb root 4096 Jun 9 07:46 db/

Do to Security reasons from CIC Benchmark this should be changed to:
mongodb:mongodb and Filepermission 750

Thanks,
Jan

[2022-06-09 10:44] Xangliev opened #3652 "Client ID is left empty when trying to login via dex / oauth2"
**What happened**:
I followed the documentation at: https://docs.litmuschaos.io/docs/user-guides/chaoscenter-oauth-dex-installation/
and setup everything accordingly. After navigating to /auth/dex/login and attempting to login via github I get the following error:
`Not Found
Invalid client_id ("").`.

It seems that the clientid in the call (or url) is left empty, despite it being defined in the co

[2022-06-09 10:46] Xangliev commented on #3652
On a somewhat related note,  even when I authenticate succesfully on github I am still unable to access the chaos center.

[2022-06-10 12:36] Akshit42-hue commented on #3382
Hey @mehabhalodiya, are you still working on it?

[2022-06-10 12:56] mehabhalodiya commented on #3382
No @Akshit42-hue, thank you for pinging me. I have unassigned myself, you can take it up if you want 🙂

[2022-06-10 13:07] Akshit42-hue commented on #3382
I have seen there is no github action for this automation. I have seen you have work with Kubernetes org do you have any leads(ideas) on how I can proceed further.
// @mehabhalodiya

[2022-06-10 15:46] lamc commented on #3484
Hello, I have changed the kind to `CronWorkflow` in the yaml, however when I still try to schedule workflow it's not respected. here are the steps I take & here is the[ pre-defined chaos workflow template I use](https://github.com/dowjones/chaos-charts/blob/master/workflows/djin-shared-test/workflow.yaml):

1. Schedule Workflow in Chaos Center
2. Select agent
3. Select "create new workflow from on

[2022-06-13 09:21] rajdas66 commented on #3652
cc: @DarthBenro008

[2022-06-13 10:16] #3614 closed

[2022-06-13 10:16] #3615 closed

[2022-06-14 03:50] eran-levy commented on #2191
We are utilizing Chaos Engineering for something else at the moment :) We found it very useful to bring our engineering confidence while responding to production incidents and train them on cloud native engineering practices, check out this article where I elaborate more on our workshop - https://www.infoq.com/articles/chaos-engineering-cloud-native/

[2022-06-15 02:39] lamc opened #3655 "Add Workflow Character Limit Error Message"
When scheduling a workflow, I have realized there is a 54 character limit as I was had a workflow name with 59 characters and got the error `Workflow name can only be lowercase characters and alpha numeric`  which was very confusing to me since the workflow name was in fact alphanumeric (as shown in below image)

<img width="900" alt="Screen Shot 2022-06-14 at 10 34 54 PM" src="https://user-images

[2022-06-15 06:18] rajdas66 commented on #3655
cc: @AmitKumarDas

[2022-06-15 06:28] rajdas66 opened #3657 "Upgrade 99designs gqlgen and golang to the latest stable version"
We aren't able to upgrade the golang version from 1.16 to the latest/stable version due to the direct dependency with the gqlgen version.

Request to upgrade gqlgen version, then go version to the latest one.

[2022-06-15 06:29] rajdas66 commented on #3657
ETA- Release 2.11

[2022-06-15 06:31] rajdas66 commented on #3440
Closing wrt-
https://github.com/litmuschaos/litmusctl/pull/64
https://github.com/litmuschaos/litmusctl/pull/73
https://github.com/litmuschaos/litmusctl/pull/75
https://github.com/litmuschaos/litmusctl/pull/76
https://github.com/litmuschaos/litmusctl/pull/77
https://github.com/litmuschaos/litmusctl/pull/78

[2022-06-15 06:31] #3440 closed

[2022-06-15 06:32] #1959 closed

[2022-06-15 16:17] mehak-sha commented on #3646
I am also working with Crystal on this. We notice the same behavior if we change "Schedule".
eg. The schedule has been modified to "every Tuesday at 9 AM". It shows fine when we "Edit Schedule", but when we see "Show Schedule", it shows a different one.

Edit Schedule:
![image](https://user-images.githubusercontent.com/68915118/173875758-c4372e91-da2c-4c56-b098-cee20536b960.png)

Show Schedule:
![

[2022-06-16 03:47] gopimandala opened #3662 "Installation unsuccessful due to inadequate access on 'secrets' for litmus service account"
**What happened**:
I am following the steps mentioned in this tutorial: https://litmuschaos.github.io/tutorials/tutorial-getting-started/index.html#2
After logging in as admin/litmus in the home page, the subsriber pod crashes with below msg in the logs.
forbidden: User \"system:serviceaccount:litmus:litmus\" cannot get resource \"secrets\" in API group \"\" in the namespace \"litmus\

This is not

[2022-06-17 11:26] vivekdsr opened #3669 "Get version of litmus server from authserver or graphql api"
It would be nice to get version of litmus server via the api end points(graphql or authserver)  something like curl://<autserverip>/version ?

The reason is we observed that with latest version of litmuschaos several graphql queries are refactored, We have an internal litmus library which needs to be compatible with both older version and new version of litmus. We would like the find the server ve

[2022-06-17 11:26] vivekdsr commented on #3669
@imrajdas

[2022-06-21 09:47] le-al commented on #3184
Hello @gdsoumya ,
I would like to extent the request from @vamsiammineni, by the posibility to create also projects via the HMI. Would that be possible?

[2022-06-28 08:05] raja4dev opened #3673 "Litmus front-end configmap custom changes"
We have frontend configmap and could see [default.conf](https://github.com/litmuschaos/litmus-helm/blob/master/charts/litmus/templates/controlplane-configs.yaml#L29) and this is not templated. There is nothing we can configure .

1. Can you accept the changes that we perform
2. or can you allow us to put additional custom configuration, so we don't have to perform the configuration at Kubernetes l

[2022-06-28 08:33] #3524 closed

[2022-06-28 08:34] raja4dev commented on #3524
This issue not seen in the latest version. Hence, closing the bug.

[2022-06-28 12:17] gopimandala commented on #3662
Today I recreated the cluster, reinstalled Litmus and the above issue wasn't observed. So, closing this.

[2022-06-28 12:17] #3662 closed

[2022-06-29 21:01] brnck opened #3674 "Add possibility to prohibit applying chaos tests on certain namespaces"
Right now LitmusChaos can run in all namespaces. That poses a security risk as well as an accidental run of chaos tests in the namespaces where it should not be run. I as an administrator want to ensure that only certain namespaces are allowed to be used for chaos tests.

It would be really great if Litmus would support **Filter namespaces** mode that could be managed by the ENV variable. If names

[2022-06-29 21:16] brnck opened #3675 "Show workloads that will be impacted by selection"
It would be very useful to have some information based on what namespace and labels you select. Ideally, Litmus should show which workloads will be impacted by your selection. This will improve UX as well as inform users about their choice

<img width="779" alt="image" src="https://user-images.githubusercontent.com/14329469/176545953-0da1e7ea-41dd-4a39-bfbd-a1ccd0fb0ea6.png">

[2022-06-30 06:24] le-al opened #3676 "Cloudnative project management"
At the moment, I can only create projects via cli and need to manage it via CLI or UI.
I think it would be much easier for usage and adminitration if that would follow an cloud native aproch. For example, if that could be manage via Helm, thinks like usermanagement or agent update could be automated. Also thinks like regression testing could be complete setup during CI/CD and cleanup later.

[2022-07-13 05:27] PoojaS4444 opened #3681 "Litmus Portal not getting connected to Litmus Chaos Hub and not importing generic pod delete engine YAML file"
<img width="951" alt="litmus_choasHub_error02" src="https://user-images.githubusercontent.com/69305654/178657310-b3721803-20fe-4868-8280-5bb7da3fca02.png">
<img width="960" alt="litmus_file_import_error02" src="https://user-images.githubusercontent.com/69305654/178657377-fa46e976-fb99-4b28-bd15-7cdb30d46eec.png">

**What happened**:

1.  In the Litmus Portal/UI, under ChaosHubs section, I am unabl

[2022-07-13 05:34] amityt commented on #3681
Hi @PoojaS4444  Regarding ChaosHub, it is a know issues and it will be fixed in the next release.
For the upload issue, we don't support the upload of engine YAML as of now. Please try to upload a manifest of kind : Workflow.
You can use this manifest for the same: https://github.com/litmuschaos/chaos-charts/blob/master/workflows/pod-delete/workflow.yaml

[2022-07-13 12:44] PoojaS4444 commented on #3681
Hi @amityt, Thanks for looking into the issue. Yes i will try uploading workflow manifest and execute tests

[2022-07-13 12:44] #3681 closed

[2022-07-15 09:49] apetheriotis commented on #3192
Hi @ksatchit, are there any updates on the development of this feature?

[2022-07-15 11:44] santhoshissa opened #3693 "agent installation error"
Hi Team,
 When I trying to install litmus on my k8s clusters facing an agent installation issue

  `Kubectl logs -f subscriber-55cbccdd65-bjknm  -n litmus`

`root@k8server:~# kubectl logs -f subscriber-55cbccdd65-bjknm -n litmus
time="2022-07-15T11:37:18Z" level=info msg="Go Version: go1.16.15"
time="2022-07-15T11:37:18Z" level=info msg="Go OS/Arch: linux/amd64"
time="2022-07-15T11:37:18Z" level=i

[2022-07-18 00:54] PoojaS4444 opened #3695 "Error Executing Litmus tests via Litmus portal"
**What happened**:

I imported this workflow.yaml file to delete pod of app "telehealth" in "smartedge-apps" namespace. But its showing "Failed to create a new workflow error". I have shared the YAML file. Please check.

**What you expected to happen**:

I expected it to schedule Litmus test successfully

**Where can this issue be corrected? (optional)**

Litmus Portal

**How to reproduce it (as m

[2022-07-19 04:44] GopiChandra25 opened #3696 "Pod cpu hog and Pod memory hog experiments expecting privileged scc for litmus-admin sa"
**What happened**: While executing Pod cpu hog and Pod Memory hog experiments in below environment
**OpenShift Master**: v3.11.439
**Kubernetes Master**: v1.11.0+d4cacc0
**Litmus Version**: 2.9.0
1. Using namespace level agent, scc is applied as mentioned in https://litmuschaos.github.io/litmus/experiments/concepts/security/openshift-scc/
  a. oc create -f litmus-scc.yaml
  b. oc adm policy add-sc

[2022-07-20 12:18] vivekdsr opened #3698 "LitmusChaos front end is trying to download some CSS from fonts.googleapis.com"
LitmusChaos front end is trying to download some CSS from [fonts.googleapis.com](http://fonts.googleapis.com/) , Our servers donot have internet access due to security reasons due to which the litmuschaos dashboard is taking long time to load(its waiting for time out to connect to the website fonts.googleapis.com )

As per discussion in slack ,
Load in the fonts locally instead from [fonts.googlea

[2022-07-20 12:31] vivekdsr commented on #3698
@arkajyotiMukherjee

[2022-07-20 19:58] lucianosal opened #3699 "Error listing workflows on Schedules tab"
**What happened**:
I have an error in the schedules tab when I create a workflow by API
![Captura de Tela 2022-07-20 às 15 52 09](https://user-images.githubusercontent.com/18680132/180070357-ff862402-e2ec-4918-8fb3-65da89ab096c.png)

**What you expected to happen**:
When I create by portal with the same yaml the schedules tab normally lists the workflows created

**Where can this issue be correct

[2022-07-23 12:35] PoojaS4444 commented on #3695
Hi, Can i please get some help on this...

[2022-07-25 22:13] lancehudson opened #3702 "Conflict with Argo Workflows on the same cluster"
**What happened**:
Installing the delegate on a cluster that has argo workflows installed breaks argo workflows.

CRD `workflowtasksets.argoproj.io` is out of date ([3.3.8](https://github.com/argoproj/argo-workflows/blob/v3.3.8/manifests/base/crds/full/argoproj.io_workflowtasksets.yaml))

Cluster Role `argo-cluster-role` is out of date ([3.3.8](https://github.com/argoproj/argo-workflows/blob/v3.3.

[2022-07-26 09:36] ashmilhussain commented on #3693
Same issue for me with V 2.11.0

[2022-07-26 14:25] jnthas opened #3703 "Missing imagePullSecrets in agent manifests"
**What happened**:
Internal agent pods fails with `ImagePullBackOff` when using a different imagePullSecrets.

**What you expected to happen**:
The Pods of Litmus agent should download its image using the parameters of image.* provided in values.yaml. Other resources like server and frontend already do that.

**Where can this issue be corrected? (optional)**
- The agent manifests located in `litmu

[2022-07-26 14:41] dmcardoso opened #3704 "Experiment generic/pod-delete is not stopping when terminate chaos action is triggered"
**What happened**: The problem occurred while one of our war games, we tried to stop the workflow, but the pods was still dying. So, i just installed litmus from helm in my local k8s cluster to debug, then I created a new experiment of generic/pod-delete type and when i try to terminate the workflow run by the interface the experiment still does not stop.

**What you expected to happen**: When I c

[2022-07-26 17:23] dyegowermelinger commented on #3693
Could you try to run it?

`kubectl create clusterrolebinding litmus-cluster-admin --clusterrole=litmus-admin --serviceaccount=litmus:litmus`

[2022-07-26 18:00] deividMatos commented on #3634
Hi @amityt,
I proposed a different solution for this problem, without breaking the audit.
#3705

[2022-07-27 02:03] toydogs commented on #3613
Hello
I faced a similar problem.
The agent is in pending state
The subscriber pod is repeatedly restarting with the corresponding error log.

![image](https://user-images.githubusercontent.com/55862040/181143484-22c586b8-c411-4e12-9eee-a5a35b26728c.png)

deploy by ingress Add and use some gke cr as needed (frontendconfig,googlemanaged certifcate...).
I'm going to change the chart flexibly with thi

[2022-07-27 22:07] calebxu-hcl opened #3706 "Scenario import via YAML fails if any workflow step has an input artifact with multiple YAML documents"
**What happened**:
I tried to import a chaos scenario YAML file which has a workflow step that has an input artifact containing multiple YAML documents in it, similar to:
[code]

The import fails with message: `Error while uploading YAML : Source contains multiple documents; please use YAML.parseAllDocuments()`

**What you expected to happen**:
The scenario should be imported successfully to be sc

[2022-07-28 01:24] seastco opened #3707 "Adding TLS support in probe configuration"
I tried using a prometheus probe with a chaos experiment, but cannot without TLS support. This is needed for anyone operating within a cluster enforcing service->service TLS communication.

“The prom-test prom probe has been Failed, err: unable to run command, err: exit status 1; error output: error querying prometheus: Post \“<prom-endpoint>“: x509: certificate signed by unknown authority\n”

[2022-08-01 16:13] aslafy-z opened #3710 "Disable mandatory reset password prompt"
A user on it's first login is forced to reset their password. Add ability to create an user without asking it to change the password.

[2022-08-01 18:42] dabogee opened #3711 "Is it possible to introduce a new role for an user which allows only start/rerun existing workflows"
Hello!

We would like to be able to invite external users into a litmus project who can run workflows which were already configured.
We don't wont them to create/delete/edit existing workflows.

Thx!

[2022-08-03 08:03] Saranya-jena commented on #3710
Hi @aslafy-z Could you please let us know what is the version of litmus you're using?

[2022-08-03 09:41] #3642 closed

[2022-08-03 09:42] #3633 closed

[2022-08-03 09:46] #3526 closed

[2022-08-08 10:20] #3699 closed

[2022-08-08 10:45] Jonsy13 commented on #3613
HI @QAInsights , In v2.11.0, The Endpoint for self-agent is now going through FQDN by default. For external you can change the service type to NodePort/LoadBalancer or use Ingress.

[2022-08-08 10:54] Jonsy13 commented on #3604
Hi @hkgopal , Thanks for this feature request.
This functionality was added in v0.11.0 version of litmusctl.
Closing this issue. Feel free to open this if you face any issues with same.

[2022-08-08 10:54] #3604 closed

[2022-08-08 11:08] Jonsy13 commented on #3551
HI @wrdls @Deepak1100 @brnck  Thanks for pointing this out.
This issue was fixed in 2.9.0 release of ChaosCenter.
Closing this issue for now. Feel free to open if you still face same issue.

[2022-08-08 11:08] #3551 closed

[2022-08-08 11:11] Jonsy13 commented on #3547
Tagging @AmitKumarDas

[2022-08-08 13:23] Saranya-jena commented on #3669
Hi @vivekdsr We have added the graphql API to fetch the server version, it is currently available in `master` .
Query name: `getServerVersion`

[2022-08-08 15:09] shwetahgithub commented on #3582
Hi @GopiKannanJP  Can you help with the fix for above issue?

[2022-08-09 08:11] rayak-s commented on #3698
Hi @arkajyotiMukherjee
I want to take this issue, Can you please assign it to me?

[2022-08-10 08:52] vamsiammineni opened #3730 "PlatformTests fail when auxiliaryAppInfo is passed in the workflow"
**What happened**:
While running Platform level tests, I have passed the "auxiliaryAppInfo" details in order to check the status of a particular application before and after the chaos.

But, the workflow failed in pre-chaos step when it tries to check the containerstatus for the auxiliaryAPP with following error message.

[code]

**What you expected to happen**:

Workflow should not fail in pre-ch

[2022-08-11 16:05] erekgit commented on #3696
@GopiChandra25  Does is make sense/help?

"Anderson, Erik6/28 11:45 AM

[karthik.s_active_acc](https://urldefense.com/v3/__https:/app.slack.com/team/U029L6WJHQQ__;!!INViTUAdUeDF!0ECanToO5ObYvKTotdZ0AVvfBrOOul9wF8tgqkj28PYNukt04bXoxAPQmtzXEISD4v5Ao7T5GCehKxSBaHnsFMI$)  [25 minutes ago](https://urldefense.com/v3/__https:/kubernetes.slack.com/archives/CNXNB0ZTN/p1656429454194359?thread_ts=1656425545.

[2022-08-12 05:50] arkajyotiMukherjee commented on #3698
Thanks, @rayak-s. All the best 👍🏼

[2022-08-12 05:52] arkajyotiMukherjee commented on #3698
The solution guide is also provided in our k8s slack. @rayak-s
https://kubernetes.slack.com/archives/C018C31N2G0/p1658746844092659
If you need any further help ping me on the same slack thread.
Cheers 🎉

[2022-08-18 05:27] Jonsy13 opened #3739 "Not able to Resend invitation to an exited user from UI"
**What happened**:

Not able to Resend invitation to an exited user from UI

**What you expected to happen**:

User should be able to resend to an exited user from UI.

**Where can this issue be corrected? (optional)**

**How to reproduce it (as minimally and precisely as possible)**:

**Steps -**
- Deploy ChaosCenter
- Login as Admin, Create a new user & invite them to your project.
- Login as ne

[2022-08-18 08:16] vamsiammineni opened #3740 "auxialiaryAppInfo support is removed for pod-level tests. But, documentation still says it is supported"
**What happened**:
As per the existing documentation, auxiliaryAppInfo feature is still supported by litmus even for pod-level tests. But, community has confirmed that this feature is removed for pod-level tests and the documentation needs an update.

https://litmuschaos.github.io/litmus/experiments/concepts/chaos-resources/chaos-engine/application-details/#auxiliary-application-info

**What you e

[2022-08-18 09:11] selone commented on #2860
hey, L4 proxy will work

use stream

[code]

[2022-08-18 10:15] pawanphalak opened #3741 "Pod memory hog chaosschedule not working in istio enabled namespace."
Hi team, While running the pod memory hog with chaosscheduler, the helper pods created by the litmus are running into the error state. We noticed this happening for namespace with istio injection enabled. There are option to add annotations to runner pod such that we can disable the istio proxy for chaos runner pods , however I can not find any configuration such that I can add annotations to help

[2022-08-22 04:50] Jonsy13 opened #3743 "Able to create multiple chaos scenarios with same name"
**What happened**:

I'm able to create multiple chaos scenarios with same name using UI as well as API.

**What you expected to happen**:

Should not be possible

**Where can this issue be corrected? (optional)**

**How to reproduce it (as minimally and precisely as possible)**:

Try creating 2 chaos scenarios with same name.

**Anything else we need to know?**:

Adding screenshot for reference -

[2022-08-22 07:08] vamsiammineni opened #3744 "StatusChecktimeouts values don't take effect in the workflow manifest"
**What happened**:
statusCheckTimeout custom values don't take effect and default values 180s override the custom values.

**What you expected to happen**:
statusCheckTimeout values should override the default values.

**How to reproduce it (as minimally and precisely as possible)**:
Update the workflow with the following values and can see that workflow still waits 180s(default) before it fails.

[2022-08-22 16:00] uditgaurav commented on #3223
We need to add it as an ENV before running the experiment @BK-STAR77 like we have other env `TOTAL_CHAOS_DURATION`.

[2022-08-22 16:04] BK-STAR77 commented on #3223
@uditgaurav  OK I see thank you

[2022-08-29 12:52] jonathasb-cit commented on #2191
After an evaluation period of some Chaos Engineering tools, we chose Litmus because it is a more mature tool that would meet most of our needs. We are in the implementation, configuration, and process definition phase.
AB-Inbev's BEES is a huge project that has hundreds of microservices, it has been a great challenge to adapt Litmus in this process, making customizations and counting on the help o

[2022-08-30 16:44] lavakush07 opened #3751 "Update in the Front End"
![Screenshot 2022-08-30 220804](https://user-images.githubusercontent.com/70131581/187492772-bd4300b5-38a0-4ae1-b524-754aa559cc27.png)

- As Litmus Chaos is an incubating project it's need to be get update it on the website.

Can you assign me this issue to work upon.

[2022-08-31 18:04] thales-gaddini opened #3753 "Feature Suggestion: checkbox "Apply configuration to new pods""
Hi there, it is my first issue here so I'm not sure if there is a format I should follow.

I was wondering if it would be possible to add a checkbox that would make so new application pods that scale during workflow runs would also be affected by workflow rules.

To give more context: we were using litmus to drop the database connection in an async flow using SQS. While the database was down, mess

[2022-09-05 10:03] #3646 closed

[2022-09-05 10:09] ispeakc0de commented on #3741
Hi @pawanphalak ,
Please follow this FAQ, it should solve your issue - https://litmuschaos.github.io/litmus/experiments/troubleshooting/experiments/#experiment-failed-for-the-istio-enabled-namespaces

[2022-09-05 10:14] ispeakc0de commented on #3744
Hi @vamsiammineni ,
It should work as expected. Can you please follow this https://litmuschaos.github.io/litmus/experiments/concepts/chaos-resources/chaos-engine/experiment-components/#experiment-status-check-timeout ? If it is still not working then please share the following info:
1. litmus version
2. Describe output of the ChaosEngine

[2022-09-05 10:34] #3423 closed

[2022-09-05 10:34] #3417 closed

[2022-09-07 16:34] ruchi1803 commented on #3652
+1

[2022-09-07 18:33] DarthBenro008 commented on #3652
Hey @Xangliev , you have to change the ClientID in this specific line:

https://github.com/litmuschaos/litmus/blob/7f1e279043f16962dbeffb6268d1f10da34fea92/litmus-portal/dex-server/dex-deployment.yaml#L44

instead of:

https://github.com/litmuschaos/litmus/blob/7f1e279043f16962dbeffb6268d1f10da34fea92/litmus-portal/dex-server/dex-deployment.yaml#L21

I had created a video walkthrough of integratin

[2022-09-07 19:09] Xangliev commented on #3652
@DarthBenro008 I have added the clientID for my connectors and I can see in the auth server logs that authentication works correctly (eg. I get the Oauth authentication screen). The problem is that the static client ID defined on line 21 is not preserved in the url headers. So when you navigate to /auth/dex/login initially I get an error which states that the client id is empty. Also when you add

[2022-09-07 19:17] DarthBenro008 commented on #3652
@Xangliev , upon looking into the code, i figured that you have to add the ClientID in env params of the authentication service, exactly here:

https://github.com/litmuschaos/litmus/blob/7f1e279043f16962dbeffb6268d1f10da34fea92/litmus-portal/authentication/pkg/utils/configs.go#L21

This means, we need to add more variables under [this](https://docs.litmuschaos.io/docs/user-guides/chaoscenter-oauth

[2022-09-07 19:29] Xangliev commented on #3652
@DarthBenro008 Thanks for the quick response, I will test it out soon and will get back to you!

[2022-09-08 06:54] ruchi1803 commented on #3652
adding clientId and client secret in auth-server manually worked for me. its not showing empty client ID and login is successful.
Thanks @Xangliev

[2022-09-08 12:44] divaspathak commented on #3751
I also want to work on this issue. Can you please assign me this?

[2022-09-08 13:50] Xangliev commented on #3652
Also works for me, thanks @DarthBenro008

[2022-09-11 04:03] uzaxirr commented on #774
Hey @chandankumar4
Is that file still un-tested? I'm not able to find the file `cmd/manager/main.go` in the `chaos-operator` repo. It is moved to a new destination?

[2022-09-12 07:50] #3652 closed

[2022-09-12 14:22] Anjala1994 opened #3756 "aws-az-chaos for Application load balancer tyoe applictaions"
The current aws-az-chaos  experiment is working for classic LB only and not the application type load balancer.

Need to see the difference in the steps to perform on ALB. You can try doing this manually to see what capabilities we need to introduce in the current approach.

Getting the following error when entered alb load balancer details:

Traceback (most recent call last):
  File "experiment",

[2022-09-12 15:52] Anjala1994 opened #3757 "aws-region-failure Experiment"
currently we have AWS availability zone failure by disabling load balancer to specific targeted Availability zones.
Can an experiment be created to disable the AWS region, to check AWS Region failure scenario

[2022-09-14 16:14] rutu-k commented on #2191
At InfraCloud, we are using Litmus to develop Resiliency Frameworks.
Why do we use Litmus.
To simulate various Chaos scenarios using fault injection templates provided by Litmus. Litmus also helps to incorporate custom fault templates developed using AWS SSM documents.

How do we use Litmus.
Currently, we have tested with different kind of scenarios including faults like pod deletion, network late

[2022-09-15 06:05] pawanphalak opened #3763 "Support for containerd container runtime for DNS experiments(pod dns spoof and pod dns error)"
Hi team,

We tried executing the DNS experiments on a GKE cluster with containerd container runtime.But the experiments helper pods are failing  with the below error on helper pods:
`
level=error msg="[cri]: Failed to run crictl: time=\"2022-09-15T05:59:22Z\" level=fatal msg=\"failed to connect: failed to connect, make sure you are running as root and the runtime has been started: context deadline

[2022-09-15 09:36] neelanjan00 opened #3764 "Rectify Pod DNS Error Experiment Docs"
**What happened**: One of the examples says that only docker runtime is supported for the experiment, which is false and needs to be removed. https://litmuschaos.github.io/litmus/experiments/categories/pods/pod-dns-error/#container-runtime-socket-path:~:text=CONTAINER_RUNTIME%3A%20It%20supports%20docker%20runtime%20only.

[2022-09-15 09:40] pawanphalak commented on #3763
UPDATE:

I have added the one more parameter for chaosengine SOCKET_PATH and now helper pods are returning the below error:
`
level=fatal msg="Failed to create Interceptor" error="failed to inject interceptor in resolv.conf : open /etc/resolv.conf: read-only file system"
level=fatal msg="Failed to run command" cmd=/usr/local/bin/dns_interceptor error="exit status 1"
`

Following is the cronschedul

[2022-09-19 09:39] ksatchit commented on #3751
@divaspathak the website code is maintained here: https://github.com/litmuschaos/litmus-website-2

[2022-09-19 10:28] Saranya-jena commented on #3711
Hi @dabogee currently adding a new role for a user is not possible.

[2022-09-19 11:31] pawanphalak opened #3770 "No impact observed while running node cpu hog chaos with resource limit set in application pod definition"
Hi everyone,
I am trying to perform node cpu hog experiment as chaosschedule with following configurations:
[code]
The cpu consumption for the target node increases till 100% but there is no impact on the running application or even the target nodes. The expected behavior should be "replicas may be evicted on account on nodes turning unschedulable (Not Ready) due to lack of CPU resources." but in

[2022-09-19 11:33] pawanphalak opened #3771 "No application impact oberved while running the pod memory hog experiment with resource limit set in pod definition"
Hi everyone,
I am trying the pod memory hog experiment, and have set very high value for MEMORY_CONSUMPTION. The document mentions the value in MEMORY_CONSUMPTION, will cause the memory hog for the entire pod to be increased by this value. However in our case the memory hog goes only to a specific limit and the pods do not evict due to OOM.
I wanted to set parameters such that pods are evicted due

[2022-09-20 09:23] #3538 closed

[2022-09-20 22:20] mattlorimor opened #3772 "Golang monkey patching library utilized against terms of license"
The Golang monkey patching library, https://github.com/bouk/monkey, is being utilized directly against [its license](https://github.com/bouk/monkey/blob/master/LICENSE.md):

It is also archived and not maintained.

[2022-09-21 08:05] #3573 closed

[2022-09-21 09:53] cpt-zork opened #3773 "Add capabilties to add custom labels to runner pods"
The cluster setup on which I'm working and on which litmus-operator is deployed requires that all PODs are tagged with a specific label.
In case of of missing label, a gatekeeper intercepts the POD and prevents its creation.

Runner POD created by litmus-operator are created with 4 fixed labels (as seen in https://github.com/litmuschaos/chaos-operator/blob/master/controllers/chaosengine_controller

[2022-09-22 12:07] neelanjan00 commented on #3744
@vamsiammineni were you able to figure this out?

[2022-09-22 12:08] neelanjan00 commented on #3698
Hi @rayak-s, any update regarding this feature?

[2022-09-22 12:13] neelanjan00 commented on #3696
Closing this issue, based on the resolution in this Slack thread: https://kubernetes.slack.com/archives/CNXNB0ZTN/p1654569314744489

[2022-09-22 12:13] #3696 closed

[2022-09-22 12:17] neelanjan00 commented on #3695
Hi @PoojaS4444, sorry for not being able to assist on this as we usually troubleshoot in the litmus community channel in the Kubernetes Slack. Would you please join here and ask your question? https://k8s.slack.com/

[2022-09-22 12:17] #3695 closed

[2022-09-22 12:19] neelanjan00 commented on #3693
Hi @santhoshissa, will you join the Litmus community Slack channel in k8s Slack? We usually help each other troubleshoot problems there. https://k8s.slack.com/

[2022-09-22 12:23] #3676 closed

[2022-09-23 17:25] mbecca commented on #3404
Hi, any workaround or solution for it?

[2022-09-23 23:30] ari-hacks commented on #3251
Hey @oumkale, is this still something you'd like implemented?

[2022-09-24 08:58] oumkale commented on #3251
Hi @ari-hacks,

Thank you for looking into the issue. Yes Still, I would like to get implemented. Can we assign it to you?

[2022-09-26 09:22] ksatchit commented on #183
With the introduction of probes, all the custom conditions mentioned in the description can be covered using a standard pod-delete chaos experiment, without the need for building custom experiments for each.

[2022-09-26 09:22] #183 closed

[2022-09-26 09:40] ksatchit commented on #51
Moving this issue to the OpenEBS e2e-tests repository: https://github.com/openebs/e2e-tests/issues/660

[2022-09-26 09:40] #51 closed

[2022-09-26 09:45] ksatchit commented on #559
With recent developments, litmus supports chaos against any workloads residing on specific nodes (using NODE_LABEL env). It also supports selection of specific pods using the TARGET_PODS env.

The tests mentioned in the description can be achieved using these tunables, w/o increasing blast radius and impacting litmus tool traffic (which was one of the earlier concerns around using litmus against s

[2022-09-26 09:45] #559 closed

[2022-09-26 09:47] ksatchit commented on #587
Limtus has enhanced its fault suite along with supported probe types, which allows users to test any application workload app-native constraints/health-validations, thereby removing the need for separate workload-specific experiments to a large extent.

[2022-09-26 09:47] #587 closed

[2022-09-27 03:57] ksatchit commented on #701
Ref: https://litmuschaos.github.io/litmus/experiments/categories/vmware/vm-poweroff/

[2022-09-27 03:57] #701 closed

[2022-09-27 04:04] ksatchit commented on #859
Please reference: https://github.com/litmuschaos/litmus/issues/587

[2022-09-27 04:04] #859 closed

[2022-09-27 04:05] ksatchit commented on #960
Litmus has enhanced its fault suite along with supported probe types, which allows users to test any application workload app-native constraints/health-validations, thereby removing the need for separate workload-specific experiments to a large extent.

[2022-09-27 04:05] #960 closed

[2022-09-27 04:06] ksatchit commented on #1009
Litmus has enhanced its fault suite along with supported probe types, which allows users to test any application workload app-native constraints/health-validations, thereby removing the need for separate workload-specific experiments to a large extent.

[2022-09-27 04:06] #1009 closed

[2022-09-27 06:54] Aninditasrivastava opened #3778 "Need understand if litmus supports OpenShift platform or not? .If it does how can we install it any doc or link would be of great help. If it doesn't support then can anyone suggest any other chaos tools that will support OpenShift platform and is non based saas tool?"
## Question
Feel free to get your queries resolved.

**Please make sure you have,**

- Reviewed the [Questions](https://github.com/litmuschaos/litmus/labels/question) asked by our community members and contributers.
- Searched opened and closed [GitHub issues](https://github.com/litmuschaos/litmus/issues)

**We primarily use GitHub as an issue tracker; for usage and support questions, please check

[2022-09-27 10:27] measutosh commented on #2572
@imrajdas , I am interested work on this one, could you please assign me this and provide some resources to tackle this

[2022-09-27 11:32] ashiskumarnaik commented on #3698
HI @arkajyotiMukherjee @rayak-s, I want to take this issue from here. If u are not working on it, Assign it to me.

[2022-09-28 04:33] ispeakc0de commented on #3772
Thanks for reporting this @mattlorimor
This was an indirect dependency of operator-sdk. We have upgraded the operator-sdk to remove this indirect dependency

[2022-09-28 04:33] #3772 closed

[2022-09-29 07:41] Gaethje opened #3779 "Unable to pull litmuschaos/upgrade-agent-cp from dockerhub"
I am trying to install in a private on-prem k8 cluster. What we usually do is we pull all the images needed locally and push it to our internal artifactory. Then we route images to the helm chart.
i was able to pull all the images except one.
` sksabit.faisal@P87111  ~  docker pull litmuschaos/upgrade-agent-cp`
`Using default tag: latest`
`Error response from daemon: manifest for litmuschaos/upg

[2022-09-29 18:56] ari-hacks commented on #3251
Hey @oumkale, yes please do!

[2022-10-01 17:38] abhishekkashyap96 commented on #3698
@rayak-s @arkajyotiMukherjee  I would like to take this issue from here on, i think i can solve the issue. Can you please assign it to me.

[2022-10-03 15:43] ksatchit commented on #1254
The chaos workflows are based on argo which supports the ability to push output artifacts generated from experiment runs to a dedicated sink. This way, we don't have to store data blobs on CRDs like chaosresults.

[2022-10-03 15:43] #1254 closed

[2022-10-03 15:46] ksatchit commented on #1273
Litmus supports various new faults along with probes that allow for creation of custom scenarios such as this (container-kill, pod-network-loss, pod-autoscale).

[2022-10-03 15:46] #1273 closed

[2022-10-03 15:51] ksatchit commented on #1335
Litmus has introduced a centralized control plane for chaos management, which is the first upgrade target via helm/kubectl,  with guided steps for upgrade of the chaos execution infrastructure. It is documented here: https://docs.litmuschaos.io/docs/user-guides/upgrade

[2022-10-03 15:51] #1335 closed

[2022-10-03 15:55] ksatchit commented on #1365
Since the creation of this issue, litmus has added multiple new faults for Kubernetes alongside different types of probes to validate custom hypothesis conditions. This allows users to test several applications along with app-native validations.

[2022-10-03 15:55] #1365 closed

[2022-10-03 15:56] ksatchit commented on #1411
This an be achieved in a declarative fashion using the litmus probes feature today.

[2022-10-03 15:56] #1411 closed

[2022-10-03 16:02] ksatchit commented on #1458
The ChaosHub has support for version based artifact download is now supported (via a dropdown on the hub screen)

[2022-10-03 16:02] #1458 closed

[2022-10-04 14:28] ksponomarev opened #3781 "sasl conversation error: unable to authenticate using mechanism "SCRAM-SHA-1""
Hello

We are trying to connect our litmus with our mongodb with LDAP auth. After trying we have this error:
[code]

What should we do with it?

Thank you

[2022-10-04 15:01] bbarin commented on #3763
I wouldn't classify it as a bug as the documentation clearly shows that only `docker` runtime is supported for now.

[2022-10-04 15:20] alelerac opened #3782 "experiment pod io stress fails on persistent storage"
**What happened**:
Litmus experiment "pod io stress" fails on persistent  volumes.

**What you expected to happen**:
Litmus experiment "pod io stress" successful on persistent volumes.

**Where can this issue be corrected? (optional)**

**How to reproduce it (as minimally and precisely as possible)**:
1.) deploy zookeeper statefulset
   kubectl apply -f https://k8s.io/examples/application/zookeepe

[2022-10-05 10:24] ZiadAliKhalifa commented on #3263
Can I take this?

[2022-10-05 17:24] dmcardoso commented on #3763
I've found this PR adding support for containerd for this experiments: https://github.com/litmuschaos/litmus-go/pull/577

[2022-10-07 04:59] neelanjan00 commented on #3782
Hi @alelerac, thanks for raising this issue. We are currently working on making the error message more productive, rather than just outputting `exit status 1`. We'll need some more information to debug this:
1. Can you confirm that the path `/var/lib/zookeeper` is valid?
2. Can you confirm that `/var/lib/zookeeper` is read and write permissive?

[2022-10-07 05:13] neelanjan00 commented on #3781
@AmitKumarDas, can you PTAL?

[2022-10-07 05:14] neelanjan00 commented on #3781
@amityt can you PTAL?

[2022-10-07 05:15] neelanjan00 commented on #3779
Thanks for creating this issue, @Gaethje! 🙏 Can you PTAL @Jonsy13?

[2022-10-07 05:20] neelanjan00 commented on #3763
Closing this issue, as it has been resolved with litmuschaos/litmus-go#577. Thanks everyone for participating!

[2022-10-07 05:20] #3763 closed

[2022-10-07 05:25] neelanjan00 commented on #3778
Hi @Aninditasrivastava, LitmusChaos does fully support and run on OpenShift platform. The installation steps are the same as installing any other k8s application on OpenShift. While we don't have a dedicated guide for it yet, please refer to the following blog to get an idea of how to get started. Please note that the blog is a bit old and LitmusChaos has released many stable versions since.

http

[2022-10-07 05:25] #3778 closed

[2022-10-07 05:27] #3741 closed

[2022-10-08 10:23] Ajjjuu commented on #3698
I think I can work upon it to resolve. Please consider assigning this to me!

[2022-10-10 04:36] arkajyotiMukherjee commented on #3698
Since we have a couple of takers for this, I would not assign anybody in particular. Please feel free to make the changes and link this issue to your PR.

[2022-10-10 08:05] BingweiH opened #3786 "GitOps integration -- annotate application with more than 1 workflowId"
For GitOps integration to work, we need to annotate the application with the workflowId, question is, can we annotate more than 1 workflow ID for the same application, so that when the application is changed, both scenario workflows will be triggered. I tried, it seems not working, if it is possible, please advise how to annotate the application with more than 1 workflowId.

    litmuschaos.io/git

[2022-10-10 08:08] BingweiH opened #3787 "GitOps integration -- annotate resource type statefulset"
It seems current event-tracker only able to monitor changes of deployment, when try to annotate a statefulset for event-tracker to monitor changes, it will cause the event-tracker to crash. Question: can event-tracker monitor other resources other than deployment?
[code]

[2022-10-12 03:35] mbecca opened #3789 "TLS config o SKIP_SSL_VERIFY in custom chaos hub connection?"

[2022-10-12 08:04] alelerac commented on #3782
Hi @neelanjan00, yes I can confirm that path is valid and permission for read and write are set.
I noticed that the problem is also valid for ephemeral storage. As soon as we set a path for "VOLUME_MOUNT_PATH " the experiment fails.

[2022-10-12 09:19] avaakash commented on #3789
Hi @mbecca can you describe your issue and use case for better understanding?

[2022-10-12 10:09] gdsoumya commented on #3781
@ksponomarev in case you want to try it out here are the custom images for graphql-server and auth-server that you can replace in your setup to see if that fixes the problem.
- gdsoumya/litmusportal-server:mongofix
- gdsoumya/litmusportal-auth-server:mongofix

Both of them are using master code but I don't think there should be any problem if you are running a recent tagged version.

[2022-10-12 10:29] ksponomarev commented on #3781
@gdsoumya Now I have this error:
[code]
Changed error from SCRAM-SHA-1 to PLAIN ))

[2022-10-12 10:31] gdsoumya commented on #3781
Have you set the db password and username in the secret properly?

[2022-10-12 10:31] avaakash commented on #3585
Hi @kavinarvind, are you still facing this issue with the latest version of litmus? If yes, can you provide some more information, as have you installed the agent in cluster or namespace mode?

[2022-10-12 10:47] gdsoumya commented on #3781
Also i just noticed you have mentioned a db name in the connection string, that won't work because litmus has a specific db that it uses, one db for auth-related stuff and another for the graphql. You would have to either manually create the specifc dbs yourself and use them separately in the 2 deployments or skip mentioning the dbname and let the servers create the db as needed.

[2022-10-12 11:03] avaakash commented on #3751
Hi, @divaspathak and @lavakush07  any updates on this issue? If you have made the changes, feel free to raise a PR in the[ Litmus Website Repo](https://github.com/litmuschaos/litmus-website-2).

[2022-10-12 11:27] #3465 closed

[2022-10-12 11:30] #3464 closed

[2022-10-12 11:37] neelanjan00 commented on #3462
We have a document on PSP best practices here: https://litmuschaos.github.io/litmus/experiments/concepts/security/psp/

If you still have questions, please feel free to reach out at the Litmus Slack channel in k8s Slack (https://k8s.slack.com).

[2022-10-12 11:42] #3627 closed

[2022-10-12 11:42] #3437 closed

[2022-10-12 11:45] neelanjan00 commented on #3420
Duplicate of https://github.com/litmuschaos/litmus-go/pull/360.

[2022-10-12 11:45] #3420 closed

[2022-10-12 11:49] neelanjan00 commented on #3407
Please follow the usage docs provided here: https://docs.litmuschaos.io/docs/litmusctl/installation. If you still have questions, please feel free to reach out at the Litmus Slack channel in k8s Slack (https://k8s.slack.com).

[2022-10-12 11:49] #3407 closed

[2022-10-12 11:56] #3382 closed

[2022-10-12 11:57] neelanjan00 commented on #3373
We are currently moving away from implementing this feature. If you still have questions, please feel free to reach out at the Litmus Slack channel in k8s Slack (https://k8s.slack.com).

[2022-10-12 11:57] #3373 closed

[2022-10-12 11:58] #3363 closed

[2022-10-12 12:36] #3773 closed

[2022-10-12 12:38] #3647 closed

[2022-10-12 12:40] #3507 closed

[2022-10-12 12:47] #3744 closed, assigned to nobody

[2022-10-12 12:47] avaakash commented on #3711
Hi, @dabogee closing this issue because of inactivity. If you are still facing the issue, feel free to re-open the issue and update it.

[2022-10-12 12:47] #3711 closed

[2022-10-12 12:48] avaakash commented on #3710
Hi, @aslafy-z closing this issue because of inactivity. If you are still facing the issue, feel free to re-open the issue and update it.

[2022-10-12 12:48] #3710 closed

[2022-10-12 13:16] Jonsy13 commented on #3613
Hi @QAInsights , Closing this issue, hope your issue was resolved. Feel free to reopen it if the issue persists!!.

[2022-10-12 13:16] #3613 closed

[2022-10-12 13:53] neelanjan00 commented on #3456
Closing this due to being descoped.

[2022-10-12 13:53] #3456 closed

[2022-10-12 13:53] mbecca commented on #3789
Hi @avaakash , when i try to connect a new chaos-hub repo via https with a self-signed certificate, I have the following error on litmus-portal-server:

Error in cloningtime="2022-10-11T21:10:30Z" level=error msg="Get \"https://xxxx-gitlab.mecon.ar/grupo/repo.git/info/refs?service=git-upload-pack\": x509: certificate signed by unknown authority"

[2022-10-12 14:09] neelanjan00 commented on #3410
This will be improved as part of logging enhancements. Thanks for creating the issue!

[2022-10-12 14:11] neelanjan00 commented on #3404
Expecting this issue to have been resolved. If you still have questions, please feel free to reach out at the Litmus Slack channel in k8s Slack (https://k8s.slack.com).

[2022-10-12 14:11] #3404 closed

[2022-10-12 14:17] neelanjan00 commented on #3399
Thanks for the issue! We will be taking this as part of 2.15 release.

[2022-10-12 14:24] neelanjan00 commented on #3376
Thanks for this issue. We have enhanced the cmdProbe source mode of execution to improve this issue. Please give it a try, if you still have questions, please feel free to reach out at the Litmus Slack channel in k8s Slack (https://k8s.slack.com).

[2022-10-12 14:24] #3376 closed

[2022-10-12 14:25] ksponomarev commented on #3781
@gdsoumya
Where can I change db names in helm chart?
I've changed DB_SERVER to:

[2022-10-12 14:31] neelanjan00 commented on #3370
@imrajdas @amityt can you PTAL?
@Vr00mm can you confirm if you're still facing this issue?

[2022-10-12 14:35] gdsoumya commented on #3781
There is no way to change the db names it's fixed in code, what you should try rather is setting the URL to
[code]
And let the servers create the dbs as needed (the credentials should have enough permission to create the databases or you can create the 2 dbs with the same name as I mentioned and allow the creds to have write access to the 2 databases)

[2022-10-12 14:54] avaakash commented on #3548
Hi, @haroon9 thank you for raising this request but currently, there are no plans to support audit logging on the experiments.

[2022-10-12 14:54] #3548 closed, assigned to nobody

[2022-10-12 18:57] avaakash commented on #3514
Hi @chirangaalwis, thank you for raising this request but currently, there are no plans to support `CPU_LOAD` for `pod-cpu-hog-exec` experiment as `md5sum` doesn't support this.

[2022-10-12 18:57] #3514 closed

[2022-10-13 06:59] #3628 closed

[2022-10-13 06:59] #3531 closed

[2022-10-13 07:00] #3634 closed

[2022-10-13 07:01] imrajdas commented on #3531
The requested changes have been implemented.

https://github.com/litmuschaos/litmus/blob/b010cc3e67d3e0dbffe3a4c6602e488079550066/litmus-portal/cluster-agents/subscriber/pkg/k8s/operations.go#L193

[2022-10-13 07:07] avaakash commented on #3636
Hi, @yuvaraj-shanmugam-at-optum-com was this issue resolved?

[2022-10-13 07:29] avaakash commented on #3779
Hi @Gaethje, the `latest` tag is not available for `litmuschaos/upgrade-agent-cp` image, you can use `ci` for the master branch or `2.13.0` for the latest release version. It is advised to use the versioned tag for all the images (or `ci` tag for development).
Ref: https://hub.docker.com/r/litmuschaos/upgrade-agent-cp/tags

[2022-10-13 12:35] ispeakc0de commented on #774
It is no longer exists after operator-sdk upgrade

[2022-10-13 12:35] #774 closed

[2022-10-13 13:00] avaakash commented on #3567
Hi, @tanmaypandey7, the directory structure has been changed for experiments, and the file you are looking for is now available in the `litmus-ansible` repository, attaching the link to the file.
Ref: https://github.com/litmuschaos/litmus-ansible/blob/master/experiments/coredns/pod_delete/liveness-app.j2

You can raise a PR with a fix for this, thank you for raising this issue.

[2022-10-13 13:19] avaakash commented on #3645
Hi @le-al thank you for submitting this issue, we will have the option for user-defined values(service-account) for mongo-db in the helm chart in a future release.

[2022-10-13 13:42] avaakash commented on #3644
Hi, @cazeaux, thanks for the suggestion, we will consider this for a future release. Meanwhile, if possible, would you like to try fixing this?

[2022-10-13 13:56] avaakash commented on #3740
Since auxiliaryAppCheck is still applicable for node-level experiments, we will be adding a note in the documentation to highlight this.

[2022-10-13 14:02] Vr00mm commented on #3370
Hello,

I dont think so, it was old litmus version.
Didnt face it again.

We use 2.8 currently

[2022-10-13 14:02] ksatchit commented on #2289
Firstly, the APIs for chaos-center have been made more user-friendly & secondly, since the past few releases, the litmus maintainers team has been advocating the use use of these chaos APIs or the chaos center over direct usage of
 ChaosEngine - as these runs are not captured/recorded by the platform (for record, analytics etc ,).

[2022-10-13 14:04] ksatchit commented on #2238
Closing due to lack of activity on this issue. Feel free to raise a PR for the same.

Not being prioritized at the moment

[2022-10-13 14:04] #2238 closed

[2022-10-13 14:05] #2160 closed

[2022-10-13 14:08] ksatchit commented on #1994
There is a WG started in CNCF to discuss best practices for chaos testing environments/SRE tips.

Closing this issue to keep the litmus repo focused on the chaos experimentation aspects.

[2022-10-13 14:09] ksatchit commented on #1993
The advocated integration approach has been documented in the dev guide docs.

[2022-10-13 14:09] #1993 closed

[2022-10-13 14:10] ksatchit commented on #1990
Experiment docs have undergone restructuring as suggested here https://LitmusChaos.github.io

[2022-10-13 14:10] #1990 closed

[2022-10-13 14:11] #1949 closed

[2022-10-13 14:13] ksatchit commented on #1998
The chaos center is equipped to generate reports for experiments with details on resilience

[2022-10-13 14:13] #1998 closed

[2022-10-13 14:14] ksatchit commented on #1916
The APIs have undergone significant refactor since the time of creation of this issue.

Further enhancements will be tracked with dedicated tasks/issues.

[2022-10-13 14:14] #1916 closed

[2022-10-13 14:15] ksatchit commented on #1824
This is not planned for Litmus in the immediate future.

[2022-10-13 14:15] #1824 closed

[2022-10-13 14:16] ksatchit commented on #1770
This was a task tracker, which has been completed.

[2022-10-13 14:16] #1770 closed

[2022-10-13 14:17] ksatchit commented on #1722
This feature is deprecated and no longer present in chaos center

[2022-10-13 14:17] #1722 closed

[2022-10-13 14:18] ksatchit commented on #1608
This is not being prioritized for the immediate future.

[2022-10-13 14:18] #1608 closed

[2022-10-13 14:20] ksatchit commented on #1512
There have been multiple references in the community (including blogs, videos) on how litmus can be used in Jenkins pipelines.

[2022-10-13 14:20] #1512 closed

[2022-10-13 14:21] ksatchit commented on #1179
Http chaos in litmus are now supported. Reference: https://litmuschaos.github.io/litmus

[2022-10-13 14:21] #1179 closed

[2022-10-13 14:23] ksatchit commented on #1473
Litmus has added multiple new faults as well as probe types - which allows users to target any Kubernetes service along with custom app-specific validations - thereby removing the need for separate category/type of experiments

[2022-10-13 14:23] #1473 closed

[2022-10-13 14:24] ksatchit commented on #1464
Litmus has added multiple new faults as well as probe types - which allows users to target any Kubernetes service along with custom app-specific validations - thereby removing the need for separate category/type of experiments

[2022-10-13 14:24] #1464 closed

[2022-10-13 14:28] ksatchit commented on #1282
The chaos operator code has been enhanced with more comments explaining the reconcile functions.

Functional details of the chaos operator can be found in docs.litmuschsos.io

[2022-10-13 14:28] #1282 closed

[2022-10-13 14:29] ksatchit commented on #822
The experiments mentioned here have been implemented and are available for use.

Moreover, Litmus has added multiple new faults as well as probe types - which allows users to target any Kubernetes service along with custom app-specific validations - thereby removing the need for separate category/type of experiments.

What is needed is creation of newer usecase docs describing useful chaos experim

[2022-10-13 14:29] #822 closed

[2022-10-13 14:29] ksatchit commented on #589
Litmus has added multiple new faults as well as probe types - which allows users to target any Kubernetes service along with custom app-specific validations - thereby removing the need for separate category/type of experiments.

What is needed is creation of newer usecase docs describing useful chaos experiments on popular applications.

Closing this issue now. We will create separate tasks when w

[2022-10-13 15:17] ksponomarev commented on #3781
@gdsoumya
Hello
I changed my connection string to this
[code]
And now have this error
[code]

After that I changed string to
[code]

I got this
[code]

[2022-10-14 01:14] neelanjan00 commented on #3370
Awesome, closing this issue! Thanks for participating!

[2022-10-16 17:45] ispeakc0de commented on #2642
Closing this issue as it is not reproducible with the latest litmus version. You can re-open it, if you are still facing this issue with latest version

[2022-10-16 17:45] #2642 closed

[2022-10-16 17:47] ispeakc0de commented on #2765
Closing this issue as it is inactive

[2022-10-16 17:47] #2765 closed

[2022-10-16 17:54] #3092 closed

[2022-10-16 17:56] ispeakc0de commented on #3133
Closing this issue as it is not a bug.

[2022-10-16 17:56] #3133 closed

[2022-10-16 17:57] ispeakc0de commented on #3143
Closing this inactive issue. Hoping @uditgaurav's suggestion solved your issue

[2022-10-16 17:57] #3143 closed

[2022-10-16 18:01] #3254 closed

[2022-10-16 18:02] ispeakc0de commented on #3271
Closing this inactive issue

[2022-10-16 18:02] #3271 closed

[2022-10-17 04:40] #3649 closed

[2022-10-18 04:46] Jonsy13 commented on #3503
HI @stoehdoi @brnck This issue was fixed in 2.9.0 - https://github.com/litmuschaos/litmus/releases/tag/2.9.0
Closing this issue. Feel free to reopen it if the issue still persists.

[2022-10-18 04:46] #3503 closed

[2022-10-18 10:42] #3245 closed

[2022-10-18 10:46] neelanjan00 commented on #3250
@uditgaurav, is this functionality already implemented?

[2022-10-18 11:30] neelanjan00 commented on #3144
Prithvi's CNCF Slack username is `Prithvi Raj` in case you haven't already figured it out. Closing this issue! :)

[2022-10-18 11:30] #3144 closed

[2022-10-18 12:06] neelanjan00 commented on #3782
@ispeakc0de can you PTAL?

[2022-10-18 12:18] Jonsy13 commented on #3114
Closing this issue,since the tasks have been completed.

[2022-10-18 12:18] #3114 closed

[2022-10-18 12:22] neelanjan00 commented on #3030
Hi, were you able to resolve this issue?

[2022-10-18 12:24] neelanjan00 commented on #3009
Duplicate issue, closing.

[2022-10-18 12:24] #3009 closed

[2022-10-18 12:26] neelanjan00 commented on #2965
Hi, were you able to solve this issue?

[2022-10-18 12:27] neelanjan00 commented on #2952
Hi, were you able to solve this issue?

[2022-10-18 12:54] #2942 closed

[2022-10-18 12:58] neelanjan00 commented on #2948
Hello @ojaswa1942, do you have any update on this?

[2022-10-18 13:00] neelanjan00 commented on #2850
Hi @imrajdas, is this issue still valid?

[2022-10-18 13:01] #2848 closed

[2022-10-18 13:05] #3112 closed

[2022-10-18 13:08] neelanjan00 commented on #3674
Hi Augustas, thanks for creating this issue. Currently, Litmus does support namespace scoped installation only to allow the namespace in which Litmus is installed to be targeted. We can surely take this as a feature enhancement for cluster-wide installation.

[2022-10-18 13:13] neelanjan00 commented on #3624
Hello, were you able to resolve this?

[2022-10-18 13:17] neelanjan00 commented on #3575
Hi, were you able to resolve this issue?

[2022-10-18 13:19] neelanjan00 commented on #3629
Hi, were you able to resolve this issue?

[2022-10-18 13:22] neelanjan00 commented on #3532
Hi, were you able to resolve this? Can you try with any of the newer LitmusChaos versions? It seems like the cause is incorrectly formatted Workflow manifest, but still you can confirm.

[2022-10-18 13:23] neelanjan00 commented on #3626
Hi, were you able to solve this issue?

[2022-10-18 13:23] neelanjan00 commented on #3359
Hi, were you able to resolve this issue?

[2022-10-18 13:30] neelanjan00 commented on #3343
Hi Andrew, thanks for creating this issue. The node drain experiment by design only supports one node, as also mentioned in the experiment docs. This is because the experiment has a high blast radius: it affects multiple applications that are scheduled on the node. Increasing the blast radius further by allowing multiple nodes can potentially accidentally affect critical applications.

[2022-10-18 13:30] #3343 closed

[2022-10-18 13:52] avaakash commented on #3336
Hi, @contactsai123, were you able to resolve this?

[2022-10-18 14:02] neelanjan00 commented on #3331
Hi @faisalchishtii, you need to upload a valid LitmusChaos workflow. Not all Argo workflows can be run using LitmusChaos.

[2022-10-18 18:34] imrajdas commented on #2481
Required changes have been already merged.

[2022-10-18 18:34] #2481 closed

[2022-10-19 07:11] ojaswa1942 commented on #2948
I've had several discussions with multiple members on Slack at the time. The implementation was blocked because of an underlying issue, which at that time was causing chaos pods to fail. I don't remember the exact cause, but it had something to do with namespaces, where it was picking up the incorrect namespace and eventually failing.

It has been a while, and the issue might have been fixed now,

[2022-10-19 10:07] gdsoumya opened #3798 "doc: wrong manifest link in docs"
**What happened**:

Manifest link used in 2.13.0 docs is wrong should be :
[code]
but given
[code]

ref: https://docs.litmuschaos.io/docs/user-guides/uninstall-litmus/#using-kubectl

[2022-10-19 15:42] cazeaux commented on #3629
Give me some time to retest it

[2022-10-20 04:49] neelanjan00 commented on #3798
Thanks for creating the issue @gdsoumya! Also, thanks for the quick turnaround on the PR @AnirudhBot!

[2022-10-25 07:39] imrajdas opened #3806 "Race condition b/w argo deployment and configmap during the installation in the agent plane."
While reinstalling the Argo deployments in the same namespace, the deployment comes up quickly before the workflow-controller-configmap configmap. Due to this, instance-id from the cm is not able to mount with the deployment and it needs to restart the pod to mount it properly

[2022-10-25 07:41] imrajdas commented on #3806
Fixed by- https://github.com/litmuschaos/litmus/issues/3806

[2022-10-25 07:41] #3806 closed

[2022-10-26 17:40] ksatchit opened #3813 "Create Litmus Plugin for Backstage"
Backstage is a popular CNCF project that acts as an aggregator to bring together multiple aspects of development-to-deploy for app (where the code lives, where/how is the service defined, where/how it is being built, where the docs reside) into a single view for the cloud native developer (backstage calls this the "developer portal"). There is immense value in viewing chaos tests associated with a

[2022-10-27 07:17] 0xSaksham commented on #3751
Hi I can update the message. Please assign me this issue.

[2022-10-27 07:19] 0xSaksham commented on #3447
I can work on this issue please assign it to me.

[2022-10-30 09:35] #3798 closed

[2022-10-31 11:09] vamsiammineni opened #3814 "deleteClusters method in GraphQLServer returns a wrong String"
**What happened**:
deleteClusters method is used to delete an agent from the chaos-center. This method actually disconnect the agent from Chaos-center by actually removing the subscriber pod on agent.

This method accepts projectID and cluster_id's to delete the cluster id tied to a particular project. Here I have passed a wrong clusterID. But, I still got a message saying that the cluster is scuc

[2022-11-01 17:29] avaakash commented on #3751
Hi @0xSaksham you can raise a PR linking this issue, we can get it merged at the earliest.

[2022-11-01 17:58] 0xSaksham commented on #3751
Okay sir @avaakash I will do it early in the day.

Thank you

[2022-11-02 14:01] 0xSaksham commented on #3751
![image](https://user-images.githubusercontent.com/90046016/199509032-cb8124f7-f4d4-40e6-9f2d-335426329bc5.png)
@avaakash How does this look?

[2022-11-03 14:43] 0xSaksham commented on #3751
@avaakash Yes sure.

[2022-11-07 10:25] bingwei-hong-partior opened #3818 "GitOps triggered workflow not registered in ChaosCenter"
**What happened**:

When a scenario is updated in GitHub Repository, it will trigger a workflow in ChaosCenter. From the server, I can see the pods been scheduled out, experiment is triggered. However, scenario run is not registered in Chaos Center. The logs seems to point to litmus server rejecting it as a duplicated event, however it is actually been run. Refer to logs below

Litmus-server log s

[2022-11-10 17:56] ksponomarev commented on #3703
I also have this problem

[2022-11-11 10:25] ksponomarev opened #3821 "External dex support"
Hello, Team.
Could you please implement support for external dex?
We have own dex instance and want to connect litmus to it
Thank you

[2022-11-11 10:27] ksponomarev opened #3822 "RBAC in user managment"
Hi all.
We have LDAP and dex. We need to have RBAC policy in litmus for access users by their ldap group.
Have you any ideas about this?
Thanks

[2022-11-13 16:09] money8203 commented on #3813
Hey, I am a beginner and I want to contribute to this project so could you please tell me form where to get started ?

[2022-11-14 05:02] avaakash commented on #3693
Closing this issue due to no response, if the problem is still not resolved, feel free to re-open this.

[2022-11-14 05:02] #3693 closed

[2022-11-14 05:04] avaakash commented on #3336
Closing this issue due to inactivity, if the problem is still not resolved, feel free to re-open this.

[2022-11-14 05:04] #3336 closed

[2022-11-14 05:10] #3779 closed

[2022-11-14 05:23] avaakash commented on #3636
Closing this issue due to inactivity, if the problem is still not resolved, feel free to re-open this.

[2022-11-14 05:23] #3636 closed

[2022-11-14 05:33] #3589 closed

[2022-11-14 05:33] #3740 closed

[2022-11-14 05:41] imrajdas commented on #3821
Hey @ksponomarev - We do support dex

Refer the following
- https://docs.litmuschaos.io/docs/concepts/oauth-dex-concept/
- https://docs.litmuschaos.io/docs/user-guides/chaoscenter-oauth-dex-installation/

[2022-11-14 06:24] #3821 closed

[2022-11-14 07:33] avaakash commented on #3547
Closing due to inactivity, feel free to re-open this issue if the problem persists.

[2022-11-14 07:33] #3547 closed

[2022-11-14 07:34] avaakash commented on #3730
Fixed with this PR: https://github.com/litmuschaos/litmus/pull/3823

[2022-11-14 07:34] #3730 closed

[2022-11-14 07:48] ksponomarev commented on #3821
Ok
I've edited my auth-server with
[code]
But dex still isn't enabled
What I am doing wrong?

[2022-11-14 08:17] #2911 closed

[2022-11-14 08:31] ksponomarev commented on #3821
@imrajdas FYI

[2022-11-14 17:29] KurtSchenk opened #3824 "Add custom tests"
Is it possible to add custom tests? For example, I would like more control over storage tests to include capabilities that FIO provides.

[2022-11-16 09:12] avaakash commented on #3751
Thank you @0xSaksham for the PR, this issue has been fixed.

[2022-11-16 09:12] #3751 closed

[2022-11-16 09:37] 0xSaksham commented on #3751
**Thank you everyone for help.**

[2022-11-17 07:07] olafranzen10 opened #3833 "Private ChaosHub with BASIC authentication in ChaosCenter"
When trying to add an internal/private chaoshub deployed in Gerrit SCM litmus is unable to connect and received authorization error for the new private/internal chaoshub.

Followed instructions here and adding by TOKEN including user@ in URL:
https://docs.litmuschaos.io/docs/concepts/chaoshub/

This however works fine using BASIC authorization using litmus graphQL addChaosHub API with curl and pro

[2022-11-17 09:58] #3581 closed

[2022-11-17 10:03] avaakash commented on #3824
Hi @KurtSchenk, if you are talking about custom experiments, you can use the litmus-go SDK or litmus-python SDK to write custom business logic for experiments.
For docs:
[litmus-go SDK](https://github.com/litmuschaos/litmus-go/tree/master/contribute/developer-guide)
[litmus-python SDK](https://github.com/litmuschaos/litmus-python/tree/master/contribute/developer-guide)

[2022-11-18 04:54] #3824 closed

[2022-11-18 20:21] vadherajuFis opened #3835 "JVM level experiments"
Ability to inject Java JVM level experiments( see chaos blade for reference https://github.com/chaosblade-io/chaosblade-exec-jvm/tree/master/chaosblade-exec-plugin/chaosblade-exec-plugin-jvm/src/main/java/com/alibaba/chaosblade/exec/plugin/jvm)
1) Out of Memory

- Heap level(Young Gen, Old Gen and Survivor)
- Metasapce
- Code cache
- Direct buffers
2) CPU stress
3) Class level injection

[2022-11-22 05:50] bingwei-hong-partior commented on #3779
Hi, i believe the issue is not due to the image not available on dockerhub, but rather, imagePullSecrets is missing from the job manifest created when using private image registry. is there any fix on this? as we can't even modify the job created.

[2022-11-22 06:06] bingwei-hong-partior opened #3840 "litmus-upgrade-agent-cp job missing imagePullSecrets"
**What happened**:
When a private image registry is used, litmus-upgrade-agent-cp job's pod will fail with failed to pull image due to 401 unauthorized error. This is due to imagePullSecrets is missing from the job manifest

**What you expected to happen**:
Able to pull the image from private registry configured.

**Where can this issue be corrected? (optional)**

To add imagePullSecrets tag when

[2022-11-22 09:46] bingwei-hong-partior commented on #3840
Hi team, same missing imagePullSecrets is also observed when schedule pod-io-stress experiment where pod-io-stress-runner pod generated by the chaosEngine missing the imagePullSecrets and unable to proceed with experiment as well.

[2022-11-23 12:21] avimalakar opened #3841 "GraphQL APIs not working"
I have deployed Litmus chaos on AWS EKS but when I am trying to run graphql queries on graphql server , it gives me this error for all your APIs on official documentation. Below is the response of getCluster request
{
    "errors": [
        {
            "message": "Cannot query field \"getCluster\" on type \"Query\". Did you mean \"listClusters\"?",
            "locations": [
                {

[2022-11-23 12:22] avimalakar commented on #3841
![Screenshot 2022-11-23 175015](https://user-images.githubusercontent.com/100187318/203545853-e992123f-475d-4104-8eb3-dacc1566acb1.jpg)

[2022-11-24 11:49] btprocorp opened #3842 "Litmus on GKE Autopilot cluster"
I was exploring Litmus 2.14.0 for GKE Autopilot cluster. however, I came to know that Since we're no longer provisioning or managing the nodes in GKE Autopilot cluster, there's no SSH access to nodes. not even the nodes are displayed in the console. is there any way to get a chaos experiment like node restart in autopilot cluster nodes? Does commercial tools like Gremlin support GKE Autopilot clus

[2022-11-24 15:21] avinashupadhya99 opened #3843 "No retry in probe set in portal results in `Error : failed to unmarshal chaosengine`"
**What happened**: The retry property for a probe is not mandatory in the portal and when the user does not set a retry for the probe, it results in `retry: ""` in the experiment manifest. This results in failure of the  creation of the scenario with `Error : failed to unmarshal chaosengine`.
![image](https://user-images.githubusercontent.com/52544819/203817271-3f762e28-7349-495d-8ea4-4f333b9bf977

[2022-11-26 13:02] btprocorp opened #3844 ""Workflow Dashboard","Application dahsboards", and "Data sources" tabs are missing"
I have successfully installed Litmus 2.14.0 and I'm able to run few chaos scenarios. However, under analytics page "Workflow Dashboard","Application dahsboards", and "Data sources" tabs are missing can anybody suggest what I have missed in configuration.

[2022-11-28 03:55] bingwei-hong-partior commented on #3840
litmus-upgrade-agen-cp job imagePullSecret has been fixed in helmchart https://github.com/litmuschaos/litmus-helm/pull/290

[2022-11-28 03:55] #3840 closed

[2022-11-30 19:11] panbanda commented on #3843
Same issue.  Verified that adding the retry on the probe worked for me.